# Data Cleaning 1. Removing False Matches (Person Tags)

Data cleaning will comprise of three phases:
1. Removing false matches (tags that do not refer to an entity at all)
1. Correcting miscategorized labels (tags that misinterpret the entity category, ex. assign "PER" to a location)
1. Correcting truncated or extended spans (tags which are correct but whose extent is wrong, incorporating irrelevant tokens or ignoring relevant ones).
1. Identifying untagged entities

Perfect tagging might be impossible, but we can improve model results significantly by taking these measures.
This is an iterative process that will improve results as we go through the phases.

## Strategy 1. Capitalized names
    Duncan Kinkead capitalized all artist names in his documents, so any tags that have picked up capitalized strings are true names. 
    Any strings that are the lowercase equivalent of those capitalized names are also person names.
    
## Strategy 2 .First and last name lists
    We have developed a list of first and last names from 1400-1800 from a historical biographical dictionary. Using these, we can accept that any tags that incorporate a token from these lists refer to an actual person.
    
    Because we do not want to be to broad, we will accept tokens with a first name AND last name token that correspond to a word in the list. 
    Strings that do not include both a first name and a last name will have to be manually checked, which includes strings that have only one token. 
    
## Strategy 3. Visual check of remaining person tags
    If strategies 1 and 2 discard enough PER tags, check the other ones manually.
    
## Strategy 4. Removing literary and religious references
    Some documents refer to ahistorical persons. This is especially important because the names of certain locations and associations take the names of Saints and other religious figures. (move this to "correcting miscategorized labels")

In [1]:
import pandas as pd
import re
import string

In [2]:
tagsDF = pd.read_csv('EntitiesEMSModel2.csv')

In [3]:
tagsDF.head()

   Unnamed: 0  docid                 string label  start  end
0           0      1       martin de gaynça   PER      1    4
1           1      1          santa iglesia   ORG     13   15
2           2      1                Sevilla   LOC     16   17
3           3      1  juan sanchez de caliz   PER     18   22
4           4      1                sevilla   LOC     34   35

# 1. Create a list of PER tags with IDS

We are creating a list of person tags with their unique ids. We remove stop words, excess whitespace and punctuation to reduce variation between strings.

In [4]:
# Test: PER tags
a = tagsDF.loc[tagsDF["label"] == "PER"] #select PER tags
b = a.sort_values('string') #sort alphabetically
#b['string'] = b['string'].str.lower()  #lowercase all strings

More data cleaning: removing punctuation and accents

In [5]:
people=b

people.head()

       Unnamed: 0  docid             string label  start  end
57935       57935   6792                """   PER    135  138
45285       45285   4978        - Rodríguez   PER      6    8
45173       45173   4961  -- Gómez de Brito   PER     34   38
45108       45108   4952        -- Manrique   PER     11   13
61780       61780   7342         -- Ramírez   PER     29   31

# 2 Clean strings to remove stopwords and accents

In [114]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [6]:
def clean_iter (line):
    result = re.sub(' del ', ' ', line) #remove stopwords
    result = re.sub(' de ',' ',result)
    result = re.sub(' la ',' ',result)
    
    #result = re.sub(\s\s, \s, result) #remove extra spaces
    
    result= re.sub('á','a',result) #remove accents
    result= re.sub('é','e',result)
    result= re.sub('í','i',result)
    result= re.sub('ó','o',result)
    result= re.sub('ú','u',result)
    result= re.sub('ü','u',result)
    result= re.sub('à','a',result)
    result= re.sub('è','e',result)
    result= re.sub('ì','i',result)
    result= re.sub('ò','o',result)
    result= re.sub('ù','u',result)
    result= re.sub('Á','A',result)
    result= re.sub('É','E',result)
    result= re.sub('Í','I',result)
    result= re.sub('Ó','O',result)
    result= re.sub('Ú','U',result)
    result= re.sub('Ü','U',result)
    result= re.sub('À','A',result)
    result= re.sub('È','E',result)
    result= re.sub('Ì','I',result)
    result= re.sub('Ò','O',result)
    result= re.sub('Ù','U',result)
    result= result.strip()
    
    #result = result.translate(str.maketrans('', '', string.punctuation)) #remove punctuation
    table = str.maketrans('', '', string.punctuation)
    result = result.translate(table)
    
    return result
    
clean_series=[]

for index, row in people.iterrows():
    clean_series.append(clean_iter(row['string']))
people['string']= clean_series

In [7]:
people.head()

       Unnamed: 0  docid        string label  start  end
57935       57935   6792                 PER    135  138
45285       45285   4978     Rodriguez   PER      6    8
45173       45173   4961   Gomez Brito   PER     34   38
45108       45108   4952      Manrique   PER     11   13
61780       61780   7342       Ramirez   PER     29   31

# 3 Create an attribute for checking process called 'Remove'

Then we insert a column for a dummy variable for "remove" or "keep". We will use this to mark the false tags that have to be removed with a 1. Tags that should be kept will have a 0 value. Blank values must be double-checked manually before being assigned a 0 or 1.

In [8]:
people.insert(6,"Remove","")

In [9]:
people.head()

       Unnamed: 0  docid        string label  start  end Remove
57935       57935   6792                 PER    135  138
45285       45285   4978     Rodriguez   PER      6    8
45173       45173   4961   Gomez Brito   PER     34   38
45108       45108   4952      Manrique   PER     11   13
61780       61780   7342       Ramirez   PER     29   31

Then we create a list of unique person tags.

In [10]:
uniquepers = people['string'].value_counts(sort=True)
uniquepers

juan martinez montañes                   354
ALONSO PEREZ                             268
andres ocanpo                            206
juan obiedo                              192
JUAN DE VALDES                           191
                                        ...
juan muños                                 1
Lucia Alvarez                              1
dotores i santa barbara i santa elena      1
josephe naranjo                            1
Anton Ruis Guebara                         1
Name: string, Length: 14505, dtype: int64

There are 14517 unique strings.

# Strategy 1. Mark all Capitalized words and their lowecase equivalents as true names

Kinkead set all artist (painter, architect, goldbeater, gilder, etc) names in All-Caps. We can identify these strings and their lowercase equivalents as true names.

In [11]:
perscaps = people.loc[people['string'].str.isupper()==True]
perscaps.head()

       Unnamed: 0  docid            string label  start  end Remove
66787       66787   8056    AGUSTIN FRANCO   PER      7    9
71698       71698   8579  AGUSTIN DE PEREA   PER    101  104
45413       45413   4999  AGUSTIN DE PEREA   PER     16   19
45421       45421   5000  AGUSTIN DE PEREA   PER     49   52
45397       45397   4997  AGUSTIN DE PEREA   PER     26   29

We can get an idea of what these strings are with a unique list.

In [12]:
uniqueperscaps = perscaps['string'].value_counts(sort=True)
uniqueperscaps

ALONSO PEREZ                  268
JUAN DE VALDES                191
BARTOLOME MURILLO             176
CARLOS DE ZARATE              166
MATIAS DE ARTEAGA             119
                             ...
LOPEZ CHICO                     1
BLAS MUÑOZ DE MONSADA           1
ANTONIO JIMENEZ DE ZARZOSA      1
IGNACIO IRIARTE                 1
PEDRO BILLAVICENCIO             1
Name: string, Length: 892, dtype: int64

In [13]:
UPCapslist = list(uniqueperscaps.index.values)

Using this list of unique capitalized strings, we can set Remove='0' for any strings that match an uppercase name.

In [14]:
for ind in people.index:
    if people.loc[ind,'string'] in UPCapslist:
        people.loc[ind,'Remove']='0'

In [15]:
grouped = people.groupby('Remove')

grouped.count()

        Unnamed: 0  docid  string  label  start    end
Remove
             27101  27101   27101  27101  27101  27101
0             6019   6019    6019   6019   6019   6019

This process has marked 6019 instances of a true name, which should be equivalent to the artists found in Kinkead's Pintores y Doradores en Sevilla.

Now we mark any lowercase strings equivalent to the uppercase tags we know are correct as 0 as well:

In [16]:
for ind in people.index:
    if people.loc[ind,'string'].upper() in UPCapslist:
        people.loc[ind,'Remove']='0'

In [17]:
grouped = people.groupby('Remove')
grouped.count()

        Unnamed: 0  docid  string  label  start    end
Remove
             26055  26055   26055  26055  26055  26055
0             7065   7065    7065   7065   7065   7065

Below is a shorter way of achieving the same goal:

In [243]:
perscaps = people['string'][people['string'].str.isupper()==True].unique().tolist()

In [28]:
people.loc[people['string'].str.upper().isin(perscaps),'Remove'] = 0

These approaches have identified a total 7065 tags as acceptable. That is, an additional 1046 tags corresponded to the same artists found in Kinkead. 

(Note: we will need to remove any documents that appear in Kinkead and other sources. This should be easy because Kinkead gives references as to where texts were published.)

# Strategy 2. Name Dictionary

In [18]:
firstnames = open('firstnames.txt','r')
lastnames = open('lastnames.txt','r')

In [19]:
fnames = []
fnames = [line.rstrip('\n') for line in open('firstnames.txt')]

In [20]:
lnames = []
lnames = [line.rstrip('\n') for line in open('lastnames.txt')]

In [34]:
fnames

['abd',
 'abdo',
 'aben',
 'abraham',
 'abu',
 'abul',
 'acisclo',
 'adamo',
 'adan',
 'adaucto',
 'adria',
 'adriaen',
 'adrian',
 'adriano',
 'adrien',
 'advincula',
 'afan',
 'afonso',
 'africano',
 'agapito',
 'agesilao',
 'agostinho',
 'agostino',
 'agusti',
 'agustin',
 'agustina',
 'ahmad',
 'ahuitzotl',
 'aime-jacques',
 'al-basti',
 'al-garnati',
 'al-hayari',
 'al-malik',
 'al-manzari',
 'al-qalasadi',
 'al-titwani',
 'alal',
 'alberico',
 'albert-octave',
 'alberti',
 'alberto',
 'albino',
 'albret',
 'alcantara',
 'alcocer',
 'aldonza',
 'aleix',
 'aleixo',
 'alejandrino',
 'alejandro',
 'alejo',
 'alemania',
 'alessandro',
 'alex',
 'alexander',
 'alexandre',
 'alexo',
 'alexos',
 'alfonso',
 'ali',
 'almanzor',
 'almidez',
 'alonso',
 'alvar',
 'alvarado',
 'alvaro',
 'amadeo',
 'amador',
 'amalia',
 'amancio',
 'amaneo',
 'amaru',
 'ambrosia',
 'ambrosio',
 'amelia',
 'amerigo',
 'amparo',
 'ana',
 'anacaona',
 'anacleto',
 'anastasio',
 'andre',
 'andrea',
 'andres',
 'andresa',
 'andreu',
 'anello',
 'angel',
 'angela',
 'angeles',
 'angelina',
 'angelino',
 'angelo',
 'angulema',
 'anibal',
 'aniceto',
 'aniello',
 'anielo',
 'anna',
 'annibale',
 'anselmo',
 'antera',
 'anthoine',
 'anthonius',
 'anthony',
 'antich',
 'antoine',
 'antolin',
 'anton',
 'antoni',
 'antonia',
 'antonieta',
 'antonino',
 'antonio',
 'anunciacion',
 'apolinar',
 'apostol',
 'apostoles',
 'aragon',
 'arborio',
 'arcangel',
 'arevalo',
 'arias',
 'armando',
 'arnaldo',
 'arnao',
 'arnau',
 'arnoldo',
 'arnould',
 'arroyuelo',
 'artal',
 'arthur',
 'arturo',
 'ascanio',
 'ascencio',
 'ascension',
 'asensio',
 'asuncion',
 'atanasio',
 'atau',
 'atilano',
 'atlacatl',
 'augusto',
 'aurele',
 'aureliano',
 'aurelio',
 'ausias',
 'austria',
 'avelino',
 'aymamon',
 'babil',
 'bacio',
 'baldassare',
 'baldiri',
 'baldomero',
 'baleriano',
 'baltasar',
 'baltasara',
 'baltazar',
 'baptista',
 'baptiste',
 'barbara',
 'barros',
 'bartolina',
 'bartolome',
 'bartolomeo',
 'bartolomeu',
 'bartomeu',
 'basilio',
 'batistta',
 'battista',
 'baustista',
 'bautista',
 'beata',
 'beato',
 'beatriz',
 'beda',
 'behechio',
 'belchior',
 'beltran',
 'benedetto',
 'benedicto',
 'benedito',
 'benet',
 'benicio',
 'benigno',
 'benita',
 'benito',
 'benjamin',
 'bento',
 'bentura',
 'berengario',
 'berenguel',
 'berenguer',
 'bernabe',
 'bernal',
 'bernard',
 'bernarda',
 'bernardina',
 'bernardino',
 'bernardo',
 'bernat',
 'bezon',
 'bibiana',
 'biriteca',
 'blai',
 'blanca',
 'blas',
 'blasco',
 'boix',
 'bonaparte',
 'bonaventura',
 'bonaventure',
 'bonifacio',
 'borbon',
 'borbon-orleans',
 'borges',
 'borja',
 'boudoin',
 'braganza',
 'brahem',
 'brauli',
 'braulio',
 'brianda',
 'bruno',
 'brunswick-wolfenbuttel',
 'buenaventura',
 'buenventura',
 'cacamatzin',
 'calcuchimac',
 'caldeira',
 'calixto',
 'camaquiri',
 'camilo',
 'candelaria',
 'candido',
 'canek',
 'caonabo',
 'capac',
 'careta',
 'carles',
 'carlo',
 'carlos',
 'carlota',
 'carmela',
 'carmen',
 'carmine',
 'carolina',
 'casiano',
 'casilda',
 'casildo',
 'casimiro',
 'casiodoro',
 'casta',
 'castilla',
 'casto',
 'catalina',
 'caunaboa',
 'caupolican',
 'cayacoa',
 'cayetana',
 'cayetano',
 'caynos',
 'cayo',
 'cebrian',
 'cecilia',
 'cecilio',
 'ceferina',
 'ceferino',
 'celedonio',
 'celestino',
 'cesar',
 'cesare',
 'cesareo',
 'charles',
 'charles-alexandre',
 'charles-marie',
 'chi',
 'christian',
 'cid',
 'cipriano',
 'ciriaco',
 'cirilo',
 'ciro',
 'clara',
 'claros',
 'claude',
 'claude-francois',
 'claudi',
 'claudio',
 'clemencia',
 'clemente',
 'clementina',
 'cleto',
 'climaco',
 'coaza',
 'cobos',
 'cocori',
 'colcur',
 'colicheuque',
 'colocolo',
 'concepcion',
 'conrado',
 'consolacion',
 'constantin',
 'constantino',
 'constanza',
 'corella',
 'cornelio',
 'cornieles',
 'corpus',
 'corrado',
 'correia',
 'corrohore',
 'cosme',
 'cotubanama',
 'crisogono',
 'crisostom',
 'crisostomo',
 'crispin',
 'cristian',
 'cristiano',
 'cristina',
 'cristo',
 'cristobal',
 'cristobalina',
 'cristofol',
 'cristophe',
 'cristovao',
 'cuauhtemoc',
 'curi',
 'cusi',
 'custodio',
 'dalmau',
 'damasa',
 'damasio',
 'damaso',
 'damia',
 'damian',
 'danese',
 'daniel',
 'dario',
 'das',
 'daud',
 'david',
 'davide',
 'demetrio',
 'deogracias',
 'dermot',
 'diego',
 'dimas',
 'diogo',
 'dionisia',
 'dionisio',
 'dobele',
 'dolores',
 'domenec',
 'domenico',
 'domenicos',
 'dominga',
 'domingo',
 'dominico',
 'dominque',
 'donato',
 'donoso',
 'doroteo',
 'duarte',
 'dulcehe',
 'duplicio',
 'edmundo',
 'eduardo',
 'efraim',
 'egas',
 'egidio',
 'eladio',
 'elena',
 'eleno',
 'eleuterio',
 'elias',
 'elio',
 'eliodoro',
 'elionor',
 'eliseo',
 'elisio',
 'eloy',
 'elvira',
 'emanuele',
 'emeterio',
 'emigdio',
 'emmanuel',
 'encarnacion',
 'engracia',
 'enrique',
 'enriquez',
 'enriquillo',
 'enyego',
 'epifanio',
 'erardo',
 'erasmo',
 'ernesto',
 'escolastica',
 'escolastico',
 'esperandeu',
 'esperanza',
 'espiritu',
 'estanislao',
 'esteban',
 'estefania',
 'estevao',
 'esteve',
 'estuardo',
 'etienne',
 'ettore',
 'eudald',
 'eudaldo',
 'eufrasia',
 'eufrasio',
 'eugenia',
 'eugenio',
 'eulalia',
 'eulalio',
 'eulogio',
 'eusebio',
 'eustaquio',
 'evangelista',
 'evaristo',
 'everardo',
 'eximen',
 'ezequiel',
 'fabian',
 'fabiana',
 'fabio',
 'fabricio',
 'fabrizio',
 'facundo',
 'fadrique',
 'farag',
 'farnesio',
 'faustino',
 'fausto',
 'febos',
 'federico',
 'felice',
 'feliciana',
 'feliciano',
 'felicio',
 'felicitas',
 'felip',
 'felipa',
 'felipe',
 'felipillo',
 'felipina',
 'felix',
 'fermin',
 'fernan',
 'fernanda',
 'fernando',
 'fernao',
 'ferran',
 'ferrando',
 'ferrante',
 'ferrer',
 'ferry',
 'fidalgo',
 'fidel',
 'fidencio',
 'filiberto',
 'filipe',
 'filippo',
 'fitzgerald',
 'flavia',
 'florence',
 'florencio',
 'florent',
 'florentino',
 'florian',
 'floris',
 'floristan',
 'foix',
 'fortun',
 'frances',
 'francesc',
 'francesch',
 'francesco',
 'francia',
 'francico',
 'francisca',
 'francisco',
 'franscisco',
 'françois',
 'fray',
 'froilan',
 'fructuoso',
 'frutos',
 'fulgencio',
 'fulvio',
 'furtado',
 'gabino',
 'gabriel',
 'gabriela',
 'gabriele',
 'galacian',
 'galcera',
 'galceran',
 'galeazzo',
 'garabito',
 'garci',
 'garcia',
 'garcilaso',
 'gaspar',
 'gaspard',
 'gaspare',
 'gaston',
 'gaudioso',
 'gavino',
 'gedeon',
 'genaro',
 'gentil',
 'georg',
 'george',
 'gerard',
 'gerardo',
 'gerhard',
 'german',
 'germana',
 'gerolamo',
 'geroni',
 'geronima',
 'geronimo',
 'gertrudis',
 'gervasio',
 'giacomo',
 'giampaolo',
 'gian',
 'gil',
 'gilles',
 'ginebra',
 'gines',
 'giocacchino',
 'giorgio',
 'giovan',
 'giovani',
 'giovanni',
 'giraldo',
 'giralte',
 'girolamo',
 'gispert',
 'giuliano',
 'giulio',
 'giuseppe',
 'giusseppangelo',
 'godfredo',
 'gomes',
 'gomez',
 'gonzalo',
 'gonçalo',
 'gotardo',
 'goujaud',
 'gracian',
 'graciliano',
 'gregori',
 'gregoria',
 'gregorio',
 'grimanesa',
 'guacanagari',
 'guadalupe',
 'gualberto',
 'guama',
 'guantanabo',
 'guarambare',
 'guarco',
 'guarionex',
 'guerau',
 'guido',
 'guidobaldo',
 'guillaume',
 'guillaume-albert',
 'guillem',
 'guillen',
 'guillermo',
 'guiomar',
 'guiot',
 'gustaf',
 'gutierre',
 'guyravera',
 'guzman',
 'habsburgo',
 'hamet',
 'hamete',
 'hans',
 'hasekura',
 'hatuey',
 'hector',
 'heinrich',
 'heitor',
 'hendrick',
 'henri',
 'henrique',
 'henriquo',
 'hermenegildo',
 'hernan',
 'hernandillo',
 'hernando',
 'hiacynthe-marie',
 'hijo',
 'hilario',
 'hilarion',
 'hipolita',
 'hipolito',
 'hojeda',
 'homo',
 'honorato',
 'honorio',
 'horacio',
 'hortensio',
 'hortun',
 'hoyer',
 'huallpa',
 'huascar',
 'huaylas',
 'huayna',
 'hubert-guillaume',
 'huberto',
 'hug',
 'hugh',
 'hugo',
 'hungria',
 'hurtado',
 'ibando',
 'ibn',
 'ibrahim',
 'idelfonso',
 'ignacia',
 'ignacio',
 'ignasi',
 'ildefonso',
 'illa',
 'illan',
 'imox',
 'inca',
 'indalecio',
 'ines',
 'inga',
 'inocencio',
 'ioannis',
 'irene',
 'isaac',
 'isabel',
 'isabella',
 'isidoro',
 'isidra',
 'isidro',
 'iñigo',
 'jacint',
 'jacinta',
 'jacinto',
 'jacob',
 'jacoba',
 'jacobe',
 'jacobo',
 'jacome',
 'jacopo',
 'jacques',
 'jacques-françois',
 'jaime',
 'james',
 'jan',
 'januario',
 'jaume',
 'javier',
 'javiera',
 'jean',
 'jean-armand',
 'jean-baptiste',
 'jean-charles',
 'jean-marie',
 'jehan',
 'jeroni',
 'jeronima',
 'jeronimo',
 'jesus',
 'jesusa',
 'joachim',
 'joan',
 'joanes',
 'joannes',
 'joanot',
 'joao',
 'joaquim',
 'joaquin',
 'joaquina',
 'jodoco',
 'jofre',
 'johann',
 'johannes',
 'john',
 'jordan',
 'jordi',
 'jorge',
 'joris',
 'jose',
 'jose-anselmo',
 'jose-armesto',
 'josef',
 'josefa',
 'josefina',
 'josep',
 'josep-miquel',
 'joseph',
 'josse',
 'juan',
 'juana',
 'juancho',
 'juanes',
 'juanoto',
 'judas',
 'julia',
 'julian',
 'juliana',
 'julio',
 'jusepa',
 'jusepe',
 'justa',
 'juste',
 'justiniano',
 'justino',
 'justo',
 'justus',
 'kahi',
 'l-hasan',
 'ladislao',
 'lambare',
 'lamberto',
 'lamoral',
 'laszlo',
 'laura',
 'laureano',
 'laurencio',
 'laurent',
 'lautaro',
 'lazaro',
 'leandro',
 'legallois',
 'lelio',
 'leon',
 'leona',
 'leonardo',
 'leoncio',
 'leone',
 'leonel',
 'leonis',
 'leonor',
 'leopolda',
 'leopoldo',
 'lesmes',
 'liberata',
 'liborio',
 'licenciado',
 'liciniano',
 'lino',
 'liropeya',
 'lisandro',
 'livinio',
 'llagas',
 'llamado',
 'llorenç',
 'lluis',
 'lodovico',
 'longinos',
 'lope',
 'lopez',
 'lorenza',
 'lorenzo',
 'loreto',
 'los',
 'louis',
 'louis-antoine',
 'louis-michel',
 'lourenço',
 'luca',
 'lucas',
 'lucena',
 'lucia',
 'luciana',
 'luciano',
 'lucio',
 'lucrecia',
 'ludovica',
 'ludwig',
 'luigi',
 'luis',
 'luisa',
 'luke',
 'lupercio',
 'macario',
 'macia',
 'macias',
 'maciel',
 'madux',
 'maduz',
 'maestre',
 'maestro',
 'maffeo',
 'magdalena',
 'magin',
 'mahoma',
 'malaquias',
 'mamerto',
 'mames',
 'mancebo',
 'mancio',
 'manco',
 'manel',
 'manrique',
 'manuel',
 'manuela',
 'marcela',
 'marcelino',
 'marcelo',
 'marcial',
 'marciano',
 'marco',
 'marcos',
 'margarita',
 'marguerite',
 'maria',
 'mariana',
 'mariangelo',
 'mariano',
 'marie',
 'marie-anne',
 'marin',
 'marina',
 'marino',
 'mario',
 'marsilio',
 'marta',
 'marti',
 'martim',
 'martin',
 'martina',
 'martinez',
 'martiniano',
 'martinillo',
 'martir',
 'mata',
 'mateo',
 'mateu',
 'mateus',
 'matheo',
 'matias',
 'mauri',
 'mauricia',
 'mauricio',
 'mauro',
 'mawlay',
 'maximiliana',
 'maximiliano',
 'maximilien',
 'maximo',
 'maymon',
 'mayor',
 'melchior',
 'melchor',
 'melquiades',
 'mencia',
 'mendo',
 'menor',
 'mequenum',
 'mercedes',
 'mercurino',
 'mercurio',
 'merin',
 'mestre',
 'micael',
 'micaela',
 'michael',
 'michel',
 'michel-jean',
 'michele',
 'michimalongo',
 'miguel',
 'millan',
 'miquel',
 'moctezuma',
 'modesto',
 'moises',
 'monserrat',
 'morejon',
 'mucio',
 'muddin',
 'muhamad',
 'muhammad',
 'muley',
 'muzio',
 'nadal',
 'napoles',
 'narcis',
 'narciso',
 'natuera',
 'naucopillan',
 'navarra',
 'nazario',
 'nemesio',
 'neoburgo',
 'nepomuceno',
 'nicanor',
 'nicasio',
 'niccolo',
 'niceto',
 'nicolas',
 'nicolasa',
 'nicolau',
 'nicolaus',
 'nicolosio',
 'niculoso',
 'nieves',
 'niza',
 'nizzola',
 'niño',
 'nolasco',
 'norberto',
 'nuflo',
 'num',
 'nuno',
 'nuñez',
 'nuño',
 'obera',
 'obregon,',
 'ocllo',
 'octaviano',
 'octavio',
 'olegario',
 'oleguer',
 'oliva',
 'oliverio',
 'ometochtzin',
 'onesimo',
 'onofre',
 'onorato',
 'opechancanough',
 'orazio',
 'ordoño',
 'orleans',
 'ortega',
 'ortuño',
 'osvaldo',
 'oton',
 'ottavio',
 'ottone',
 'pablillo',
 'pablo',
 'pablos',
 'pacifico',
 'padre',
 'padua',
 'panfilo',
 'pantaleon',
 'paolo',
 'parma',
 'pascacio',
 'pascasio',
 'pascual',
 'pascuala',
 'pasqual',
 'pastor',
 'patricio',
 'pau',
 'paul',
 'paula',
 'paulino',
 'paullu',
 'paulo',
 'payo',
 'pecador',
 'pedralvares',
 'pedrarias',
 'pedro',
 'pedro-luis',
 'pedrosa',
 'pedroso',
 'pehr',
 'pelai',
 'pelayo',
 'pellegrino',
 'penne',
 'per',
 'pere',
 'pere-joan',
 'peregrinus',
 'pereira',
 'perez',
 'perfecto',
 'pero',
 'perot',
 'peter',
 'petrona',
 'petronila',
 'phelipe',
 'philibert',
 ...]

In [177]:
lnames

['olim',
 'alava',
 'ab-ach',
 'abad',
 'abadal',
 'abadia',
 'abadiano',
 'abadie',
 'abadin',
 'abarca',
 'abaria',
 'abarrategui',
 'abascal',
 'abasolo',
 'abastas',
 'abat',
 'abbeville',
 'abd',
 'abduladin',
 'abel',
 'abella',
 'abellan',
 'abello',
 'aben',
 'abenaxara',
 'abengoechea',
 'abiancos',
 'abianelo',
 'ablanque',
 'ablitas',
 'aboab',
 'abollado',
 'aborim',
 'abraha',
 'abraham',
 'abranches',
 'abravanel',
 'abreu',
 'abrich',
 'abu',
 'abuin',
 'aburruza',
 'acacio',
 'acassuso',
 'accursio',
 'acebal',
 'acebedo',
 'acebes',
 'acebo',
 'acedo',
 'aceites',
 'acero',
 'acevedo',
 'acha',
 'achutegui',
 'acitores',
 'acorbe',
 'acorda',
 'acosta',
 'acquaviva',
 'acuña',
 'adalid',
 'adam',
 'adame',
 'adan',
 'adaro',
 'adarzo',
 'adell',
 'adeva',
 'adrada',
 'adrian',
 'adriano',
 'adsor',
 'aduart',
 'aduarte',
 'adurza',
 'aedo',
 'aerts',
 'afan',
 'afferden',
 'afonso',
 'aganduru',
 'agar',
 'agnesio',
 'agoiz',
 'agramont',
 'agramonte',
 'agraz',
 'agreda',
 'agrelo',
 'aguado',
 'agualongo',
 'aguar',
 'aguas',
 'aguayo',
 'aguazil',
 'agud',
 'agudo',
 'aguera',
 'aguero',
 'agueros',
 'aguerre',
 'aguerri',
 'aguesca',
 'aguiar',
 'aguila',
 'aguilar',
 'aguilera',
 'aguilo',
 'aguilon',
 'aguinaga',
 'aguiriano',
 'aguirre',
 'aguirre-solarte',
 'aguirrebengoa',
 'agullana',
 'agullo',
 'agullona',
 'agurto',
 'agusti',
 'agustin',
 'aheran',
 'ahmad',
 'ahuitzot',
 'ahumada',
 'aibar',
 'aichelberg',
 'aingo',
 'ainsa',
 'aizkibel',
 'aizpiri',
 'aizpitarte',
 'aizpuru',
 'aizpurua',
 'ajuria',
 'al-bast',
 'al-garnati',
 'al-hayari',
 'al-malik',
 'al-manzari',
 'al-mawsili',
 'al-qalasad',
 'al-titwan',
 'alaba',
 'alafont',
 'alagon',
 'alaix',
 'alaja',
 'alal',
 'alaman',
 'alamanzon',
 'alameda',
 'alamin',
 'alaminos',
 'alamo',
 'alamos',
 'alanis',
 'alanya',
 'alapont',
 'alarcon',
 'alarcos',
 'alas',
 'alava',
 'alavall',
 'alba',
 'albacar',
 'albanell',
 'albano',
 'albarellos',
 'albariño',
 'albarracin',
 'albaspi',
 'albear',
 'albelda',
 'albelo',
 'albendea',
 'albeniz',
 'alberch',
 'alberdi',
 'albergotti',
 'albernas',
 'alberni',
 'alberoni',
 'alberro',
 'albert',
 'alberti',
 'albertino',
 'alberto',
 'albertos',
 'albin',
 'albis',
 'albistur',
 'albites',
 'albiturria',
 'albiz',
 'albizu',
 'albiñana',
 'albo',
 'albor',
 'albornoz',
 'albors',
 'alborxe',
 'albotodo',
 'alboy',
 'albre',
 'albuerne',
 'albujar',
 'albuquerque',
 'alburquerque',
 'alcala-galiano',
 'alcala-zamora',
 'alcanyis',
 'alcaraz',
 'alcarria',
 'alcastiel',
 'alcaya',
 'alcayde',
 'alcayna',
 'alcayne',
 'alcazar',
 'alcañiz',
 'alcedo',
 'alcega',
 'alcoba',
 'alcobendas',
 'alcocer',
 'alcoholado',
 'alcon',
 'alconchel',
 'alcoriza',
 'alcover',
 'alcoverro',
 'alcubierre',
 'alda',
 'aldama',
 'aldana',
 'aldao',
 'aldas',
 'aldasoro',
 'aldave',
 'alday',
 'aldaz',
 'aldazabal',
 'aldecoa',
 'aldehuela',
 'alderete',
 'aldovera',
 'aldrete',
 'aldunate',
 'alduncin',
 'aledo',
 'alejandre',
 'alejandro',
 'alejos',
 'aleman',
 'alemani',
 'alemanni',
 'alemans',
 'alemany',
 'alemcastre',
 'alencastre',
 'alentorn',
 'alençon',
 'alepuz',
 'alesio',
 'aleson',
 'alfaro',
 'alfeiran',
 'alferio',
 'alfinger',
 'alfonsin',
 'alfonso',
 'alfonso-pimentel',
 'alfonso-villagomez',
 'alfranca',
 'algarin',
 'ali',
 'aliaga',
 'aliguer',
 'alix',
 'allende',
 'allende-salazar',
 'allendesalazar',
 'alli',
 'alloitiz',
 'allonville',
 'alloytiz',
 'allue',
 'almagro',
 'almandoz',
 'almansa',
 'almanza',
 'almanzor',
 'almaraz',
 'almarza',
 'almazan',
 'almazor',
 'almazul',
 'almedina',
 'almeida',
 'almela',
 'almella',
 'almenar',
 'almenara',
 'almendras',
 'almesto',
 'almeyda',
 'almira',
 'almodovar',
 'almogaver',
 'almoguera',
 'almonacid',
 'almonaster',
 'almugaber',
 'alomar',
 'alonso',
 'alos',
 'aloy',
 'alpin',
 'alpizcueta',
 'alpont',
 'alpuche',
 'alpuente',
 'alquiza',
 'alquizar',
 'alsedo',
 'alsina',
 'alsinet',
 'alta',
 'altafulla',
 'altamir',
 'altamira',
 'altamirano',
 'altarriba',
 'altarriva',
 'altemiz',
 'altoaguirre',
 'altolaguirre',
 'altue',
 'altuna',
 'alva',
 'alvarado',
 'alvarado-bracamonte',
 'alvaredo',
 'alvarenga',
 'alvares',
 'alvarez',
 'alvarnaez',
 'alvaro',
 'alvarrachi',
 'alvear',
 'alvia',
 'alviz',
 'alvizu',
 'alzaga',
 'alzaibar',
 'alzamora',
 'alzate',
 'alzaybar',
 'alzedo',
 'alzina',
 'alzola',
 'alzua',
 'amadeo',
 'amado',
 'amador',
 'amalia',
 'amar',
 'amargos',
 'amarilla',
 'amarita',
 'amasa',
 'amat',
 'amate',
 'amato',
 'amatriain',
 'amaya',
 'amberes',
 'ambiela',
 'ambros',
 'ambulodi',
 'ameijeiras',
 'amell',
 'ameller',
 'amelot',
 'amengual',
 'amescua',
 'ametller',
 'amezaga',
 'amezcua',
 'amezqueta',
 'amezquita',
 'amich',
 'amici',
 'amiconi',
 'amigant',
 'amigo',
 'amiguet',
 'amileta',
 'amills',
 'amirola',
 'amo',
 'amolaz',
 'amor',
 'amorim',
 'amoros',
 'amphoux',
 'ampies',
 'ampudia',
 'ampuero',
 'amuedo',
 'amunariz',
 'amusco',
 'amutio',
 'ana',
 'anacaon',
 'anadon',
 'anasco',
 'anastasio',
 'anaya',
 'anchia',
 'anchieta',
 'anchorena',
 'ancilla',
 'ancillo',
 'anciola',
 'anda',
 'andagoya',
 'andeyro',
 'andia',
 'andicano',
 'andino',
 'andonaegui',
 'andosilla',
 'andraca',
 'andrada',
 'andrade',
 'andrana',
 'andre',
 'andrea',
 'andres',
 'andreu',
 'andrevi',
 'andriani',
 'anduaga',
 'andueza',
 'andujar',
 'anduza',
 'anejo',
 'aner',
 'angel',
 'angela',
 'angele',
 'angelin',
 'angera',
 'anges',
 'anglasell',
 'angleria',
 'angles',
 'anglesola',
 'anguciana',
 'anguiano',
 'anguissola',
 'anguita',
 'angulema',
 'angulo',
 'anhetan',
 'ania',
 'aniñon',
 'anjou',
 'anneux',
 'anoz',
 'ansa',
 'ansalone',
 'ansay',
 'anso',
 'ansotegui',
 'ansurez',
 'antelo',
 'antequera',
 'antillon',
 'antist',
 'antolinez',
 'anton',
 'antona',
 'antonelli',
 'antoni',
 'antonia',
 'antonio',
 'antunez',
 'antuña',
 'antuñano',
 'anunciacio',
 'anuncibay',
 'anvers',
 'anza',
 'anzano',
 'anzoategui',
 'anzorena',
 'aoiz',
 'aozaraza',
 'apaolaza',
 'aparici',
 'aparicio',
 'apaza',
 'apeolaza',
 'aperger',
 'aperregui',
 'apezteguia',
 'apodaca',
 'apoita',
 'aponte',
 'apostole',
 'aquiles',
 'aquino',
 'arabi',
 'arache',
 'araciel',
 'aracil',
 'aragall',
 'arago',
 'aragon',
 'aragon-moncada',
 'aragona',
 'aragones',
 'aragorri',
 'aragues',
 'araiz',
 'arambari',
 'arambarri',
 'aramburu',
 'arana',
 'aranalde',
 'aranaz',
 'arance',
 'aranda',
 'arandia',
 'arandiga',
 'arango',
 'arangoyti',
 'aranguiz',
 'aranguren',
 'aranibar',
 'arano',
 'aransay',
 'aranza',
 'aranzazu',
 'araoz',
 'araque',
 'aras',
 'arasqueta',
 'araucho',
 'arauco',
 'araujo',
 'arauxo',
 'arauz',
 'arauza',
 'aravaca',
 'aravalles',
 'arañes',
 'arañon',
 'arbaizar',
 'arbasia',
 'arbelaiz',
 'arbeza',
 'arbieto',
 'arbiol',
 'arbizu',
 'arbolanche',
 'arboleda',
 'arboleya',
 'arboreda',
 'arbos',
 'arbues',
 'arbulo',
 'arburola',
 'arbustante',
 'arbuthnot',
 'arcaya',
 'arce',
 'arceo',
 'archer',
 'archidona',
 'archiga',
 'arciniega',
 'arco',
 'arco-aguero',
 'arcos',
 'ardanaz',
 'ardemans',
 'ardena',
 'ardi',
 'ardid',
 'ardila',
 'ardiles',
 'ardison',
 'arduino',
 'areas',
 'arechaga',
 'arechavala',
 'areche',
 'arechederra',
 'arechua',
 'areizaga',
 'arejula',
 'arellano',
 'arenales',
 'arenas',
 'arenaza',
 'arenillas',
 'arenzana',
 'arenzano',
 'ares',
 'arese',
 'arespacochaga',
 'aresti',
 'areta',
 'areval',
 'arevalo',
 'arevo',
 'areyzaga',
 'arfe',
 'argaez',
 'argain',
 'argaiz',
 'argandoña',
 'argañaraz',
 'argensola',
 'argençola',
 'argerich',
 'argos',
 'argote',
 'arguedas',
 'arguelles',
 'arguello',
 'arguero',
 'argueta',
 'arguibel',
 'arguijo',
 'arguimbau',
 'argumosa',
 'arias',
 'arias-davila',
 'aribau',
 'aries',
 'arigon',
 'arigorri',
 'arilla',
 'arimon',
 'arintero',
 'arinyo',
 'ariosto',
 'aristegui',
 'aristeguieta',
 'aristizabal',
 'aristondo',
 'ariz',
 'ariza',
 'arizabalo',
 'arizaga',
 'arizala',
 'arizcun',
 'arizmendi',
 'arizpe',
 'ariño',
 'arjona',
 'arlegui',
 'arles',
 'arlovi',
 'armada',
 'armadams',
 'armadans',
 'armas',
 'armasa',
 'armaña',
 'armendariz',
 'armendia',
 'armengol',
 'armengual',
 'armenta',
 'armenteros',
 'armentia',
 'armero',
 'armesto',
 'armida',
 'armijo',
 'armona',
 'arnaez',
 'arnaiz',
 'arnal',
 'arnaldin',
 'arnao',
 'arnau',
 'arnauto',
 'arnaya',
 'arnedo',
 'arnolfini',
 'aroche',
 'arosa',
 'arosemena',
 'arostegui',
 'aroza',
 'arpayon',
 'arpe',
 'arpide',
 'arquellada',
 'arquer',
 'arques',
 'arrais',
 'arrambide',
 'arramendia',
 'arrate',
 'arratia',
 'arrayza',
 'arrazola',
 'arredondo',
 'arregui',
 'arria',
 'arriada',
 'arriaga',
 'arriaza',
 'arribas',
 'arribillaga',
 'arrieta',
 'arriete',
 'arrigoni',
 'arrillaga',
 'arriola',
 'arriquibar',
 'arrivillaga',
 'arrizala',
 'arroita',
 'arrona',
 'arroniz',
 'arrospide',
 'arroyabe',
 'arroyal',
 'arroyo',
 'arroyuel',
 'arrubal',
 'arrufat',
 'arrunduaga',
 'arruti',
 'artazu',
 'artea',
 'arteaga',
 'arteaga-lazcano',
 'artes',
 'artesero',
 'arteta',
 'artieda',
 'artiga',
 'artigas',
 'artigues',
 'artiguez',
 'artorrasagasti',
 'arviza',
 'arxo',
 'arza',
 'arzadum',
 'arzamendi',
 'arzans',
 'arze',
 'arzueta',
 'arzão',
 'asanza',
 'asarau',
 'ascanio',
 'ascargorta',
 'ascaso',
 'ascensio',
 'ascension',
 'ascorbe',
 'ascucha',
 'asejas',
 'asensi',
 'asensio',
 'asfeld',
 'asiain',
 'asiego',
 'asmodeo',
 'aso',
 'aspas',
 'aspee',
 'aspiazu',
 'asprer',
 'asseliers',
 'assin',
 'asso',
 'assolenville',
 'asta',
 'astarloa',
 'aste',
 'asteguieta',
 'astengo',
 'astete',
 'astigarraga',
 'astiria',
 'astiz',
 'asto',
 'astola',
 'astor',
 'astorch',
 'astorga',
 'astorquiza',
 'astrandi',
 'astraudi',
 'astudillo',
 'asturiano',
 'asturias',
 'asua',
 'asuncio',
 'asunsolo',
 'atahualpa',
 'ataide',
 'atanasio',
 'atau',
 'atencia',
 'atero',
 'ateza',
 'atienza',
 'atlacat',
 'atocha',
 'atondo',
 'atorrasagasti',
 'attendolo',
 'aubarede',
 'audije',
 'auguerolas',
 'auguet',
 'augusta',
 'aulestia',
 'auli',
 'aurel',
 'aurioles',
 'ausa',
 'austri',
 'austria',
 'auther',
 'autillo',
 'auñon',
 'avalle',
 'avalos',
 'avedillo',
 'avellan',
 'avellaneda',
 'avello',
 'avendaño',
 'avengochea',
 'avila',
 'aviles',
 'avina',
 'avinent',
 'aviraneta',
 'avis',
 'aviñon',
 'axcana',
 'axpe',
 'ayala',
 'ayalde',
 'ayanz',
 'ayanz-arbizu',
 'ayardi',
 'ayarzagoitia',
 'aybar',
 'aycart',
 'aycinena',
 'aydie',
 'ayensa',
 'ayerbe',
 'ayerdi',
 'ayerra',
 'ayesa',
 'ayestaran',
 'ayesteran',
 'ayet',
 'ayguals',
 'ayllon',
 'aylmer',
 'aymamo',
 'aymerich',
 'ayolas',
 'ayora',
 'ayos',
 'aysa',
 'aytes',
 'ayuso',
 'ayuste',
 'azagra',
 'azailla',
 'azamor',
 'azanza',
 'azao',
 'azaola',
 'azara',
 'azas',
 'azcarate',
 'azcona',
 'azcue',
 'azcuenaga',
 'azcueta',
 'azcuitia',
 'azcune',
 'azeredo',
 'azevedo',
 'azlor',
 'aznar',
 'aznarez',
 'azoca',
 'azofra',
 'azopardo',
 'azor',
 'azpeitia',
 'azpeolaza',
 'azpeytia',
 'azpilcueta',
 'azpilicueta',
 'azpiroz',
 'azpuru',
 'azque',
 'aztal',
 'aztiguieta',
 'azua',
 'azuaga',
 'azuara',
 'azuola',
 'azurara',
 'azurduy',
 'azzaro',
 'añas',
 'añasco',
 'añaya',
 'añoa',
 'añorbe',
 'añoza',
 'babot',
 'baca',
 'bacallar',
 'bacas',
 'baccaro',
 'bachiller',
 'baciero',
 'bada',
 'badajoz',
 'badaran',
 'badenas',
 'badenes',
 'badia',
 'badiano',
 'badillos',
 'badin',
 'badiola',
 'bado',
 'baegert',
 'baena',
 'baez',
 'baeza',
 'baga',
 'baget',
 'baglietto',
 'bago',
 'baguena',
 'baguer',
 'bagues',
 'bahamonde',
 'bahi',
 'baiges',
 'baigorri',
 'bailen',
 'baillo',
 'bailo',
 'bailon',
 'bails',
 'baio',
 'balaguer',
 'balandra',
 'balanza',
 'balanzat',
 'balbas',
 'balbastro',
 'balbes',
 'balbi',
 'balbin',
 'balbo',
 'balboa',
 'balbontin',
 'balbuena',
 'balcarce',
 'balcells',
 'balcera',
 'balda',
 'baldasano',
 'baldrich',
 'balduque',
 'balenchana',
 'balenzegui',
 'balerdi',
 'balet',
 'balle',
 'ballester',
 ...]

In [93]:
# Code used for reference

#def name_looping(df, namelist):
#    for ind in df.index:
#        if df.loc[ind,'Remove']=='':
#            for name in namelist:
#                if name in df.loc[ind,'string']:
#                    df.loc[ind,'Remove']='0'
#                else:
#                    df.loc[ind,'Remove']='A'  #very slow

In [ ]:
# Online Examples to Follow

# For loop (slow)
#def soc_loop(leaguedf,TEAM,):
#    leaguedf['Draws'] = 99999
#    for row in range(0, len(leaguedf)):
#        if ((leaguedf['HomeTeam'].iloc[row] == TEAM) & (leaguedf['FTR'].iloc[row] == 'D')) | \
#            ((leaguedf['AwayTeam'].iloc[row] == TEAM) & (leaguedf['FTR'].iloc[row] == 'D')):
#            leaguedf['Draws'].iloc[row] = 'Draw'
#        elif ((leaguedf['HomeTeam'].iloc[row] == TEAM) & (leaguedf['FTR'].iloc[row] != 'D')) | \
#            ((leaguedf['AwayTeam'].iloc[row] == TEAM) & (leaguedf['FTR'].iloc[row] != 'D')):
#            leaguedf['Draws'].iloc[row] = 'No_Draw'
#        else:
#            leaguedf['Draws'].iloc[row] = 'No_Game'
            
#Using Iterrows (faster)

#def soc_iter(TEAM,home,away,ftr):
#    #team, row['HomeTeam'], row['AwayTeam'], row['FTR']
#    if [((home == TEAM) & (ftr == 'D')) | ((away == TEAM) & (ftr == 'D'))]:
#        result = 'Draw'
#    elif [((home == TEAM) & (ftr != 'D')) | ((away == TEAM) & (ftr != 'D'))]:
#        result = 'No_Draw'
#    else:
#        result = 'No_Game'
#    return result

#draw_series=[]
#for index, row in df.iterrows():
#    draw_series.append(soc_iter('Arsenal',row['HomeTeam'], row['AwayTeam'], row['FTR']))
#df['Draws']= draw_series

#Using apply (even faster)
#df['Draws'] = df.apply(lambda row: soc_iter('Arsenal', row['HomeTeam'], row['AwayTeam'], row['FTR'], axis=1))

#Pandas Vectorization (fastererer)

#def soc_iter(TEAM,home,away,ftr):
#    df['Draws'] = 'No_Game'
#    df.loc[((home == TEAM) & (ftr == 'D')) | ((away == TEAM) & (ftr == 'D')), 'Draws'] = 'Draw'
#    df.loc[((home == TEAM) & (ftr != 'D')) | ((away == TEAM) & (ftr != 'D')), 'Draws'] = 'No_Draw'
    
#df['Draws']= soc_iter('Arsenal', df['Hometeam'], df['AwayTeam'], df['FTR'])

#Numpys Vectorization (fastest)

#df['Draws']= soc_iter('Arsenal'), df['Hometeam'].values, df['Awayteam'].values, df['FTR'].values)

We will define a function that iterates through strings, searching through our first and last name lists to find a match in each. Accepted matches will include at least one first name token and one last name token.

In [41]:
#def name_iter(NAME, LNAME, remove, string):
#    n= '(.* )*'+NAME + '(.* )*'
#    x = re.search(n, string, re.IGNORECASE)
#    if x:
#        ln= '(.* )*'+ LNAME + '( .*)*'
#        y = re.search(n, string, re.IGNORECASE)
#        if y:
#            result = '0'
#    else:
#        result = remove
#    return result
#    print(name)

In [42]:
#remove_series=[]

#for name, lname in zip(fnames, lnames):
#    for index, row in people.iterrows():
#        remove_series.append(name_iter(name, lname, row['Remove'], row['string']))
#    people['Remove']= remove_series

#    remove_series=[]

Below: editing function to guarantee that it finds 2 tokens, one from each list (sometimes would just find the same value, twice. )

In [21]:
any_in = lambda a, b, c: any(i.lower() in b for i in a) and any(i.lower() in c for i in a)

In [22]:
people['Remove'] = people.apply(lambda x: 0 if any_in(x['string'].split(),fnames,lnames) and len(x['string'].split())>1 else x['Remove'], axis=1)

The function above checks every row in the dataframe, assigning people['Remove'] = 0 whenever there is at least one token from the string in both the first name and last name lists. One issue is when certain names appear in both lists - then the string can have only one token belonging to both lists. I was not able to eliminate this completely, but the added condition of length string.split() being greater than one at least weeds out names that have only one token. This is useful particularly for removing names of saints, likely from descriptions of paintings or images.

But let's remove names that are repeated in the two lists. First we will make a list of the shared elements:

In [23]:
f = set(fnames)
l = set(lnames)

if (f & l): 
        f_and_l = list(f & l)
        print(f_and_l)

['carlota', 'kahi', 'foix', 'mata', 'bernal', 'gentil', 'fadrique', 'villagomez', 'esteban', 'barros', 'mariana', 'guillen', 'leonor', 'richard', 'monserrat', 'hurtado', 'mawlay', 'alonso', 'luis', 'cecilia', 'von', 'ernesto', 'felipe', 'ascension', 'alvaro', 'tutul', 'manrique', 'julia', 'maximiliano', 'amadeo', 'mendo', 'carles', 'mancio', 'mauro', 'oliva', 'vivar', 'leon', 'almanzor', 'martinillo', 'francisco', 'conrado', 'cacamatzin', 'luca', 'esteve', 'morejon', 'nieves', 'ibn', 'paul', 'bezon', 'robert', 'rui', 'dalmau', 'margarita', 'muley', 'nuñez', 'pedroso', 'inga', 'clemente', 'pio', 'al-malik', 'ferrante', 'moctezuma', 'regalado', 'juana', 'jordan', 'muhammad', 'sales', 'asensio', 'agusti', 'atanasio', 'garcia', 'alberti', 'saboya', 'andrea', 'guillermo', 'victoria', 'anastasio', 'macias', 'pedro', 'roque', 'jacome', 'jaime', 'narciso', 'francisca', 'egas', 'toribio', 'cebrian', 'estefania', 'ponsich', 'cayo', 'nadal', 'rubin', 'tupac', 'claudio', 'barbara', 'navarra', 'elio', 'ortega', 'micael', 'alejandro', 'maria', 'julian', 'nuño', 'pereira', 'lope', 'tomas', 'soares', 'bernat', 'millan', 'titu', 'blanca', 'orleans', 'abu', 'cayetano', 'maestro', 'blasco', 'ferrando', 'ines', 'legallois', 'felipa', 'joaquin', 'ruiz', 'gregorio', 'agustin', 'gregori', 'gines', 'cesareo', 'benedicto', 'farag', 'antonia', 'corrado', 'joaquina', 'pasqual', 'ramon', 'tristan', 'antoni', 'gracian', 'gispert', 'ildefonso', 'valentin', 'zacarias', 'florian', 'sixto', 'espiritu', 'german', 'velasco', 'teodoro', 'aragon', 'pablo', 'castilla', 'tomasa', 'jesus', 'marti', 'corella', 'bento', 'joan', 'huayna', 'isabel', 'enriquez', 'david', 'corpus', 'lorenzo', 'martir', 'borja', 'maduz', 'soriano', 'fabian', 'marie', 'justiniano', 'gomez', 'miquel', 'solano', 'yupanqui', 'arnau', 'adan', 'mauri', 'marta', 'aben', 'lucena', 'guido', 'bernardo', 'vicente', 'felix', 'magdalena', 'manuel', 'gertrudis', 'nazario', 'custodio', 'pascual', 'matheo', 'hojeda', 'roberto', 'jose', 'catalina', 'enrique', 'gil', 'diego', 'cristobal', 'jeronimo', 'ignacio', 'afonso', 'marciano', 'rufo', 'camaquiri', 'anton', 'pablos', 'marcos', 'blas', 'paula', 'luisa', 'lopez', 'serafin', 'mancebo', 'ventura', 'al-manzari', 'illa', 'huallpa', 'maestre', 'francia', 'giraldo', 'yves', 'hernan', 'siri', 'carlos', 'villac', 'simon', 'candido', 'vidal', 'isabella', 'topa', 'angela', 'braganza', 'elvira', 'borbon', 'sagipa', 'pastor', 'ram', 'fortun', 'leonardo', 'simeon', 'james', 'angel', 'sebastian', 'pere', 'bonifacio', 'duarte', 'fernanda', 'madux', 'ursula', 'cobos', 'parma', 'claros', 'simo', 'ordoño', 'domingo', 'adrian', 'valero', 'van', 'leopoldo', 'paullu', 'manco', 'garcilaso', 'gaston', 'silvestre', 'llorenç', 'floris', 'vasco', 'baptista', 'miguel', 'abd', 'borbon-orleans', 'al-hayari', 'michel', 'iñigo', 'gabriela', 'jacinto', 'alcocer', 'concepcion', 'benito', 'poechos', 'al-garnati', 'beatriz', 'santiago', 'elias', 'curi', 'casta', 'segundo', 'andre', 'camilo', 'lazaro', 'alberto', 'victor', 'marina', 'giralte', 'gonzalo', 'huascar', 'sajonia', 'santisima', 'roman', 'arias', 'baltasar', 'fernando', 'teresa', 'zacut', 'sancho', 'hernandillo', 'valois', 'mateo', 'rosa', 'das', 'melchor', 'suero', 'frances', 'ahmad', 'matias', 'bernard', 'pedrosa', 'buenaventura', 'juan', 'hamet', 'chi', 'caonabo', 'marin', 'germana', 'jofre', 'ferrer', 'l-hasan', 'ascanio', 'berenguer', 'fermin', 'adriano', 'jorge', 'eduardo', 'ortuño', 'boix', 'lucio', 'galceran', 'bautista', 'salomon', 'guadalupe', 'amador', 'salvador', 'thomas', 'rojas', 'samuel', 'macia', 'bartomeu', 'selim', 'cuauhtemoc', 'juste', 'cesar', 'abraham', 'martinez', 'mucio', 'ana', 'gomes', 'farnesio', 'carolina', 'andreu', 'romeu', 'cristina', 'angulema', 'portugal', 'ferran', 'gabriel', 'correia', 'pau', 'maciel', 'mateu', 'rodriguez', 'cid', 'gaspar', 'rodrigo', 'tome', 'mestre', 'nicolas', 'ricart', 'martin', 'furtado', 'lucas', 'amalia', 'ramiro', 'arevalo', 'garabito', 'caunaboa', 'valeriano', 'guerau', 'atau', 'obregon', 'afan', 'alvarado', 'rosario', 'severino', 'bernabe', 'austria', 'donoso', 'marco', 'pelayo', 'felip', 'tito', 'perez', 'valladolid', 'beltran', 'guzman', 'clara', 'inca', 'alal', 'andres', 'antonio', 'borges', 'jaume', 'hernando', 'alfonso', 'ali', 'bartolome', 'javier', 'frutos', 'bonaventura', 'cipriano', 'xavier', 'arnao', 'cusi']

And we will drop them all from the lnames list (our function does not actually make a semantic difference between both lists).

In [24]:
lnames = list(l-(f&l))

In [30]:
people['Remove'] = ''

Let's try our operations again:

In [31]:
people.loc[people['string'].str.upper().isin(perscaps),'Remove'] = 0

In [32]:
people['Remove'] = people.apply(lambda x: 0 if any_in(x['string'].split(),fnames,lnames) and len(x['string'].split())>1 else x['Remove'], axis=1)

In [33]:
grouped = people.groupby('Remove')
grouped.count()

        Unnamed: 0  docid  string  label  start    end
Remove
0            18161  18161   18161  18161  18161  18161
             14959  14959   14959  14959  14959  14959

In [34]:
len(people['string'].unique())

14505

Number of unique strings identified:

In [35]:
len(people.loc[people['Remove']==0,'string'].unique())

7323

Number of unique strings not yet identified:

In [36]:
len(people.loc[people['Remove']=='','string'].unique())

7182

Let's export both lists of unique strings (confirmed and unconfirmed) to print them out, look at them and try to identify patterns for further work.

In [37]:
a= people.loc[people['Remove']==0,'string'].str.lower()
a= a.unique()
a= pd.Series(a)
len(a)

6386

In [38]:
b= people.loc[people['Remove']=='','string'].str.lower()
b= b.unique()
b= pd.Series(b)
len(b)

6623

In [40]:
a.to_csv("acceptedpersnames.csv")
b.to_csv("remainingpersnames.csv")

In [39]:
'alonso' in fnames

True

Will also export the intermediate people table to work with them in different sessions:

In [41]:
people.to_csv("people_strat2.csv")

# Fuzzy Matching

Many of the unmatched tags above are variations of real names with approximate matches in the list.  We can use fuzzy matching to further find names.

In [53]:
from fuzzywuzzy import fuzz
from fuzzywuzzy import process

In [ ]:
#     result = list(map(sum,input)) 
#     print (result.index(max(result)))

In [367]:
#def fuzzmax(string,name):
#    if len(string)>0:
#        string = str(string)
#        result = list(map(lambda a: fuzz.token_sort_ratio(a,name), string.split()))
#        return max(result)
#    else:
#        return 0

In [366]:
#type(fuzzmax("Antonio de Medina","Jose"))

int

In [ ]:
#map(lambda a: )

In [ ]:
%%timeit
temp = pd.DataFrame()
for fname, lname in zip(fnames,lnames):
    temp[fname + lname] = people.apply(lambda x: fuzzmax(x['string'],fname) + fuzzmax(x['string'],lname), axis=1)

In [ ]:
people['Remove'] = people.apply(lambda x: str(max(map(lambda a: fuzz.token_sort_ratio(a,fname)), x['string'].split())) + str(max(map(lambda a: fuzz.token_sort_ratio(a,lname)), x['string'].split())) else x['Remove'], axis=1)

In [ ]:

def soc_iter(TEAM,home,away,ftr):
    df['Draws'] = 'No_Game'
    df.loc[((home == TEAM) & (ftr == 'D')) | ((away == TEAM) & (ftr == 'D')), 'Draws'] = 'Draw'
    df.loc[((home == TEAM) & (ftr != 'D')) | ((away == TEAM) & (ftr != 'D')), 'Draws'] = 'No_Draw'
view rawvec_func hosted with ❤ by GitHub

df['Draws']= soc_iter('Arsenal',df['HomeTeam'],df['AwayTeam'],df['ftr'] )

In [ ]:
def fuzznames(fnames, lnames, string):
    stringspl = string.split()
    fuzzf= list(map(lambda a: fuzz.token_sort_ratio(fname,a), stringspl))
    fuzzl= list(map(lambda a: fuzz.token_sort_ratio(lname,a), stringspl))
    fuzzf.index(max(fuzzf))
    fuzzl.index(max(fuzzf))
    people.loc[people['Remove']!=0,'Remove']=people.apply(lambda x: 90 if max(list(map(lambda a: fuzz.token_sort_ratio(a,fname), x['string'].split()))) and  >90 and max(list(map(lambda a: fuzz.token_sort_ratio(a,lname),x['string'].split())))>90 else x['Remove'], axis=1)
    
    def maxOnes(input): 
  
     # map sum function on each row of 
     # given matrix 
     # it will return list of sum of all one's 
     # in each row, then find index of maximum element 
     result = list(map(sum,input)) 
     print (result.index(max(result)))



# Check Against the Documents

The tags still not marked 0 have not been identified as names. We will look at them within the context of their documents to mark whether they are names or not.

In [ ]:
# For future reference: per tags up to this point have been saved as "people_strat2.csv"

In [1]:
import pandas as pd
people = pd.read_csv("people_strat2.csv")

In [2]:
people['Remove'] = people['Remove'].astype(str)
people['Remove'] = people['Remove'].replace('nan','')
people['Remove'] = people['Remove'].replace('0.0','0')

In [3]:
people

,Unnamed: 0,Unnamed: 0.1,docid,string,label,start,end,Remove
0,57935,57935,6792,NaN,PER,135,138,
1,45285,45285,4978,Rodriguez,PER,6,8,0
2,45173,45173,4961,Gomez Brito,PER,34,38,0
3,45108,45108,4952,Manrique,PER,11,13,0
4,61780,61780,7342,Ramirez,PER,29,31,0
...,...,...,...,...,...,...,...,...
33115,45897,45897,5065,Angela Guillenes,PER,19,21,0
33116,65927,65927,7947,Angela Rodriguez Borte,PER,28,31,0
33117,11101,11101,1304,çamora,PER,238,239,
33118,32475,32475,3436,çamora,PER,90,91,
33119,13566,13566,1519,çumarraga maesos,PER,649,651,

In [4]:
grouped = people.groupby('Remove')
grouped.count()

        Unnamed: 0  Unnamed: 0.1  docid  string  label  start    end
Remove
              1478          1478   1478    1475   1478   1478   1478
0            31642         31642  31642   31642  31642  31642  31642

There are 1478 tags that do not contain at least one first name and one last name token from the lists above.  Next, we will go through them individually, looking at them in context, to determine whether they should be removed or kept.

In [1]:
#import mysql.connector

#mydb = mysql.connector.connect(
#  host="localhost",
#  user="root",
#  passwd="",
#  database="SevillePainters3"
#)

#print(mydb)

In [ ]:
# The span being read is not the one that includes the entity, for whatever reason.
#"SELECT SUBSTRING(CAST(document as char), "+str(strstart) +", 50) FROM document WHERE document.id = " + str(docid)
# try:
 #           strstart = int(people.loc[index, 'start'])-20
  #      except: 
   #         strstart = 0

In [ ]:
# The problem is how Spacy marks the position of a token. 
# Not by character but by token number. We could calculate 
# this based on spaces, but I think the easiest way would be 
# to pickle the Doc files in the 'exporting' notebook.

In [17]:
# Create a cursor object that allows you to execute SQL

#mycursor = mydb.cursor()

#for (index, row) in people.iterrows():
#    if row['Remove']!='0':
#        print(row['string'])
        
#        docid = row[ 'docid']
#        strstart = int(row['start'])
#        sqlstart = strstart - 20
#        strlength= int(row['end']) - int(row['start'])
#        strend= strstart+strlength
        
#        sql1 = "SELECT SUBSTRING(CAST(document as char), " + str(sqlstart) +", 20) FROM document WHERE document.id = " + str(docid)
#        mycursor.execute(sql1)
#        print(mycursor.fetchall())
        
#        sql2 = "SELECT SUBSTRING(CAST(document as char), " + str(strstart) +"," + str(strlength) +") FROM document WHERE document.id = " + str(docid)
#        mycursor.execute(sql2)
#        print(mycursor.fetchall())
        
#        sql3 = "SELECT SUBSTRING(CAST(document as char), " + str(strend) +", 20) FROM document WHERE document.id = " + str(docid)
#        mycursor.execute(sql3)
#        print(mycursor.fetchall())
        
#        people.loc[index,'Remove']=input('Remove?')
#        clear_output(wait=True)

In [2]:
from IPython.display import clear_output
import spacy
from spacy import displacy

ModuleNotFoundError: No module named 'spacy'

In [1]:
import pickle

file = open("Trained_EMS2_NER_data.p", 'rb')
docs = pickle.load(file)

ModuleNotFoundError: No module named 'spacy'

In [18]:
docs[1]

(...martin de gaynça... soy convenido... con los reverendos padres prior frailes e convento del monasterio de san pablo desta dicha ciudad de Sevilla... en tal manera que yo me obligo de fazer el cruzero de la iglesia junto a la capilla mayor... e de lo fazer de buena obra de canteria del puerto de santa maria del altura de la capilla mayor lo cual tengo de derrocar a mi costa con tanto que todo e material que saliere del dicho cruzero asi de piedra como de ladrillo sea mio e me obligo de ensanchar las ventanas del dicho cruzero del altura que fuere menester e desgarrar lo que fuere menester para ello e de encalar e torar los testeros donde estan las dichas ventanas (muy roto) e mas me obligo de fazer el pilarote sobre que a de venir el canpanario fasta en raz de la capilla e mas me obligo de alinpiar los dos arcos para la parte de la capilla que estan en el dicho cruzero... e de lo dar acabado en fin del mes de marzo de 1543... dandome 400 ducados,
 {'id': 2})

In [27]:
docs[1][0].ents

(martin de gaynça,
 monasterio de san pablo,
 Sevilla,
 puerto de santa maria,
 fin del mes de marzo de 1543,
 400 ducados)

In [67]:
import spacy
from spacy import displacy

In [ ]:
for (index, row) in people.iterrows():
    if row['Remove']=='':
        print(row['string'])
        
        docid = row['docid']
        strstart = int(row['start'])
        fetchend = strstart + 10
        
        for doc in docs:
            if doc[1]['id'] == docid:
                displacy.render(doc[0][strstart:fetchend],style='ent',jupyter=True)
                people.loc[index,'Remove']=input('Remove?')
            if  people.loc[index,'Remove']=='X':
                people.loc[index,'Remove']=''
                if doc[1]['id'] == docid:
                    displacy.render(doc[0],style='ent',jupyter=True)
                    people.loc[index,'Remove']=input('Remove?')
            clear_output(wait=True)

Espejo

In [6]:
grouped = people.groupby('Remove')
grouped.count()

        Unnamed: 0  Unnamed: 0.1  docid  string  label  start    end
Remove
0.0          31642         31642  31642   31642  31642  31642  31642
nan           1478          1478   1478    1475   1478   1478   1478

In [ ]:
# Note: keeping -- in name strings might be valuable because some scholars have used it to indicate a missing token.