#Â Data Cleaning 3: Correcting Entity Spans (short)

Search for tokens to the left and right of a tagged person that appear in the entity list and the name lists and have not been tagged as entities. We can import the spacy docs, each token should have an entity tag = 0.

In [1]:
from IPython.display import clear_output
import spacy
from spacy import displacy

import pickle

In [6]:
import pandas as pd

In [3]:
file = open("Files_Cleaning2/NER_data_Cleaned22.p", 'rb')
docs = pickle.load(file)

Let's import the file with the list of tokens appearing in our 3 lists, manually checked for dubious options, and filter those out.

In [81]:
names = pd.read_excel("Files_Cleaning2/EntityTokensinKFLNamelists_manual_check.xlsx")

In [82]:
names.head()

      token  check
0    guejar    NaN
1  belmonte    NaN
2    gatica    NaN
3     moyna    NaN
4         r    1.0

In [83]:
acceptednames = names.loc[names['check']!=1,'token'].tolist()

In [85]:
acceptednames = list(set(acceptednames))

In [86]:
len(acceptednames)

1617

We can also add tokens from our name lists that did not appear in our tagged tokens, but might be elsewhere in the documents.

In [118]:
fnames = open("DBE_Names/firstnames.txt", 'r')
lnames = open("DBE_Names/lastnames.txt",'r')

In [119]:
DBEnames = []

for line in fnames:
    DBEnames.append(line.rstrip('\n'))
    
for line in lnames:
    DBEnames.append(line.rstrip('\n'))

In [120]:
DBEnames = set(DBEnames)

In [179]:
len(DBEnames)

10004

Iterating through the rows, we found some tokens that are not necessary in these lists. We'll remove them:
maestro
licenciado
bachiller
maestre
fray
nombre
jurado
notario
vicario
mercader
escribano

In [211]:
'maestro' in DBEnames

True

In [212]:
'licenciado' in DBEnames

True

In [213]:
'bachiller' in DBEnames

True

In [244]:
'maestre' in DBEnames

True

In [245]:
'fray' in DBEnames

True

In [246]:
'nombre' in DBEnames

True

In [247]:
'jurado' in DBEnames

True

In [248]:
'notario' in DBEnames

True

In [249]:
'vicario' in DBEnames

True

In [250]:
'mercader' in DBEnames

True

In [282]:
'escribano' in DBEnames

True

In [178]:
DBEnames.remove('maestro')

In [214]:
DBEnames.remove('licenciado')
DBEnames.remove('bachiller')

In [251]:
DBEnames.remove('maestre')
DBEnames.remove('fray')
DBEnames.remove('nombre')
DBEnames.remove('jurado')
DBEnames.remove('notario')
DBEnames.remove('vicario')
DBEnames.remove('mercader')

In [283]:
DBEnames.remove('escribano')

Let's look at the tokens that appear in the DBE list but do not form part of any entity (token.ent_iob is 2).

In [284]:
untagged = []
for doc,context in docs:
    for token in doc:
        if (token.ent_iob==2) and ((token.text.lower() in DBEnames)):
            untagged.append(token.text)

In [285]:
len(untagged)

79780

In [286]:
print(set(untagged))

{'plano', 'marques', 'matos', 'pontones', 'pradilla', 'Gallego', 'benito', 'pascual', 'jesus', 'vela', 'isla', 'ferran', 'Sevillano', 'farfan', 'fregenal', 'poyo', 'gabriel', 'santaren', 'Redondo', 'Rafael', 'Encarnacion', 'acosta', 'bellon', 'rincon', 'maldonado', 'porto', 'Ruis', 'moneda', 'portillo', 'jusepe', 'red', 'costas', 'verdes', 'Panes', 'Ovejas', 'arias', 'costa', 'trinidad', 'ARTEAGA', 'cid', 'la', 'morillo', 'pinelo', 'caula', 'page', 'faber', 'olivar', 'moran', 'carbon', 'Alvarez', 'barca', 'pio', 'fita', 'Jacinto', 'sea', 'cabeza', 'Esquivel', 'domingo', 'marco', 'Rio', 'tomasa', 'abarca', 'sacristan', 'von', 'argote', 'gradilla', 'ana', 'cortes', 'leandro', 'beata', 'melgarejo', 'cantillo', 'mina', 'ines', 'serafin', 'armas', 'encalada', 'sebil', 'Cosme', 'aguilar', 'prieto', 'machuca', 'cajes', 'Guardia', 'Segunda', 'brabante', 'aceites', 'Guillermo', 'ayala', 'vermondo', 'alcayde', 'Abad', 'cesare', 'CastaÃ±eda', 'Romana', 'Torres', 'Portugal', 'corona', 'arostegui', 'pico', 'oliva', 'marfil', 'salvo', 'casillas', 'LUCAS', 'perlas', 'texedor', 'Figueroa', 'flores', 'Sala', 'Villanueva', 'plana', 'mayoral', 'Sebastian', 'Hospital', 'Dios', 'peÃ±a', 'picado', 'joven', 'Cabezas', 'caldera', 'daban', 'bejar', 'honorio', 'salas', 'Piscina', 'justo', 'Vermondo', 'cameros', 'reyes', 'LEAL', 'bueno', 'aso', 'bailo', 'cuevas', 'Alameda', 'camino', 'PLATA', 'victoria', 'Nueva', 'alderete', 'mendes', 'prudencio', 'maria', 'Luisa', 'ceron', 'gozar', 'cabello', 'Oviedo', 'Mar', 'coto', 'JUAN', 'testera', 'pagan', 'bello', 'camacho', 'matis', 'flandes', 'tornos', 'garnica', 'Cristobal', 'portugues', 'becerra', 'olalla', 'gines', 'cazalla', 'porras', 'ribera', 'coco', 'van', 'lista', 'aguirre', 'Moro', 'azuaga', 'angela', 'corta', 'pulgar', 'nueva', 'bravo', 'cano', 'peÃ±as', 'rico', 'polo', 'chica', 'oleo', 'Sacramento', 'Pimentel', 'geronimo', 'pardo', 'enjuta', 'marchena', 'jose', 'manera', 'vida', 'Solano', 'minjares', 'tercero', 'Vicenta', 'rueda', 'pares', 'hazen', 'LiÃ±an', 'pared', 'Quinto', 'NiÃ±o', 'puente', 'Corte', 'elias', 'Ledesma', 'pison', 'calabazas', 'Aguirre', 'olivares', 'aguas', 'fernandez', 'toma', 'espiritu', 'jacome', 'carlos', 'pereira', 'mira', 'igual', 'Martin', 'contreras', 'angel', 'Primo', 'lana', 'Junta', 'armengol', 'peres', 'concepcion', 'Vitoria', 'cordon', 'lossa', 'Pablo', 'aspas', 'manco', 'pareja', 'jardin', 'sese', 'cuesta', 'campos', 'Leal', 'techo', 'recalde', 'romana', 'Apostol', 'Moises', 'Letamendi', 'pan', 'cean', 'Paez', 'maximiliano', 'Remedios', 'castellanos', 'oliba', 'Vuelta', 'lerma', 'Jordan', 'iglesia', 'arenas', 'ortega', 'olmos', 'Carranza', 'dueÃ±as', 'sales', 'barbero', 'orta', 'Corpus', 'allende', 'Enriquez', 'pato', 'amparo', 'caso', 'Cortes', 'arteaga', 'crespo', 'Carta', 'michel', 'ropero', 'enzinas', 'Reyes', 'Lorenzo', 'Catalina', 'mal', 'linaje', 'Pedro', 'ballestero', 'aleman', 'solar', 'restan', 'Vega', 'Alberto', 'santiago', 'Batista', 'Vida', 'lara', 'rosa', 'llorente', 'Cristo', 'viÃ±as', 'barbara', 'jacinto', 'hipolito', 'talon', 'hospital', 'reyna', 'alfonso', 'Guarda', 'aroche', 'gomez', 'Hamete', 'Monesterio', 'nebreda', 'cogolludo', 'girolamo', 'bautista', 'cabezas', 'leonardo', 'Cano', 'Contador', 'abad', 'vides', 'Toma', 'Oliva', 'laguna', 'quadra', 'parrales', 'vaca', 'Villa', 'alonso', 'texada', 'castro', 'cansino', 'Rita', 'Atocha', 'palacios', 'baÃ±os', 'Jacome', 'espiga', 'Evangelista', 'Albo', 'carcel', 'coria', 'bodega', 'benitez', 'gil', 'llamas', 'Baptista', 'visitacion', 'Chaves', 'Monteros', 'Segundo', 'buy', 'clara', 'Antonio', 'peinado', 'armero', 'baro', 'paz', 'pacheco', 'Delgado', 'Reyna', 'Carlos', 'mateo', 'simon', 'Real', 'Campofrio', 'granados', 'milan', 'ramos', 'hernando', 'ponce', 'peÃ±afiel', 'Pacheco', 'costales', 'monteagudo', 'campana', 'cuellar', 'Gracia', 'sidonia', 'Antequera', 'herreros', 'bacio', 'carpio', 'antonio', 'horno', 'Pozo', 'Azcona', 'viga', 'salido', 'peru', 'Benito', 'plata', 'figueroa', 'thomas', 'llanas', 'ahumada', 'patricio', 'camara', 'jaspe', 'Regla', 'escaÃ±o', 'giron', 'torres', 'remedios', 'escudero', 'bona', 'Rivas', 'barra', 'Onofre', 'ley', 'PERO', 'Dorado', 'Hernan', 'reta', 'cobertores', 'arcangel', 'cumplido', 'juste', 'Pastor', 'Linaje', 'salvador', 'morales', 'berastegui', 'Carmen', 'pavon', 'tomas', 'justa', 'Marina', 'dios', 'monge', 'montano', 'cabra', 'paredes', 'naval', 'segui', 'capillas', 'troyano', 'canales', 'Angel', 'Gutierrez', 'Esteban', 'espino', 'Ana', 'vivas', 'caldero', 'corro', 'freses', 'Guevara', 'fuente', 'asuncion', 'valenzuela', 'toral', 'lopez', 'Niebla', 'Oro', 'iglesias', 'rato', 'alamin', 'riesco', 'custodio', 'escalera', 'Clemencia', 'cuyas', 'Salamanca', 'espadero', 'Vargas', 'Gonzalez', 'canela', 'romano', 'Clara', 'Benedicto', 'millan', 'Amparo', 'bartolome', 'trigo', 'Santiago', 'Angeles', 'nazareno', 'flecha', 'Alvaro', 'Resta', 'obrador', 'torre', 'santana', 'placido', 'monesterio', 'sacramento', 'Lugo', 'Felipa', 'Paulo', 'ybarra', 'pinos', 'Nazareno', 'lucas', 'Cecilia', 'claros', 'Ribera', 'Iglesia', 'reina', 'alta', 'escala', 'conde', 'Isidro', 'Ramos', 'balle', 'Carvajal', 'Joseph', 'Coca', 'baez', 'gallego', 'miguel', 'austria', 'moreno', 'guarda', 'coÃ§ar', 'buey', 'almendras', 'rosas', 'vergara', 'Damian', 'Padua', 'sastre', 'Gregorio', 'alva', 'albornoz', 'Ramo', 'toro', 'herrera', 'real', 'subira', 'criado', 'aldonza', 'Daniel', 'salado', 'andino', 'CARTA', 'Mejorada', 'Joachim', 'asturias', 'Musa', 'tamariz', 'sobrado', 'Loyola', 'onofre', 'abello', 'isidro', 'joan', 'petronila', 'tirado', 'Romanos', 'baca', 'redonda', 'casos', 'provecho', 'Bernardo', 'Reina', 'archidona', 'armada', 'Banda', 'Paz', 'juanes', 'barrio', 'fuensalida', 'triana', 'granado', 'blanco', 'solera', 'bernardino', 'estefania', 'clemencia', 'ambrosio', 'Santisteban', 'coronel', 'Coronado', 'bernabe', 'utrera', 'mantilla', 'perfecto', 'quadrado', 'sisa', 'bassa', 'calvo', 'valle', 'Leandro', 'quero', 'seso', 'diez', 'sala', 'marzo', 'Crispin', 'Eliseo', 'deu', 'julio', 'Magdalena', 'ubeda', 'arnao', 'barba', 'flor', 'Maria', 'dorado', 'cuadrado', 'cuentas', 'Cepeda', 'Granda', 'Arenales', 'diamante', 'salgado', 'asta', 'Fuentes', 'corte', 'chinchon', 'sierpe', 'hurtado', 'Anna', 'alamos', 'castillejo', 'arguello', 'Vicente', 'hortigas', 'fernando', 'leonis', 'maÃ±ara', 'eliseo', 'carrasco', 'Alfonso', 'Velasco', 'viejo', 'poza', 'leyes', 'caro', 'celda', 'mar', 'Phelipe', 'seva', 'baeza', 'amigo', 'caxon', 'arze', 'sesma', 'raso', 'chico', 'cueva', 'baltasar', 'Luis', 'Rico', 'pero', 'bruno', 'urban', 'paulo', 'cabo', 'Bruno', 'sa', 'socorro', 'virrey', 'corrientes', 'Dos', 'dehesa', 'pastor', 'sanabria', 'Teresa', 'barrera', 'Geronima', 'Obligado', 'cavallero', 'carmen', 'risco', 'patron', 'dos', 'guadalupe', 'leonor', 'amarilla', 'paula', 'pes', 'Yermo', 'Jeronimo', 'catalina', 'fierro', 'guardia', 'menor', 'escriba', 'paÃ±o', 'comino', 'montes', 'balbuena', 'cabaÃ±as', 'parra', 'porteria', 'molinos', 'villafuerte', 'soto', 'Justa', 'Piedra', 'Ramon', 'bartolomeo', 'osuna', 'caballos', 'pilar', 'albear', 'puerto', 'alexos', 'arellano', 'capuz', 'ginoves', 'junta', 'Bueno', 'cantos', 'orozco', 'bustos', 'Sacre', 'encinas', 'carranza', 'CabaÃ±as', 'ormigon', 'monserrate', 'Laureano', 'caÃ±as', 'Visitacion', 'arco', 'Anunciacion', 'nieves', 'sota', 'montaÃ±es', 'Encima', 'ribas', 'carnero', 'Caballero', 'roque', 'Armada', 'francisco', 'Bernardino', 'padua', 'Santisima', 'terreros', 'cordova', 'ortiz', 'muro', 'navajas', 'Lista', 'anda', 'Rojo', 'portero', 'verdugo', 'francisca', 'oreja', 'espejo', 'Romero', 'alli', 'Espina', 'peon', 'vara', 'Sa', 'matas', 'labrador', 'Austria', 'Flecha', 'vallados', 'Plata', 'Bandera', 'cerero', 'serena', 'Juanes', 'salcedo', 'monto', 'carrera', 'mas', 'salinas', 'bargas', 'della', 'marcos', 'sierra', 'hidalgo', 'Santana', 'aguiar', 'casas', 'barrionuevo', 'Pino', 'pulido', 'sobrino', 'alcantara', 'maeda', 'fajardo', 'Salvador', 'anunciacion', 'medina', 'Sea', 'corpus', 'huici', 'romero', 'bermejo', 'padilla', 'jamete', 'castillo', 'Esperanza', 'rea', 'nieto', 'Tome', 'rio', 'Felipe', 'laurel', 'banda', 'hierro', 'lissa', 'Mayor', 'pilares', 'texeda', 'ovejas', 'Paula', 'peral', 'Marcos', 'vega', 'centeno', 'olanda', 'cristiano', 'tallada', 'basta', 'regla', 'Soto', 'ARELLANO', 'teodomiro', 'portal', 'du', 'Cuevas', 'macia', 'tello', 'Palma', 'montesa', 'Morales', 'corrales', 'aguila', 'obligado', 'doblas', 'Alonso', 'hermoso', 'herrero', 'falcon', 'farina', 'artes', 'dallo', 'sillero', 'espada', 'lorenzo', 'gorriti', 'elena', 'magdalena', 'duro', 'balduque', 'tablada', 'bocanegra', 'Jesus', 'duran', 'coronado', 'casco', 'caxa', 'candelaria', 'cuero', 'acha', 'Gales', 'casta', 'Campo', 'Rosas', 'quadros', 'Casas', 'Cabeza', 'rebolledo', 'espina', 'Pero', 'Bautista', 'vargas', 'buenaventura', 'armando', 'josef', 'alameda', 'pazos', 'prado', 'bernardo', 'gala', 'Monte', 'quintero', 'Concepcion', 'villarrubia', 'La', 'bes', 'Valle', 'magaÃ±a', 'juan', 'pecador', 'felice', 'fraile', 'solares', 'rubio', 'Monserrat', 'napoles', 'molinas', 'escriva', 'marta', 'jesu', 'Olivares', 'Francisco', 'bandera', 'angeles', 'sola', 'Robles', 'yuso', 'anna', 'Nieto', 'cadena', 'linage', 'CAMPO', 'Domingo', 'beato', 'Puerta', 'resta', 'Custodio', 'casado', 'angulo', 'canal', 'Henrique', 'panes', 'xavier', 'rosado', 'Artes', 'Vieja', 'vicente', 'Hombre', 'lebrija', 'hamete', 'monasterio', 'melchior', 'Javier', 'franscisco', 'alas', 'Margarita', 'apostol', 'Manzanos', 'Ronda', 'calafate', 'garcia', 'topa', 'calero', 'Borja', 'phelipe', 'peÃ±aranda', 'quiÃ±ones', 'Cid', 'MURILLO', 'hoz', 'busto', 'verano', 'paterna', 'cotan', 'Trinidad', 'cordero', 'Lechuga', 'lis', 'lindo', 'ramo', 'vicuÃ±a', 'portales', 'palma', 'Gallo', 'piÃ±on', 'haya', 'Gabriel', 'Cantero', 'puebla', 'marca', 'ferrero', 'Catarina', 'treviÃ±o', 'cosa', 'peco', 'pinto', 'luna', 'francos', 'segura', 'tizon', 'frutos', 'esperanza', 'chamorro', 'gregorio', 'teresa', 'verdad', 'Sas', 'toscano', 'ursula', 'saco', 'isabel', 'moron', 'torquemada', 'Gato', 'crisostomo', 'feria', 'jerez', 'Viejo', 'quinto', 'Rodriguez', 'blancas', 'redondo', 'Flores', 'hermenegildo', 'montesdoca', 'mesas', 'piedras', 'oro', 'Ignacio', 'batista', 'Mayo', 'alos', 'Flandes', 'muros', 'margarita', 'gonÃ§alo', 'luis', 'tejada', 'lucia', 'santillan', 'purificacion', 'fuerte', 'Castillo', 'abreu', 'mathe', 'eminente', 'mor', 'Mesa', 'valor', 'matheo', 'Clemente', 'Josef', 'balmazeda', 'ayllon', 'jorge', 'malo', 'delgado', 'Preciado', 'sas', 'fusta', 'clavijo', 'factor', 'Agreda', 'laso', 'robledo', 'Justiniano', 'moya', 'izquierdo', 'palomares', 'nicolas', 'antequera', 'Conde', 'anejo', 'gavilan', 'Leyes', 'riba', 'Salazar', 'posada', 'martel', 'cesar', 'alberto', 'baga', 'bote', 'huerta', 'mariana', 'mayor', 'seneca', 'foi', 'grado', 'canto', 'hoyos', 'baltazar', 'negro', 'Juan', 'bolos', 'liÃ±an', 'cuerda', 'bela', 'rasa', 'llave', 'terrero', 'estupiÃ±an', 'ros', 'anton', 'guerra', 'puerta', 'montagudo', 'ramales', 'castaÃ±o', 'caÃ±o', 'BaÃ±os', 'diego', 'clemente', 'per', 'mesa', 'Vela', 'beatriz', 'chantre', 'Andres', 'Pan', 'Piedad', 'agustin', 'polonia', 'mercedes', 'baustista', 'Malagon', 'corral', 'MORENO', 'linaza', 'Lucas', 'santisima', 'PeÃ±a', 'andres', 'cedo', 'dolores', 'pere', 'capa', 'verde', 'ventura', 'Fuente', 'vuelta', 'Jacob', 'acuÃ±a', 'Medina', 'gato', 'boquete', 'amador', 'jordan', 'luisa', 'alcoba', 'angelo', 'milanes', 'rua', 'Mariana', 'Holgado', 'amor', 'piedra', 'mozo', 'cancela', 'Pinos', 'castaÃ±eda', 'caja', 'parada', 'andrea', 'FRANCISCO', 'bacas', 'Cuentas', 'Marques', 'Jacobo', 'Mas', 'suarez', 'vieja', 'ribadeneira', 'Busto', 'vizcaino', 'carta', 'Diego', 'fuentes', 'varas', 'baranda', 'rodrigo', 'damas', 'marina', 'muÃ±ecas', 'nuÃ±ez', 'franco', 'aras', 'estrada', 'moli', 'Rodrigues', 'lanas', 'caballeria', 'amado', 'Monasterio', 'postigo', 'do', 'lima', 'apostoles', 'suero', 'Dulce', 'Feria', 'varillas', 'niÃ±o', 'Aguilar', 'marroquin', 'leyba', 'castroverde', 'martir', 'Granada', 'Lara', 'naves', 'dato', 'Redonda', 'Perez', 'Aldana', 'trigueros', 'Avila', 'junco', 'cardenas', 'sayas', 'gragera', 'pita', 'palos', 'cantera', 'consolacion', 'rozas', 'lazaro', 'guevara', 'tornero', 'tosca', 'concha', 'cristo', 'cabrera', 'evangelista', 'maeso', 'Espada', 'moguer', 'coll', 'carro', 'vandera', 'Cuesta', 'poma', 'ladron', 'atanasio', 'parado', 'vea', 'serrano', 'sotomayor', 'dominico', 'Capilla', 'leal', 'Espinosa', 'leon', 'meneses', 'plaza', 'Concha', 'dionisio', 'Saeta', 'navas', 'Diaz', 'alamo', 'Ribas', 'Chacon', 'granada', 'gusta', 'geronima', 'tejero', 'portes', 'joseph', 'matias', 'Costa', 'montaÃ±a', 'josep', 'baso', 'David', 'guzman', 'heredia', 'pazo', 'cortina', 'encima', 'cortada', 'moldes', 'espinosa', 'Aguas', 'novia', 'Jose', 'rosario', 'vico', 'felipe', 'Hermosa', 'correa', 'arcos', 'molina', 'casto', 'hoyo', 'Rosario', 'Francia', 'fanegas', 'losa', 'Caballos', 'pedro', 'capaz', 'segunda', 'Julio', 'pozo', 'MORILLO', 'carrero', 'brea', 'Puga', 'loyola', 'mejorada', 'faria', 'blanca', 'tome', 'ruis', 'piedad', 'Polonia', 'Roque', 'llano', 'tienda', 'mayo', 'romanos', 'jara', 'Fernando', 'diaz', 'guerrero', 'marmol', 'barreda', 'ferrer', 'Armas', 'benegas', 'Rivera', 'Casilda', 'chacon', 'serapio', 'duque', 'pedroso', 'Vico', 'buelta', 'cerro', 'cubillana', 'Miguel', 'contador', 'celada', 'toledano', 'FERNANDO', 'Monsalve', 'diz', 'frances', 'Susana', 'Restan', 'Rosa', 'Perea', 'cantero', 'Isabel', 'Puente', 'coma', 'estopiÃ±an', 'monte', 'tadeo', 'Sevilla', 'falconete', 'malagon', 'grande', 'villacastin', 'aquino', 'Caso', 'mercado', 'Carpio', 'Maeda', 'vera', 'perea', 'girona', 'Ruiz', 'madera', 'Barbero', 'talavera', 'bailon', 'dulce', 'santisteban', 'escuderos', 'campo', 'encarnacion', 'Solis', 'halcon', 'estada', 'pimentel', 'remesal', 'calis', 'balanza', 'marino', 'bassas', 'gracia', 'escalada', 'limpias', 'pino', 'escoto', 'vasco', 'hera', 'alba', 'fernandes', 'caÃ±ero', 'puertas', 'holanda', 'moros', 'rallo', 'hombre', 'Carcel', 'tristan', 'Abraham', 'luz', 'millares', 'castilla', 'Justicia', 'blas', 'francia', 'Enrique', 'Duque', 'Castillejo', 'pablo', 'GUERRA', 'estrella', 'yaÃ±ez', 'Cuerda', 'hijas', 'higuera', 'vacas', 'cala', 'Roldan', 'segundo', 'carpintero', 'gallegos', 'barco', 'mora', 'des', 'suelto', 'Francisca', 'alcazar', 'carton', 'palacio', 'moro', 'martin', 'quirino', 'puga', 'justiniano', 'caballero', 'fuertes', 'nolasco', 'adan', 'giraldo', 'castellar', 'vivo', 'villa', 'alexo', 'mancebo', 'conrado', 'damian', 'catalan', 'tapia', 'laurencio', 'linden', 'hernan', 'baptista', 'cerda', 'labrada', 'pasqual', 'fuero', 'Elias', 'bernarda', 'Simon', 'hermosa', 'primo', 'Amor', 'martines', 'arroyo', 'pecado', 'lopes', 'mate', 'justicia', 'Mora', 'hornero', 'capilla', 'cayo', 'demaria', 'llanos', 'carnicero'}

In [287]:
len(set(untagged))

1464

It would be wise to review this list of 1,478 tokens manually to determine which are names for sure and which are dubious. But first, let's see how many of these matches (DBE and acceptednames) happen adjacent to a PER entity (before or after) to see which spans we have to edit.

In [49]:
docs[0][0][1]

martin

I want a rule that looks in front or behind of a PER entity. If that token is in the name list and is not tagged as an entity, I want it to be appended to our list. If the token is de, el or la (single or plural), I want it to move to the nex token.

In [288]:
nexttopers = []
for doc,context in docs:
    for ent in doc.ents:
        if ent.label_=='PER':
            try:
                i = 1
                a = doc[ent.start-i]
                while a.text.lower() == 'de' or a.text.lower() =='del' or a.text.lower() == 'la'or a.text == 'el' or a.text == 'los' or a.text == 'las':
                    i = i+1
                    a = doc[ent.start-i]
                if (a.ent_iob==2) and ((a.text.lower() in acceptednames) or (a.text.lower() in DBEnames)):
                    nexttopers.append(a.text)
            except: 
                pass
            try:
                i = 0
                b = doc[ent.end+i]
                while b.text.lower() == 'de' or b.text.lower() == 'del' or b.text.lower() == 'la'or b.text == 'el' or b.text == 'los' or b.text == 'las':
                    i = i+1
                    b = doc[ent.end+i]
                if (b.ent_iob==2) and ((b.text.lower() in acceptednames)or (b.text.lower() in DBEnames)):
                    nexttopers.append(b.text)
            except:
                pass

In [289]:
len(nexttopers)

838

In [290]:
len(set(nexttopers))

251

In [291]:
print(set(nexttopers))

{'della', 'dos', 'maeso', 'mozo', 'hidalgo', 'marques', 'matos', 'clavijo', 'peinado', 'casas', 'barrio', 'caja', 'corro', 'blanco', 'sobrino', 'vida', 'coronel', 'alcantara', 'Fernando', 'jesus', 'hombre', 'Jeronimo', 'catalina', 'menor', 'serrano', 'vea', 'quadrado', 'Pero', 'vargas', 'comino', 'tristan', 'tercero', 'haya', 'ballestero', 'sotomayor', 'Conde', 'Cantero', 'aleman', 'guerrero', 'restan', 'solar', 'Clemencia', 'ferrero', 'farfan', 'espadero', 'quero', 'cosa', 'texedor', 'carta', 'diez', 'pinto', 'fuentes', 'leal', 'NiÃ±o', 'Duque', 'juan', 'dias', 'acosta', 'nieto', 'fraile', 'Dios', 'banda', 'maldonado', 'barba', 'Ledesma', 'viÃ±as', 'hijas', 'mayor', 'joven', 'albear', 'alexos', 'chamorro', 'trigo', 'ginoves', 'foi', 'duque', 'Bueno', 'teresa', 'segundo', 'verdad', 'carpintero', 'estrada', 'negro', 'reyna', 'dorado', 'Marcos', 'arias', 'fernandez', 'torre', 'costa', 'contador', 'placido', 'toma', 'torquemada', 'cuentas', 'centeno', 'cid', 'monesterio', 'LEAL', 'bueno', 'toledano', 'jerez', 'aso', 'montaÃ±es', 'salgado', 'encima', 'frances', 'Nieto', 'corte', 'moro', 'hurtado', 'Rodriguez', 'camino', 'francisco', 'martin', 'espinosa', 'cogolludo', 'linage', 'puga', 'alderete', 'thomas', 'caballero', 'suero', 'Puerta', 'cantero', 'maria', 'ahumada', 'ceron', 'carrasco', 'moran', 'casado', 'camara', 'viejo', 'conde', 'vico', 'portero', 'caro', 'niÃ±o', 'villa', 'giron', 'oro', 'correa', 'gallego', 'chantre', 'coto', 'Sevilla', 'castroverde', 'tello', 'abad', 'sea', 'manco', 'vides', 'pareja', 'cabeza', 'falconete', 'guarda', 'camacho', 'hornero', 'tapia', 'agustin', 'flandes', 'nieta', 'mercado', 'garnica', 'domingo', 'hernan', 'obligado', 'Hernan', 'corral', 'portugues', 'doblas', 'sacristan', 'madera', 'von', 'abarca', 'sastre', 'peon', 'pero', 'Rico', 'hermoso', 'cortes', 'Sa', 'beata', 'melgarejo', 'herrero', 'porras', 'Linaje', 'calafate', 'urban', 'garcia', 'texada', 'labrador', 'andres', 'berastegui', 'segunda', 'armas', 'criado', 'aguirre', 'artes', 'calero', 'campo', 'andino', 'palacios', 'gragera', 'sillero', 'pere', 'cerero', 'iglesia', 'justa', 'sa', 'valor', 'bravo', 'vuelta', 'ortega', 'pastor', 'barbero', 'machuca', 'rico', 'Medina', 'Albo', 'orta', 'tamariz', 'hoz', 'gracia', 'tablada', 'ayala', 'justicia', 'delgado', 'alcayde', 'blanca', 'Abad', 'capilla', 'duran', 'bocanegra', 'tornero', 'tome', 'coronado', 'hera', 'cotan', 'tirado', 'cavallero', 'mas', 'fernandes', 'caÃ±ero', 'cordero', 'rua', 'milanes', 'geronimo', 'bargas', 'tienda', 'patron'}

According to this rule, 838 modifications could be made, from 251 distinct tokens.

In [260]:
peopleshort = []

for doc,context in docs:
    for ent in doc.ents:
        if ent.label_=='PER':
            try:
                i = 1
                a = doc[ent.start-i]
                while a.text.lower() == 'de' or a.text.lower() =='del' or a.text.lower() == 'la'or a.text.lower() == 'el' or a.text.lower() == 'los' or a.text.lower() == 'las':
                    i = i+1
                    a = doc[ent.start-i]
                if (a.ent_iob==2) and ((a.text.lower() in acceptednames) or (a.text.lower() in DBEnames)):
                    h = context['id']
                    b = ent.text
                    c = ent.start
                    d = ent.end
                    e = a.i
                    f = a.text
                    g = ent.label_
                    entry = [h, b, c, d, e, f,g]
                    peopleshort.append(entry)
            except: 
                pass
            try:
                i = 0
                b = doc[ent.end+i]
                while b.text.lower() == 'de' or b.text.lower() == 'del' or b.text.lower() == 'la'or b.text.lower() == 'el' or b.text.lower() == 'los' or b.text.lower() == 'las':
                    i = i+1
                    b = doc[ent.end+i]
                if (b.ent_iob==2) and ((b.text.lower() in acceptednames)or (b.text.lower() in DBEnames)):
                    a = context['id']
                    h = ent.text
                    c = ent.start
                    d = ent.end
                    e = b.i
                    f = b.text
                    g=ent.label_
                    entry = [a, h, c, d, e, f,g]
                    peopleshort.append(entry)
            except:
                pass

In [261]:
len(peopleshort)

1154

In [262]:
peopleshort = pd.DataFrame(peopleshort, columns = ['docid','string','start','end','tokenloc','tokentext','entlabel'])

In [263]:
peopleshort.head()

   docid            string  start   end  tokenloc tokentext entlabel
0     50  Cristobal garcia      6     8         8   cantero      PER
1     56  garcia fustanero     23    25        22      pero      PER
2     59    Pedro Blascoen   2476  2478      2478   Sevilla      PER
3    101    nicolas jurate    163   165       165       dos      PER
4    106   niculao de leon      0     3         3   frances      PER

In [264]:
peopleshort['edit_short']=''

This should be enough to loop through our labels and edit them, as we did previously in Data Cleaning 2. And the number of tags is small enough that we do not need to filter things out.

In [292]:
count = 0
for (index, row) in peopleshort.iterrows():
    if row['edit_short']=='':
        count=count+1
        print(count)
        print(row['string'],row['start'],row['end'])
        print(row['tokentext'], row['tokenloc'])
        docid = row['docid']
        strstart = min([int(row['start']), int(row['tokenloc'])])
        strend = max([int(row['end']), int(row['tokenloc'])]) + 10
        
        for doc in docs:
            if doc[1]['id'] == docid:      
                displacy.render(doc[0][strstart:strend],style='ent',jupyter=True)
                peopleshort.loc[index, 'edit_short']=input('Edit?')
                
                if peopleshort.loc[index, 'edit_short']=='X':
                        for doc in docs:
                            if doc[1]['id'] == docid:
                                displacy.render(doc[0],style='ent',jupyter=True)
                                peopleshort.loc[index,'edit_short']=input('Edit?')
                clear_output(wait=True)

231
Marcos de medina 1279 1282
Escribano 1282

KeyboardInterrupt:

In [294]:
peopleshort = peopleshort[peopleshort['tokentext']!='Escribano']

In [295]:
peopleshort

,docid,string,start,end,tokenloc,tokentext,entlabel,edit_short
0,50,Cristobal garcia,6,8,8,cantero,PER,0
1,56,garcia fustanero,23,25,22,pero,PER,1
2,59,Pedro Blascoen,2476,2478,2478,Sevilla,PER,0
3,101,nicolas jurate,163,165,165,dos,PER,0
4,106,niculao de leon,0,3,3,frances,PER,0
...,...,...,...,...,...,...,...,...
1148,8577,DIEGO DÃAZ,255,257,254,oro,PER,
1149,8577,FRANCISCO MANUEL [SOLORZANO,290,294,289,oro,PER,
1150,8577,JOSEPH MERINO,513,515,512,oro,PER,
1151,8578,LUIS ANTONIO NAVARRO,25,28,29,menor,PER,
1153,8603,BARTOLOMÃ MURILLO,12,14,10,niÃ±o,PER,

In [296]:
peopleshort.groupby('edit_short').count()

            docid  string  start  end  tokenloc  tokentext  entlabel
edit_short
              550     550    550  550       550        550       550
0             179     179    179  179       179        179       179
1             104     104    104  104       104        104       104
o               5       5      5    5         5          5         5

In [ ]:
maestre
fray
nombre
jurado
notario
vicario
mercader
---
cantero
escribano

In [298]:
peopleshort.to_csv('Files_Cleaning3/PERS_tag_clean3_strat1.csv')