# Data Cleaning 2: Correcting Entity Spans (Long)

In this notebook, we go over "person" tags and clean spans to make sure they reference full names, no more and no less. 

We will recover the tags as cleaned in Data Cleaning 1, focusing on those we maintained as 'Remove'= 0. 

# Goal 1: To revise spans that are **too broad** (this notebook)

Create a list of tokens that appear in entities but do not appear in the name lists. We can do this by getting the difference between the name set and the entity tokens set. Mark the tokens that might be considered potentially problematic. Find them and determine if they should be a part of the span. Edit the spans respectively.

We can also add Kinkead's capitalized tokens to the "acceptable" token set.

# Goal 2: To revise spans that are **too short** (data cleaning 3)

Search for tokens to the left and right of a tagged person that appear in the entity list and the name lists and have not been tagged as entities. We can import the spacy docs, each token should have an entity tag = 0. 

# Goal 3: Untagged PER entities (data cleaning 4)

Search for strings that match exactly with strings that have been tagged as entities. This should work to pick up untagged people.

# Goal 4: Problematic words within the name list (data cleaning 5)
Some words may refer to saints or locations. Identify these words and find strings that have only these words to reclassify.

---
# Goal 1

## 1 Creating a list of tokens that appear in our entities

In [1]:
import pandas as pd
people = pd.read_csv('Files_Cleaning1/PER_tags_clean1.csv')

In [2]:
people.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,Unnamed: 0.1.1.1.1,docid,string,label,start,end,Remove
0,0,0,0,57935,57935,6792,NaN,NaN,135,138,1
1,1,1,1,45285,45285,4978,- Rodriguez,PER,6,8,0
2,2,2,2,45173,45173,4961,-- Gomez Brito,PER,34,38,0
3,3,3,3,45108,45108,4952,-- Manrique,PER,11,13,0
4,4,4,4,61780,61780,7342,-- Ramirez,PER,29,31,0

In [3]:
grouped = people.groupby('Remove')
grouped.count()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,Unnamed: 0.1.1.1.1,docid,string,label,start,end
Remove,,,,,,,,,,
0,32442,32442,32442,32442,32442,32442,32442,32442,32442,32442
1,561,561,561,561,561,561,558,0,561,561
D,6,6,6,6,6,6,6,6,6,6
L,39,39,39,39,39,39,39,39,39,39
M,6,6,6,6,6,6,6,6,6,6
O,66,66,66,66,66,66,66,66,66,66

Let's generate a list of tokens that appear in our PER entities. To do this, we are flattening the list of lists that is generated when we split each string by spaces, and we create a set to remove duplicates. Then we store it as a list again.

In [4]:
tokenlist= people.loc[people['Remove']=='0','string'].str.split().tolist()

In [5]:
newlist= []
for sublist in tokenlist:
    if type(sublist)==list:
        for item in sublist:
            newlist.append(str(item))
tokenlist=list(set(newlist))

In [6]:
tokenlist.sort()

In [7]:
len(tokenlist)

6692

Note that this list includes tokens in upper and lowercase. This is because these cases are informative. As Kinkead marked artist names in full uppercase, we can mark uppercase tokens as tokens for true names.

In [8]:
with open('PersonNameTokenList.csv','w') as file:
    for item in tokenlist:
        file.write(item + "\n")

In [9]:
print(tokenlist)

['-', '--', '--Nino', '--de', '-basco', '-gaspar', '-geronimo', '-luisa', '-ndo', '-vasco', '2-', '20', '481', 'A', 'ADRIAN', 'AFANDOR', 'AGUILA', 'AGUILAR', 'AGUSTIN', 'AIALA', 'ALA', 'ALARCON', 'ALAVA', 'ALBERTO', 'ALCANTEIES', 'ALCANTUD', 'ALDRETTE', 'ALFONSO', 'ALMANSA', 'ALMANZA', 'ALONSO', 'ALTA', 'ALTERI', 'ALVA', 'ALVAREZ', 'AMARROSTA', 'AMARROSTAO', 'AMBAR', 'AMBROSIO', 'ANDRACH', 'ANDRES', 'ANGELO', 'ANTOLINEZ', 'ANTONIO', 'APARICIO', 'ARAGON', 'ARANA', 'ARANDA', 'ARAUS', 'ARAZ', 'ARCE', 'ARCOS', 'ARENAS', 'ARENSECALLATRADA', 'ARIAS', 'ARIENZACALATRAVA', 'ARMEDIA', 'ARRENAS', 'ARROYO', 'ARTEAGA', 'ARTEAGAALFARO', 'ARTENSE', 'ARTENSECALATADO', 'ARTENSECALATRADA', 'ARTIAGA', 'ARTIGA', 'ARUAS', 'ARZE', 'ASCENCIO', 'ASENCIO', 'ASINTA', 'ATIENZA', 'ATIENZACALATRAVA', 'AVILA', 'AY', 'AYALA', 'Abaasquita', 'Abaco', 'Abadesa', 'Abaeu', 'Abalos', 'Abdina', 'Abedaria', 'Abel', 'Abellan', 'Abendaria', 'Abraham', 'Abrego', 'Abreu', 'Abril', 'Abrue', 'Abueda', 'Acacio', 'Academia', 'Acauna', 'Acebedo', 'Acencion', 'Acenfio', 'Acensio', 'Acerdian', 'Acero', 'Acha', 'Acisclos', 'Acle', 'Acolina', 'Acosser', 'Acosta', 'Acuna', 'Acuña', 'Adalid', 'Adallo', 'Adam', 'Adame', 'Adan', 'Adriaen', 'Adrian', 'Afanador', 'Agilon', 'Agramonte', 'Agua', 'Aguero', 'Aguiar', 'Aguiere', 'Aguila', 'Aguilar', 'Aguilera', 'Aguillar', 'Aguire', 'Aguirre', 'Agustin', 'Agustina', 'Agustino', 'Ahumada', 'Aillon', 'Ala', 'Alanis', 'Alaras', 'Alarcon', 'Alarcon\x97Simon', 'Alariz', 'Alavarre', 'Alba', 'Albarada', 'Albarado', 'Albardo', 'Albardon', 'Albares', 'Albarez', 'Albaro', 'Albarran', 'Alber', 'Albero', 'Alberro', 'Albert', 'Alberta', 'Alberto', 'Albin', 'Albor', 'Albornoz', 'Albuquerque', 'Alca', 'Alcala', 'Alcantara', 'Alcantud', 'Alcaraz', 'Alcayde', 'Alcazar', 'Alcega\x97Franco', 'Alcina', 'Alcocer', 'Alcor', 'Alcosser', 'Aldana', 'Aldape', 'Alderete', 'Aldrete', 'Aleantara', 'Alegro', 'Alejandro', 'Alejo', 'Alejos', 'Aleman', 'Aleola', 'Alexandro', 'Alexo', 'Alexos', 'Alfaro', 'Alfian', 'Alfonsa', 'Alfonso', 'Algarin', 'Alhondiga', 'Ali', 'Alicante', 'Alina', 'Alja', 'Allendano', 'Alma', 'Almansa', 'Almanza', 'Almança', 'Almao', 'Almario', 'Almas', 'Almedo', 'Almonacid', 'Almonacir', 'Almonarir', 'Almoneria', 'Almonte', 'Alo', 'Alonfo', 'Alonsa', 'Alonso', 'Alonsso', 'Alphonsa', 'Alrecon', 'Alsega', 'Alsicolla', 'Alsola', 'Altamirrano', 'Altar', 'Altas', 'Altopica', 'Alua', 'Alvan', 'Alvar', 'Alvarado', 'Alvares', 'Alvarez', 'AlvarezE', 'Alvaro', 'Alvira', 'Alyne', 'Alº', 'Amao', 'Amaro', 'Amarrosta', 'Amayo', 'Ambar', 'Amberes', 'Ambrosio', 'Amides', 'Amor', 'Ana', 'Anales', 'Anamaria', 'Anbachts', 'Andana', 'Andino', 'Andion', 'Andrada', 'Andrade', 'Andrea', 'Andres', 'Andujar', 'Anduxar', 'Anenas', 'Angel', 'Angela', 'Angeles', 'Angulo', 'Anhular', 'Anion', 'Anselmo', 'Antequera', 'Anteçana', 'Anton', 'Antonia', 'Antonio', 'Antto', 'Antunes', 'Antunez', 'Anudo', 'Anxela', 'Anziano', 'Apans', 'Aparcio', 'Aparicio', 'Aponte', 'Apostol', 'Aqua', 'Aquelman', 'Ara', 'Aragon', 'Aragones', 'Aramburo', 'Aramos', 'Arana', 'Aranda', 'Arandia', 'Arangurede', 'Araqume', 'Araujo', 'Araus', 'Arauz', 'Arazola', 'Arbuscody', 'Arcadio', 'Arce', 'Arcediano', 'Arcegani', 'Arcos', 'Arebalo', 'Areguas', 'Arellano', 'Aremo', 'Arenales', 'Arenas', 'Areno', 'Arespe', 'Arestui', 'Arevalo', 'Arfian', 'Argadona', 'Argames', 'Argia', 'Argote', 'Arguela', 'Arguello', 'Arguelo', 'Argunedo', 'Aria', 'Arias', 'Arieta', 'Ariola', 'Arispe', 'Aristegui', 'Arjuez', 'Arma', 'Armejo', 'Armendia', 'Armenta', 'Armente', 'Armido', 'Arnao', 'Aro', 'Arpe', 'Arranegui', 'Arrenas', 'Arriaga', 'Arriaga\x97Luis', 'Arrias', 'Arriba', 'Arriola', 'Arroyo', 'Arteaga', 'Artemio', 'Artiaga', 'Artifice', 'Arza', 'Arze', 'Arzobispo', 'Arzovispo', 'Ascarate', 'Ascarza', 'Asencio', 'Ast', 'Astete', 'Astola', 'Astorga', 'Atanacio', 'Ataraque', 'Atocha', 'Aubri', 'Audalla', 'Augustina', 'Auila', 'Aunon', 'Austria', 'Auto', 'Autografo', 'Autografo\x97', 'Autos', 'Avellaneda', 'Avendaño', 'Avete', 'Aviendose', 'Avila', 'Aviles', 'Avina', 'Ayala', 'Ayalde', 'Aybar', 'Aycona', 'Aygo', 'Ayllan', 'Ayllon', 'Ayssa', 'Azalidallo', 'Azcona', 'Azenedo', 'Aznar', 'Añasco', 'B', 'BAL', 'BALDEQUIROS', 'BALDES', 'BALDEZ', 'BALLESTEROS', 'BALTASAR', 'BALTAZAR', 'BALTHAZAR', 'BAN', 'BANMOL', 'BARAHONA', 'BARAONA', 'BARCO', 'BARELA', 'BARONA', 'BARREDA', 'BARRERA', 'BARTOLOME', 'BASQUEZ', 'BAUTISTA', 'BAZQUEZ', 'BEJARANO', 'BENJUMEA', 'BENJUMEDA', 'BERDUGO', 'BERGUGO', 'BERLANGA', 'BERNABE', 'BERNAL', 'BERNARDINO', 'BERNARDO', 'BERNAVE', 'BILLAVICENCIO', 'BLAS', 'BOBADILLA', 'BOMOL', 'BORJA', 'BOTELLOS', 'BOVADILLA', 'BRABO', 'BRAVO', 'BRAÑA', 'Ba', 'Babia', 'Bacarrel', 'Bacca', 'Badaraco', 'Badillo', 'Baena', 'Baeza', 'Baeça', 'Baias', 'Bajo', 'Balbuena', 'Balcarses', 'Balder--', 'Baldes', 'Balduc', 'Balduque', 'Balencian', 'Balera', 'Baleros', 'Balfacon', 'Baliente', 'Balladare', 'Balladares', 'Ballejo', 'Balles', 'Ballesteros', 'Balon', 'Baltanel', 'Baltasar', 'Baltazar', 'Balthasar', 'Balthazar', 'Banbelle', 'Banco', 'Banda', 'Banfraet', 'Banuelos', 'Bao', 'Baptista', 'Baquero', 'Barahona', 'Baraona', 'Barba', 'Barbara', 'Barbaran', 'Barbosa', 'Barca', 'Barcansel', 'Barcena', 'Barco', 'Bardia', 'Barera', 'Barete', 'Bargas', 'Barietos', 'Barnuevo', 'Baro', 'Baron', 'Barona', 'Barragan', 'Barrao', 'Barrasa', 'Barreda', 'Barrena', 'Barrera', 'Barrete', 'Barrientos', 'Barrios', 'Barro', 'Barrutia', 'Bartholome', 'Bartolome', 'Barue', 'Bas', 'Basconcelos', 'Basileo', 'Basilio', 'Baslientos', 'Basquez', 'Bastan', 'Bastardo', 'Bastas', 'Bastida', 'Bastilleros', 'Bastos', 'Batatano', 'Batellos', 'Bauchel', 'Bauptista', 'Bautismo', 'Bautista', 'Bazan', 'Bazquez', 'Baños', 'Beana', 'Beatris', 'Beatriz', 'Becerra', 'Beces', 'Bega', 'Begadi', 'Begaro', 'Bejarano', 'Bejines', 'Belares', 'Belarte', 'Belero', 'Bellarte', 'Belloso', 'Belmonte', 'Beltanel', 'Beltran', 'Beltrano', 'Belzere', 'Bemal', 'Benaberte', 'Benavente', 'Benavides', 'Benedicto', 'Benefdo', 'Beneficiado', 'Beneficiados', 'Benega', 'Benegas', 'Benita', 'Benites', 'Benitez', 'Benito', 'Benitos', 'Benjumea', 'Bentura', 'Benuenucto', 'Benuenuto', 'Benvenuto', 'Bera', 'Berdiel', 'Berdo', 'Berdugo', 'Beretente', 'Bergara', 'Beri', 'Bermondo', 'Bermudes', 'Bermudez', 'Bermudo', 'Bermundo', 'Bernabe', 'Bernal', 'Bernaldino', 'Bernalte', 'Bernando', 'Bernarda', 'Bernardina', 'Bernardino', 'Bernardo', 'Bernuda', 'Berobia', 'Berrio', 'Berrospe', 'Beruenquel', 'Besere', 'Bet', 'Betancor', 'Betis', 'Bezerra', 'Bias', 'Bicente', 'Biedma', 'Bien', 'Biere', 'Bilbao', 'Bilches', 'Bilchez', 'Billapor', 'Billegas', 'Biller', 'Biquera', 'Birues', 'Biscarra', 'Bitaben', 'Bitero', 'Bivar', 'Blaceo', 'Blanca', 'Blanco', 'Blanquet', 'Blas', 'Blasco', 'Blascoen', 'Blasina', 'Blasquez', 'Blazquez', 'Bme', 'Bobadilla', 'Bobadillo', 'Bogueles', 'Bohorquez', 'Bojorquez', 'Bolanos', 'Bolante', 'Bolaños', 'Boldoque', 'Bolsa', 'Bonifacio', 'Bonifaz', 'Bonilla', 'Bordoque', 'Borio', 'Borja', 'Bormes', 'Bormio', 'Borques', 'Borte', 'Bos', 'Bosello', 'Bosque', 'Botello', 'Bovis', 'Bozomo', 'Brabo', 'Bracho', 'Bravo', 'Braña', 'Bredembeque', 'Bricio', 'Brigida', 'Bringas', 'Brito', 'Brizeño', 'Brochero', 'Brunenque', 'Bruno', 'Bruselas', 'Bruñete', 'Bta', 'Bucareli', 'Buelna', 'Buelta', 'Buenabentura', 'Buendia', 'Bueno', 'Buenrostro', 'Buitron', 'Buiza', 'Bulgo', 'Buraran', 'Burch', 'Burgos', 'Burgueño', 'Bustamante', 'Bustamente', 'Bustos', 'CABALLERO', 'CABEZA', 'CABEZAS', 'CALATRAVA', 'CALDERON', 'CALLE', 'CALVETE', 'CALVO', 'CAMACHO', 'CAMARA', 'CAMPO', 'CAMPOBRIN', 'CAMPOLARGO', 'CAMPOS', 'CAMPROBIN', 'CAMPROVIN', 'CANCINO', 'CANSINO', 'CARABAJAL', 'CARASCO', 'CARBAJAL', 'CARDENAS', 'CARDOSO', 'CARLOS', 'CARMANA', 'CARO', 'CARPIO', 'CARRASCO', 'CARREÑOMIRANDA', 'CARRILLO', 'CARVAJAL', 'CASALES', 'CASARES', 'CASAS', 'CASTILLO', 'CASTRILLO', 'CASTRO', 'CAZALES', 'CESAR', 'CESLAR', 'CHAMARRO', 'CHAMORRO', 'CHICO', 'CHRISTO', 'CHRISTOBAL', 'CIPRIANO', 'CLEMENTE', 'COBOS', 'COCA', 'COLERA', 'COLLANTES', 'CONCA', 'CONELIO', 'CONTERAS', 'CONTRERAS', 'CORDERO', 'CORDOBA', 'CORNEIL', 'CORNELIO', 'CORRALES', 'CORREA', 'COSME', 'COUTO', 'COUTOdieron', 'COUTsic', 'CRESPO', 'CRISTO', 'CRISTOBAL', 'CRONELIO', 'CRUZ', 'Caballero', 'Caballo', 'Caballos', 'Cabanos', 'Cabañas', 'Cabañuela', 'Cabello', 'Cabera', 'Cabeza', 'Cabezas', 'Cabezon', 'Cabilles', 'Caboto', 'Cabrejas', 'Cabrera', 'Cabrero', 'Caceres', 'Cadiz', 'Caftilla', 'Calafate', 'Calatayud', 'Calatrava', 'Calaverde', 'Calblllo', 'Calbo', 'Calcada', 'Calco', 'Caldera', 'Calderon', 'Calero', 'Calle', 'Caloña', 'Calus', 'Calvente', 'Calvete', 'Calvijo', 'Calvillo', 'Calvo', 'Calzado', 'Calçada', 'Camacho', 'Camara', 'Camargas', 'Camargo', 'Cameros', 'Camian', 'Camila', 'Camilo', 'Camino', 'Campania', 'Campaña', 'Campo', 'Campolargo', 'Campos', 'Campoverde', 'Campoviejo', 'Camprovin', 'Camucho', 'Camunos', 'Canales', 'Canalles', 'Cancagorta', 'Cancelas', 'Cancino', 'Candaraes', 'Candelaria', 'Canela', 'Canelas', 'Canisares', 'Canise', 'Cannillo', 'Cano', 'Canpania', 'Cansino', 'Cansos', 'Cant', 'Cantero', 'Cantillana', 'Cantillejo', 'Cantillo', 'Canto', 'Capitan', 'Capote', 'Caraballo', 'Carasquila', 'Carasquilla', 'Caravajal', 'Caravallo', 'Caraza', 'Carbajal', 'Carballo', 'Carbera', 'Carbonel', 'Carcel', 'Cardena', 'Cardenal', 'Cardenas', 'Cardona', 'Cardoso', 'Careaga', 'Caribalo', 'Carillo', 'Carion', 'Caritate', 'Carlos', 'Carmana', 'Carmelita', 'Carmen', 'Carmona', 'Caro', 'Caron', 'Carona', 'Carpio', 'Carransa', 'Carranza', 'Carrança', 'Carrasco', 'Carrascoso', 'Carrasquilla', 'Carreno', 'Carrera', 'Carrero', 'Carreta', 'Carreto', 'Carreño', 'Carriedo', 'Carrillo', 'Carrion', 'Cartagena', 'Cartero', 'Caruallo', 'Carvajal', 'Carvallo', 'Carvayo', 'Casa', 'Casablanca', 'Casales', 'Casas', 'Casaus', 'Casaverde', 'Cascante', 'Casco', 'Casera', 'Caseres', 'Casilda', 'Casquiro', 'Casreno', 'Cassafende', 'Castañeda', 'Castaño', 'Castejon', 'Castellana', 'Castellano', 'Castellanos', 'Castellar', 'Castelles', 'Castello', 'Castilla', 'Castillejo', 'Castillo', 'Castillootorgamos', 'Casto', 'Castrillo', 'Castro', 'Castroberde', 'Castroverde', 'Catala', 'Catalan', 'Catalina', 'Catano', 'Catarina', 'Cataño', 'Cathalina', 'Cauallero', 'Cauello', 'Cavallero', 'Cavello', 'Cavila', 'Cayetano', 'Cazalla', 'Cazeres', 'Cazorla', 'Cazquiso', 'Cañete', 'Cañizares', 'Cean', 'Cebrian', 'Cecilia', 'Cedillo', 'Celada', 'Celedon', 'Celidorio', 'Celli', 'Cena', 'Centeno', 'Ceodas', 'Cerda', 'Cerdan', 'Cerdero', 'Cerigo', 'Cerrato', 'Cervantes', 'Cesar', 'Cespedes', 'Cestero', 'Cestra', 'Cetina', 'Chaberri', 'Chacon', 'Chaga', 'Chamizo', 'Chamorro', 'Chances', 'Chasareta', 'Chasaretta', 'Chavarri', 'Chaveri', 'Chaves', 'Chavez', 'Chazzaretta', 'Chica', 'Chico', 'Chinchetru', 'Christo', 'Christobal', 'Christoval', 'Cid', 'Cienfuegos', 'Cifneros', 'Cifuentes', 'Cigala', 'Cipriano', 'Ciprion', 'Cisneros', 'Clara', 'Claramate', 'Claudio', 'Clavijo', 'Clemencia', 'Clemencio', 'Clemente', 'Clossa', 'Coalla', 'Cobarrubias', 'Cobos', 'Coca', 'Coello', 'Coimbra', 'Colarte', 'Colegial', 'Colindres', 'Collado', 'Collantes', 'Colmenares', 'Colombres', 'Colonbres', 'Colonia', 'Coltrera', 'Compañia', 'Conbera', 'Concepcion', 'Concha', 'Conde', 'Conejo', 'Conique', 'Coniques', 'Conrado', 'Constancia', 'Constanza', 'Consuegra', 'Contabarria', 'Contreras', 'Contrerasl', 'Conzepcion', 'Corbartes', 'Corbett', 'Cordero', 'Cordete', 'Cordoba', 'Cordoda', 'Cordoua', 'Corea', 'Corios', 'Cornejo', 'Cornelio', 'Cornexo', 'Coronado', 'Coronel', 'Corpa', 'Corral', 'Corrales', 'Correa', 'Correo', 'Corro', 'Cortabarria', 'Cortaza', 'Cortazar', 'Corte', 'Cortes', 'Cortez', 'Cortina', 'Coruchi', 'Corvaneja', 'Cosar', 'Cosme', 'Costa', 'Cotan', 'Cotaron', 'Couto', 'Coutto', 'Covarubias', 'Crespo', 'Crexensan', 'Criado', 'Crialles', 'Criba', 'Crifostomo', 'Criftoual', 'Crintenero', 'Crisostomo', 'Crispina', 'Cristina', 'Cristo', 'Cristobal', 'Cristoual', 'Cruz', 'Cruzada', 'Cruzate', 'Cuadra', 'Cuadros', 'Cuatrocientos', 'Cubillana', 'Cueba', 'Cuellar', 'Cuentana', 'Cuerno', 'Cuerva', 'Cuesta', 'Cueto', 'Cueva', 'Cuevas', 'Curucelagui', 'Curul', 'Custodio', 'D', 'DAVILA', 'DAVILAJuan', 'DE', 'DEL', 'DELAGADO', 'DELGADO', 'DIAS', 'DIAZ', 'DIEGO', 'DIONISIO', 'DOMINGO', 'DOMINGUEZ', 'DURAN', 'Daca', 'Dalmacio', 'Damas', 'Damaso', 'Damian', 'Damiana', 'Damina', 'Daniel', 'Daniella', 'Daran', 'Dauila', 'Davalos', 'Davila', 'Davilla', 'Daza', 'De', 'Deisas', 'Dejana', 'Dejar', 'Delgado', 'Delque', 'Depezo', 'Deria', 'Deza', 'Dezcurra', 'Dgo', 'Dias', 'Diaz', 'Diazdel', 'Diego', 'Diez', 'Dimas', 'Dinan', 'Dionisia', 'Dionisio', 'Dioniso', 'Dionizio', 'Dios', 'Diso', 'DlAZ', 'Doblado', 'Dominga', 'Domingo', 'Dominguez', 'Donaire', 'Doncla', 'Dongo', 'Doratta', 'Doria', 'Dorma', 'Dorman', 'Dormaza', 'Dorotea', 'Duarte', 'Dueñas', 'Duincuelt', 'Dunquer', 'Duos', 'Dupues', 'Duque', 'Dura', 'Duran', 'Durango', 'Durarte', 'ENRIQUE', 'ENRIQUEZ', 'ERNANDEZ', 'ERRERA', 'ESCALONA', 'ESCHUT', 'ESCHUTT', 'ESCOBAR', 'ESCUT', 'ESPINOSA', 'ESQUIVEL', 'ESTEBAN', 'ESTRADA', 'Echaberri', 'Echabura', 'Echave', 'Echerreria', 'Echeverria', 'Ecijano', 'Eclada', 'Elbira', 'Elegui', 'Elena', 'Eluira', 'Elvara', 'Elvira', 'Embila', 'Eminente', 'Emreynel', 'Encalada', 'Encarnacion', 'Enche', 'Enclada', 'Enderica', 'Enrique', 'Enriques', 'Enriquez', 'Equivel', 'Eraso', 'Escalada', 'Escalante', 'Escalas', 'Escalera', 'Escalona', 'Escaraban', 'Escaraza', 'Escobad', 'Escobar', 'Escobedo', 'Escoto', 'Escotto', 'Escouar', 'Escoval', 'Escribano', 'Escribanos', 'Escuda', 'Escudero', 'Escuderos', 'Escudo', 'Escut', 'Eslande', 'Eslotmans', 'Espada', 'España', 'Espejo', 'Espina', 'Espinal', 'Espinar', 'Espinda', 'Espinera', 'Espino', 'Espinola', 'Espinos', 'Espinosa', 'Esqueda', 'Esquerer', 'Esquibel', 'Esquivel', 'Esquives', 'Estacio', 'Estado', 'Estebaia', 'Esteban', 'Estede', 'Estefania', 'Esteuan', 'Estrada', 'Estrada-', 'Estrella', 'Estrudo', 'Estupiñan', 'Eufemio', 'Eugenia', 'Eugenio', 'Eusebio', 'Eustaqui', 'F', 'FABON', 'FAC', 'FADRIQUE', 'FAIX', 'FAJARDO', 'FALCONJORDAN', 'FALON', 'FAMOL', 'FAMON', 'FAS', 'FAX', 'FAZ', 'FEILPE', 'FELIPE', 'FERAN', 'FERNANDES', 'FERNANDEZ', 'FERNANDEZTORRES', 'FERNANDO', 'FERRADO', 'FFtANCO', 'FIGUEROA', 'FIGUEROATRILLO', 'FLAMOL', 'FLAMON', 'FLORES', 'FONSECA', 'FRANCISCO', 'FRANCO', 'FRANCOLEON', 'FRUTOS', 'FUENTE', 'Fabian', 'Fabiana', 'Fadrique', 'Faix', 'Fajardo', 'Falcanete', 'Falco', 'Falcon', 'Falconete', 'Falla', 'Faloran', 'Fao', 'Farfan', 'Farias', 'Farja', 'Faustina', 'Favian', 'Fax', 'Federegui', 'Federigui', 'Feijo', 'Fel', 'Felguera', 'Felice', 'Feliciana', 'Feliciano', 'Felijo', 'Felipa', 'Felipe', 'Felis', 'Felix', 'Femando', 'Ferazon', 'Fereriqui', 'Ferino', 'Fernan', 'Fernand', 'Fernandes', 'Fernandez', 'Fernando', 'Ferra', 'Ferrandes', 'Ferrara', 'Ferrer', 'Ferrera', 'Feryo', 'Feyjo', 'Fiadores', 'Figueroa', 'Figueroa\x97Andres', 'Figueroa\x97Manuel', 'Figueros', 'Filibante', 'Firma', 'Firmada', 'FirmadaAlonso', 'Firmadamiguel', 'Firman', 'Flamenco', 'Flandes', 'Flessens', 'Flesson', 'Florencia', 'Florencio', 'Flores', 'Florez', 'Florindo', 'Folis', 'Fonseca', 'Fracisco', 'Fraile', 'Francefco', 'Francesca', 'Francisca', 'Francisco', 'Francisco-Pacheco', 'Franco', 'Frano', 'Franolin', 'Franquilo', 'Fray', 'Frechilla', 'Freijo', 'Freijol', 'Frejenal', 'Freyle', 'Fria', 'Frias', 'Fsquibel', 'Fuenmayor', 'Fuentas', 'Fuente', 'Fuentes', 'Fugoso', 'Fulgencia', 'Funes', 'Fustos', 'GABALDON', 'GABRIEL', 'GALAS', 'GALLARDO', 'GARAY', 'GARCIA', 'GARZIA', 'GARZON', 'GASPAR', 'GERMAN', 'GERONIMO', 'GERRA', 'GIJON', 'GODOYCARVAJAL', 'GOMEZ', 'GONZALEZ', 'GRADILLA', 'GREGORIO', 'GUADIX', 'GUARIN', 'GUERRA', 'GUIRAL', 'GUTIERRES', 'GUTIERREZ', 'GUZMAN', 'Gabaldon', 'Gabete', 'Gabino', 'Gabiola', 'Gabriei', 'Gabriel', 'Gabriela', 'Gadea', 'Gago', 'Gainza', 'Gaitan', 'Gala', 'Galan', 'Galardi', 'Galaz', 'Galban', 'Galbes', 'Galderon', 'Galdona', 'Galena', 'Galeotte', 'Galiano', 'Galiardo', 'Galias', 'Galindo', 'Gallaistegui', 'Gallan', 'Gallardo', 'Gallego', 'Gallegos', 'Gallenato', 'Galuiz', 'Galvan', 'Galves', 'Galvez', 'Gamarra', 'Gamaza', 'Gambarte', 'Gamboa', 'Gamero', 'Games', 'Gamez', 'Gande', 'Ganes', 'Garay', 'Garcia', 'Garda', 'Gareja', 'Garido', 'Garin', 'Garlate', 'Garrasin', 'Garrido', 'Garrocho', 'Garsia', 'Garzaran', 'Garzia', 'Garzon', 'Gascola', 'Gaspar', 'Gastracion', 'Gatica', 'Gaudioso', 'Gayoso', 'Gaytan', 'Gaza', 'Gellega', 'Gendicho', 'Geraldo', 'German', 'Geronima', 'Geronimo', 'Geruzo', 'Gijon', 'Gil', 'Gildeano', 'Gillen', 'Gines', 'Ginros', 'Giron', 'Girondo', 'Gladena', 'Goberri', 'Godos', 'Godoy', 'Gomes', 'Gomez', 'Gongora', 'Gonsales', 'Gonzales', 'Gonzalez', 'Gonzalo', 'Gonçalo', 'Gordillo', 'Gouslane', 'Goçales', 'Grabiel', 'Gracia', 'Gracian', 'Grada', 'Gradan', 'Gradilla', 'Grado', 'Graendes', 'Grana', 'Granada', 'Granado', 'Granados', 'Grandal', 'Grande', 'Granillo', 'Granja', 'Grantela', 'Grarcia', 'Gregoria', 'Gregorio', 'Grijalva', 'Grimon', 'Grosa', 'Grrimon', 'Grueso', 'Guadalupe', 'Guadis', 'Guadix', 'Guadiz', 'Guandeola', 'Gudiel', 'Guebara', 'Guejar', 'Guelba', 'Guelles', 'Guera', 'Guerido', 'Guerra', 'Guerrera', 'Guerrero', 'Guersi', 'Guerta', 'Guerte', 'Gueso', 'Guevara', 'Guijarra', 'Guijarro', 'Guillen', 'Guillena', 'Guillenes', 'Guillermo', 'Guillon', 'Guinal', 'Guindal', 'Guindalo', 'Guiomar', 'Guisado', 'Guisante', 'Guizado', 'Guizola', 'Gurez', 'Gurrumendi', 'Gusman', 'Gussano', 'Gutierre', 'Gutierrez', 'Guzman', 'H', 'HAMON', 'HAS', 'HASINTE', 'HENRIQUEZ', 'HEREDIA', 'HEREDIANARBAES', 'HERESUELO', 'HEREZUELO', 'HERNANDEZ', 'HERNANDO', 'HERRERA', 'HERRERAAGUILAR', 'HIDALGO', 'HIERRO', 'HIGUERA', 'HIPOLITO', 'HONORIO', 'HOYA', 'Habania', 'Halcon', 'Haldon', 'Haro', 'Harres', 'Haya', 'Henequin', 'Henrique', 'Henriquez', 'Herant', 'Heras', 'Heredia', 'Herediz', 'Herhardt', 'Hermenegildo', 'Hermengildo', 'Hermosa', 'Hermosilla', 'Hermosillo', 'Hermoso\x97Joan', 'Hernan', 'Hernandez', 'Hernando', 'Herniquez', 'Heronimo', 'Herrados', 'Herrandes', 'Herrera', 'Herrero', 'Hervas', 'Hidalgo', 'Hieran', 'Hieronimo', 'Hierro', 'Higales', 'Higera', 'Higueras', 'Hilario', 'Hinestrosa', 'Hinojosa', 'Hipolita', 'Hipolito', 'Hiraldes', 'Hita', 'Hitta', 'Hoces', 'Hoguen', 'Hojeda', 'Holais', 'Hondarca', 'Hornedo', 'Horosco', 'Horozco', 'Hortis', 'Hozes', 'Huebel', 'Huerta', 'Humanes', 'Humarez', 'Hurtado', 'Huses', 'IGNACIO', 'INENASIUS', 'INTE', 'IPOLITO', 'IRIARTE', 'ISIDRO', 'IV', 'IYNASIO', 'Ibara', 'Ibarburu', 'Ibarquen', 'Ibarra', 'Ibañez', 'Iglesia', 'Iglesias', 'Ignacia', 'Ignacio', 'Ignasio', 'Ihoan', 'Ille', 'Illescas', 'Imperial', 'Inciante', 'Ines', 'Infante', 'Infantes', 'Ingleses', 'Ipenarieta', 'Ipolito', 'Ira', 'Iraun', 'Iriano', 'Iriarte', 'Iriberri', 'Iruan', 'Isabel', 'Isabella', 'Isasi', 'Isidora', 'Isidro', 'Isla', 'Isola', 'Izaguire', 'Izquierdo', 'IÑIGO', 'Iñigo', 'J', 'JACINTO', 'JACOB', 'JACOBS', 'JAN', 'JARAMILLO', 'JERONIMO', 'JIMENEZ', 'JOAN', 'JORDAN', 'JOSE', 'JOSEPH', 'JOSEPHE', 'JOSPEH', 'JOSPEHE', 'JOYA', 'JUAN', 'JUANES', 'JUARES', 'JUAREZ', 'JUHAN', 'JULIAN', 'Jacinta', 'Jacinto', 'Jacobo', 'Jacome', 'Jacon', 'Jacques', 'Jaen', 'Jaime', 'Jamone', 'Jara', 'Jarada', 'Jaramielo', 'Jaspar', 'Jauregui', 'Jaurigui', 'Javier', 'Jeraldo', 'Jerena', 'Jerez', 'Jeron', 'Jeronima', 'Jeronimo', 'Jerquelbout', 'Jesus', 'Jhoan', 'Jiles', 'Jimenez', 'Jines', 'Jiralte', 'Jiron', 'Jironimo', 'Jnan', 'Jno', 'Joachin', 'Joan', 'Joana', 'Joaquin', 'Joben', 'Joesph', 'Jofre', 'Jordan', 'Jorge', 'Jose', 'Josefa', 'Josefe', 'Josefina', 'Joseph', 'Josepha', 'Josephas', 'Josephe', 'Joseps', 'Jospeh', 'Jospeha', 'Josph', 'Jossephe', 'Josue', 'Jove', 'Ju', 'Jua', 'Juam', 'Juan', 'Juana', 'Juanes', 'Juanos', 'Juares', 'Juarez', 'Judice', 'Juli', 'Julia', 'Julian', 'Juliana', 'Julio', 'Jun', 'Junquito', 'Juo', 'Jurado', 'Jurate', 'Jurrado', 'Jusepe', 'Justa', 'Justicio', 'Justina', 'Justino', 'Juy', 'L', 'LA', 'LARA', 'LAS', 'LAUREANO', 'LAZARO', 'LAZO', 'LE', 'LEAL', 'LEANDRO', 'LEJALDE', 'LEON', 'LEONARDO', 'LEONSALCEDO', 'LLANOBALDES', 'LLANOS'

Let's turn this into a dataframe with a column that includes a column for "accepted" tokens, where 1 is a name token and 0 is a dubious token. Let's go ahead and assign a 1 value to those tokens that are in uppercase.

In [10]:
tokens = pd.DataFrame(tokenlist, columns = ['token'])
tokens.loc[tokens['token'].str.isupper(),'is_name']=1

In [11]:
tokens.groupby('is_name').count()

         token
is_name
1.0        572

In [12]:
uppers = tokens.loc[tokens['is_name']==1,'token'].tolist()

In [13]:
uppers

['A',
 'ADRIAN',
 'AFANDOR',
 'AGUILA',
 'AGUILAR',
 'AGUSTIN',
 'AIALA',
 'ALA',
 'ALARCON',
 'ALAVA',
 'ALBERTO',
 'ALCANTEIES',
 'ALCANTUD',
 'ALDRETTE',
 'ALFONSO',
 'ALMANSA',
 'ALMANZA',
 'ALONSO',
 'ALTA',
 'ALTERI',
 'ALVA',
 'ALVAREZ',
 'AMARROSTA',
 'AMARROSTAO',
 'AMBAR',
 'AMBROSIO',
 'ANDRACH',
 'ANDRES',
 'ANGELO',
 'ANTOLINEZ',
 'ANTONIO',
 'APARICIO',
 'ARAGON',
 'ARANA',
 'ARANDA',
 'ARAUS',
 'ARAZ',
 'ARCE',
 'ARCOS',
 'ARENAS',
 'ARENSECALLATRADA',
 'ARIAS',
 'ARIENZACALATRAVA',
 'ARMEDIA',
 'ARRENAS',
 'ARROYO',
 'ARTEAGA',
 'ARTEAGAALFARO',
 'ARTENSE',
 'ARTENSECALATADO',
 'ARTENSECALATRADA',
 'ARTIAGA',
 'ARTIGA',
 'ARUAS',
 'ARZE',
 'ASCENCIO',
 'ASENCIO',
 'ASINTA',
 'ATIENZA',
 'ATIENZACALATRAVA',
 'AVILA',
 'AY',
 'AYALA',
 'B',
 'BAL',
 'BALDEQUIROS',
 'BALDES',
 'BALDEZ',
 'BALLESTEROS',
 'BALTASAR',
 'BALTAZAR',
 'BALTHAZAR',
 'BAN',
 'BANMOL',
 'BARAHONA',
 'BARAONA',
 'BARCO',
 'BARELA',
 'BARONA',
 'BARREDA',
 'BARRERA',
 'BARTOLOME',
 'BASQUEZ',
 'BAUTISTA',
 'BAZQUEZ',
 'BEJARANO',
 'BENJUMEA',
 'BENJUMEDA',
 'BERDUGO',
 'BERGUGO',
 'BERLANGA',
 'BERNABE',
 'BERNAL',
 'BERNARDINO',
 'BERNARDO',
 'BERNAVE',
 'BILLAVICENCIO',
 'BLAS',
 'BOBADILLA',
 'BOMOL',
 'BORJA',
 'BOTELLOS',
 'BOVADILLA',
 'BRABO',
 'BRAVO',
 'BRAÑA',
 'CABALLERO',
 'CABEZA',
 'CABEZAS',
 'CALATRAVA',
 'CALDERON',
 'CALLE',
 'CALVETE',
 'CALVO',
 'CAMACHO',
 'CAMARA',
 'CAMPO',
 'CAMPOBRIN',
 'CAMPOLARGO',
 'CAMPOS',
 'CAMPROBIN',
 'CAMPROVIN',
 'CANCINO',
 'CANSINO',
 'CARABAJAL',
 'CARASCO',
 'CARBAJAL',
 'CARDENAS',
 'CARDOSO',
 'CARLOS',
 'CARMANA',
 'CARO',
 'CARPIO',
 'CARRASCO',
 'CARREÑOMIRANDA',
 'CARRILLO',
 'CARVAJAL',
 'CASALES',
 'CASARES',
 'CASAS',
 'CASTILLO',
 'CASTRILLO',
 'CASTRO',
 'CAZALES',
 'CESAR',
 'CESLAR',
 'CHAMARRO',
 'CHAMORRO',
 'CHICO',
 'CHRISTO',
 'CHRISTOBAL',
 'CIPRIANO',
 'CLEMENTE',
 'COBOS',
 'COCA',
 'COLERA',
 'COLLANTES',
 'CONCA',
 'CONELIO',
 'CONTERAS',
 'CONTRERAS',
 'CORDERO',
 'CORDOBA',
 'CORNEIL',
 'CORNELIO',
 'CORRALES',
 'CORREA',
 'COSME',
 'COUTO',
 'CRESPO',
 'CRISTO',
 'CRISTOBAL',
 'CRONELIO',
 'CRUZ',
 'D',
 'DAVILA',
 'DE',
 'DEL',
 'DELAGADO',
 'DELGADO',
 'DIAS',
 'DIAZ',
 'DIEGO',
 'DIONISIO',
 'DOMINGO',
 'DOMINGUEZ',
 'DURAN',
 'ENRIQUE',
 'ENRIQUEZ',
 'ERNANDEZ',
 'ERRERA',
 'ESCALONA',
 'ESCHUT',
 'ESCHUTT',
 'ESCOBAR',
 'ESCUT',
 'ESPINOSA',
 'ESQUIVEL',
 'ESTEBAN',
 'ESTRADA',
 'F',
 'FABON',
 'FAC',
 'FADRIQUE',
 'FAIX',
 'FAJARDO',
 'FALCONJORDAN',
 'FALON',
 'FAMOL',
 'FAMON',
 'FAS',
 'FAX',
 'FAZ',
 'FEILPE',
 'FELIPE',
 'FERAN',
 'FERNANDES',
 'FERNANDEZ',
 'FERNANDEZTORRES',
 'FERNANDO',
 'FERRADO',
 'FIGUEROA',
 'FIGUEROATRILLO',
 'FLAMOL',
 'FLAMON',
 'FLORES',
 'FONSECA',
 'FRANCISCO',
 'FRANCO',
 'FRANCOLEON',
 'FRUTOS',
 'FUENTE',
 'GABALDON',
 'GABRIEL',
 'GALAS',
 'GALLARDO',
 'GARAY',
 'GARCIA',
 'GARZIA',
 'GARZON',
 'GASPAR',
 'GERMAN',
 'GERONIMO',
 'GERRA',
 'GIJON',
 'GODOYCARVAJAL',
 'GOMEZ',
 'GONZALEZ',
 'GRADILLA',
 'GREGORIO',
 'GUADIX',
 'GUARIN',
 'GUERRA',
 'GUIRAL',
 'GUTIERRES',
 'GUTIERREZ',
 'GUZMAN',
 'H',
 'HAMON',
 'HAS',
 'HASINTE',
 'HENRIQUEZ',
 'HEREDIA',
 'HEREDIANARBAES',
 'HERESUELO',
 'HEREZUELO',
 'HERNANDEZ',
 'HERNANDO',
 'HERRERA',
 'HERRERAAGUILAR',
 'HIDALGO',
 'HIERRO',
 'HIGUERA',
 'HIPOLITO',
 'HONORIO',
 'HOYA',
 'IGNACIO',
 'INENASIUS',
 'INTE',
 'IPOLITO',
 'IRIARTE',
 'ISIDRO',
 'IV',
 'IYNASIO',
 'IÑIGO',
 'J',
 'JACINTO',
 'JACOB',
 'JACOBS',
 'JAN',
 'JARAMILLO',
 'JERONIMO',
 'JIMENEZ',
 'JOAN',
 'JORDAN',
 'JOSE',
 'JOSEPH',
 'JOSEPHE',
 'JOSPEH',
 'JOSPEHE',
 'JOYA',
 'JUAN',
 'JUANES',
 'JUARES',
 'JUAREZ',
 'JUHAN',
 'JULIAN',
 'L',
 'LA',
 'LARA',
 'LAS',
 'LAUREANO',
 'LAZARO',
 'LAZO',
 'LE',
 'LEAL',
 'LEANDRO',
 'LEJALDE',
 'LEON',
 'LEONARDO',
 'LEONSALCEDO',
 'LLANOBALDES',
 'LLANOS',
 'LLANOSBALDES',
 'LLANOSVALDES',
 'LLANOVALDES',
 'LLORENTE',
 'LOPEZ',
 'LORENZO',
 'LORNEZO',
 'LOS',
 'LUCAS',
 'LUCIAN',
 'LUCIANO',
 'LUIS',
 'LUNA',
 'LUSON',
 'LUZON',
 'M',
 'MACHADO',
 'MACIAS',
 'MALABER',
 'MALGAREJO',
 'MALLAVER',
 'MANUEL',
 'MARCOS',
 'MARIN',
 'MARQUEZ',
 'MARTIE',
 'MARTIN',
 'MARTINEZ',
 'MARTINEZDIMAS',
 'MASIAS',
 'MATAMOROS',
 'MATEIOS',
 'MATEO',
 'MATEOS',
 'MATIAS',
 'MEDINA',
 'MEDINABALBUENA',
 'MEDINAVALBUENA',
 'MEJIA',
 'MEJIAS',
 'MELGAREJO',
 'MENA',
 'MENDOZA',
 'MENESES',
 'MENESESOSORIO',
 'MERINO',
 'MESA',
 'MESACRUZ',
 'MIGUEL',
 'MILLAN',
 'MOL',
 'MOLDES',
 'MOLINA',
 'MOMPIAN',
 'MOMPIANBECERRA',
 'MONSADA',
 'MONTALVAN',
 'MONTANO',
 'MONTAÑES',
 'MONTERO',
 'MONTILLA',
 'MONTILLAVERA',
 'MONTOYA',
 'MORALES',
 'MORANTE',
 'MORENO',
 'MORGADO',
 'MORILLO',
 'MORO',
 'MOYNA',
 'MOYNE',
 'MURILLO',
 'MUÑOZ',
 'N',
 'NARAVETE',
 'NARDI',
 'NARVAEZ',
 'NARVAL',
 'NAVARETTE',
 'NAVARRETE',
 'NAVARRO',
 'NEGRON',
 'NEIRA',
 'NEYRA',
 'NICOLAS',
 'NIETA',
 'NIETO',
 'NIETOCASTELLANOS',
 'NISA',
 'NUÑEZ',
 'OCA',
 'ONORIO',
 'OROZCO',
 'ORTEGA',
 'OSORIO',
 'P',
 'PABLO',
 'PACHECO',
 'PALENCIA',
 'PAREDES',
 'PAREDESSALGADO',
 'PARILLA',
 'PARRA',
 'PARRILLA',
 'PASSANO',
 'PAZ',
 'PEDRO',
 'PERDO',
 'PEREA',
 'PEREZ',
 'PINA',
 'PINEDA',
 'PISARO',
 'PISARRO',
 'PIZARRO',
 'POLANCO',
 'PRADILLO',
 'PRIETO',
 'QUIROS',
 'R',
 'RAMIREZ',
 'RAMOS',
 'REVES',
 'REYES',
 'RIBAS',
 'RIBASSANDOVAL',
 'RIBERA',
 'RIES',
 'RIOS',
 'RIOSALCANTUD',
 'RIS',
 'RIVAS',
 'ROBLEDO',
 'RODRIGUEZ',
 'RODRIQUEZ',
 'ROJAS',
 'ROJASVELASCO',
 'ROLDAN',
 'ROMERO',
 'ROPA',
 'ROSA',
 'RUIZ',
 'S',
 'SALAZAR',
 'SALCEDO',
 'SALCEDOBENJUMEA',
 'SALINAS',
 'SALMERON',
 'SALOSSO',
 'SALVADOR',
 'SAMORA',
 'SAMORATORO',
 'SANCHEZ',
 'SANTIAGO',
 'SANTOS',
 'SARACOSA',
 'SARANIEGO',
 'SARATE',
 'SARSOSA',
 'SARSOSSA',
 'SARZOSA',
 'SCHUITT',
 'SCHUT',
 'SCHUTT',
 'SCUT',
 'SCUTT',
 'SEBASTIAN',
 'SEGOVIA',
 'SEGURA',
 'SEVASTIAN',
 'SHUTT',
 'SILVA',
 'SIMON',
 'SM',
 'SOLORSANO',
 'SOLORZANO',
 'SORIANO',
 'SOTO',
 'SUAREZ',
 'SUERO',
 'TAMARIS',
 'TAMARIZ',
 'TASSON',
 'TEJADA',
 'TEJEDA',
 'TEJON',
 'TELLO',
 'TERAN',
 'TERRON',
 'TERRONES',
 'THOMAS',
 'TIRADO',
 'TOBAR',
 'TOMAS',
 'TONTERA',
 'TORIBIO',
 'TORIJIO',
 'TORO',
 'TORRE',
 'TORRES',
 'TREVINO',
 'TRUJILLO',
 'TYRADO',
 'V',
 'VAL',
 'VALBUENA',
 'VALDES',
 'VALDIVIESO',
 'VALENCIA',
 'VALLE',
 'VALLEJO',
 'VAN',
 'VANMOL',
 'VAZQUEZ',
 'VEGA',
 'VELA',
 'VELASCO',
 'VELAZQUEZ',
 'VERA',
 'VERDUGO',
 'VESTIR',
 'VEXARANO',
 'VIENA',
 'VIGUERA',
 'VILLAVICENCIO',
 'VISTAL',
 'VLDES',
 'VME',
 'VOBADILLA',
 'XIII',
 'XIMENEZ',
 'XIV',
 'XXIIII',
 'YGNACIO',
 'YLLARTE',
 'YNASIUS',
 'YRIARTE',
 'YSIDRO',
 'ZAENS',
 'ZAMORA',
 'ZAMORATORO',
 'ZARATE',
 'ZARAZOSA',
 'ZARCOSA',
 'ZARZOSA',
 'ZESAR',
 'ZURBARAN',
 'ZURIETA',
 'ÇURBARAN']

This has identified 572 tokens as acceptable. We can also mark their lowercase equivalents as acceptable.

In [14]:
tokens.loc[tokens['token'].str.upper().isin(uppers),'is_name']=1

In [15]:
tokens.groupby('is_name').count()

         token
is_name
1.0       1253

This has identified 1,253 tokens as acceptable.

In [16]:
len(set(tokens.loc[tokens['is_name']==1,'token'].str.lower().to_list()))

572

In [17]:
strat1 = tokens.loc[tokens['is_name']==1,'token']

strat1.to_csv("Files_Cleaning2/acceptednametokens2_strat1.csv")

A look at the .CSV file reveals that the list seems OK. We allow it to include articles (la, lo, el, los) because at this stage we don't think they should be problematic.

# 2 Creating a list of tokens not in our combined namelists

Other acceptable names may not be in the list of Kinkead tokens. We can rely on tokens from our first and last name lists to be name tokens. (Or, put in other words, we will have reason to suspect tokens not in this list not to be names).

In [18]:
fnames = open('DBE_Names/firstnames.txt')
lnames = open('DBE_Names/lastnames.txt')

In [19]:
names = []

for line in fnames:
    names.append(line.rstrip('\n'))
    
for line in lnames:
    names.append(line.rstrip('\n'))

In [20]:
names = set(names)

In [21]:
names

{'grops',
 'carreras',
 'barsol',
 'bassadona',
 'oleaga',
 'belmonte',
 'marsilio',
 'diaz-bravo',
 'gaver',
 'dorlie',
 'cerecedo',
 'vizcayno',
 'mahoma',
 'bardela',
 'brochero',
 'daoiz',
 'florentino',
 'mazarredo',
 'richarte',
 'romero',
 'beruti',
 'aldazabal',
 'sustaete',
 'aguirre',
 'ablitas',
 'sagaseta',
 'soares',
 'bartolache',
 'ganuza',
 'pini',
 'estuard',
 'creswell',
 'bejes',
 'pedralvares',
 'urria',
 'alava',
 'diustegui',
 'torrecillas',
 'azcueta',
 'cadrecha',
 'crusat',
 'oreitia',
 'isidoro',
 'iturzaeta',
 'lautaro',
 'capo',
 'mayora',
 'eleno',
 'grimau',
 'ondegardo',
 'sagarvinaga',
 'uzqueta',
 'castelli',
 'lombardo',
 'melendez',
 'alas',
 'negrete-gomez',
 'costanzo',
 'o’doyle',
 'molleto',
 'omaña',
 'liedena',
 'verdugo',
 'albin',
 'aliguer',
 'cabrillo',
 'jufre',
 'beaugrant',
 'craywinckle',
 'laserna',
 'astorch',
 'urquijo',
 'azua',
 'burton',
 'belastegui',
 'cock',
 'proust',
 'villarreal',
 'gortari',
 'jaca',
 'archiga',
 'llaudes',
 'alavall',
 'armendia',
 'arroniz',
 'capmany',
 'gouvea',
 'cotes',
 'sotelo',
 'salcamayhua',
 'eraso',
 'artieda',
 'minuart',
 'cavana',
 'leguiçamon',
 'rosal',
 'gerard',
 'alcedo',
 'goujaud',
 'cardador',
 'urrutia',
 'cobos',
 'talfinger',
 'lummen',
 'princi',
 'arquer',
 'gand',
 'cantalapiedra',
 'camilo',
 'victorio',
 'granada',
 'comella',
 'macanaz',
 'olawlor',
 'roget',
 'ceynos',
 'estalella',
 'chilche',
 'mercator',
 'rocco',
 'cristobal',
 'ignacia',
 'perez-calvillo',
 'esguerra',
 'vizcarra',
 'vega',
 'ibero',
 'idiaquez',
 'mascareñas',
 'peredo',
 'doral',
 'marzarraga',
 'truq',
 'riesco',
 'albre',
 'escarras',
 'fernanda',
 'toyos',
 'marcial',
 'arrate',
 'cartro',
 'canseco',
 'escoiquiz',
 'junco',
 'loja',
 'tordehumos',
 'lili-idiaquez',
 'secades',
 'alejo',
 'galeoti',
 'maneiro',
 'eguzquiza',
 'ricardo',
 'daza',
 'berrocal',
 'illanes',
 'olmo',
 'alva',
 'isidra',
 'calello',
 'tadino',
 'cintora',
 'peña',
 'hermiaga',
 'fenix',
 'verano',
 'barraquer',
 'burgueño',
 'cubillas',
 'tejero',
 'venancio',
 'trastamara',
 'villanova',
 'gallarati',
 'alencastre',
 'villamar',
 'tourlon',
 'combes',
 'muesas',
 'vinuesa',
 'gandia',
 'mascardi',
 'talarn',
 'cornelio',
 'araujo',
 'cantelmo',
 'ceria',
 'llave',
 'juste',
 'casola',
 'cuyas',
 'balanzat',
 'peligero',
 'poll',
 'montaguila',
 'morone',
 'niz',
 'castelvi',
 'helt',
 'girona',
 'moral',
 'leyseca',
 'brunswick-wolfenbuttel',
 'crespo',
 'scheppers',
 'valdivia',
 'villacis',
 'fos',
 'munebrega',
 'linage',
 'neyra',
 'merchante',
 'cariñena',
 'pebrer',
 'ruy',
 'montes',
 'terreros',
 'zamudio',
 'tito',
 'pilo',
 'sandoval',
 'teran',
 'larraondo',
 'piet',
 'malli',
 'bentallol',
 'manent',
 'valladoli',
 'mayor',
 'ichazo',
 'mazarino',
 'osma',
 'olate',
 'sangerman',
 'bueno',
 'ochagavia',
 'teijeiro',
 'jean-marie',
 'inestrillas',
 'tornel',
 'andujar',
 'aguiar',
 'daubenton',
 'gauna',
 'pidal',
 'cervi',
 'ayesteran',
 'ruperto',
 'olzinelles',
 'aguila',
 'negri',
 'polledo',
 'hatuey',
 'antuñano',
 'pezzi',
 'funez',
 'castilla',
 'ibar-navarro',
 'loygorri',
 'cortiñas',
 'torralba',
 'caserta',
 'maniau',
 'renaud',
 'william',
 'cortazar',
 'aleman',
 'heinrich',
 'bolaños',
 'guas',
 'santelices',
 'pires',
 'oyuela',
 'dolores',
 'mingot',
 'evaristo',
 'cebreros',
 'peguera',
 'hortun',
 'chicola',
 'reginaldo',
 'giardoni',
 'kane',
 'renard',
 'malet',
 'borrego',
 'lavarces',
 'bermejillo',
 'figaro',
 'longas',
 'ameller',
 'arcos',
 'oton',
 'nicolaus',
 'cernadas',
 'virtus',
 'urrea',
 'paulo',
 'penne',
 'borso',
 'costilla',
 'mosti',
 'lorena-elbeuf',
 'nambayu',
 'sorribas',
 'veytia',
 'lavalle',
 'estaña',
 'cadena',
 'raimondo',
 'portales',
 'munibe',
 'salas-malo',
 'giovani',
 'mencia',
 'berjon',
 'valladolid',
 'ecoz',
 'serafina',
 'montaigut',
 'barraicoa',
 'bernarda',
 'heredia',
 'cregenzan',
 'grassot',
 'quirant',
 'solveira',
 'albiñana',
 'arilla',
 'schetz',
 'causada',
 'ricaurte',
 'sancho',
 'esperanza',
 'cangas',
 'leal',
 'asturiano',
 'yago',
 'villalba-meca',
 'urruela',
 'corominas',
 'dolgas',
 'bayeu',
 'arfe',
 'zaforteza',
 'bonicelli',
 'cristian',
 'serna',
 'tolosana',
 'rechaule',
 'velazco',
 'berasueta',
 'segismundo',
 'juarez',
 'eguaras',
 'sarverri',
 'pierre-ernest',
 'hermes',
 'tutavila',
 'girbal',
 'noronha',
 'enrich',
 'fernan',
 'ceferino',
 'mora',
 'nuceda',
 'tamayo',
 'corral',
 'bustamante',
 'lostal',
 'guillaume-albert',
 'vaz',
 'salvador',
 'abuin',
 'herna',
 'ramondetta',
 'usularre',
 'ubach',
 'zapaca',
 'ilundain',
 'malleza',
 'dulce',
 'corts',
 'filiberto',
 'bermudo',
 'vicente',
 'keating',
 'loreto',
 'barroeta',
 'ebassun',
 'sardeneta',
 'baranda',
 'barrero',
 'guimera',
 'pirolle',
 'aleix',
 'giocacchino',
 'semple',
 'arregui',
 'escoto',
 'lorenz',
 'pedro',
 'osvaldo',
 'victorino',
 'melquiades',
 'courtewille',
 'compludo',
 'armasa',
 'doyle',
 'rifflart',
 'bastonneau',
 'latras',
 'ceriol',
 'claude-francois',
 'joli',
 'feixas',
 'cuerva',
 'natuera',
 'bruselas',
 'michel',
 'ramales',
 'capac',
 'asarau',
 'orell',
 'cornet',
 'panel',
 'badenas',
 'creagh',
 'tiburcia',
 'zapardiel',
 'galindez',
 'ollauri',
 'lobkowitz',
 'venegas',
 'casta-aguilar',
 'baciero',
 'horna',
 'muñoz',
 'cerqueira',
 'tornos',
 'olona',
 'scio',
 'hortigas',
 'fermin',
 'bojadors',
 'vadillo',
 'danvila',
 'estadella',
 'vilaseca',
 'castello',
 'scidiac',
 'moiños',
 'landerri',
 'arnaldo',
 'harriet',
 'albuerne',
 'sagrera',
 'vimercati',
 'cueva',
 'pisador',
 'cambiaso',
 'carrasco',
 'maffey',
 'rivarola',
 'serrallach',
 'vallespinosa',
 'iniesta',
 'mutiloa',
 'docampo',
 'craywinckel',
 'villalengua',
 'xirota',
 'carerac',
 'huascar',
 'seigne',
 'cedo',
 'cansino',
 'campserver',
 'paya',
 'barbara',
 'copola',
 'godin',
 'enciso',
 'eslava',
 'valenzuela',
 'arrais',
 'urries',
 'argañaraz',
 'recax',
 'atahualpa',
 'valdepares',
 'lema',
 'armaña',
 'minuissir',
 'mateos',
 'chucarro',
 'ciorraga',
 'areta',
 'dobrizhoffer',
 'etienne',
 'gabin',
 'inojedo',
 'galeana',
 'capoche',
 'artea',
 'boneo',
 'bocanegra',
 'paravicino',
 'mirabel',
 'arandia',
 'echavarri',
 'puig',
 'wallparrimachi',
 'santjoan',
 'carreira',
 'hoyos',
 'carduchi',
 'milsocors',
 'marchamalo',
 'compañon',
 'porcel',
 'partal',
 'rosas',
 'teres',
 'batistta',
 'valdestairo',
 'gaspard',
 'tineo',
 'gavino',
 'hamen',
 'olleros',
 'centurion',
 'lucientes',
 'jayo',
 'tamarit',
 'chimalpahin',
 'frias',
 'bonamone',
 'castrillon',
 'toma',
 'brujo',
 'cru',
 'borbo',
 'salat',
 'anzorena',
 'muga',
 'hubert',
 'vaguer',
 'belidor',
 'leirens',
 'duarte',
 'azopardo',
 'manjarres',
 'toubes',
 'marcoleta',
 'carner',
 'huelva',
 'clavijo',
 'mahony',
 'campo',
 'carafa',
 'warnes',
 'zacagnini',
 'arnaya',
 'cuenca',
 'quirio',
 'anunciacio',
 'cisniega',
 'funes',
 'triana',
 'sierralta',
 'damian',
 'recarte',
 'rieras',
 'andrevi',
 'freyle',
 'samunde',
 'labarrieta',
 'henriquo',
 'mendarozqueta',
 'barrios',
 'vehena',
 'desboch',
 'dameto',
 'ayguals',
 'narro',
 'jacques',
 'aranibar',
 'galcera',
 'panyo',
 'longecombe',
 'gargallo',
 'meagher',
 'vello',
 'ruata',
 'vozmediano',
 'matheo',
 'escobedo',
 'pano',
 'rute',
 'coello',
 'bento',
 'curupirati',
 'catalina',
 'assolenville',
 'casalete',
 'viguera',
 'cava',
 'forcada',
 'alberro',
 'mendibil',
 'entraigues',
 'miarons',
 'ruth',
 'jordan',
 'melia',
 'villacampa',
 'agurto',
 'garciavela',
 'farnesio',
 'navascues',
 'torquato',
 'bayona',
 'pelayo',
 'corrales',
 'pinilla',
 'berrueco',
 'obertos',
 'dario',
 'fabricio',
 'heras',
 'torrents',
 'jean',
 'terra',
 'augusta',
 'mancisidor',
 'goes',
 'urquiola',
 'pio',
 'seniz',
 'caunedo',
 'lesmes',
 'cascante',
 'ayensa',
 'bay',
 'traugott',
 'arceo',
 'volta',
 'celestino',
 'john',
 'esbarroya',
 'ries',
 'garabit',
 'marsella',
 'carretero',
 'fondevila',
 'auguerolas',
 'irutxa',
 'figueras',
 'orma',
 'deslobbes',
 'ginart',
 'santaren',
 'angele',
 'palau',
 'fabre',
 'gocial',
 'artes',
 'goosens',
 'halcon',
 'sobral',
 'asanza',
 'castelblanco',
 'viu',
 'perez-valiente',
 'eudald',
 'baiges',
 'lluis',
 'roben',
 'julia',
 'epifanio',
 'basilis',
 'iruega',
 'astengo',
 'dubois',
 'godos',
 'magdaleno',
 'moro',
 'esplugas',
 'beldad',
 'ayanz',
 'damant',
 'cortizos',
 'narbona',
 'ercilla',
 'valpuesta',
 'holbeque',
 'espacha',
 'guiral',
 'barca',
 'canel',
 'gennaro',
 'bonpland',
 'berrieza',
 'caudron',
 'gisbert',
 'spes',
 'thevalle',
 'leyza',
 'malaquias',
 'adaro',
 'capeletti',
 'kuhl',
 'araiz',
 'dashorst',
 'jalon',
 'raymundo',
 'barcelon',
 'jaume',
 'azpilcueta',
 'tuella',
 'bolaño',
 'andosilla',
 'benitez',
 'cagigal',
 'rondon',
 'ipeñarrieta',
 'maroja',
 'correa',
 'alday',
 'comino',
 'grimosachs',
 'tremoille',
 'gorraiz',
 'hagenbach',
 'bordazar',
 'sotos',
 'sallent',
 'amberes',
 'restan',
 'avalle',
 'riberos',
 'sobralde',
 'garziga',
 'solera',
 'herck',
 'braganz',
 'feijoo',
 'langa',
 'casilda',
 'iraizoz',
 'mallol',
 'ituño',
 'patron',
 'conejo',
 'oregon',
 'castellanos',
 'ausa',
 'liciniana',
 'ranz',
 'moureau',
 'arroita',
 'rosell',
 'budejo',
 'erdocia',
 'cantallops',
 'escoriaza',
 'osorez',
 'rocafull',
 'guiraldez',
 'montenegro',
 'baro',
 'vico',
 'chamorro',
 'argueta',
 'ciurana',
 'persia',
 'abduladin',
 'hungria',
 'cob',
 'argaez',
 'lucen',
 'bover',
 'mange',
 'balenzegui',
 'lavedan',
 'decio',
 'ulman',
 'moragues',
 'torres',
 'zacarias',
 'doray',
 'hoyer',
 'gurras',
 'necochea',
 'josse',
 'furnari',
 'virrey',
 'selomoh',
 'albariño',
 'ceres',
 'consuegra',
 'vilchez',
 'lubiano',
 'pancaldo',
 'embiz',
 'do',
 'sas',
 'junquer',
 'santalinea',
 'sousa',
 'montserrat',
 'abul',
 'lascurain',
 'al-hayari',
 'elorduy',
 'ferrufino',
 'hazen',
 'homar',
 'izaguirre',
 'berart',
 'valderrama',
 'gradilla',
 'donadeu',
 'salizanes',
 'veramendi',
 'frayse',
 'savelli',
 'ariza',
 'beyria',
 'omul-rian',
 'boteller',
 'mallea',
 'burgos',
 'rosso',
 'calderon',
 'formento',
 'kresa',
 'monsalve',
 'tolra',
 'monleon',
 'villadiego',
 'casillas',
 'azcuenaga',
 'luarca',
 'connoch',
 'bebecolarrea',
 'vitas',
 'moran',
 'ameijeiras',
 'gleu',
 'elejalde',
 'nassarre',
 'acosta',
 'yturgoyen',
 'malpartida',
 'descartin',
 'pacs-fuster',
 'matellano',
 'policena',
 'carvajal',
 'aravalles',
 'moreto',
 'dalentorn',
 'jiron',
 'sormani',
 'horobio',
 'palarea',
 'campero',
 'pando',
 'grandi',
 'llorente',
 'roura',
 'orleans',
 'mompox',
 'candel',
 'sinibaldo',
 'ciceron',
 'hezeta',
 'apodaca',
 'von',
 'stuyck',
 'gazella',
 'veciana',
 'torron',
 'insaurralde',
 'sidonia',
 'frosne',
 'cavarte',
 'sabau',
 'salamanca',
 'tauste',
 'revel',
 'carrasquedo',
 'colmenero',
 'faez',
 'manosalvas',
 'sanisidro',
 'helena',
 'londoño',
 'olondriz',
 'azcona',
 'larreategui',
 'aduart',
 'breña',
 'conrado',
 'donato',
 'massanet',
 'felix',
 'hoppensack',
 'coto',
 'feria',
 'gabriel',
 'naharro',
 'gortazar',
 'matas',
 'romagosa',
 'tueros',
 'tulio',
 'sedeño',
 'laviña',
 'avello',
 'casati',
 'berton',
 'cavero',
 'carrandi',
 'millet',
 'viamont',
 'chindurza',
 'manero',
 'lopez',
 'chaburu',
 'jureba',
 'ponzoa',
 'arriete',
 'bastons',
 'tudor',
 'echauz',
 'verdin',
 'amparo',
 'azcue',
 'cecili',
 'cabello',
 'tisquesura',
 'roncali',
 'doyague',
 'riva-herrera',
 'alberto',
 'ocampo',
 'andrea',
 'cendeja',
 'claver',
 'caminals',
 'bienvengud',
 'forment',
 'fournas',
 'mccarthy',
 'millis',
 'bañales',
 'villena',
 'interian',
 'witte',
 'guirao',
 'davalos',
 'lue',
 'peñafiel',
 'barberan',
 'pulgar',
 'arguelles',
 'ardila',
 'corriol',
 'adriaen',
 'anchieta',
 'valentini',
 'mayoral',
 'settala',
 'dordal',
 'cabezudo',
 'banqueri',
 'francico',
 'campos',
 'campoblanco',
 'jerica',
 'riomol',
 'alzaibar',
 'suelves',
 'alagon',
 'almodovar',
 'saubidet',
 'diz',
 'garnica',
 'leonor',
 'poggio',
 'ramona',
 'lorenza',
 'estivada',
 'sofonisba',
 'chiriboga',
 'gayangos',
 'alcubierre',
 ...}

In [22]:
len(names)

10005

Above, we have created one set of unique names from both our first names and last names file, no overlap. Note that these are all lowercase.

Next, let's find the difference between this list and our tokens found above.

In [23]:
tokens.loc[tokens['token'].str.lower().isin(names),'is_name']=1

In [24]:
tokens.groupby('is_name').count()

         token
is_name
1.0       3171

In [25]:
len(tokens)

6692

So far, we have managed to mark 3,171 tokens as reliable names from a list of 6,692. 3,521 remain unaccounted for.

In [26]:
len(set(tokens.loc[tokens['is_name']==1, 'token'].str.lower().to_list()))

1928

Of these, 1,928 are unique if lowercased.

In [24]:
dubioustokens = tokens.loc[tokens['is_name']!=1,'token'].to_list()

In [25]:
print(dubioustokens)

['-', '--', '--Nino', '--de', '-basco', '-gaspar', '-geronimo', '-luisa', '-ndo', '-vasco', '2-', '20', '481', 'Abaasquita', 'Abaco', 'Abadesa', 'Abaeu', 'Abalos', 'Abdina', 'Abedaria', 'Abendaria', 'Abrego', 'Abril', 'Abrue', 'Abueda', 'Academia', 'Acauna', 'Acencion', 'Acenfio', 'Acensio', 'Acerdian', 'Acisclos', 'Acle', 'Acolina', 'Acosser', 'Acuna', 'Adallo', 'Afanador', 'Agilon', 'Agua', 'Aguiere', 'Aguillar', 'Aguire', 'Agustino', 'Aillon', 'Alaras', 'Alarcon\x97Simon', 'Alariz', 'Alavarre', 'Albarada', 'Albarado', 'Albardo', 'Albardon', 'Albares', 'Albarez', 'Albaro', 'Albarran', 'Alber', 'Albero', 'Alberta', 'Alca', 'Alcala', 'Alcega\x97Franco', 'Alcina', 'Alcor', 'Alcosser', 'Aldape', 'Aleantara', 'Alegro', 'Aleola', 'Alexandro', 'Alfian', 'Alfonsa', 'Alhondiga', 'Alicante', 'Alina', 'Alja', 'Allendano', 'Alma', 'Almança', 'Almao', 'Almario', 'Almas', 'Almedo', 'Almonacir', 'Almonarir', 'Almoneria', 'Almonte', 'Alo', 'Alonfo', 'Alonsa', 'Alonsso', 'Alphonsa', 'Alrecon', 'Alsega', 'Alsicolla', 'Alsola', 'Altamirrano', 'Altar', 'Altas', 'Altopica', 'Alua', 'Alvan', 'AlvarezE', 'Alvira', 'Alyne', 'Alº', 'Amao', 'Amaro', 'Amayo', 'Amides', 'Anales', 'Anamaria', 'Anbachts', 'Andana', 'Andion', 'Anduxar', 'Anenas', 'Anhular', 'Anion', 'Anteçana', 'Antto', 'Antunes', 'Anudo', 'Anxela', 'Anziano', 'Apans', 'Aparcio', 'Aqua', 'Aquelman', 'Ara', 'Aramburo', 'Aramos', 'Arangurede', 'Araqume', 'Arazola', 'Arbuscody', 'Arcadio', 'Arcediano', 'Arcegani', 'Arebalo', 'Areguas', 'Aremo', 'Areno', 'Arespe', 'Arestui', 'Arfian', 'Argadona', 'Argames', 'Argia', 'Arguela', 'Arguelo', 'Argunedo', 'Aria', 'Arieta', 'Ariola', 'Arispe', 'Arjuez', 'Arma', 'Armejo', 'Armente', 'Armido', 'Aro', 'Arranegui', 'Arriaga\x97Luis', 'Arrias', 'Arriba', 'Artemio', 'Artifice', 'Arzobispo', 'Arzovispo', 'Ascarate', 'Ascarza', 'Ast', 'Atanacio', 'Ataraque', 'Aubri', 'Audalla', 'Augustina', 'Auila', 'Aunon', 'Auto', 'Autografo', 'Autografo\x97', 'Autos', 'Avete', 'Aviendose', 'Aycona', 'Aygo', 'Ayllan', 'Ayssa', 'Azalidallo', 'Azenedo', 'Ba', 'Babia', 'Bacarrel', 'Bacca', 'Badaraco', 'Badillo', 'Baeça', 'Baias', 'Bajo', 'Balcarses', 'Balder--', 'Balduc', 'Balencian', 'Balera', 'Baleros', 'Balfacon', 'Baliente', 'Balladare', 'Balladares', 'Ballejo', 'Balles', 'Balon', 'Baltanel', 'Balthasar', 'Banbelle', 'Banco', 'Banfraet', 'Banuelos', 'Bao', 'Barbaran', 'Barcansel', 'Bardia', 'Barera', 'Barete', 'Barietos', 'Baron', 'Barragan', 'Barrao', 'Barrete', 'Barro', 'Bartholome', 'Barue', 'Basconcelos', 'Basileo', 'Baslientos', 'Bastan', 'Bastardo', 'Bastas', 'Bastilleros', 'Bastos', 'Batatano', 'Batellos', 'Bauchel', 'Bauptista', 'Bautismo', 'Beana', 'Beatris', 'Beces', 'Bega', 'Begadi', 'Begaro', 'Bejines', 'Belares', 'Belarte', 'Belero', 'Bellarte', 'Belloso', 'Beltanel', 'Beltrano', 'Belzere', 'Bemal', 'Benaberte', 'Benefdo', 'Beneficiado', 'Beneficiados', 'Benega', 'Benites', 'Benitos', 'Benuenucto', 'Benuenuto', 'Benvenuto', 'Bera', 'Berdiel', 'Berdo', 'Beretente', 'Bergara', 'Beri', 'Bermondo', 'Bermudes', 'Bermundo', 'Bernaldino', 'Bernando', 'Bernuda', 'Berobia', 'Berrospe', 'Beruenquel', 'Besere', 'Bet', 'Betancor', 'Betis', 'Bezerra', 'Bias', 'Bicente', 'Bien', 'Biere', 'Bilches', 'Bilchez', 'Billapor', 'Billegas', 'Biller', 'Biquera', 'Birues', 'Biscarra', 'Bitaben', 'Bitero', 'Blaceo', 'Blanquet', 'Blascoen', 'Blasina', 'Blasquez', 'Bme', 'Bobadillo', 'Bogueles', 'Bojorquez', 'Bolanos', 'Bolante', 'Boldoque', 'Bolsa', 'Bordoque', 'Borio', 'Bormes', 'Bormio', 'Borques', 'Borte', 'Bos', 'Bosello', 'Bovis', 'Bozomo', 'Bredembeque', 'Bricio', 'Brigida', 'Brizeño', 'Brunenque', 'Bruñete', 'Bta', 'Buenabentura', 'Buenrostro', 'Bulgo', 'Buraran', 'Burch', 'Bustamente', 'COUTOdieron', 'COUTsic', 'Caballo', 'Cabanos', 'Cabañuela', 'Cabera', 'Cabilles', 'Caftilla', 'Calaverde', 'Calblllo', 'Calbo', 'Calcada', 'Calco', 'Caloña', 'Calus', 'Calvente', 'Calvijo', 'Calzado', 'Calçada', 'Camargas', 'Camian', 'Camila', 'Campania', 'Campaña', 'Campoverde', 'Campoviejo', 'Camucho', 'Camunos', 'Canalles', 'Cancagorta', 'Cancelas', 'Candaraes', 'Canisares', 'Canise', 'Cannillo', 'Canpania', 'Cansos', 'Cant', 'Cantillejo', 'Capitan', 'Capote', 'Carasquila', 'Carasquilla', 'Caravajal', 'Caravallo', 'Caraza', 'Carbera', 'Cardena', 'Cardenal', 'Careaga', 'Caribalo', 'Carillo', 'Carion', 'Caritate', 'Carmelita', 'Caron', 'Carona', 'Carransa', 'Carrança', 'Carrascoso', 'Carreno', 'Carreta', 'Cartero', 'Caruallo', 'Carvayo', 'Casa', 'Casablanca', 'Casaverde', 'Casera', 'Caseres', 'Casquiro', 'Casreno', 'Cassafende', 'Castellana', 'Castelles', 'Castillootorgamos', 'Castroberde', 'Catano', 'Cathalina', 'Cauallero', 'Cauello', 'Cavello', 'Cavila', 'Cazeres', 'Cazorla', 'Cazquiso', 'Celedon', 'Celidorio', 'Celli', 'Cena', 'Ceodas', 'Cerdero', 'Cerigo', 'Cestero', 'Cestra', 'Chaberri', 'Chaga', 'Chamizo', 'Chances', 'Chasareta', 'Chasaretta', 'Chaveri', 'Chazzaretta', 'Christoval', 'Cifneros', 'Ciprion', 'Claramate', 'Clemencio', 'Clossa', 'Cobarrubias', 'Coimbra', 'Colegial', 'Colindres', 'Colonbres', 'Coltrera', 'Compañia', 'Conbera', 'Conique', 'Coniques', 'Constancia', 'Contabarria', 'Contrerasl', 'Conzepcion', 'Corbartes', 'Corbett', 'Cordete', 'Cordoda', 'Cordoua', 'Corea', 'Corios', 'Cornexo', 'Correo', 'Cortaza', 'Cortez', 'Coruchi', 'Corvaneja', 'Cosar', 'Cotaron', 'Coutto', 'Covarubias', 'Crexensan', 'Crialles', 'Criba', 'Crifostomo', 'Criftoual', 'Crintenero', 'Crispina', 'Cristoual', 'Cruzada', 'Cruzate', 'Cuadros', 'Cuatrocientos', 'Cueba', 'Cuentana', 'Cuerno', 'Curucelagui', 'Curul', 'DAVILAJuan', 'Daca', 'Dalmacio', 'Damiana', 'Damina', 'Daniella', 'Daran', 'Dauila', 'Davilla', 'Deisas', 'Dejana', 'Dejar', 'Delque', 'Depezo', 'Deria', 'Dezcurra', 'Dgo', 'Diazdel', 'Dinan', 'Dioniso', 'Dionizio', 'Diso', 'DlAZ', 'Doblado', 'Donaire', 'Doncla', 'Doratta', 'Dorma', 'Dorman', 'Dormaza', 'Dorotea', 'Duincuelt', 'Dunquer', 'Duos', 'Dupues', 'Dura', 'Durarte', 'Echaberri', 'Echabura', 'Echerreria', 'Ecijano', 'Eclada', 'Elbira', 'Elegui', 'Eluira', 'Elvara', 'Embila', 'Emreynel', 'Enche', 'Enclada', 'Enderica', 'Enriques', 'Equivel', 'Escalas', 'Escaraban', 'Escaraza', 'Escobad', 'Escotto', 'Escouar', 'Escoval', 'Escribanos', 'Escuda', 'Escudo', 'Eslande', 'Eslotmans', 'España', 'Espinda', 'Espinera', 'Esqueda', 'Esquerer', 'Esquibel', 'Esquives', 'Estacio', 'Estado', 'Estebaia', 'Estede', 'Esteuan', 'Estrada-', 'Estrudo', 'Eufemio', 'Eustaqui', 'FFtANCO', 'Falcanete', 'Faloran', 'Fao', 'Farias', 'Farja', 'Faustina', 'Favian', 'Federegui', 'Feijo', 'Fel', 'Felijo', 'Felis', 'Femando', 'Ferazon', 'Fereriqui', 'Ferino', 'Fernand', 'Ferra', 'Ferrandes', 'Ferrara', 'Feryo', 'Feyjo', 'Fiadores', 'Figueroa\x97Andres', 'Figueroa\x97Manuel', 'Figueros', 'Filibante', 'Firma', 'Firmada', 'FirmadaAlonso', 'Firmadamiguel', 'Firman', 'Flamenco', 'Flessens', 'Flesson', 'Folis', 'Fracisco', 'Francefco', 'Francesca', 'Francisco-Pacheco', 'Frano', 'Franolin', 'Franquilo', 'Freijo', 'Freijol', 'Frejenal', 'Fria', 'Fsquibel', 'Fuentas', 'Fugoso', 'Fulgencia', 'Fustos', 'Gabete', 'Gabiola', 'Gabriei', 'Gago', 'Galardi', 'Galbes', 'Galderon', 'Galdona', 'Galena', 'Galeotte', 'Galiano', 'Galiardo', 'Galias', 'Gallaistegui', 'Gallan', 'Gallenato', 'Galuiz', 'Galves', 'Gamaza', 'Gambarte', 'Gamero', 'Games', 'Gande', 'Ganes', 'Garda', 'Gareja', 'Garido', 'Garin', 'Garlate', 'Garrasin', 'Garrocho', 'Garsia', 'Garzaran', 'Gascola', 'Gastracion', 'Gaza', 'Gellega', 'Gendicho', 'Geraldo', 'Geruzo', 'Gildeano', 'Gillen', 'Ginros', 'Girondo', 'Gladena', 'Goberri', 'Gonsales', 'Gonzales', 'Gouslane', 'Goçales', 'Grabiel', 'Grada', 'Gradan', 'Graendes', 'Grana', 'Grandal', 'Granillo', 'Granja', 'Grantela', 'Grarcia', 'Grosa', 'Grrimon', 'Grueso', 'Guadis', 'Guadiz', 'Guandeola', 'Guebara', 'Guelba', 'Guelles', 'Guera', 'Guerido', 'Guerrera', 'Guersi', 'Guerta', 'Guerte', 'Gueso', 'Guijarra', 'Guillena', 'Guillenes', 'Guinal', 'Guindal', 'Guindalo', 'Guisado', 'Guisante', 'Guizado', 'Guizola', 'Gurez', 'Gurrumendi', 'Gusman', 'Gussano', 'Habania', 'Haldon', 'Harres', 'Henequin', 'Herant', 'Herediz', 'Herhardt', 'Hermengildo', 'Hermoso\x97Joan', 'Herniquez', 'Heronimo', 'Herrados', 'Herrandes', 'Hieran', 'Hieronimo', 'Higales', 'Higera', 'Hiraldes', 'Hitta', 'Hoguen', 'Holais', 'Hondarca', 'Hornedo', 'Horosco', 'Hortis', 'Hozes', 'Huebel', 'Humarez', 'Huses', 'Ibara', 'Ibarburu', 'Ibarquen', 'Ignasio', 'Ihoan', 'Ille', 'Inciante', 'Infantes', 'Ingleses', 'Ipenarieta', 'Ira', 'Iraun', 'Iriano', 'Iruan', 'Isidora', 'Isola', 'Izaguire', 'Jacon', 'Jamone', 'Jarada', 'Jaramielo', 'Jaspar', 'Jaurigui', 'Jeraldo', 'Jerena', 'Jeron', 'Jerquelbout', 'Jhoan', 'Jines', 'Jiralte', 'Jironimo', 'Jnan', 'Jno', 'Joachin', 'Joesph', 'Josefe', 'Josepha', 'Josephas', 'Joseps', 'Jospeha', 'Josph', 'Jossephe', 'Josue', 'Ju', 'Jua', 'Juam', 'Juanos', 'Juli', 'Jun', 'Junquito', 'Juo', 'Jurate', 'Jurrado', 'Justicio', 'Justina', 'Juy', 'Labonio', 'Labor', 'Labrare', 'Laca', 'Ladros', 'Lagares', 'Laino', 'Lais', 'Lamogar', 'Lamperez', 'Landaver', 'Languazer', 'Laque', 'Laravalle', 'Larda', 'Largo', 'Laride', 'Larrio', 'Larzca', 'Lasas', 'Latencio', 'Lateral', 'Latesa', 'Laureana', 'Lavera', 'Laxas', 'Laynes', 'Ldo', 'Leandrada', 'Legala', 'Legarbura', 'Legot', 'Legote', 'Legott', 'Lemena', 'Lendines', 'Leonarda', 'Leonisio', 'Leoniçio', 'Leonora', 'Lermal', 'Liano', 'Libano', 'Libera', 'Licendo', 'Licht', 'Linan', 'Linar', 'Lisana', 'Lizama', 'Llera', 'Logroño', 'Longerot', 'Lonsero', 'Lopa', 'Lopano', 'Lopera', 'Lopez\x97', 'Lorenso', 'Lorenço', 'Loro', 'Lorrio', 'Losano', 'Louque', 'Lovillo', 'Loyaeta', 'Loys', 'Luareano', 'Lucente', 'Lucera', 'Lunan', 'Lursuriaga', 'Lusando', 'Lusia', 'MARTINEZnos', 'MEJlA', 'Ma', 'Maceda', 'Machucha', 'Madero', 'Madrial', 'MaedaEl', 'Maefe', 'Maeftro', 'Maese', 'Maguez', 'Maguilan', 'Maior', 'Majada', 'Malada', 'Malaves', 'Malber', 'Managa', 'Manara', 'Mancheño', 'Mancosa', 'Manito', 'Mano', 'Manriquez', 'Mansano', 'Mantin', 'Manzanilla', 'Manzera', 'Mara', 'Marbagon', 'Marcalde', 'Marcha', 'Marchan', 'Marias', 'Marios', 'Marito', 'Marlesi', 'Maron', 'Marquesa', 'Marqueses', 'Martaga', 'Martha', 'Martin\x97Gaspar', 'Masada', 'Maseda', 'Maso', 'Mason', 'Matencio', 'Matheos', 'Matheso', 'Mathia', 'Matieno', 'Matta', 'Matthias', 'Maxtu', 'Mayllo', 'Mayoria', 'Mazuela', 'Mañan', 'Mechor', 'Mecia', 'Medariaga', 'Medays', 'Media', 'Medida', 'Medie', 'Medil', 'Medina-Sidonia', 'Medinabla', 'Megia', 'Melado', 'Melchora', 'Men', 'Menada', 'Mendosa', 'Mendriaga', 'Meneos', 'Merchan', 'Mercier', 'MesaSe', 'Messa', 'Micergilio', 'Michaela', 'Micon', 'Miguela', 'Mijancas', 'Millon', 'Minaiz', 'Mingues', 'Mnez', 'Mocade', 'Mon-', 'Monbritte', 'Mondi', 'Moneada', 'Monero', 'Monica', 'Monroe', 'Monrroi', 'Monsalbe', 'Monsalves', 'Montalabo', 'Montaluan', 'Montañes\x97100', 'MontañezSignada', 'Montedoy', 'Montedoza', 'Montefinos', 'Montejer', 'Monterda', 'Montesdaca', 'Montezdoca', 'Montingre', 'Monton', 'Monzerrate', 'Moracho', 'Morales\x97franco', 'Morano', 'Morans', 'Moreda', 'Morellon', 'Morilla', 'Morin', 'Morua', 'Motesdaco', 'Moxon', 'Mozan', 'Mro', 'Mugaburu', 'Muriana', 'Muys', 'Nabaro', 'Nabarrete', 'Nabia', 'Nanziba', 'Naranjo', 'Naravez', 'Narbaes', 'Narbaez', 'Narvaes', 'Natera', 'Natranjo', 'Nauas', 'Navalla', 'Navarez', 'Navaro', 'Nazera', 'Neberos', 'Negra', 'Nestare', 'Nevada', 'Neves', 'Niceforo', 'Nicodemus', 'Niculas', 'Nievos', 'Niseforia', 'Niseforio', 'Niseforo', 'Niverto', 'Nobela', 'Noceda', 'Nogren', 'Nolda', 'Noregon', 'Norena', 'Noseda', 'Novela', 'Nubes', 'Nuestra', 'Nufio', 'Nufria', 'Nufrio', 'Nufro', 'Nusete', 'Nuñes', 'Obiedo', 'Obila', 'Obispo', 'Obsina', 'Ocan', 'Ocano', 'Ocanpo', 'Ocha', 'Ochandi', 'Ochandia', 'Ochasareta', 'Ochea', 'Oforno', 'Ojedo', 'Ojero', 'Olache', 'Olaches', 'Olaeta', 'Olanches', 'Olasen', 'Olayrola', 'Oliuares', 'Olivos', 'Omazur', 'Omnium', 'Onbigoze', 'Ondarte', 'Ondarzal', 'Ondero', 'Onesco', 'Onesti', 'Onigo', 'Onofrio', 'Orden', 'Ordiales', 'Orellan', 'Orellano', 'Oretano', 'Oreutia', 'Orisal', 'Oros', 'Orozquez', 'Orteaga', 'Ortelano', 'Ortenegra', 'Orti', 'Ortigosa', 'Ortigoza', 'Ortis', 'Osario', 'Osinaga', 'Otton', 'Ouido', 'Ouiedo', 'Ourana', 'Overra', 'Padial', 'Padre', 'Pafecto', 'Paiba', 'Paisoles', 'Palazios', 'Palomes', 'Palomia', 'Palomita', 'Panejo', 'Panyagua', 'Paradas', 'Parales', 'Paralta', 'Parcia', 'Parecio', 'Parexa', 'Parias', 'Parrafranco', 'Parrillo', 'Pasion', 'Pastrana', 'Patino', 'Patricia', 'Patrilo', 'Paves', 'Payba', 'Pedemontte', 'Pedia', 'Pedrozo', 'Pelaes', 'Pelear', 'Pelicer', 'Pelters', 'Peltres', 'Pena', 'Peras', 'Peraya', 'Perca', 'Pereanes', 'Perjargo', 'Perralba', 'Perz', 'Pesatierra', 'Peso', 'Pesquel', 'Pessoa', 'Pestierra', 'Petronilla', 'Philipe', 'Picaro', 'Pieragullano', 'Pierogullano', 'Pieterz', 'Pila', 'Pimenttel', 'Pinares', 'Pineda-', 'Pineday', 'Pinero', 'Pinta', 'Piti', 'Pizarra', 'Pizon', 'Playns', 'Pluyms', 'Pluyns', 'Pobea', 'Pobeda', 'Ponse', 'Pontifice', 'Ponze', 'Pora', 'Porasco', 'Porra', 'Porrez', 'Porsi', 'Portel', 'Portello', 'Portilo', 'Posso', 'Postillo', 'Povede', 'Pozi', 'Prados', 'Pren', 'Presbitero', 'Presbiteros', 'Presentacion', 'Presentador', 'Presiada', 'Presuitero', 'Presvitero', 'Prevendado', 'Primeramente', 'Probisor', 'Prouisor', 'Prouor', 'Prousor', 'Provor', 'Publico', 'Publico\x97Juan', 'Puesta', 'Pulgarin', 'Pumares', 'Puya', 'Quadro', 'Quejada', 'Querencia', 'Quertas', 'Queviejo', 'Quiras', 'Quiteria', 'Rabarro', 'Racionero', 'Raes', 'Ragel', 'Rages', 'Ragis', 'Raideder', 'Rajes', 'Ramayo', 'Ramera', 'Ramires', 'Ramudo', 'Ranero', 'Raphaela', 'Rasionero', 'Raton', 'Ravancho', 'Raymaquer', 'Reber', 'Recade', 'Redaño', 'Redio', 'Redon', 'Reduando', 'Refis', 'Regajal', 'Regente', 'Reimundo', 'Reinosso', 'Reliada', 'Rema', 'Remade', 'Remalez', 'Repatero', 'Residente', 'Resio', 'Resta--', 'Resurecion', 'Retana', 'Rete', 'Retor', 'Rettuertta', 'Rey', 'Reymundo', 'Reynal', 'Reynalte', 'Reynel', 'Reyz', 'RfOS', 'Ribadeniera', 'Ribadenyra', 'Ribafelcha', 'Ribara', 'Riberdi', 'Riberol', 'Riero', 'Riguel', 'Rinquel', 'Riquel', 'Riscos', 'Rismendi', 'Riuas', 'Riuera', 'Riuero', 'Riveras', 'RlES', 'Roano', 'Robanejo', 'Rochero', 'Rocoforte', 'Rodero', 'Rodeu', 'Roela', 'Roesti', 'Rogel', 'Roguera', 'Roja', 'Rolleto', 'RomanEn', 'Romas', 'Romualda', 'Rondan', 'Roques', 'Roqueta', 'Ror', 'Rosada', 'Rosel', 'Rostro', 'Roxas', 'Roxo', 'Roys', 'Ruasal', 'Ruben', 'Rubines', 'Ruder', 'Ruela', 'Ruelas', 'Rufina', 'Ruis\x97franco', 'Rut', 'Ruvio', 'Ruys', 'Ruyz', 'SSez', 'Sab', 'Sabanza', 'Sabariego', 'Sabastiana', 'Sabriana', 'Sachez', 'Saens', 'Sagasta', 'Saitores', 'Salafranco', 'Salbador', 'Salbea', 'Salbiche', 'Salcedosausedo', 'Salcedouna', 'Salces', 'Saldana', 'Salero', 'Salguez', 'Salsedo', 'Salsedo\x97Diego', 'Saltillo', 'Salto', 'Saluador', 'Salvadora', 'Salzedo', 'Sambrano', 'Sameta', 'Samiedo', 'Sampaco', 'Sampayo', 'Samra', 'Samudio', 'San', 'Sanaria', 'Sanbarte', 'Sanbitoret', 'Sanbrano', 'Sanctorum', 'Sandobal', 'Sanguino', 'Santa', 'SantistebanPartida', 'Santo', 'Santofincia', 'Sanvarte', 'Sarayn', 'Sarcilla', 'Sarebes', 'Sarehir', 'Sares', 'Sarte', 'Sartien', 'Sarzoza', 'Savala', 'Saya', 'Sa\x97Fernan', 'Schuren', 'Seba', 'Sebarillo', 'Seberino', 'Seco', 'Sedemonte', 'Sedma', 'Seferino', 'Seiba', 'Sena', 'Sendo', 'Sepeda', 'Sepulbeda', 'Serabe', 'Serabia', 'Serrera', 'Serrero', 'Seta', 'Seuastian', 'Seuerino', 'Sevilla\x97Juan', 'Sevilla\x97Pedro', 'Señor', 'Señora', 'Señores\x97Benvenuto', 'Señoria', 'Shez', 'Sibores', 'Sigato', 'Siguen', 'Sigura', 'Silba', 'Silbestre', 'Silua', 'Simoins', 'Simonel', 'Sinajez', 'Siron', 'Sita', 'Soberano', 'Sohenone', 'Soldan', 'Solia', 'Solo', 'Solorcani', 'Sonen', 'Sopriarta', 'Sopuerta', 'Sor', 'Sorqueza', 'Sossa', 'Sotes', 'Sotomayo', 'Sr', 'Stacio', 'Steuan', 'Suares', 'Suarte', 'Sueldo', 'Sugadi', 'Sugura', 'Sumeta', 'Surita', 'Sutigo', 'Tabera', 'Talaberano', 'Talvera', 'Tamares', 'Tamaro', 'Tao', 'Tapis', 'Tarifa', 'Taronque', 'Tasara', 'Tason', 'Tazon', 'Teba', 'Tejado', 'Tella', 'Teniente', 'Teodomino', 'Teodora', 'Teroro', 'Terrin', 'Testigos', 'Tevra', 'Thasa', 'Theresa', 'Thome', 'Thoribio', 'Thorobio', 'Tiago', 'Tiberio', 'Tibino', 'Tiburacio', 'Tirado\x97Francisco', 'Tiscareño', 'Tocha', 'Todera', 'Tol', 'Tondero', 'Torado', 'Torcano', 'Torcel', 'Tordera', 'Toredero', 'Torrada', 'Torregrofa', 'Torregrosa', 'Torrehermonsa', 'Tortillo', 'Triasa', 'Tribucia', 'Trono', 'Truxillo', 'Tuno', 'Ubago', 'Uberuoaga', 'Ubiedo', 'Ubrete', 'Ubrien', 'Ucles', 'Udobro', 'Uernaue', 'Ufanqui', 'Ulanos', 'Ulara', 'Ulloe', 'Umanes', 'Unavides', 'Undarte', 'Urbaneja', 'Urbines', 'Uriano', 'Urquecir', 'Urrechar', 'Urritia', 'Urrutera', 'Ursola', 'Urtaben', 'Urtiaga', 'Urzanqui', 'Usanqui', 'Usante', 'Usarte', 'Useda', 'Usllanes', 'Utrea', 'Uzeda', 'Va', 'Vaena', 'Vaesa', 'Vagas', 'Vaillalta', 'Valasco', 'Valdepeñas', 'Valderama', 'Valdovinos', 'Valduque', 'Vale', 'Valenangel', 'Valencina', 'Valeros', 'Valle27', 'Valletera', 'Valtanel', 'Valvino', 'Valvurua', 'Vanegas', 'Vanes', 'Varcenas', 'Vares', 'Varga', 'Varinelos', 'Varnuevo', 'Varo', 'Varra', 'Varros', 'Varte', 'Vastan', 'Vastida', 'Vayas', 'Vbilla', 'Vegines', 'Veidacar', 'Veinticuatro', 'Velaffco', 'Velas', 'Velasques', 'VelazquezOf', 'Velera', 'Velladares', 'Vellavoa', 'Velloso', 'Veloso', 'Vena', 'Venaides', 'Venavides', 'Veorostigui', 'Veranga', 'Veraspe', 'Verastigue', 'Vesaga', 'Vevallos', 'Vezeria', 'Vidas', 'Vigarejo', 'Vigueras', 'Villadon', 'Villafranco', 'Villafume', 'Villapando', 'Villaquiren', 'Villaruel', 'Villasa', 'Villavizencio', 'Villayn', 'Villens', 'Vinuere', 'Violante', 'Viosa', 'Virabedra', 'Virgilio', 'Viscanes', 'Viterba', 'Vitriu', 'Vitudes', 'Viueros', 'Vizente', 'Volmes', 'Vormo', 'Voutert', 'Vreña', 'Vrones', 'Vrrutia', 'Vtesschosider', 'Vueva', 'Vzanqui', 'Wormer', 'Wormos', 'Xacinto', 'Xaimez', 'Xaramielo', 'Xaurigue', 'Xeres', 'Xexas', 'Xezerra', 'Ximenes', 'Xines', 'Xpoual', 'Xptobal', 'Xptoual', 'Xptoval', 'Xpttoval', 'Xuares', 'Yafiez', 'Yanez', 'Yarretta', 'Ybanez', 'Ydobo', 'Yerbado', 'Yglesias', 'Yllescas', 'Ymbrea', 'Ynes', 'Ypenarieta', 'Ysabel', 'Ysac', 'Ysauel', 'Yscoben', 'Yses', 'Ysidoro', 'Yta', 'Yterayn3', 'Ytieraen', 'Yubrea', 'Zabola', 'Zamera', 'Zanamiego', 'Zanbrano', 'Zapita', 'Zaragoza', 'Zarco', 'Zarricola', 'Zavala', 'Zavele', 'Zaya', 'Zeballa', 'Zelaya', 'Zento', 'Zerda', 'Ziria', 'Ziñiga', 'Zojo', 'Zuleta', 'Zulueta', 'Zumarraga', 'Zuñiga', 'abadessa', 'abalos', 'abaxo', 'abeis', 'abellano', 'abendaño', 'abila', 'abiles', 'abita', 'abley', 'ablo', 'abrego', 'acencio', 'acenfio', 'acensio', 'acer', 'acharte', 'acinto', 'acipres', 'acofta', 'adornio', 'aduana', 'afedo', 'afencio', 'afenfio', 'afeto', 'agais', 'agora', 'agua', 'aguftin', 'aguilla', 'aguitar', 'aia', 'aillon', 'ajuste', 'al', 'alaras', 'alaraz', 'alaua', 'albadan', 'albadesa', 'albarado', 'albares', 'albarete', 'albarez', 'albaro', 'albarran', 'albornos', 'alcala', 'alcaldes', 'alcanse', 'alcaras', 'alcaudete', 'alcaçar', 'alcoger', 'alecio', 'alexandro', 'alfe', 'alferes', 'alferez', 'alfian', 'algualzil', 'alguazil', 'algun', 'aliman', 'allarran', 'alles', 'allo', 'almanssa', 'almança', 'almayda', 'almaçan', 'almeda', 'almonacir', 'almonasir', 'almonte', 'alo', 'alonffo', 'alonfo', 'alonsso', 'alonzo', 'alonço', 'altares', 'aluares', 'aluarez', 'aluaro', 'alunbre', 'alvarran', 'amaral', 'amaro', 'ambrofio', 'ambrosyo', 'anbos', 'anbrosio', 'anduxar', 'anefino', 'anguas', 'anitua', 'anjeles', 'anrriquez', 'antegana', 'antolina', 'antono', 'antonyo', 'antunes', 'aobecios', 'aparysio', 'aranburo', 'aranburu', 'aranguibel', 'araqui', 'arbas', 'arbizti', 'arcarate', 'arche', 'areualo', 'arfediano', 'arfian', 'argamada', 'arganda', 'argumedo', 'arieta', 'arispe', 'armado', 'armario', 'armenia', 'armix', 'arnes', 'arquiteto', 'arquitetura\x97fray', 'arriaño', 'arriero', 'arse', 'artifise', 'artos', 'artus', 'arzediano', 'arzedo', 'arziniega', 'ascarate', 'asegurado', 'asentallo', 'asfarate', 'asis', 'aspur', 'assensio', 'assistente', 'assuncion', 'atabalipa', 'ataban

How many tags do these dubious tokens affect? Let's calculate this below.

# Number of records with a token not from our name list

In [26]:
people.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,Unnamed: 0.1.1.1.1,docid,string,label,start,end,Remove
0,0,0,0,57935,57935,6792,NaN,NaN,135,138,1
1,1,1,1,45285,45285,4978,- Rodriguez,PER,6,8,0
2,2,2,2,45173,45173,4961,-- Gomez Brito,PER,34,38,0
3,3,3,3,45108,45108,4952,-- Manrique,PER,11,13,0
4,4,4,4,61780,61780,7342,-- Ramirez,PER,29,31,0

In [72]:
def pattern_searcher(search_str:str, search_list:list):
    
    search_strlist = search_str.lower().split()
    
    check =  any(item in search_strlist for item in search_list)
    
    if check:
        return_str = 1
        
    else:
        return_str = 0
        
    return return_str

In [28]:
people['matched_str'] = people['string'].apply(lambda x: pattern_searcher(search_str=str(x), search_list=dubioustokens))

In [29]:
people[people['Remove']=='0'].groupby(['matched_str']).count()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,Unnamed: 0.1.1.1.1,docid,string,label,start,end,Remove
matched_str,,,,,,,,,,,
0,25162,25162,25162,25162,25162,25162,25162,25162,25162,25162,25162
1,7280,7280,7280,7280,7280,7280,7280,7280,7280,7280,7280

Within our tags that have not been flagged for removal, We have 7280 tags that have a potentially questionable token right now, and 25,162 that are OK.

In [30]:
len((set(people.loc[(people['Remove']=='0')&(people['matched_str']==1),'string'])))

4029

Of these 7,280 tags, 4029 are distinct strings.

In [31]:
len((set(people.loc[(people['Remove']=='0')&(people['matched_str']==0),'string'].to_list())))

9980

Of the 25,162 correct tags, 9,980 are distinct strings.

# 3 Fuzzy Matching

Let's also use our results from fuzzy matching and mark any tokens that represent a less than 90% match 90% match with tokens in the lists as dubious.

In [33]:
fuzzymatches = pd.read_csv('Files_Cleaning1/token_match_scores.csv')

In [34]:
fuzzymatches.set_index('token', inplace= True)

In [35]:
fuzzymatches.head()

            Unnamed: 0  score    match
token
BENJUMEA             0     71   enjuta
Prevendado           1     71  revenga
Lateral              2     77   antera
MORILLO              3    100  morillo
Ramon                4    100    ramon

In [36]:
tokens90 = fuzzymatches[fuzzymatches['score']>=90].index.tolist()

In [37]:
len(tokens90)

3717

In [38]:
print(tokens90)

['MORILLO', 'Ramon', 'Ruela', 'morante', 'Coello', 'VELAZQUEZ', 'Cardenas', 'TIRADO', 'BORJA', 'quebedo', 'martos', 'Quevedo', 'Teresa', 'Juanes', 'Monero', 'arze', 'Biedma', 'Durango', 'barrionuebo', 'despindola', 'trujillo', 'Ruiz', 'baltasar', 'Tenorio', 'Villens', 'IRIARTE', 'Canto', 'villa', 'Astete', 'AGUSTIN', 'Ruano', 'Trelles', 'Enrique', 'rroelas', 'Grimon', 'Rosal', 'horosco', 'ATIENZA', 'Sala', 'cuesta', 'Espinosa', 'Eraso', 'CARASCO', 'ayllon', 'MENESES', 'Sotto', 'Cipriano', 'Ribadeneira', 'Dimas', 'barrassa', '-geronimo', 'ALONSO', 'Calatayud', 'Salafranca', 'Caro', 'Arnao', 'holgado', 'Pan', 'GOMEZ', 'Morellon', 'Llanes', 'porras', 'muñoz', 'Ruis', 'Mathia', 'GARCIA', 'TORRES', 'Deza', 'siguença', 'Vermondo', 'Solarte', 'Ruesta', 'caraballo', 'Almonacid', 'ALDRETTE', 'florencia', 'Nicolas', 'deza', 'rrojas', 'Hernandez', 'roela', 'carcel', 'Matias', 'pino', 'goncalo', 'maria', 'carrasco', 'Federigui', 'rroldan', 'Torado', 'marcho', 'cuevas', 'arpe', 'ARANA', 'Izaguire', 'franciisco', 'mata', 'bartome', 'Rubira', 'buenabentura', 'olano', 'añasco', 'colmenero', 'Anales', 'Simona', 'grillo', 'Ribas', 'Puerta', 'Cancino', 'ENRIQUE', 'montesinos', 'Carasquila', 'esteban', 'Schutt', 'Arieta', 'GREGORIO', 'Nieves', 'Beltran', 'Sotomayo', 'Carasquilla', 'laines', 'CARABAJAL', 'doñate', 'Consuegra', 'Cristina', 'malpartida', 'palacio', 'Cotan', 'villacastin', 'Valderrama', 'Cuesta', 'collantes', 'FAJARDO', 'Tovar', 'Angulo', 'Higueras', 'CARDOSO', 'CANCINO', 'bellon', 'Chico', 'peralta', 'orellana', 'ramos', 'apostoles', 'Ribadeniera', 'chacon', 'Cañizares', 'lorença', '-gaspar', 'corro', 'uRibaRi', 'atanasio', 'quintanilla', 'enRique', 'çuleta', 'Teran', 'HIDALGO', 'bernaldina', 'gaitan', 'vilchez', 'rrodrigo', 'Escuderos', 'Hermenegildo', 'noguera', 'Salguero', 'cantera', 'frano', 'Pinto', 'texeda', 'mañana', 'Iglesias', 'Agustina', 'Tacon', 'suero', 'PEREA', 'esparragosa', 'barahona', 'Marie', 'morga', 'Corral', 'Acisclos', 'carton', 'Niebla', 'Reyes', 'fernando', 'Thoribio', 'bronçe', 'Vasco', 'porra', 'Frano', 'Maeda', 'LUCIANO', 'MACHADO', 'CORNEIL', 'Bohorquez', 'aguiar', 'gongalo', 'Lazaro', 'Jordan', 'giraldo', 'martin', 'Lejalde', 'Cedillo', 'ponce', 'merida', 'Uriarte', 'carrizoça', 'manuel', 'Velazco', 'ocampos', 'Auila', 'Barrientos', 'Sabastiana', 'bautista', 'illescas', 'valdivieso', 'Jiles', 'Vandelvira', 'pablo', 'Crisostomo', 'Cortez', 'tobar', 'cifuentes', 'tavera', 'Valverde', 'ollero', 'Barba', 'hijar', 'arenas', 'Arespe', 'Susana', 'Mendes', 'josefe', 'jancinto', 'Acolina', 'trinidad', 'carvajal', 'Abellan', 'reynes', 'garay', 'Catalan', 'Chavez', 'Arrenas', 'BERNABE', 'VILLAVICENCIO', 'çarate', 'paula', 'gerardo', 'Moron', 'gutierrez', 'jorge', 'Troya', 'LAUREANO', 'adrian', 'riquelme', 'LORENZO', 'Guerrero', 'lA', 'enrique', 'Villapando', 'Cartagena', 'Bonifaz', 'BALTAZAR', 'Galindo', 'Vidal', 'Texeda', 'jesu', 'henrriquez', 'Aragones', 'Morillas', 'roldan', 'Vega', 'mondragon', 'Ignacia', 'SALMERON', 'sastre', 'Acha', 'subira', 'Morcillo', 'Soto', 'oro', 'Bernal', 'Barrios', 'Gregorio', 'Toscano', 'ospital', 'pedro', 'serpa', 'Perea', 'rramos', 'TRUJILLO', 'coçar', 'Manuel', 'coca', 'Miralles', 'Reina', 'madera', 'Riscos', 'Eusebio', 'rubiales', 'Philipe', 'fadrique', 'palencia', 'Gracia', 'Crispina', 'gallego', 'baleriano', 'Dezcurra', 'Tomas', 'toranço', 'Anton', 'Correa', 'Guillen', 'Montilla', 'carrera', 'Marito', 'obando', 'Ros', 'bohorques', 'duran', 'torres', 'Diez', 'baldra', 'Maria', 'Villafranca', 'Gamboa', 'Joan', 'Matieno', 'rivas', 'escamilla', 'Manrique', 'fuergo', 'Arteaga', 'Pessoa', 'Valdivieso', 'horozco', 'Abel', 'marquez', 'FERNANDES', 'ESCOBAR', 'Rodriguez', 'Tinoco', 'girolamo', 'pando', 'Benitez', 'riuera', 'Talavera', 'Bracho', 'Abraham', 'mayorga', 'Cobos', 'Castellana', 'Ubrien', 'mari', 'desquivel', 'Alejo', 'daza', 'santillana', 'Lorenzana', 'frayle', 'MATIAS', 'Lozano', 'Salzedo', 'Señoria', 'VELASCO', 'Niño', 'Tirando', 'Tornero', 'Sarabia', 'Navaro', 'gadea', 'Castilla', 'aragon', 'juan', 'elvira', 'lazaro', 'masias', 'sequera', 'Carriedo', 'Thorobio', 'Covarubias', 'Farias', 'calzada', 'ballesteros', 'CRISTOBAL', 'Granado', 'Mena', 'van', 'rrobles', 'fabian', 'montae', 'HIPOLITO', 'OCA', 'BARAONA', 'Benavides', 'Bueno', 'castellar', 'descobar', 'Camian', 'aguero', 'Laino', 'Sa\x97A', 'vicuña', 'Vaca', 'Dormaza', 'VAL', 'bueras', 'Rosales', 'Parias', 'Colmenares', 'ferron', 'ALBERTO', 'Pallares', 'ONORIO', 'fajardo', 'buendia', 'Suero', 'NAVARRETE', 'Otamendi', 'garrido', 'soto', 'tordesillas', 'silva', 'Luciano', 'albaro', 'Ricardo', 'OROZCO', 'nicolas', 'Carreño', 'serrano', 'Villalan', 'llescas', 'matheo', 'gregoria', 'astudillo', 'Costa', 'mena', 'villacreces', 'arroyo', 'Henrique', 'Marcelino', 'Trigueros', 'Alcocer', 'Lobato', 'carrillo', 'puebla', 'laurencio', 'Gradilla', 'ANTONIO', 'angulo', 'Lorenço', 'Peñaranda', 'Lucrecia', 'moro', 'figeroa', 'despinoza', 'Conrado', 'santillano', 'oviedo', 'pierres', 'Marquesa', 'baltazar', 'Jauregui', 'Francisco', 'Carreno', 'Reinoso', 'MATEO', 'rrafael', 'margarita', 'Silva', 'martinez', 'Ochoa', 'Pineda-', 'Carvajal', 'tacon', 'Texada', 'rocha', 'VALBUENA', 'Tocha', 'Virues', 'Ibañez', 'montero', 'ALFONSO', 'Josefe', 'tapia', 'SEGOVIA', 'COBOS', 'Morillo', 'MesaSe', 'Acero', 'Buelna', 'Mercado', 'bustamante', 'manco', 'Iglesia', 'lucas', 'Equivel', 'Escribanos', 'Alderete', 'Angela', 'madalena', 'JOSEPH', 'RIVAS', 'Loaisa', 'gosso', 'LAZARO', 'HENRIQUEZ', 'medoro', 'Carillo', 'deallo', 'Josefa', 'Remesal', 'Virgilio', 'SALCEDO', 'VAZQUEZ', 'bernal', 'Barrena', 'Morales', 'comontes', 'juanes', 'Espada', 'mansilla', 'leandro', 'JARAMILLO', 'aguilera', 'Albin', 'acinto', 'Ipenarieta', 'filipe', 'pina', 'Guera', 'Cerdero', 'Enche', 'Hidalgo', 'farinas', 'REYES', 'dallo', 'Serra', 'Pinedo', 'Sanchez', 'Marmol', 'Varela', 'Olea', 'Guadix', 'Nazareno', 'Adam', 'dionisio', 'soria', 'Infante', 'guzman', 'Candelaria', 'Placido', 'Pereira', 'fuenmayor', 'hontiberos', 'Cordoba', 'Bartholome', 'Carrillo', 'cea', 'gutierre', 'tercero', 'coronado', 'Haro', 'monforte', 'Franco', 'lucena', 'CONELIO', 'camacho', 'PEREZ', 'Cecilia', 'esquivel', 'Najera', 'maestre', 'Roques', 'MATEIOS', 'CORDOBA', 'lossada', 'SUAREZ', 'Matienzo', 'LEON', 'micaela', 'bolduque', 'adam', 'darcos', 'Fadrique', 'CALDERON', 'gallegos', 'Castello', 'Javier', 'alamo', 'Coca', 'Valeros', 'German', 'Cadiz', 'Cienfuegos', 'ribas', 'villarrubia', 'Acuña', 'der', 'Cuellar', 'Palma', 'Caballero', 'quintana', 'antono', 'alguazil', 'Hermosilla', 'Geronimo', 'agramonte', 'Mexia', 'rodriguez', 'Alvarez', 'Feyjo', 'Cetina', 'burgos-', 'Augustina', 'lugo', 'Nicolasa', 'GUIRAL', 'Lebrija', 'lobo', 'jofre', 'criales', 'Moneada', 'Balthasar', 'Villaverde', 'Gaitan', 'zambrano', 'cespedes', 'pinto', 'Linares', 'bejarano', 'Burgueño', 'Mencia', 'Gracian', 'cosme', 'Salon', 'MEDINA', 'frances', 'Padua', 'Orduña', 'Resta--', 'Media', 'berastegui', 'angel', 'Clossa', 'baeza', 'TEJADA', 'josefa', 'busto', 'Cabezon', 'Sanabria', 'Domingo', 'merino', 'Recade', 'bernardino', 'Rivadeneira', 'CALVETE', 'Rivera', 'Nogueras', 'Quiroga', 'gamara', 'Mateo', 'davila', 'puerta', 'MARQUEZ', 'ugalde', 'Martin', 'rreyna', 'Garcia', 'purificacion', 'Romano', 'Escoto', 'alejandro', 'chaburu', 'Eustaqui', 'lescano', 'Maestre', 'RIBERA', 'Estupiñan', 'onesto', 'LEONARDO', 'granado', 'Sabina', 'Paredes', 'melgosa', 'Alcaraz', 'mendes', 'arguelles', 'Antonio', 'Francesca', 'Torrejon', 'Luque', 'ERRERA', 'urraca', 'narvaez', 'perez', 'Blasco', 'eualdo', 'vasco', 'menacho', 'MARTIN', 'pichardo', 'arrieta', 'catalina', 'Campania', 'abraça', 'FERNANDEZ', 'Barahona', 'bueno', 'Bastan', 'Frechilla', 'Cansos', 'jose', 'montañes', 'Matheso', 'bobadilla', 'niculoso', 'olea', 'CRISTO', 'Andrea', 'viejo', 'Baro', 'CALVO', 'XIMENEZ', 'NEIRA', 'urzanqui', 'ERNANDEZ', 'Corro', 'Bastas', 'Florencia', 'Gomes', 'Marin', 'armendia', 'IGNACIO', 'ARCOS', 'Salafranco', 'balbas', 'Louque', 'Sa', 'Benavente', 'antolina', 'Riba', 'juliana', 'DOMINGUEZ', 'julian', 'Astola', 'ines', 'goçalo', 'florez', 'bargas-', 'Valderas', 'chaves', 'Carrero', 'Utrea', 'Petronila', 'Jacob', 'austria', 'Reyna', 'Razon', 'alfaro', 'Saucedo', 'cataño', 'Salamanca', 'Iriarte', 'granados', 'Tirado', 'esparragossa', 'Maldonado', 'olanda', 'Buenabentura', 'Polanco', 'Alariz', 'Moran', 'Juana', '\x97Marco', 'Halcon', 'abreu', 'Galeotte', 'Julian', 'Santana', 'Conzepcion', 'ovalle', 'baraona', 'vergara', 'CARO', 'urbina', 'Alberta', 'Basconcelos', 'CAMPOS', 'enrrique', 'eliseo', 'balderrama', 'Coalla', 'solorzano', 'marquesa', 'Espinos', 'ssanchez', 'Castillo', 'monferrate', 'Orozco', 'Gaspar', 'Vera', 'diez', 'MEJIA', 'montoya', 'garabito', 'grimon', 'Lerin', 'oballe', 'Crifostomo', 'Urreta', 'gujerra', 'MENA', 'Cid', 'cabreros', 'Portilo', 'anuncibay', 'dorado', 'bago', 'Bivar', 'Espinar', 'bonilla', 'Huerta', 'Gonçalo', 'Romana', 'Salvadora', 'Salvatierra', 'Bazan', 'segundas', 'felipe', 'Conde', 'Montesdaca', 'Orosco', 'Estefania', 'pascual', 'Barbara', 'peñafiel', 'limpias', 'PARRA', 'Valenzuela', 'Vaillalta', 'abadia', 'sarmiento', 'ffonseca', 'Castroberde', 'Aguirre', 'Chamorro', 'ollate', 'Escalera', 'Garay', 'Gordillo', 'crifostomo', 'vandelvira', 'Acebedo', 'Thomas', 'Canelas', 'Postigo', 'sotomayor', 'Cesar', 'carbajal', 'carpintero', 'Gudiel', 'Alvira', 'miranda', 'Ledesma', 'frailes', 'lucio', 'Garido', 'Camilo', 'Nava', 'Grandal', 'BARAHONA', 'gonçalez', 'albornoz', 'argote', 'Cancelas', 'milla', 'justa\x97', 'Peres', 'matyas', 'criste', 'Camino', 'SALVADOR', 'Macias', 'porta', 'Alexos', 'Picaro', 'Austria', 'Cano', 'Vadillo', 'NUÑEZ', 'Hernan', 'Solana', 'Gonsalo', 'mosquera', 'Buitron', 'Frias', 'basptista', 'Viera', 'Salces', 'Roda', 'Viedma', 'lario', 'Laureano', 'Manriquez', 'mercado', 'carbonel', 'Riquelme', 'llanos', 'sierralta', 'Gamez', 'moran', 'roman', 'andujar', 'JACINTO', 'Talvera', 'dueñas', 'raimundo', 'RIOS', 'maeso', 'Almansa', 'Palomeque', 'villafranca', 'Montañes', 'Salsedo', 'navia', 'espinel', 'Mata', 'Barrasa', 'Hermenegdo', 'Campo', 'aliaga', 'lorenca', 'CESLAR', 'Arriola', 'Monton', 'estupiñan', 'Cerda', 'Cavello', 'guerrero', 'Bruselas', 'Higera', 'Laurencio', 'Cuerno', 'Pareja', 'cristobal', 'Belmonte', 'Montealegre', 'Estrella', 'Moises', 'Baena', 'crisostomo', 'Carona', 'Orta', 'cardosso', 'feliciana', 'Loaysa', 'Mayorga', 'MORGADO', 'Leyba', 'Liñan', 'thomas', 'lorenzo', 'Ramirez', 'Bazquez', 'pinos', 'Rufino', 'Pantoja', 'Cantillo', 'lago', 'Rebollo', 'Santisima', 'Fabiana', 'gil', 'PALENCIA', 'Valera', 'Agustino', 'quiroga', 'Monardes', 'Payan', 'salazar', 'matienço', 'Porras', 'Montoya', 'armenia', 'Soriano', 'Casaus', 'ESCALONA', 'Trujillo', 'Perdiz', 'valensuela', 'sacramento', 'Llano', 'mançanedo', 'berrio', 'cadiz', 'Rosalia', 'Mansilla', 'Camargo', 'Hernando', 'benegas', 'CALATRAVA', 'antonia', 'Montefinos', 'piñon', 'Davalos', 'mexia', 'marin', 'recalde', 'gatica', 'jara', 'Zamora', 'lope', 'Montano', 'Bas', 'ENRIQUEZ', 'marchena', 'salbatierra', 'ugarte', 'Gallardo', 'Añasco', 'Alvarado', 'soriano', 'carmen', 'JOAN', 'Serrano', 'Ries', 'Plata', 'castillejos', 'Spinola', 'VALENCIA', 'Calvete', 'Valladares', 'Robledo', 'Cabrero', 'Rojo', 'pantoja', 'ternero', 'Garzon', 'Garrido', 'ADRIAN', 'parrado', 'Lujan', 'andrada', 'guijon', 'Oropesa', 'Sandoval', 'Rafael', 'Guillermo', 'bermudo', 'cordero', 'Vitoria', 'Mancebo', 'Anion', 'flandes', 'carriedo', 'messia', 'Soler', 'Angel', 'TEJEDA', 'castellanos', 'Monge', 'calvo', 'Parales', 'MORANTE', 'Prado', 'Bringas', 'Bosque', 'jorges', 'Echave', 'Chacon', 'Amayo', 'pecador', 'theresa', 'cecilio', 'Geronima', 'sidonia', 'bernardo', 'ALVAREZ', 'breça', 'Marmolejo', 'rramirez', 'Adame', 'Matheos', 'MONTOYA', 'escobedo', 'santamarina', 'Lucia', 'lienço', 'TOMAS', 'GUTIERRES', 'MELGAREJO', 'Aranda', 'Sameta', 'orella', 'cristin', 'atencia', 'Adan', 'villar', 'Suarez', 'quiles', 'Grrimon', 'ANTOLINEZ', 'Velazquez', 'gonfalo', 'Salas', 'anaya', 'Matthias', 'Oviedo', 'VelazquezOf', 'Batista', 'monzerrate', 'Sierra', 'nuñez', 'Escalas', 'liñan', 'Isla', 'meneses', 'luciano', 'Pardo', 'Cerrato', 'Bernaldino', 'Lobaton', 'Hermosillo', 'Aleman', 'rrodrigues', 'Olaeta', 'Florindo', 'mora', 'Monteros', 'graço', 'moedano', 'Victoria', 'urbin', 'Lasso', 'Campos', 'couarrubias', 'lobato', 'descobedo', 'JIMENEZ', 'ALMANZA', 'lasso', 'alarcon', 'guarda', 'Agilon', 'Tobar', 'Peredo', 'Gillen', 'barba', 'villorias', 'diego', 'cornejo', 'tovar', 'Estan', 'rodrigues', 'Roela', 'Reynos', 'Roche', 'Christobal', 'puertocaRero', 'catalla', 'sierra', 'marco', 'Vilches', 'cabeza', 'Romero', 'ypedro', 'llerena', 'Barrera', 'Belarte', 'Recio', 'Lorenzo', 'becerra', 'ossuna', 'brian', 'Granada', 'aguayo', 'Rosario', 'Alonso', 'Mallen', 'prieto', 'Portello', 'Judice', 'segarra', 'juliano', 'Castaño', 'arteaga', 'Zambrano', 'JUAN', 'Pastores', 'Andion', 'hinojos', 'Barco', 'Mancera', 'Joseph', 'lucia', 'seades', 'Gil', 'Rafaela', 'Martinez', 'Sebastiana', 'medrano', 'Alvar', 'Correo', 'Siron', 'olibares', 'Hinojosa', 'Dionisio', 'palma', 'Gallegos', 'Ordoñez', 'reciuo', 'Martir', 'Porto', 'Catarina', 'navas', 'quesada', 'puente', 'valles', 'correa', 'romero', 'Uceda', 'Alfonso', 'auñon', 'Dueñas', 'DIEGO', 'Galena', 'Villafranco', 'aranda', 'Pelicer', 'olalla', 'Villavicencio', 'gaspar', 'Bernabe', 'Orellan', 'valenzuela', 'rogero', 'flores', 'jaen', 'josepha', 'bustos', 'Fernando', 'Mota', 'MORO', '-luisa', 'Celada', 'AGUILA', 'Lopez\x97', 'Arellano', 'Cuadra', 'montes', 'Gadea', 'Balduque', 'alcantara', 'ursula', 'Valentin', 'Vegas', 'monge', 'manrrique', 'Pellicer', 'Cardona', 'Tejada', 'Grana', 'Bermudo', 'Herrera', 'jiron', 'DELAGADO', 'Toledo', 'VLDES', 'Urban', 'MARTINEZ', 'rosas', 'lainez', 'bartolome', 'GASPAR', 'Blanco', 'Monforte', 'Esteban', 'Blanca', 'oña', 'Galiano', 'madrigal', 'Hungria', 'oliba', 'Colonia', 'hernand', 'Espinola', 'vega', 'Villalobos', 'OSORIO', 'farfan', 'Adallo', 'serafino', 'David', 'olmedo', 'Mari', 'Viosa', 'FRANCISCO', 'Rivas', 'Mazon', 'ESTRADA', 'pareja', 'castilla', 'Losada', 'bolaños', 'Casilda', 'perea', 'Messia', 'beltran', 'Artiaga', 'Contabarria', 'Andino', 'rroque', 'Algarin', 'Rincon', 'pimienta', 'fernand', 'arjona', 'Roque', 'Morante', 'bauptista', 'ribera', 'henrique', 'cardenas', 'cañete', 'hidalgo', 'Narvaez', 'Manuela', 'Leona', 'rodrigo', 'Vaquero', 'ceron', 'Sebastian', 'BOBADILLA', 'Vidales', 'mantilla', 'Holais', 'VEGA', 'vilches', 'baca', 'Vesaga', 'Davilla', 'Aparicio', 'rroman', 'buenaño', 'Calatrava', 'enriquez', 'Udobro', 'pimentel', 'Baquero', 'Alber', 'Polonia', 'Melchor', 'MONTILLA', 'loja', 'Monasterio', 'figueroa', 'hortiz', 'caro', 'Ximenez', 'Falco', 'Villacreces', 'SORIANO', 'Damas', 'Aroca', 'peñaloza', 'MEJIAS', 'johan', 'ROMERO', 'Baños', 'Corea', 'Felipa', 'Aristegui', 'Salgado', 'Mejia', 'monteverde', 'Magdalena', 'Castellano', 'Salcedo', 'Bonifacio', 'matias', 'LARA', 'Merida', 'Fuentes', 'Galves', 'peñalosa', 'cansino', 'jijon', 'marcos', 'moron', 'Risueño', 'APARICIO', 'Viejo', 'acensio', 'Aparcio', 'PARILLA', 'palomero', 'ANGELO', 'rronquillo', 'magdalena', 'moguer', 'avendaño', 'marcela', 'Bernardo', 'ceballos', 'VALLEJO', 'Salomon', 'triana', 'Freyle', 'feliphe', 'Segovia', 'barrientos', 'Casas', 'carranza', 'Gatica', 'arce', 'Fonseca', 'bidal', 'España', 'samaniego', 'vazquez', 'Negron', 'Pina', 'Verastegui', 'sojo', 'fragosso', 'fernandes', 'Palacios', 'Cañete', 'lorenço', 'hojeda', 'orihuela', 'Concepcion', 'Solis', 'Santillan', 'Miguel', 'Xuarez', 'Maceda', 'coria', 'Badillo', 'lorente', 'alonsso', 'martines', 'Marchena', 'Leon', 'rrebollo', 'PASSANO', 'hierro', 'Palafox', 'CANSINO', 'Paez', 'vandelbira', 'Caballo', 'Madrial', 'Baron', 'chica', 'hortega', 'Bauptista', 'basco', 'Matheo', 'Triasa', 'Ventura', 'Fajardo', 'Cazalla', 'rubin', 'Agramonte', 'Segarra', 'Ulloa', 'almansa', 'berlanga', 'olarte', 'CONTERAS', 'caravallo', 'Claudio', 'hernandez-', 'Cigala', 'Grada', 'Negrete', 'Jacobo', 'Espino', 'albites', 'arcos', 'valencia', 'Mantilla', 'GONZALEZ', 'cañamo', 'Bellas', 'millan', 'falconete', 'çalcedo', 'Hinestrosa', 'neve', 'Escobar', 'rreyes', 'Ocaña', 'JACOBS', 'pereyra', 'Vicenta', 'luengo', 'Araujo', 'nieto', 'Aldana', 'domingo', 'uribarri', 'mallen', 'gainça', 'Vigueras', 'lopes', 'FUENTE', 'mantel', 'Melchora', 'moneda', 'Calafate', 'Ladron', 'BARREDA', 'Acosta', 'plaza', 'Tejeda', 'aleman', 'ualderrama', 'Rojas', 'Valtanas', 'Camara', 'Neira', 'solares', 'ALMANSA', 'GIJON', 'franco', 'Astorga', 'juana', 'rio', 'ARRENAS', 'Sobrado', 'Adalid', 'MENDOZA', 'jacques', 'Juliana', 'Machucha', 'Umanes', 'Pechos', 'Arriba', 'Chavarri', 'Guerra', 'bezon', 'barca', 'Pascual', 'Imperial', 'SCHUT', 'carabajal', 'Torreblanca', 'blasco', 'mantero', 'Bargas', 'adame', 'Perca', 'christobal', 'urina', 'Murillo', 'dominga', 'Zamudio', 'Mesa', 'Leonor', 'barro', 'costa', 'Iñigo', 'Clemencia', 'enriques', 'violante', 'Almedo', 'Morans', 'hervas', 'MONTERO', 'armenta', 'Bastida', 'montalbo', 'Cansino', 'CORRALES', 'Linden', 'Osuna', 'rojas', 'saucedo', 'villarrrubia', 'Cubillana', 'Osorio', 'TORO', 'hermenegildo', 'Passano', 'Bruñete', 'jesus', 'yMaria', 'avalos', 'Burgos', 'Ojeda', 'VALDIVIESO', 'garibay', 'montañez', 'almaçan', 'pelayo', 'mesta', 'benito', 'teodoro', 'Melgar', 'blanco', 'philipe', 'elicio', 'Diego', 'ruiz', 'Joaquin', 'Lucas', 'Puente', 'hernandez', 'Ayalde', 'montefinos', 'lopez', 'Cantillana', 'astorga', 'Jeronimo', 'Pereyra', 'montemaior', 'Carmen', 'squivel', 'PACHECO', 'Sanz', 'Phelipe', 'escalona', 'almeida', 'quadro', 'Flores', 'Barbaran', 'Palacio', 'Ariola', 'Galan', 'uillanueva', 'vidal', 'Aybar', 'Juan', 'Valdes', 'paulo', 'Montalban', 'Cayetano', 'rrendon', 'Basilio', 'Atocha', 'monsalve', 'PERDO', 'gandia', 'Balera', 'MOLINA', 'sayas', 'aresti', 'Coronado', 'Galbes', 'loreço', 'jusepe', 'Castellar', 'abel', 'Solares', 'Ambar', 'falzedo', 'Mondragon', 'Resta', 'Porres', 'Mendo', 'salas', 'rubi', 'Marios', 'Catala', 'cañas', 'SANTIAGO', 'larios', 'acacio', 'ALAVA', 'Saavedra', 'Balthazar', 'NEYRA', 'osorno', 'Ruy', 'simancas', 'Garsia', 'giralte', 'Cortaza', 'bartholome', 'ntonio', 'paramo', 'Ysidro', 'firma', 'robles', 'Morano', 'VALDES', 'Figueroa', 'salinas', 'dulce', 'Paramo', 'Garlate', 'gelder', 'BERNARDINO', 'Velez', 'andres', '«caro', 'arriola', 'olivares', 'Morena', 'bañuelos', 'Montesinos', 'Noregon', 'frias', 'Serna', 'barreda', 'Aguillar', 'pelaez', 'felix', 'alsedo', 'morin', 'Clemente', 'Pedrosa', 'Cueto', 'toribio', 'fernan', 'CASAS', 'Mariana', 'Ignasio', 'ffrancisco', 'Quirino', 'carnedo', 'Tellez', 'Escalona', 'parra', 'colombres', 'teran', 'Palomo', 'lepe', 'pinedo', 'guejar', 'Redondas', 'Brito', 'Jove', 'Barro', 'ordopez', 'PAREDES', 'Joseps', 'menor', 'Rangel', 'Sama', 'Caraballo', 'bargas', 'bastida', 'loçano', 'laura', 'Canales', 'parrales', 'Iriberri', 'Navas', 'Portugal', 'Bermudez', 'MIGUEL', 'Valeriano', 'geronimo', 'Riaño', 'Davila', 'gamarra', 'NAVARRO', 'ortuño', 'Izquierdo', 'mayor', 'labrador', 'Feliciana', 'Nebra', 'Melchior', 'ysidro', 'Alvan', 'Justa', 'Julio', 'Tafur', 'nueva', 'Utrera', 'guevara', 'diaz', 'rendon', 'Melgarejo', 'Tapia', 'rribero', 'Agustin', 'pedrosa', 'bibero', 'melgarejo', 'Damina', 'pacheco', 'CORREA', 'CARVAJAL', 'buenaventura', 'aviles', 'Patino', 'arias', 'calçada', 'Margarita', 'CASTRILLO', 'santana', 'rromano', 'Enclada', 'CASALES', 'jaques', 'Napoles', 'capellan', '-basco', 'galbes', 'Ondarzal', 'Corrales', 'Muñoz', 'ROJAS', 'amaro', 'Barnuevo', 'sanabria', 'Horosco', 'SEBASTIAN', 'Pulgar', 'ffigueroa', 'Porra', 'Cobarrubias', 'navarro', 'ordoñez', 'herera', 'ARTIGA', 'almonacid', 'Sa\x97', 'LUCAS', 'RAMOS', 'La', 'zabala', 'Galvez', 'josep', 'Catalina', 'Hipolito', 'torre', 'guerra', 'ortiz', 'rosales', 'balles', 'Villalva', 'DIONISIO', 'Aguiar', 'lineas', 'Segun', 'Larios', 'miguel', 'Illescas', 'GERONIMO', 'Enriques', 'Pedro', 'delgado', 'estevan', 'Benito', 'Calvo', 'çamorano', 'Balladares', 'bander', 'varela', 'Cisneros', 'moscoso', 'spinola', 'Padilla', 'fracisco', 'aguilla', 'ossorio', 'angeles', 'Balt

Items that appear in this list should also be accepted as name tokens (is_name =1)

In [39]:
tokens.loc[tokens['token'].str.lower().isin(tokens90),'is_name']=1

In [40]:
tokens.groupby('is_name').count()

         token
is_name
1.0       3610

In [41]:
len(tokens)

6692

So far, we have managed to mark 3,610 tokens as reliable names from a list of 6,692. 3,082 remain unaccounted for. 

Making all lowercase, these are 2,862 unique strings.

In [42]:
dubioustokens = tokens.loc[tokens['is_name']!=1,'token'].str.lower().to_list()

In [43]:
len(set(dubioustokens))

2862

In [44]:
print(dubioustokens)

['-', '--', '--nino', '--de', '-ndo', '2-', '20', '481', 'abaasquita', 'abaco', 'abadesa', 'abaeu', 'abalos', 'abdina', 'abedaria', 'abendaria', 'abrego', 'abril', 'abrue', 'abueda', 'academia', 'acauna', 'acencion', 'acenfio', 'acerdian', 'acisclos', 'acle', 'acolina', 'acosser', 'acuna', 'adallo', 'afanador', 'agilon', 'agua', 'aguiere', 'aguillar', 'aguire', 'agustino', 'aillon', 'alaras', 'alarcon\x97simon', 'alariz', 'alavarre', 'albarada', 'albarado', 'albardo', 'albardon', 'albares', 'albarez', 'albarran', 'alber', 'albero', 'alberta', 'alca', 'alcala', 'alcega\x97franco', 'alcina', 'alcor', 'alcosser', 'aldape', 'aleantara', 'alegro', 'aleola', 'alexandro', 'alfian', 'alfonsa', 'alhondiga', 'alicante', 'alina', 'alja', 'allendano', 'alma', 'almao', 'almario', 'almas', 'almedo', 'almonacir', 'almonarir', 'almoneria', 'almonte', 'alo', 'alonfo', 'alonsa', 'alphonsa', 'alrecon', 'alsega', 'alsicolla', 'alsola', 'altamirrano', 'altar', 'altas', 'altopica', 'alua', 'alvan', 'alvareze', 'alvira', 'alyne', 'alº', 'amao', 'amayo', 'amides', 'anales', 'anamaria', 'anbachts', 'andana', 'andion', 'anduxar', 'anenas', 'anhular', 'anion', 'anteçana', 'antto', 'antunes', 'anudo', 'anxela', 'anziano', 'apans', 'aparcio', 'aqua', 'aquelman', 'ara', 'aramburo', 'aramos', 'arangurede', 'araqume', 'arazola', 'arbuscody', 'arcadio', 'arcediano', 'arcegani', 'arebalo', 'areguas', 'aremo', 'areno', 'arespe', 'arestui', 'arfian', 'argadona', 'argames', 'argia', 'arguela', 'arguelo', 'argunedo', 'aria', 'ariola', 'arispe', 'arjuez', 'arma', 'armejo', 'armente', 'armido', 'aro', 'arranegui', 'arriaga\x97luis', 'arrias', 'arriba', 'artemio', 'artifice', 'arzobispo', 'arzovispo', 'ascarate', 'ascarza', 'ast', 'atanacio', 'ataraque', 'aubri', 'audalla', 'augustina', 'aunon', 'auto', 'autografo', 'autografo\x97', 'autos', 'avete', 'aviendose', 'aycona', 'aygo', 'ayllan', 'ayssa', 'azalidallo', 'azenedo', 'ba', 'babia', 'bacarrel', 'bacca', 'badaraco', 'badillo', 'baeça', 'baias', 'bajo', 'balcarses', 'balder--', 'balduc', 'balencian', 'balera', 'baleros', 'balfacon', 'baliente', 'balladare', 'ballejo', 'balon', 'baltanel', 'banbelle', 'banco', 'banfraet', 'banuelos', 'bao', 'barbaran', 'barcansel', 'bardia', 'barera', 'barete', 'barietos', 'baron', 'barragan', 'barrao', 'barrete', 'barue', 'basconcelos', 'basileo', 'baslientos', 'bastan', 'bastardo', 'bastas', 'bastilleros', 'bastos', 'batatano', 'batellos', 'bauchel', 'bautismo', 'beana', 'beatris', 'beces', 'bega', 'begadi', 'begaro', 'bejines', 'belares', 'belero', 'bellarte', 'belloso', 'beltanel', 'beltrano', 'belzere', 'bemal', 'benaberte', 'benefdo', 'beneficiado', 'beneficiados', 'benega', 'benites', 'benitos', 'benuenucto', 'benuenuto', 'benvenuto', 'bera', 'berdiel', 'berdo', 'beretente', 'bergara', 'beri', 'bermondo', 'bermudes', 'bermundo', 'bernando', 'bernuda', 'berobia', 'berrospe', 'beruenquel', 'besere', 'bet', 'betancor', 'betis', 'bezerra', 'bias', 'bicente', 'bien', 'biere', 'bilches', 'bilchez', 'billapor', 'billegas', 'biller', 'biquera', 'birues', 'biscarra', 'bitaben', 'bitero', 'blaceo', 'blanquet', 'blascoen', 'blasina', 'blasquez', 'bme', 'bobadillo', 'bogueles', 'bojorquez', 'bolanos', 'bolante', 'boldoque', 'bolsa', 'bordoque', 'borio', 'bormes', 'bormio', 'borques', 'borte', 'bos', 'bosello', 'bovis', 'bozomo', 'bredembeque', 'bricio', 'brigida', 'brizeño', 'brunenque', 'bruñete', 'bta', 'buenrostro', 'bulgo', 'buraran', 'burch', 'bustamente', 'coutodieron', 'coutsic', 'caballo', 'cabanos', 'cabañuela', 'cabera', 'cabilles', 'caftilla', 'calaverde', 'calblllo', 'calbo', 'calcada', 'calco', 'caloña', 'calus', 'calvente', 'calvijo', 'calzado', 'camargas', 'camian', 'camila', 'campoverde', 'campoviejo', 'camucho', 'camunos', 'canalles', 'cancagorta', 'cancelas', 'candaraes', 'canisares', 'canise', 'cannillo', 'canpania', 'cansos', 'cant', 'cantillejo', 'capitan', 'capote', 'carasquila', 'carasquilla', 'caraza', 'carbera', 'cardena', 'cardenal', 'careaga', 'caribalo', 'carillo', 'carion', 'caritate', 'carmelita', 'caron', 'carransa', 'carrascoso', 'carreno', 'carreta', 'cartero', 'caruallo', 'carvayo', 'casa', 'casablanca', 'casaverde', 'casera', 'caseres', 'casquiro', 'casreno', 'cassafende', 'castellana', 'castelles', 'castillootorgamos', 'castroberde', 'catano', 'cathalina', 'cauallero', 'cauello', 'cavello', 'cavila', 'cazeres', 'cazorla', 'cazquiso', 'celedon', 'celidorio', 'celli', 'cena', 'ceodas', 'cerdero', 'cerigo', 'cestero', 'cestra', 'chaberri', 'chaga', 'chamizo', 'chances', 'chasareta', 'chasaretta', 'chaveri', 'chazzaretta', 'christoval', 'cifneros', 'ciprion', 'claramate', 'clemencio', 'clossa', 'cobarrubias', 'coimbra', 'colegial', 'colindres', 'colonbres', 'coltrera', 'compañia', 'conbera', 'conique', 'coniques', 'constancia', 'contabarria', 'contrerasl', 'conzepcion', 'corbartes', 'corbett', 'cordete', 'cordoda', 'cordoua', 'corea', 'corios', 'cornexo', 'correo', 'cortaza', 'cortez', 'coruchi', 'corvaneja', 'cosar', 'cotaron', 'coutto', 'covarubias', 'crexensan', 'crialles', 'criba', 'criftoual', 'crintenero', 'crispina', 'cristoual', 'cruzada', 'cruzate', 'cuadros', 'cuatrocientos', 'cueba', 'cuentana', 'cuerno', 'curucelagui', 'curul', 'davilajuan', 'daca', 'dalmacio', 'damiana', 'damina', 'daniella', 'daran', 'dauila', 'davilla', 'deisas', 'dejana', 'dejar', 'delque', 'depezo', 'deria', 'dezcurra', 'dgo', 'diazdel', 'dinan', 'dioniso', 'dionizio', 'diso', 'dlaz', 'doblado', 'donaire', 'doncla', 'doratta', 'dorma', 'dorman', 'dormaza', 'dorotea', 'duincuelt', 'dunquer', 'duos', 'dupues', 'dura', 'durarte', 'echaberri', 'echabura', 'echerreria', 'ecijano', 'eclada', 'elbira', 'elegui', 'eluira', 'elvara', 'embila', 'emreynel', 'enche', 'enclada', 'enderica', 'equivel', 'escalas', 'escaraban', 'escaraza', 'escobad', 'escotto', 'escouar', 'escoval', 'escribanos', 'escuda', 'escudo', 'eslande', 'eslotmans', 'españa', 'espinda', 'espinera', 'esqueda', 'esquerer', 'esquibel', 'esquives', 'estacio', 'estado', 'estebaia', 'estede', 'esteuan', 'estrada-', 'estrudo', 'eufemio', 'eustaqui', 'fftanco', 'falcanete', 'faloran', 'fao', 'farias', 'farja', 'faustina', 'favian', 'federegui', 'feijo', 'fel', 'felijo', 'felis', 'femando', 'ferazon', 'fereriqui', 'ferino', 'ferra', 'ferrandes', 'ferrara', 'feryo', 'feyjo', 'fiadores', 'figueroa\x97andres', 'figueroa\x97manuel', 'figueros', 'filibante', 'firmada', 'firmadaalonso', 'firmadamiguel', 'firman', 'flamenco', 'flessens', 'flesson', 'folis', 'francefco', 'francesca', 'francisco-pacheco', 'franolin', 'franquilo', 'freijo', 'freijol', 'frejenal', 'fria', 'fsquibel', 'fuentas', 'fugoso', 'fulgencia', 'fustos', 'gabete', 'gabiola', 'gabriei', 'gago', 'galardi', 'galderon', 'galdona', 'galena', 'galeotte', 'galiardo', 'galias', 'gallaistegui', 'gallan', 'gallenato', 'galuiz', 'galves', 'gamaza', 'gambarte', 'gamero', 'games', 'gande', 'ganes', 'gareja', 'garido', 'garin', 'garlate', 'garrasin', 'garrocho', 'garzaran', 'gascola', 'gastracion', 'gaza', 'gellega', 'gendicho', 'geraldo', 'geruzo', 'gildeano', 'gillen', 'ginros', 'girondo', 'gladena', 'goberri', 'gonsales', 'gonzales', 'gouslane', 'goçales', 'grabiel', 'grada', 'gradan', 'graendes', 'grana', 'grandal', 'granillo', 'granja', 'grantela', 'grarcia', 'grosa', 'grrimon', 'grueso', 'guadis', 'guadiz', 'guandeola', 'guebara', 'guelba', 'guelles', 'guera', 'guerido', 'guerrera', 'guersi', 'guerta', 'guerte', 'gueso', 'guijarra', 'guillenes', 'guinal', 'guindal', 'guindalo', 'guisado', 'guisante', 'guizado', 'guizola', 'gurez', 'gurrumendi', 'gusman', 'gussano', 'habania', 'haldon', 'harres', 'henequin', 'herant', 'herediz', 'herhardt', 'hermengildo', 'hermoso\x97joan', 'herniquez', 'heronimo', 'herrados', 'herrandes', 'hieran', 'hieronimo', 'higales', 'higera', 'hiraldes', 'hitta', 'hoguen', 'holais', 'hondarca', 'hornedo', 'hortis', 'hozes', 'huebel', 'humarez', 'huses', 'ibara', 'ibarburu', 'ibarquen', 'ihoan', 'ille', 'inciante', 'infantes', 'ingleses', 'ipenarieta', 'ira', 'iraun', 'iriano', 'iruan', 'isidora', 'isola', 'izaguire', 'jacon', 'jamone', 'jarada', 'jaramielo', 'jaspar', 'jaurigui', 'jeraldo', 'jerena', 'jeron', 'jerquelbout', 'jhoan', 'jines', 'jiralte', 'jironimo', 'jnan', 'jno', 'joachin', 'joesph', 'josephas', 'joseps', 'jospeha', 'josph', 'jossephe', 'josue', 'ju', 'jua', 'juam', 'juanos', 'juli', 'jun', 'junquito', 'juo', 'jurate', 'jurrado', 'justicio', 'justina', 'juy', 'labonio', 'labor', 'labrare', 'laca', 'ladros', 'lagares', 'laino', 'lais', 'lamogar', 'lamperez', 'landaver', 'languazer', 'laque', 'laravalle', 'larda', 'largo', 'laride', 'larrio', 'larzca', 'lasas', 'latencio', 'lateral', 'latesa', 'laureana', 'lavera', 'laxas', 'laynes', 'ldo', 'leandrada', 'legala', 'legarbura', 'legot', 'legote', 'legott', 'lemena', 'lendines', 'leonarda', 'leonisio', 'leoniçio', 'leonora', 'lermal', 'liano', 'libano', 'libera', 'licendo', 'licht', 'linan', 'linar', 'lisana', 'lizama', 'llera', 'logroño', 'longerot', 'lonsero', 'lopa', 'lopano', 'lopera', 'lopez\x97', 'lorenso', 'loro', 'lorrio', 'losano', 'louque', 'lovillo', 'loyaeta', 'loys', 'luareano', 'lucente', 'lucera', 'lunan', 'lursuriaga', 'lusando', 'lusia', 'martineznos', 'mejla', 'ma', 'maceda', 'machucha', 'madero', 'madrial', 'maedael', 'maefe', 'maeftro', 'maese', 'maguez', 'maguilan', 'maior', 'majada', 'malada', 'malaves', 'malber', 'managa', 'manara', 'mancheño', 'mancosa', 'manito', 'mano', 'manriquez', 'mansano', 'mantin', 'manzanilla', 'manzera', 'mara', 'marbagon', 'marcalde', 'marcha', 'marchan', 'marias', 'marios', 'marito', 'marlesi', 'maron', 'marqueses', 'martaga', 'martha', 'martin\x97gaspar', 'masada', 'maseda', 'maso', 'mason', 'matencio', 'matheos', 'matheso', 'mathia', 'matieno', 'matta', 'matthias', 'maxtu', 'mayllo', 'mayoria', 'mazuela', 'mañan', 'mechor', 'mecia', 'medariaga', 'medays', 'medida', 'medie', 'medil', 'medina-sidonia', 'medinabla', 'megia', 'melado', 'men', 'menada', 'mendriaga', 'meneos', 'merchan', 'mercier', 'mesase', 'micergilio', 'michaela', 'micon', 'miguela', 'mijancas', 'millon', 'minaiz', 'mingues', 'mnez', 'mocade', 'mon-', 'monbritte', 'mondi', 'moneada', 'monero', 'monica', 'monroe', 'monrroi', 'monsalbe', 'monsalves', 'montalabo', 'montaluan', 'montañes\x97100', 'montañezsignada', 'montedoy', 'montedoza', 'montejer', 'monterda', 'montesdaca', 'montezdoca', 'montingre', 'monton', 'moracho', 'morales\x97franco', 'morano', 'morans', 'moreda', 'morellon', 'morilla', 'morua', 'motesdaco', 'moxon', 'mozan', 'mro', 'mugaburu', 'muriana', 'muys', 'nabaro', 'nabarrete', 'nabia', 'nanziba', 'naranjo', 'naravez', 'narbaes', 'narbaez', 'narvaes', 'natera', 'natranjo', 'nauas', 'navalla', 'navarez', 'navaro', 'nazera', 'neberos', 'negra', 'nestare', 'nevada', 'neves', 'niceforo', 'nicodemus', 'niculas', 'nievos', 'niseforia', 'niseforio', 'niseforo', 'niverto', 'nobela', 'noceda', 'nogren', 'nolda', 'noregon', 'norena', 'noseda', 'novela', 'nubes', 'nuestra', 'nufio', 'nufria', 'nufrio', 'nufro', 'nusete', 'nuñes', 'obiedo', 'obila', 'obispo', 'obsina', 'ocan', 'ocano', 'ocanpo', 'ocha', 'ochandi', 'ochandia', 'ochasareta', 'ochea', 'oforno', 'ojedo', 'ojero', 'olache', 'olaches', 'olaeta', 'olanches', 'olasen', 'olayrola', 'oliuares', 'olivos', 'omazur', 'omnium', 'onbigoze', 'ondarte', 'ondarzal', 'ondero', 'onesco', 'onesti', 'onigo', 'onofrio', 'orden', 'ordiales', 'orellan', 'orellano', 'oretano', 'oreutia', 'orisal', 'oros', 'orozquez', 'orteaga', 'ortelano', 'ortenegra', 'orti', 'ortigosa', 'ortigoza', 'ortis', 'osario', 'osinaga', 'otton', 'ouido', 'ouiedo', 'ourana', 'overra', 'padial', 'padre', 'pafecto', 'paiba', 'paisoles', 'palazios', 'palomes', 'palomia', 'palomita', 'panejo', 'panyagua', 'paradas', 'parales', 'paralta', 'parcia', 'parecio', 'parexa', 'parias', 'parrafranco', 'parrillo', 'pasion', 'pastrana', 'patino', 'patricia', 'patrilo', 'paves', 'payba', 'pedemontte', 'pedia', 'pedrozo', 'pelaes', 'pelear', 'pelicer', 'pelters', 'peltres', 'pena', 'peras', 'peraya', 'perca', 'pereanes', 'perjargo', 'perralba', 'perz', 'pesatierra', 'peso', 'pesquel', 'pessoa', 'pestierra', 'petronilla', 'picaro', 'pieragullano', 'pierogullano', 'pieterz', 'pila', 'pimenttel', 'pinares', 'pineda-', 'pineday', 'pinero', 'pinta', 'piti', 'pizarra', 'pizon', 'playns', 'pluyms', 'pluyns', 'pobea', 'pobeda', 'ponse', 'pontifice', 'ponze', 'pora', 'porasco', 'porrez', 'porsi', 'portel', 'portello', 'portilo', 'posso', 'postillo', 'povede', 'pozi', 'pren', 'presbitero', 'presbiteros', 'presentacion', 'presentador', 'presiada', 'presuitero', 'presvitero', 'prevendado', 'primeramente', 'probisor', 'prouisor', 'prouor', 'prousor', 'provor', 'publico', 'publico\x97juan', 'puesta', 'pulgarin', 'pumares', 'puya', 'quejada', 'querencia', 'quertas', 'queviejo', 'quiras', 'quiteria', 'rabarro', 'racionero', 'raes', 'ragel', 'rages', 'ragis', 'raideder', 'rajes', 'ramayo', 'ramera', 'ramires', 'ramudo', 'ranero', 'raphaela', 'rasionero', 'raton', 'ravancho', 'raymaquer', 'reber', 'recade', 'redaño', 'redio', 'redon', 'reduando', 'refis', 'regajal', 'regente', 'reimundo', 'reinosso', 'reliada', 'rema', 'remade', 'remalez', 'repatero', 'residente', 'resio', 'resta--', 'resurecion', 'retana', 'rete', 'retor', 'rettuertta', 'rey', 'reymundo', 'reynal', 'reynalte', 'reynel', 'reyz', 'rfos', 'ribadeniera', 'ribadenyra', 'ribafelcha', 'ribara', 'riberdi', 'riberol', 'riero', 'riguel', 'rinquel', 'riquel', 'riscos', 'rismendi', 'riuas', 'riuero', 'riveras', 'rles', 'roano', 'robanejo', 'rochero', 'rocoforte', 'rodero', 'rodeu', 'roesti', 'rogel', 'roguera', 'roja', 'rolleto', 'romanen', 'romas', 'romualda', 'roques', 'roqueta', 'ror', 'rosada', 'rosel', 'rostro', 'roxas', 'roxo', 'roys', 'ruasal', 'ruben', 'ruder', 'ruelas', 'rufina', 'ruis\x97franco', 'rut', 'ruvio', 'ruys', 'ruyz', 'ssez', 'sab', 'sabanza', 'sabariego', 'sabastiana', 'sabriana', 'sachez', 'saens', 'sagasta', 'saitores', 'salafranco', 'salbador', 'salbea', 'salbiche', 'salcedosausedo', 'salcedouna', 'salces', 'saldana', 'salero', 'salguez', 'salsedo\x97diego', 'saltillo', 'salto', 'saluador', 'salvadora', 'sambrano', 'sameta', 'samiedo', 'sampaco', 'sampayo', 'samra', 'samudio', 'sanaria', 'sanbarte', 'sanbitoret', 'sanbrano', 'sanctorum', 'sandobal', 'sanguino', 'santa', 'santistebanpartida', 'santo', 'santofincia', 'sanvarte', 'sarayn', 'sarcilla', 'sarebes', 'sarehir', 'sares', 'sarte', 'sartien', 'sarzoza', 'savala', 'saya', 'sa\x97fernan', 'schuren', 'seba', 'sebarillo', 'seberino', 'seco', 'sedemonte', 'sedma', 'seferino', 'seiba', 'sena', 'sendo', 'sepeda', 'sepulbeda', 'serabe', 'serabia', 'serrera', 'serrero', 'seta', 'seuastian', 'seuerino', 'sevilla\x97juan', 'sevilla\x97pedro', 'señor', 'señora', 'señores\x97benvenuto', 'señoria', 'shez', 'sibores', 'sigato', 'siguen', 'sigura', 'silba', 'silbestre', 'silua', 'simoins', 'simonel', 'sinajez', 'siron', 'sita', 'soberano', 'sohenone', 'soldan', 'solia', 'solo', 'solorcani', 'sonen', 'sopriarta', 'sopuerta', 'sor', 'sorqueza', 'sossa', 'sotes', 'sotomayo', 'sr', 'stacio', 'steuan', 'suares', 'suarte', 'sueldo', 'sugadi', 'sugura', 'sumeta', 'surita', 'sutigo', 'tabera', 'talvera', 'tamares', 'tamaro', 'tao', 'tapis', 'tarifa', 'taronque', 'tasara', 'tason', 'tazon', 'teba', 'tejado', 'tella', 'teniente', 'teodomino', 'teodora', 'teroro', 'terrin', 'testigos', 'tevra', 'thasa', 'thome', 'thoribio', 'thorobio', 'tiago', 'tiberio', 'tibino', 'tiburacio', 'tirado\x97francisco', 'tiscareño', 'tocha', 'todera', 'tol', 'tondero', 'torado', 'torcano', 'torcel', 'tordera', 'toredero', 'torrada', 'torregrofa', 'torregrosa', 'torrehermonsa', 'tortillo', 'triasa', 'tribucia', 'trono', 'truxillo', 'tuno', 'ubago', 'uberuoaga', 'ubiedo', 'ubrete', 'ubrien', 'ucles', 'udobro', 'uernaue', 'ufanqui', 'ulanos', 'ulara', 'ulloe', 'umanes', 'unavides', 'undarte', 'urbaneja', 'urbines', 'uriano', 'urquecir', 'urrechar', 'urritia', 'urrutera', 'ursola', 'urtaben', 'urtiaga', 'usanqui', 'usante', 'usarte', 'useda', 'usllanes', 'utrea', 'uzeda', 'va', 'vaena', 'vaesa', 'vagas', 'vaillalta', 'valasco', 'valdepeñas', 'valderama', 'valdovinos', 'valduque', 'vale', 'valenangel', 'valencina', 'valeros', 'valle27', 'valletera', 'valtanel', 'valvino', 'valvurua', 'vanegas', 'vanes', 'varcenas', 'vares', 'varga', 'varinelos', 'varnuevo', 'varo', 'varra', 'varros', 'varte', 'vastan', 'vastida', 'vayas', 'vbilla', 'vegines', 'veidacar', 'veinticuatro', 'velaffco', 'velas', 'velasques', 'velazquezof', 'velera', 'velladares', 'vellavoa', 'velloso', 'veloso', 'vena', 'venaides', 'venavides', 'veorostigui', 'veranga', 'veraspe', 'verastigue', 'vesaga', 'vevallos', 'vezeria', 'vidas', 'vigarejo', 'vigueras', 'villadon', 'villafranco', 'villafume', 'villapando', 'villaquiren', 'villaruel', 'villasa', 'villavizencio', 'villayn', 'villens', 'vinuere', 'viosa', 'virabedra', 'virgilio', 'viscanes', 'viterba', 'vitriu', 'vitudes', 'viueros', 'vizente', 'volmes', 'vormo', 'voutert', 'vreña', 'vrones', 'vrrutia', 'vtesschosider', 'vueva', 'vzanqui', 'wormer', 'wormos', 'xacinto', 'xaimez', 'xaramielo', 'xaurigue', 'xeres', 'xexas', 'xezerra', 'ximenes', 'xines', 'xpoual', 'xptobal', 'xptoual', 'xptoval', 'xpttoval', 'xuares', 'yafiez', 'yanez', 'yarretta', 'ybanez', 'ydobo', 'yerbado', 'yglesias', 'yllescas', 'ymbrea', 'ynes', 'ypenarieta', 'ysabel', 'ysac', 'ysauel', 'yscoben', 'yses', 'ysidoro', 'yta', 'yterayn3', 'ytieraen', 'yubrea', 'zabola', 'zamera', 'zanamiego', 'zanbrano', 'zapita', 'zaragoza', 'zarco', 'zarricola', 'zavala', 'zavele', 'zaya', 'zeballa', 'zelaya', 'zento', 'zerda', 'ziria', 'ziñiga', 'zojo', 'zuleta', 'zulueta', 'zumarraga', 'zuñiga', 'abadessa', 'abalos', 'abaxo', 'abeis', 'abendaño', 'abila', 'abiles', 'abita', 'abley', 'ablo', 'abrego', 'acenfio', 'acer', 'acharte', 'acipres', 'acofta', 'adornio', 'aduana', 'afedo', 'afencio', 'afenfio', 'afeto', 'agais', 'agora', 'agua', 'aguftin', 'aia', 'aillon', 'al', 'alaras', 'alaua', 'albadan', 'albadesa', 'albarado', 'albares', 'albarete', 'albarez', 'albarran', 'albornos', 'alcala', 'alcaldes', 'alcanse', 'alcaras', 'alcaudete', 'alcoger', 'alecio', 'alexandro', 'alfe', 'alferes', 'alferez', 'alfian', 'algualzil', 'algun', 'aliman', 'allarran', 'allo', 'almayda', 'almonacir', 'almonasir', 'almonte', 'alo', 'alonffo', 'alonfo', 'alonzo', 'altares', 'aluares', 'aluarez', 'aluaro', 'alunbre', 'alvarran', 'ambrofio', 'ambrosyo', 'anbos', 'anbrosio', 'anduxar', 'anefino', 'anjeles', 'anrriquez', 'antegana', 'antonyo', 'antunes', 'aobecios', 'aparysio', 'aranburo', 'aranburu', 'aranguibel', 'araqui', 'arbas', 'arbizti', 'arcarate', 'areualo', 'arfediano', 'arfian', 'argamada', 'argumedo', 'arispe', 'armario', 'armix', 'arquiteto', 'arquitetura\x97fray', 'arriero', 'arse', 'artifise', 'artus', 'arzediano', 'arzedo', 'arziniega', 'ascarate', 'asegurado', 'asentallo', 'asfarate', 'asis', 'aspur', 'assistente', 'atabalipa', 'atabante', 'aualos', 'aubezias', 'audres', 'auellano', 'autonio', 'aver', 'aveys', 'aya', 'aza', 'aze', 'azer', 'azeves', 'años\x97xpoual', 'baeça', 'bafco', 'bagan', 'baja', 'balberde', 'balcasar', 'balde', 'baldeolibas', 'baldera', 'balderas', 'baldeuieso', 'baldibiefo', 'baldibieso', 'baldivia', 'balduc', 'balduz', 'balencia', 'balentin', 'balentina', 'balençuela', 'ballejo', 'balleoso', 'ballexo', 'balmol', 'baltafar', 'baltaffar', 'baltaxar', 'balverde', 'bandanosa', 'bandelbira', 'bandeluira', 'banegas', 'bapta', 'baraffa', 'baraynca', 'barbaro', 'barea', 'barionuebo', 'barlolome', 'barluenga', 'barraffa', 'barragan', 'barraza', 'bartalome', 'bartolo', 'baruara', 'baruosa', 'barva', 'basari', 'basques', 'bastidores', 'batanes', 'batihoja', 'batioja', 'baucel', 'bauchel', 'bauda', 'baupta', 'bauta', 'bauzel', 'bazques', 'baço', 'baño', 'beatris', 'bedriero', 'bega', 'begon', 'behedores', 'belafques', 'belafquez', 'belalcaçar', 'belasques', 'belasquez', 'belazque', 'belazques', 'beles', 'belez', 'belini', 'benabides', 'benalcaçar', 'benbenuto', 'bendiese', 'benedita', 'benites', 'bentaxa', 'bera

How many tags do these dubious tokens affect? Let's calculate this below.

# Number of records with a token not from our name list

In [45]:
people.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,Unnamed: 0.1.1.1.1,docid,string,label,start,end,Remove,matched_str
0,0,0,0,57935,57935,6792,NaN,NaN,135,138,1,0
1,1,1,1,45285,45285,4978,- Rodriguez,PER,6,8,0,1
2,2,2,2,45173,45173,4961,-- Gomez Brito,PER,34,38,0,1
3,3,3,3,45108,45108,4952,-- Manrique,PER,11,13,0,1
4,4,4,4,61780,61780,7342,-- Ramirez,PER,29,31,0,1

In [46]:
people['matched_str'] = people['string'].apply(lambda x: pattern_searcher(search_str=str(x), search_list=dubioustokens))

In [47]:
people[people['Remove']=='0'].groupby(['matched_str']).count()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,Unnamed: 0.1.1.1.1,docid,string,label,start,end,Remove
matched_str,,,,,,,,,,,
0,24717,24717,24717,24717,24717,24717,24717,24717,24717,24717,24717
1,7725,7725,7725,7725,7725,7725,7725,7725,7725,7725,7725

Within our tags that have not been flagged for removal, We have 7,725 tags that have a potentially questionable token right now, and 24,717 that are OK.

In [48]:
len((set(people.loc[(people['Remove']=='0')&(people['matched_str']==1),'string'])))

4720

Of these 7,725 tags, 4720 are distinct strings.

In [49]:
len((set(people.loc[(people['Remove']=='0')&(people['matched_str']==0),'string'].to_list())))

9289

Of the 24,717 correct tags, 9289 are distinct strings.

We could potentially lower the barrier of fuzzy matching, to reduce these 4,720 tags further. But seeing that we only have 3,082 dubious tokens to go through, let's go through these manually and mark the ones we know to be tokens referring to names.

First, let's save these dubious tokens to a file.

In [51]:
strat3 = tokens.loc[tokens['is_name']!=1,'token']
strat3.to_csv("Files_Cleaning2/dubiousnametokens2_strat3.csv")

## 4 Manual Check of Dubious Tokens

In the file above, we went ahead and marked any tokens that were inequivocally last names with is_name=1. We also marked tokens that were clearly erroneous as is_name=0. These included verbs and numbers. We removed titles and descriptors such as "escribanos" or "fiadores", except if these descriptors might form part of the name ("Arcediano de Niebla").

In [52]:
dubious_handchecked = pd.read_excel("Files_Cleaning2/dubiousnametokens23_manualcheck.xlsx")

In [54]:
dubious_handchecked.groupby('is_name').count()

         tokenlower
is_name
0.0             185
1.0             983

In [55]:
len(dubious_handchecked)

2857

Of 2,857 tokens, we classified 983 as correct, 185 as wrong and the rest are yet undetermined.
We will take strings marked as 1 to be names, and strings marked as 0 or blank need to be edited.

In [56]:
dubiousfinal = dubious_handchecked.loc[dubious_handchecked['is_name']!=1,'tokenlower'].to_list()

In [57]:
len(dubiousfinal)

1874

In [59]:
people['matched_str'] = people['string'].apply(lambda x: pattern_searcher(search_str=str(x), search_list=dubiousfinal))

In [60]:
people[people['Remove']=='0'].groupby(['matched_str']).count()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,Unnamed: 0.1.1.1.1,docid,string,label,start,end,Remove
matched_str,,,,,,,,,,,
0,28768,28768,28768,28768,28768,28768,28768,28768,28768,28768,28768
1,3674,3674,3674,3674,3674,3674,3674,3674,3674,3674,3674

This leaves 3,674 tags whose spans need to be double checked.

## 5 Checking dubious tags manually - marking whether edits are needed

In this next step, we will create a column for editlong (Y-N), to mark those tags that will need span editing.

In [61]:
people['edit_long']=''

In [83]:
people.loc[people['matched_str']==0,'edit_long']='0'

In [63]:
from IPython.display import clear_output
import spacy
from spacy import displacy

In [70]:
import pickle

file = open("../Text Mining (NER)/Trained_EMS2_NER_data.p", 'rb')
docs = pickle.load(file)

In [159]:
count = 0
for (index, row) in people.iterrows():

    if (row['Remove']=='0') and (row['matched_str']==1) and (row['edit_long']==''):
        count=count+1
        print(count)
        print(row['string'])
        
        docid = row['docid']
        strstart = int(row['start'])
        fetchend = strstart + 10
        
        for doc in docs:
            if doc[1]['id'] == docid:      
                displacy.render(doc[0][strstart:fetchend],style='ent',jupyter=True)
                people.loc[index, 'edit_long']=input('Edit?')
                
                if people.loc[index, 'edit_long']=='X':
                    for doc in docs:
                        if doc[1]['id'] == docid:
                            displacy.render(doc[0],style='ent',jupyter=True)
                            people.loc[index,'edit_long']=input('Edit?')
                clear_output(wait=True)

1
maria muger

Edit? X

Edit? 1

In [160]:
people[people['Remove']=='0'].groupby(['edit_long']).count()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,Unnamed: 0.1.1.1.1,docid,string,label,start,end,Remove,matched_str
edit_long,,,,,,,,,,,,
0,31756,31756,31756,31756,31756,31756,31756,31756,31756,31756,31756,31756
1,644,644,644,644,644,644,644,644,644,644,644,644
L,2,2,2,2,2,2,2,2,2,2,2,2
O,1,1,1,1,1,1,1,1,1,1,1,1
R,39,39,39,39,39,39,39,39,39,39,39,39

In [ ]:
# there may be tokens in the name list that are suspect?

So now I have marked the strings that would require editing to remove excess tokens with a 1. 

L O and R refer to removing or reclassifying tags, so let's transfer these to the 'Remove' column.

In [164]:
people.loc[people['edit_long']=='R','Remove']= '1'

In [167]:
people.loc[people['edit_long']=='L','Remove']= 'L'
people.loc[people['edit_long']=='O','Remove']= 'O'

And let's clean up so that the edit_long category is blank for any items slated for removal or recategorization.

In [169]:
people.loc[people['Remove']=='1','edit_long']= ''
people.loc[people['Remove']=='D','edit_long']= ''
people.loc[people['Remove']=='L','edit_long']= ''
people.loc[people['Remove']=='O','edit_long']= ''

In [170]:
people.groupby(['Remove','edit_long']).count()

                  Unnamed: 0  Unnamed: 0.1  Unnamed: 0.1.1  Unnamed: 0.1.1.1  \
Remove edit_long
0      0               31756         31756           31756             31756
       1                 644           644             644               644
1                        600           600             600               600
D                          6             6               6                 6
L                         41            41              41                41
M                          6             6               6                 6
O                         67            67              67                67

                  Unnamed: 0.1.1.1.1  docid  string  label  start    end  \
Remove edit_long
0      0                       31756  31756   31756  31756  31756  31756
       1                         644    644     644    644    644    644
1                                600    600     597     39    600    600
D                                  6      6       6      6      6      6
L                                 41     41      41     41     41     41
M                                  6      6       6      6      6      6
O                                 67     67      67     67     67     67

                  matched_str
Remove edit_long
0      0                31756
       1                  644
1                         600
D                           6
L                          41
M                           6
O                          67

As we can see, 31,756 tags are accepted. 644 must be edited for length. 600 must be removed, and 120 must be recategorized.

In [171]:
people.to_csv("Files_Cleaning2/PER_tags_clean2.csv")

In [172]:
people.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,Unnamed: 0.1.1.1.1,docid,string,label,start,end,Remove,matched_str,edit_long
0,0,0,0,57935,57935,6792,NaN,NaN,135,138,1,0,
1,1,1,1,45285,45285,4978,- Rodriguez,PER,6,8,0,0,0
2,2,2,2,45173,45173,4961,-- Gomez Brito,PER,34,38,0,0,0
3,3,3,3,45108,45108,4952,-- Manrique,PER,11,13,0,0,0
4,4,4,4,61780,61780,7342,-- Ramirez,PER,29,31,0,0,0

# Apply these changes to the Spans in Our Dataframe

The first thing to do is to change the spans in our people dataframe. 

We then have to apply these changes directly to the pickled spacy output, in order to find more information later (such as person descriptors). We can also use it later to update the strings in our people dataframe.

In [89]:
# importing pandas and our previous work in a new session
import pandas as pd


from IPython.display import clear_output
import spacy
from spacy import displacy

import pickle

In [44]:
people= pd.read_csv('Files_Cleaning2/PER_tags_clean2.csv')

In [90]:
file = open("../Text Mining (NER)/Trained_EMS2_NER_data.p", 'rb')
docs = pickle.load(file)

1. Changing spans and strings in our people dataframe.

First, let's add new columns so we can modify the spans without risk of mistakes.

In [45]:
people['newstart']=''
people['newend']=''

To avoid tripping up and making mistakes, we are going to loop twice, first editing the starts of spans and separately editing the ends.

In [60]:
count = 0
for (index, row) in people.iterrows():

    if row['edit_long']=='1':
        count=count+1
        print(count)
        print(row['string'],row['start'],row['end'])
        
        docid = row['docid']
        strstart = int(row['start'])
        fetchend = strstart + 10
        
        for doc in docs:
            if doc[1]['id'] == docid:      
                displacy.render(doc[0][strstart:fetchend],style='ent',jupyter=True)
                a=input('New start?')
                d= input('Need to fix edit_long?')           
                if d =='y':
                    people.loc[index,'edit_long']='D'
                    if a !='':
                        people.loc[index, 'newstart']=a
                if d=='e':
                    people.loc[index,'edit_long']='e'
                    if a !='':
                        people.loc[index, 'newstart']=a
                else:
                    people.loc[index,'edit_long']=d
                    
                clear_output(wait=True)

5
soror beatriz jesus priora 15 20

New start? 16
Need to fix edit_long? y

y = go to edit long
e = end (done with edits, does not go to edit long)
o = other issue (does not go to edit long, should also double check)
R = remove (must double check, does not go to edit long)

Issues included in 'o' are two: incorrect tokenizing (cannot remove extra word) and multiple persons in a single tag

In [61]:
people.groupby(['Remove','edit_long']).count()

                  Unnamed: 0  Unnamed: 0.1  Unnamed: 0.1.1  Unnamed: 0.1.1.1  \
Remove edit_long
0      0.0             31756         31756           31756             31756
       0                  11            11              11                11
       D                 150           150             150               150
       R                  11            11              11                11
       e                  79            79              79                79
       o                 153           153             153               153
       y                 240           240             240               240

                  Unnamed: 0.1.1.1.1  Unnamed: 0.1.1.1.1.1  docid  string  \
Remove edit_long
0      0.0                     31756                 31756  31756   31756
       0                          11                    11     11      11
       D                         150                   150    150     150
       R                          11                    11     11      11
       e                          79                    79     79      79
       o                         153                   153    153     153
       y                         240                   240    240     240

                  label  start    end  matched_str  newstart  newend
Remove edit_long
0      0.0        31756  31756  31756        31756     31756   31756
       0             11     11     11           11        11      11
       D            150    150    150          150       150     150
       R             11     11     11           11        11      11
       e             79     79     79           79        79      79
       o            153    153    153          153       153     153
       y            240    240    240          240       240     240

In [72]:
count = 0
for (index, row) in people.iterrows():

    if row['edit_long']=='y':
        count=count+1
        print(count)
        print(row['string'],row['start'],row['end'])
        
        docid = row['docid']
        strstart = int(row['start'])
        fetchend = strstart + 10
        
        for doc in docs:
            if doc[1]['id'] == docid:      
                displacy.render(doc[0][strstart:fetchend],style='ent',jupyter=True)
                a=input('New end?')
                d= input('Need to fix edit_long?')           
                if d =='y':
                    people.loc[index,'edit_long']='D'
                    if a !='':
                        people.loc[index, 'newend']=a
                if d=='e':
                    people.loc[index,'edit_long']='e'
                    if a !='':
                        people.loc[index, 'newend']=a
                else:
                    people.loc[index,'edit_long']=d
                    
                clear_output(wait=True)

139
 Francisco Saavedra Escribano 1821 1826

New end? 1825
Need to fix edit_long? e

In [73]:
people.groupby(['Remove','edit_long']).count()

                  Unnamed: 0  Unnamed: 0.1  Unnamed: 0.1.1  Unnamed: 0.1.1.1  \
Remove edit_long
0      0.0             31756         31756           31756             31756
       0                  15            15              15                15
       R                  11            11              11                11
       e                 465           465             465               465
       o                 153           153             153               153

                  Unnamed: 0.1.1.1.1  Unnamed: 0.1.1.1.1.1  docid  string  \
Remove edit_long
0      0.0                     31756                 31756  31756   31756
       0                          15                    15     15      15
       R                          11                    11     11      11
       e                         465                   465    465     465
       o                         153                   153    153     153

                  label  start    end  matched_str  newstart  newend
Remove edit_long
0      0.0        31756  31756  31756        31756     31756   31756
       0             15     15     15           15        15      15
       R             11     11     11           11        11      11
       e            465    465    465          465       465     465
       o            153    153    153          153       153     153

We are going over the full text of the ones we marked R to re-check them. Ones that truly must be removed have now been marked 'r', others edited and categorized.

In [75]:
count = 0
for (index, row) in people.iterrows():

    if row['edit_long']=='R':
        count=count+1
        print(count)
        print(row['string'],row['start'],row['end'])
        
        docid = row['docid']
        strstart = int(row['start'])
        fetchend = strstart + 10
        
        for doc in docs:
            if doc[1]['id'] == docid:      
                displacy.render(doc[0],style='ent',jupyter=True)
                a=input('New end?')
                d= input('Need to fix edit_long?')           
                if d =='y':
                    people.loc[index,'edit_long']='D'
                    if a !='':
                        people.loc[index, 'newend']=a
                if d=='e':
                    people.loc[index,'edit_long']='e'
                    if a !='':
                        people.loc[index, 'newend']=a
                else:
                    people.loc[index,'edit_long']=d
                    
                clear_output(wait=True)

11
miguel fechas barro 75 79

New end? 76
Need to fix edit_long? e

In [96]:
people.groupby(['Remove','edit_long']).count()

                  Unnamed: 0  Unnamed: 0.1  Unnamed: 0.1.1  Unnamed: 0.1.1.1  \
Remove edit_long
0      0.0             31772         31772           31772             31772
       e                 470           470             470               470
       o                 154           154             154               154
1                          4             4               4                 4

                  Unnamed: 0.1.1.1.1  Unnamed: 0.1.1.1.1.1  docid  string  \
Remove edit_long
0      0.0                     31772                 31772  31772   31772
       e                         470                   470    470     470
       o                         154                   154    154     154
1                                  4                     4      4       4

                  label  start    end  matched_str  newstart  newend
Remove edit_long
0      0.0        31772  31772  31772        31772     31772   31772
       e            470    470    470          470       470     470
       o            154    154    154          154       154     154
1                     4      4      4            4         4       4

In [95]:
people.loc[people['edit_long']=='0','edit_long']=0

In [85]:
people.loc[people['edit_long']=='r','Remove']='1'

In [92]:
people.loc[people['edit_long']=='r','edit_long']= None

In [97]:
people.groupby(['Remove',people['edit_long'].isna()]).count()

                  Unnamed: 0  Unnamed: 0.1  Unnamed: 0.1.1  Unnamed: 0.1.1.1  \
Remove edit_long
0      False           32396         32396           32396             32396
1      False               4             4               4                 4
       True              600           600             600               600
D      True                6             6               6                 6
L      True               41            41              41                41
M      True                6             6               6                 6
O      True               67            67              67                67

                  Unnamed: 0.1.1.1.1  Unnamed: 0.1.1.1.1.1  docid  string  \
Remove edit_long
0      False                   32396                 32396  32396   32396
1      False                       4                     4      4       4
       True                      600                   600    600     597
D      True                        6                     6      6       6
L      True                       41                    41     41      41
M      True                        6                     6      6       6
O      True                       67                    67     67      67

                  label  start    end  matched_str  edit_long  newstart  \
Remove edit_long
0      False      32396  32396  32396        32396      32396     32396
1      False          4      4      4            4          4         4
       True          39    600    600          600          0       600
D      True           6      6      6            6          0         6
L      True          41     41     41           41          0        41
M      True           6      6      6            6          0         6
O      True          67     67     67           67          0        67

                  newend
Remove edit_long
0      False       32396
1      False           4
       True          600
D      True            6
L      True           41
M      True            6
O      True           67

In [98]:
people.to_csv("Files_Cleaning2/PER_tags_clean2_manual.csv")

D are  the ones that were edited and corrected.

o are the ones that have another problem and have to be corrected in another way. There are two different problems: 
    1. Two names are marked as one entity
    2. The span is too long but because of faulty tokenization (i.e. the name has incorporated another word because that word wasn't separated from the rest of the name).
    
The second case does not seem too problematic, we can just accept them and edit them as needed.
The first case...


# Update: Also Revising some Dubious Words in the Namelist

Before proceeding, I would like to double check that some tokens that we have accepted because they are on the namelist might not also be wrong. I will import our lists of names (first names, last names, and name tokens identified by kinkead), and find all the tokens that match an item in the namelists. Of these, I will manually mark those that could be problematic, and review them as before.

In [40]:
fnames = open('DBE_Names/firstnames.txt')
lnames = open('DBE_Names/lastnames.txt')
knames = pd.read_csv("Files_Cleaning2/acceptednametokens2_strat1.csv")
knames= knames['token'].str.lower().tolist()

In [41]:
names = []

for line in fnames:
    names.append(line.rstrip('\n'))
    
for line in lnames:
    names.append(line.rstrip('\n'))
    
for line in knames:
    names.append(line.rstrip('\n'))

In [44]:
names = set(names)

In [45]:
len(names)

10246

Just to check, this is a list of 10,246 tokens, which coincides with what we know of the name lists.

In [46]:
tokensintags = pd.read_csv('PersonNameTokenList.csv')

In [47]:
tokensintags

              -
0            --
1        --Nino
2          --de
3        -basco
4       -gaspar
...         ...
6686     çuleta
6687   çumaraga
6688  çumarraga
6689   çurbaran
6690     çuñiga

[6691 rows x 1 columns]

In [48]:
tokensintags = tokensintags['-'].tolist()

In [51]:
in_namelist = []

for line in tokensintags:
    if line.lower() in names:
        in_namelist.append(line.lower())

In [59]:
in_namelist= list(set(in_namelist))

In [60]:
len(in_namelist)

1928

So of the tokens present in our identified entities, 1,928 of them (lowercase) appear in our name lists, which coincides with our work above. This is a manageable number to revise by hand in a spreadsheet.

Let's output it to a file:

In [61]:
with open('Files_Cleaning2/EntityTokensinKFLNamelists.csv','w') as file:
    for line in in_namelist:
        file.write(line + '\n')

Below, we import the file that resulted from this manual check. Value 1 are tokens that should be double checked manually. We included tokens that made reference to geography, had second meanings or had no reasonable close approximation that we thought could be a name.

In [66]:
dubiousnametokens = pd.read_excel('Files_Cleaning2/EntityTokensinKFLNamelists_manual_check.xlsx')

In [67]:
dubiousnametokens

         token  check
0       guejar    NaN
1     belmonte    NaN
2       gatica    NaN
3        moyna    NaN
4            r    1.0
...        ...    ...
1923    solana    NaN
1924    patiño    NaN
1925  pradillo    NaN
1926   montoro    NaN
1927   hasinte    NaN

[1928 rows x 2 columns]

In [76]:
dubiousnametokens = dubiousnametokens.loc[dubiousnametokens['check']==1,'token'].to_list()

Using the previously defined pattern searcher function, we can check the number of entities we will have to check.

In [69]:
people = pd.read_csv('Files_Cleaning2/PER_tags_clean2_manual.csv')

In [70]:
people.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,Unnamed: 0.1.1.1.1,Unnamed: 0.1.1.1.1.1,Unnamed: 0.1.1.1.1.1.1,docid,string,label,start,end,Remove,matched_str,edit_long,newstart,newend
0,0,0,0,0,0,57935,57935,6792,NaN,NaN,135,138,1,0,NaN,NaN,NaN
1,1,1,1,1,1,45285,45285,4978,- Rodriguez,PER,6,8,0,0,0.0,NaN,NaN
2,2,2,2,2,2,45173,45173,4961,-- Gomez Brito,PER,34,38,0,0,0.0,NaN,NaN
3,3,3,3,3,3,45108,45108,4952,-- Manrique,PER,11,13,0,0,0.0,NaN,NaN
4,4,4,4,4,4,61780,61780,7342,-- Ramirez,PER,29,31,0,0,0.0,NaN,NaN

In [71]:
people['matched_str'] = ''

In [77]:
people['matched_str'] = people['string'].apply(lambda x: pattern_searcher(search_str=str(x), search_list=dubiousnametokens))

In [103]:
people = people.fillna('')

Next. all the matches that occur with strings that are in capitals can be ignored, because Kinkead already identified them as correct.

In [107]:
people.loc[people['string'].str.isupper(), 'matched_str']=0

In [108]:
people[(people['Remove']=='0')].groupby(['matched_str','edit_long']).count()

                       Unnamed: 0  Unnamed: 0.1  Unnamed: 0.1.1  \
matched_str edit_long
0           0                  37            37              37
            0.0             29858         29858           29858
            e                 425           425             425
            o                 138           138             138
1           0                   2             2               2
            0.0              1875          1875            1875
            e                  45            45              45
            o                  16            16              16

                       Unnamed: 0.1.1.1  Unnamed: 0.1.1.1.1  \
matched_str edit_long
0           0                        37                  37
            0.0                   29858               29858
            e                       425                 425
            o                       138                 138
1           0                         2                   2
            0.0                    1875                1875
            e                        45                  45
            o                        16                  16

                       Unnamed: 0.1.1.1.1.1  Unnamed: 0.1.1.1.1.1.1  docid  \
matched_str edit_long
0           0                            37                      37     37
            0.0                       29858                   29858  29858
            e                           425                     425    425
            o                           138                     138    138
1           0                             2                       2      2
            0.0                        1875                    1875   1875
            e                            45                      45     45
            o                            16                      16     16

                       string  label  start    end  Remove  newstart  newend
matched_str edit_long
0           0              37     37     37     37      37        37      37
            0.0         29858  29858  29858  29858   29858     29858   29858
            e             425    425    425    425     425       425     425
            o             138    138    138    138     138       138     138
1           0               2      2      2      2       2         2       2
            0.0          1875   1875   1875   1875    1875      1875    1875
            e              45     45     45     45      45        45      45
            o              16     16     16     16      16        16      16

labels tagged 'e' were already fixed. labels tagged 'o' have no easy solution and were also checked. We have to go over 1,875 tags that have matched a dubious string and show up as 0.0.

As a first step, let's see which we actually need to edit. We will mark the edit-long column as 1 if needs to be changed, 0 as OK, and LODM or R if the tag needs to be changed or the entity removed.

In [124]:
count = 0
for (index, row) in people.iterrows():
    
    if row['string'].isupper():
        people.loc[index, 'edit_long']='0'

    elif (row['Remove']=='0') and (row['matched_str']==1) and (row['edit_long']=='0.0'):
        count=count+1
        print(count)
        print(row['string'])
        
        docid = row['docid']
        strstart = int(row['start'])
        fetchend = strstart + 10
        
        for doc in docs:
            if doc[1]['id'] == docid:      
                displacy.render(doc[0][strstart:fetchend],style='ent',jupyter=True)
                people.loc[index, 'edit_long']=input('Edit?')
                
                if people.loc[index, 'edit_long']=='X':
                    for doc in docs:
                        if doc[1]['id'] == docid:
                            displacy.render(doc[0],style='ent',jupyter=True)
                            people.loc[index,'edit_long']=input('Edit?')
                clear_output(wait=True)

1
fray Antonio los angeles

Edit? 1

In [142]:
people[(people['Remove']=='0')].groupby(['edit_long']).count()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,Unnamed: 0.1.1.1.1,Unnamed: 0.1.1.1.1.1,Unnamed: 0.1.1.1.1.1.1,docid,string,label,start,end,Remove,matched_str,newstart,newend
edit_long,,,,,,,,,,,,,,,,
0,7718,7718,7718,7718,7718,7718,7718,7718,7718,7718,7718,7718,7718,7718,7718,7718
0.0,23862,23862,23862,23862,23862,23862,23862,23862,23862,23862,23862,23862,23862,23862,23862,23862
1,146,146,146,146,146,146,146,146,146,146,146,146,146,146,146,146
L,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3
O,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8
R,35,35,35,35,35,35,35,35,35,35,35,35,35,35,35,35
e,470,470,470,470,470,470,470,470,470,470,470,470,470,470,470,470
o,154,154,154,154,154,154,154,154,154,154,154,154,154,154,154,154

As we can see, 146 spans need to be modified, and a few recategorized or removed.

Next, let's go over the 146 spans to be modified as we did before, and edit the newbegin and newend values.

In [147]:
count = 0
for (index, row) in people.iterrows():

    if row['edit_long']=='1':
        count=count+1
        print(count)
        print(row['string'],row['start'],row['end'])
        
        docid = row['docid']
        strstart = int(row['start'])
        fetchend = strstart + 10
        
        for doc in docs:
            if doc[1]['id'] == docid:      
                displacy.render(doc[0][strstart:fetchend],style='ent',jupyter=True)
                
                a=input('New start?')
                b=input('New end?')
                d= input('Edit_long?')           
                if d =='e':
                    people.loc[index,'edit_long']='e'
                    if a !='':
                        people.loc[index, 'newstart']=a
                    if b !='':
                        people.loc[index,'newend']=b
                else:
                    people.loc[index,'edit_long']=d
                    
                clear_output(wait=True)

36
paulo quinto 71 73

New start?
New end?
Edit_long? R

In [152]:
count = 0
for (index, row) in people.iterrows():

    if 'fernandez carmona' in row['string']:
        count=count+1
        print(count)
        print(row['string'],row['start'],row['end'])
        
        docid = row['docid']
        strstart = int(row['start'])
        fetchend = strstart + 10
        
        for doc in docs:
            if doc[1]['id'] == docid:      
                displacy.render(doc[0],style='ent',jupyter=True)
                
                a=input('New start?')
                b=input('New end?')
                d= input('Edit_long?')           
                if d =='e':
                    people.loc[index,'edit_long']='e'
                    if a !='':
                        people.loc[index, 'newstart']=a
                    if b !='':
                        people.loc[index,'newend']=b
                else:
                    people.loc[index,'edit_long']=d
                    
                clear_output(wait=True)

1
fernandez carmona 34 37

New start? 33
New end?
Edit_long? e

In [153]:
people[(people['Remove']=='0')].groupby(['edit_long']).count()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,Unnamed: 0.1.1.1.1,Unnamed: 0.1.1.1.1.1,Unnamed: 0.1.1.1.1.1.1,docid,string,label,start,end,Remove,matched_str,newstart,newend
edit_long,,,,,,,,,,,,,,,,
0,7720,7720,7720,7720,7720,7720,7720,7720,7720,7720,7720,7720,7720,7720,7720,7720
0.0,23862,23862,23862,23862,23862,23862,23862,23862,23862,23862,23862,23862,23862,23862,23862,23862
L,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3
O,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8
R,35,35,35,35,35,35,35,35,35,35,35,35,35,35,35,35
e,610,610,610,610,610,610,610,610,610,610,610,610,610,610,610,610
o,158,158,158,158,158,158,158,158,158,158,158,158,158,158,158,158

To clean the cells and transfer relevant results to the remove column:

In [154]:
people.loc[people['edit_long']=='0','edit_long']=0

In [168]:
people.loc[people['edit_long']=='R','Remove']='1'
people.loc[people['edit_long']=='L','Remove']= 'L'
people.loc[people['edit_long']=='O','Remove']= 'O'

In [182]:
people.loc[people['edit_long']=='R','edit_long']= None
people.loc[people['edit_long']=='L','edit_long']= None
people.loc[people['edit_long']=='O','edit_long']= None
people.loc[people['edit_long']=='e','edit_long']= '1'
people.loc[people['edit_long']=='0.0','edit_long']= '0'
people.loc[people['edit_long']==0,'edit_long']= '0'

In [184]:
people.loc[(people['edit_long']=='0A'),'edit_long']='0'

In [188]:
people.groupby(['Remove']).count()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,Unnamed: 0.1.1.1.1,Unnamed: 0.1.1.1.1.1,Unnamed: 0.1.1.1.1.1.1,docid,string,label,start,end,matched_str,edit_long,newstart,newend
Remove,,,,,,,,,,,,,,,,
0,32350,32350,32350,32350,32350,32350,32350,32350,32350,32350,32350,32350,32350,32350,32350,32350
1,639,639,639,639,639,639,639,639,639,639,639,639,639,604,639,639
D,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6
L,44,44,44,44,44,44,44,44,44,44,44,44,44,41,44,44
M,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6
O,75,75,75,75,75,75,75,75,75,75,75,75,75,67,75,75

In [189]:
people.groupby('edit_long').count()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,Unnamed: 0.1.1.1.1,Unnamed: 0.1.1.1.1.1,Unnamed: 0.1.1.1.1.1.1,docid,string,label,start,end,Remove,matched_str,newstart,newend
edit_long,,,,,,,,,,,,,,,,
,724,724,724,724,724,724,724,724,724,724,724,724,724,724,724,724
0,31582,31582,31582,31582,31582,31582,31582,31582,31582,31582,31582,31582,31582,31582,31582,31582
1,610,610,610,610,610,610,610,610,610,610,610,610,610,610,610,610
o,158,158,158,158,158,158,158,158,158,158,158,158,158,158,158,158

With these numbers tidied up, we can see that 639 tags are slated for removal, others for re-categorization (6 dates, 44 locations, 6 monetary, 75 organizations). Of the accepted tags, we edited 610 spans and found 158 with problems that we have not yet been able to resolve (more than one entity in a tag and tokenization issues). 31,582 tags have been accepted without modification.

Note: I was going to make a distinction between spans we checked manually (c.7700) and those that were detected automatically, but I accidentally wrote over the information and will not be re-checking.

In [186]:
people.to_csv("Files_Cleaning2/PER_tags_clean2_manual2.csv")

In [ ]:
import pickle

In [1]:
pickle.dump(docs, open( "NER_data_Cleaned22.p", "wb" ) )

NameError: name 'pickle' is not defined