#Â Data Cleaning 3: Correcting Entity Spans (short)

Search for tokens to the left and right of a tagged person that appear in the entity list and the name lists and have not been tagged as entities. We can import the spacy docs, each token should have an entity tag = 0.

In [1]:
from IPython.display import clear_output
import spacy
from spacy import displacy

import pickle

In [2]:
import pandas as pd

In [3]:
file = open("Files_Cleaning2/NER_data_Cleaned22.p", 'rb')
docs = pickle.load(file)

Let's import the file with the list of tokens appearing in our 3 lists, manually checked for dubious options, and filter those out.

In [4]:
names = pd.read_excel("Files_Cleaning2/EntityTokensinKFLNamelists_manual_check.xlsx")

In [8]:
names.fillna('0').groupby('check').count()

       token
check
1.0      311
0       1617

In [6]:
acceptednames = names.loc[names['check']!=1,'token'].tolist()

In [9]:
acceptednames = list(set(acceptednames))

In [10]:
len(acceptednames)

1617

We can also add tokens from our name lists that did not appear in our tagged tokens, but might be elsewhere in the documents.

In [11]:
fnames = open("DBE_Names/firstnames.txt", 'r')
lnames = open("DBE_Names/lastnames.txt",'r')

In [12]:
DBEnames = []

for line in fnames:
    DBEnames.append(line.rstrip('\n'))
    
for line in lnames:
    DBEnames.append(line.rstrip('\n'))

In [13]:
DBEnames = set(DBEnames)

In [14]:
len(DBEnames)

10005

Iterating through the rows, we found some tokens that are not necessary in these lists. We'll remove them:
maestro
licenciado
bachiller
maestre
fray
nombre
jurado
notario
vicario
mercader
escribano

In [15]:
'maestro' in DBEnames

True

In [16]:
'licenciado' in DBEnames

True

In [17]:
'bachiller' in DBEnames

True

In [18]:
'maestre' in DBEnames

True

In [19]:
'fray' in DBEnames

True

In [20]:
'nombre' in DBEnames

True

In [21]:
'jurado' in DBEnames

True

In [22]:
'notario' in DBEnames

True

In [23]:
'vicario' in DBEnames

True

In [24]:
'mercader' in DBEnames

True

In [25]:
'escribano' in DBEnames

True

In [26]:
DBEnames.remove('maestro')

In [27]:
DBEnames.remove('licenciado')
DBEnames.remove('bachiller')

In [28]:
DBEnames.remove('maestre')
DBEnames.remove('fray')
DBEnames.remove('nombre')
DBEnames.remove('jurado')
DBEnames.remove('notario')
DBEnames.remove('vicario')
DBEnames.remove('mercader')

In [29]:
DBEnames.remove('escribano')

Let's look at the tokens that appear in the DBE list but do not form part of any entity (token.ent_iob is 2).

In [30]:
untagged = []
for doc,context in docs:
    for token in doc:
        if (token.ent_iob==2) and ((token.text.lower() in DBEnames)):
            untagged.append(token.text)

In [31]:
len(untagged)

79780

In [32]:
print(set(untagged))

{'vera', 'bejar', 'labrador', 'hijas', 'campo', 'estada', 'salvador', 'Chaves', 'osuna', 'Hospital', 'peru', 'Ignacio', 'vuelta', 'bassa', 'oleo', 'Hombre', 'Jesus', 'romero', 'crespo', 'balduque', 'iglesias', 'obligado', 'horno', 'andino', 'provecho', 'balle', 'macia', 'batista', 'sota', 'coronel', 'linage', 'regla', 'Morales', 'angeles', 'negro', 'phelipe', 'balmazeda', 'Segunda', 'treviÃ±o', 'Rico', 'Corte', 'dominico', 'escriba', 'garcia', 'Monteros', 'sobrino', 'Yermo', 'Batista', 'celada', 'castellanos', 'tornos', 'llanas', 'juan', 'maeda', 'sillero', 'raso', 'Tome', 'Restan', 'Jacob', 'coll', 'plaza', 'peon', 'linaza', 'Villanueva', 'salcedo', 'remesal', 'pared', 'ursula', 'Aldana', 'laurencio', 'Amparo', 'eliseo', 'tizon', 'Justa', 'criado', 'Ramo', 'castillejo', 'mina', 'limpias', 'plata', 'CARTA', 'gallego', 'Perez', 'lara', 'Carta', 'gato', 'purificacion', 'Junta', 'cuentas', 'palomares', 'benegas', 'monasterio', 'rueda', 'rincon', 'camacho', 'Perea', 'rosa', 'anunciacion', 'barrera', 'matis', 'Esperanza', 'ventura', 'blancas', 'Oviedo', 'rato', 'gozar', 'flores', 'conrado', 'gragera', 'bassas', 'falconete', 'herrero', 'baranda', 'pardo', 'Justicia', 'Rodrigues', 'tomasa', 'tomas', 'Pablo', 'mira', 'fierro', 'arroyo', 'aguilar', 'bermejo', 'hernan', 'anna', 'PLATA', 'alas', 'marzo', 'PERO', 'Austria', 'rosas', 'Alvaro', 'antequera', 'hurtado', 'parada', 'alli', 'moldes', 'piedad', 'castellar', 'alameda', 'frutos', 'chico', 'marta', 'simon', 'Bruno', 'gavilan', 'jardin', 'bartolomeo', 'Puente', 'Ribas', 'Flecha', 'ladron', 'Reyes', 'baca', 'ponce', 'guevara', 'gallegos', 'toro', 'lucia', 'anejo', 'bolos', 'molina', 'navajas', 'sese', 'della', 'Piscina', 'Gutierrez', 'Hernan', 'Angel', 'blanco', 'diego', 'buenaventura', 'pes', 'sierpe', 'terreros', 'barbero', 'dehesa', 'pedroso', 'valor', 'quiÃ±ones', 'gusta', 'bodega', 'gines', 'llamas', 'acha', 'cavallero', 'concepcion', 'Cuesta', 'toma', 'pino', 'mancebo', 'corral', 'verdes', 'rua', 'saco', 'carlos', 'polo', 'fuente', 'cabeza', 'Diego', 'fuertes', 'beata', 'vaca', 'page', 'paula', 'Clemencia', 'Mesa', 'David', 'hernando', 'bailo', 'sas', 'encarnacion', 'quadra', 'contador', 'Alonso', 'quero', 'Olivares', 'franco', 'pablo', 'Rafael', 'mayor', 'Concha', 'Pino', 'Ramon', 'guerra', 'Pinos', 'tadeo', 'cansino', 'fajardo', 'Solano', 'elias', 'Leyes', 'Coronado', 'melchior', 'Monte', 'beatriz', 'toscano', 'lucas', 'riba', 'olivar', 'trinidad', 'falcon', 'alamin', 'moneda', 'honorio', 'barreda', 'cerro', 'verdad', 'niÃ±o', 'nieto', 'Margarita', 'Ronda', 'aguila', 'martel', 'corro', 'pimentel', 'coronado', 'cadena', 'mor', 'Carvajal', 'montagudo', 'cajes', 'garnica', 'Cristobal', 'Armas', 'Baptista', 'lopes', 'Alvarez', 'carpintero', 'deu', 'lista', 'coto', 'rea', 'portal', 'tienda', 'malo', 'barco', 'Paez', 'abad', 'caldero', 'pares', 'villafuerte', 'jesus', 'Vega', 'piedra', 'Espinosa', 'portales', 'Barbero', 'millan', 'orozco', 'Delgado', 'cortada', 'posada', 'montesdoca', 'pilares', 'bela', 'Fuentes', 'Toma', 'fuerte', 'huerta', 'Bandera', 'pinos', 'cameros', 'Velasco', 'terrero', 'peÃ±afiel', 'Costa', 'duque', 'Guillermo', 'geronimo', 'quintero', 'alba', 'solera', 'Clemente', 'jacome', 'yaÃ±ez', 'bocanegra', 'montaÃ±es', 'martines', 'Cid', 'cogolludo', 'margarita', 'espinosa', 'gracia', 'becerra', 'atanasio', 'Rosas', 'Carranza', 'cesar', 'casco', 'villa', 'caldera', 'laguna', 'perea', 'restan', 'correa', 'Sa', 'cuevas', 'mariana', 'Teresa', 'arco', 'Piedra', 'Leal', 'pedro', 'archidona', 'benitez', 'capilla', 'Lucas', 'Eliseo', 'delgado', 'tallada', 'Oliva', 'padilla', 'Rio', 'postigo', 'muro', 'eminente', 'Pan', 'vida', 'espejo', 'girona', 'Esteban', 'casto', 'cueva', 'francisco', 'antonio', 'visitacion', 'castaÃ±eda', 'cotan', 'Campo', 'liÃ±an', 'fusta', 'Roque', 'matas', 'laso', 'urban', 'bellon', 'Regla', 'celda', 'cantera', 'Reyna', 'Contador', 'huici', 'junta', 'sea', 'Holgado', 'solar', 'gomez', 'gorriti', 'barbara', 'llorente', 'FERNANDO', 'Andres', 'Sea', 'moguer', 'fraile', 'castillo', 'vela', 'portillo', 'geronima', 'casas', 'escala', 'Viejo', 'alderete', 'corrales', 'Cortes', 'cardenas', 'casillas', 'pio', 'blas', 'clara', 'Sas', 'vieja', 'catalina', 'Martin', 'CabaÃ±as', 'Joseph', 'poyo', 'peco', 'manco', 'hermenegildo', 'Enriquez', 'leonor', 'mercedes', 'LUCAS', 'josef', 'dallo', 'Sevilla', 'Padua', 'seso', 'espino', 'ley', 'Puerta', 'ubeda', 'nicolas', 'Fuente', 'monte', 'portes', 'tornero', 'armengol', 'armero', 'salgado', 'amador', 'Benedicto', 'vivo', 'alexos', 'quinto', 'albornoz', 'calero', 'cabrera', 'quirino', 'Guarda', 'texada', 'comino', 'peÃ±as', 'monesterio', 'Mayo', 'Sala', 'MORILLO', 'pilar', 'laurel', 'Maeda', 'Polonia', 'moro', 'fregenal', 'gabriel', 'canales', 'Joachim', 'santana', 'Bueno', 'Mar', 'encima', 'pasqual', 'jordan', 'Rivera', 'Salvador', 'Medina', 'placido', 'josep', 'Atocha', 'Azcona', 'napoles', 'segundo', 'pinto', 'faria', 'caÃ±ero', 'moli', 'Lugo', 'argote', 'santisteban', 'cabra', 'holanda', 'prudencio', 'ahumada', 'recalde', 'tosca', 'Rosa', 'farina', 'salado', 'Javier', 'marino', 'cano', 'amarilla', 'magaÃ±a', 'Benito', 'carta', 'sacramento', 'tello', 'sotomayor', 'Hamete', 'granado', 'Aguilar', 'Oro', 'magdalena', 'cuadrado', 'vacas', 'marina', 'amparo', 'Iglesia', 'Paulo', 'Feria', 'Redondo', 'felipe', 'ferrero', 'evangelista', 'costa', 'anton', 'seneca', 'des', 'cantero', 'ribadeneira', 'ayala', 'fuero', 'Sacre', 'Cepeda', 'isla', 'prieto', 'angelo', 'morillo', 'candelaria', 'ferran', 'mesas', 'naves', 'pulido', 'fernandes', 'justicia', 'tome', 'sobrado', 'toledano', 'guadalupe', 'alta', 'grado', 'rubio', 'melgarejo', 'hierro', 'maÃ±ara', 'cuerda', 'Isidro', 'damian', 'luz', 'armando', 'riesco', 'Vicenta', 'ramo', 'arze', 'Caballos', 'Diaz', 'menor', 'porteria', 'vides', 'red', 'Enrique', 'redonda', 'oliba', 'leyes', 'Jacome', 'paulo', 'guarda', 'marchena', 'novia', 'redondo', 'ginoves', 'alcoba', 'Piedad', 'izquierdo', 'vargas', 'fanegas', 'Granda', 'jerez', 'torres', 'salinas', 'Segundo', 'Artes', 'caÃ±as', 'encinas', 'teodomiro', 'juanes', 'olalla', 'Campofrio', 'Cuevas', 'castroverde', 'sa', 'Mayor', 'puerta', 'Salazar', 'calafate', 'jacinto', 'martir', 'Vitoria', 'calabazas', 'per', 'camara', 'sesma', 'subira', 'centeno', 'granada', 'paz', 'Monserrat', 'doblas', 'Francisco', 'Cuentas', 'soto', 'buelta', 'casado', 'pacheco', 'guardia', 'Santiago', 'angela', 'pastor', 'factor', 'palacios', 'Maria', 'almendras', 'capaz', 'oreja', 'Figueroa', 'feria', 'aguirre', 'Vicente', 'pontones', 'cristo', 'LEAL', 'paredes', 'barrio', 'Moises', 'picado', 'berastegui', 'dueÃ±as', 'baez', 'Anunciacion', 'joseph', 'CAMPO', 'corona', 'marfil', 'mas', 'maria', 'cordon', 'maximiliano', 'mateo', 'Arenales', 'Luis', 'enzinas', 'cedo', 'rozas', 'bes', 'cumplido', 'thomas', 'Cabezas', 'Dios', 'Gonzalez', 'espina', 'madera', 'solares', 'corpus', 'Felipa', 'verde', 'talon', 'artes', 'santiago', 'Ramos', 'utrera', 'ramos', 'Preciado', 'baustista', 'minjares', 'pereira', 'carnero', 'Encarnacion', 'Pero', 'arostegui', 'ballestero', 'bartolome', 'milanes', 'viejo', 'palacio', 'bacio', 'mate', 'mendes', 'Roldan', 'Duque', 'JUAN', 'igual', 'NiÃ±o', 'Flandes', 'Dulce', 'maeso', 'estrella', 'dato', 'ARTEAGA', 'leyba', 'jara', 'arteaga', 'marroquin', 'ribera', 'Damian', 'hermoso', 'FRANCISCO', 'sola', 'portugues', 'verdugo', 'alberto', 'Casilda', 'resta', 'serapio', 'chantre', 'pascual', 'junco', 'risco', 'teresa', 'busto', 'bernarda', 'Castillejo', 'justo', 'Panes', 'claros', 'diz', 'arcangel', 'suarez', 'alonso', 'Ruiz', 'Granada', 'luis', 'quadrado', 'ortega', 'hamete', 'Carpio', 'hoyos', 'corta', 'cid', 'varas', 'chacon', 'reina', 'victoria', 'Apostol', 'jusepe', 'Mejorada', 'pazo', 'cabezas', 'Torres', 'paÃ±o', 'ropero', 'portero', 'Reina', 'Justiniano', 'onofre', 'losa', 'Ledesma', 'Leandro', 'Solis', 'muros', 'dolores', 'sala', 'remedios', 'serafin', 'esperanza', 'orta', 'lazaro', 'blanca', 'PeÃ±a', 'plana', 'francia', 'caballos', 'Jordan', 'nieves', 'aso', 'torquemada', 'espada', 'campana', 'olivares', 'Vuelta', 'Miguel', 'ros', 'angel', 'real', 'romanos', 'cubillana', 'patron', 'aquino', 'torre', 'gregorio', 'poma', 'mayoral', 'Monsalve', 'alcazar', 'pato', 'rio', 'Busto', 'figueroa', 'carrero', 'Rodriguez', 'carton', 'segui', 'carpio', 'du', 'carrasco', 'poza', 'Santana', 'puga', 'Abad', 'Niebla', 'cristiano', 'perfecto', 'marco', 'elena', 'rallo', 'girolamo', 'Bautista', 'Nazareno', 'martin', 'felice', 'nueva', 'perlas', 'caballeria', 'Jose', 'castro', 'espiritu', 'bote', 'Plata', 'Dos', 'cayo', 'dios', 'bona', 'Mariana', 'damas', 'Sebastian', 'Vieja', 'salvo', 'alamo', 'valenzuela', 'machuca', 'seva', 'Francia', 'Armada', 'Amor', 'olanda', 'Musa', 'rosado', 'Elias', 'vega', 'ARELLANO', 'camino', 'haya', 'santisima', 'pareja', 'Gales', 'vivas', 'Paula', 'nuÃ±ez', 'concha', 'Aguirre', 'parado', 'baeza', 'isidro', 'ybarra', 'Jacinto', 'barba', 'Flores', 'amor', 'medina', 'Vargas', 'Lara', 'peres', 'grande', 'arias', 'padua', 'coma', 'custodio', 'cabo', 'molinas', 'prado', 'Carmen', 'baptista', 'jesu', 'higuera', 'puebla', 'matheo', 'cerero', 'miguel', 'carrera', 'aguiar', 'mantilla', 'luisa', 'viÃ±as', 'diamante', 'caxa', 'gradilla', 'Esquivel', 'verano', 'Vico', 'clemencia', 'hoz', 'salas', 'justa', 'halcon', 'buey', 'baltazar', 'serrano', 'Custodio', 'molinos', 'cabello', 'ana', 'romano', 'arcos', 'marques', 'clavijo', 'serena', 'cobertores', 'tejada', 'asta', 'Castillo', 'ribas', 'nebreda', 'vandera', 'pradilla', 'La', 'moran', 'tablada', 'lissa', 'socorro', 'austria', 'angulo', 'oliva', 'canela', 'vea', 'domingo', 'peral', 'tercero', 'sayas', 'cuyas', 'sanabria', 'Clara', 'castaÃ±o', 'dorado', 'coria', 'francos', 'sastre', 'clemente', 'Jacobo', 'Salamanca', 'montesa', 'mesa', 'Carcel', 'cala', 'sisa', 'ramales', 'Abraham', 'Julio', 'bernardo', 'segunda', 'lanas', 'carmen', 'carro', 'Cabeza', 'capa', 'pinelo', 'Pozo', 'Anna', 'arnao', 'rasa', 'aceites', 'adan', 'rebolledo', 'Magdalena', 'Loyola', 'pazos', 'pecado', 'tristan', 'virrey', 'dionisio', 'aspas', 'lima', 'Felipe', 'puerto', 'tejero', 'Onofre', 'alva', 'dulce', 'Ovejas', 'Banda', 'vizcaino', 'andrea', 'Alberto', 'Visitacion', 'justiniano', 'robledo', 'baÃ±os', 'heredia', 'lorenzo', 'pico', 'Chacon', 'rosario', 'bravo', 'bernabe', 'Gregorio', 'asturias', 'Guardia', 'montes', 'yuso', 'sebil', 'Moro', 'escalada', 'Remedios', 'reyna', 'llave', 'Monasterio', 'mora', 'espadero', 'la', 'Encima', 'linden', 'chamorro', 'apostoles', 'peÃ±a', 'Letamendi', 'triana', 'vara', 'puertas', 'cantos', 'techo', 'sierra', 'Rosario', 'barra', 'bernardino', 'trigo', 'Rivas', 'daban', 'pozo', 'Pastor', 'Phelipe', 'duro', 'cortina', 'marca', 'vicente', 'hipolito', 'suero', 'Angeles', 'luna', 'quadros', 'abreu', 'Coca', 'CastaÃ±eda', 'buy', 'Sevillano', 'mozo', 'capillas', 'leal', 'Juanes', 'Gabriel', 'peÃ±aranda', 'armada', 'MURILLO', 'Mas', 'barca', 'topa', 'milan', 'Gracia', 'texedor', 'piedras', 'romana', 'Juan', 'fuensalida', 'faber', 'caro', 'amigo', 'do', 'Gato', 'allende', 'cordero', 'Simon', 'naval', 'campos', 'navas', 'roque', 'Cosme', 'amado', 'moron', 'Mora', 'jaspe', 'Antonio', 'tapia', 'vico', 'demaria', 'Ana', 'Puga', 'Vida', 'ormigon', 'ortiz', 'aldonza', 'manera', 'Pacheco', 'Jeronimo', 'Resta', 'parra', 'encalada', 'estefania', 'tamariz', 'reta', 'villarrubia', 'granados', 'Marcos', 'reyes', 'fernandez', 'cuellar', 'leandro', 'pulgar', 'Primo', 'nolasco', 'pison', 'santaren', 'alos', 'Romanos', 'Guevara', 'alcayde', 'pita', 'jorge', 'salido', 'Agreda', 'carcel', 'estopiÃ±an', 'diez', 'mayo', 'marmol', 'cuesta', 'BaÃ±os', 'Monesterio', 'bargas', 'abarca', 'Bernardo', 'barrionuevo', 'Avila', 'piÃ±on', 'vicuÃ±a', 'Cristo', 'benito', 'espiga', 'leonis', 'fernando', 'xavier', 'chinchon', 'Cano', 'cerda', 'Domingo', 'caballero', 'obrador', 'moros', 'andres', 'iglesia', 'caja', 'hidalgo', 'cazalla', 'nazareno', 'anda', 'Rita', 'primo', 'pagan', 'Rojo', 'Hermosa', 'sidonia', 'valle', 'cabaÃ±as', 'acosta', 'flecha', 'viga', 'LiÃ±an', 'joven', 'carranza', 'monteagudo', 'Crispin', 'Lechuga', 'Conde', 'jamete', 'Aguas', 'Ruis', 'consolacion', 'escoto', 'mar', 'Casas', 'Espada', 'suelto', 'muÃ±ecas', 'bautista', 'parrales', 'Espina', 'vergara', 'Isabel', 'trigueros', 'ferrer', 'Albo', 'arellano', 'testera', 'troyano', 'cordova', 'aras', 'Francisca', 'Susana', 'Redonda', 'aguas', 'patricio', 'calis', 'boquete', 'baso', 'julio', 'hazen', 'alamos', 'Obligado', 'Fernando', 'alcantara', 'escaÃ±o', 'pavon', 'cuero', 'Palma', 'azuaga', 'plano', 'aleman', 'malagon', 'basta', 'fuentes', 'Portugal', 'banda', 'Saeta', 'peinado', 'Luisa', 'Nieto', 'michel', 'calvo', 'jose', 'duran', 'contreras', 'fita', 'leonardo', 'porto', 'dos', 'brabante', 'costas', 'puente', 'freses', 'Malagon', 'arguello', 'carnicero', 'MORENO', 'Evangelista', 'Laureano', 'toral', 'Alameda', 'Carlos', 'Dorado', 'ines', 'Catarina', 'talavera', 'Caso', 'ruis', 'hornero', 'Paz', 'apostol', 'paterna', 'Santisima', 'hermosa', 'Santisteban', 'montaÃ±a', 'Vela', 'flandes', 'mal', 'Borja', 'millares', 'matos', 'Pedro', 'cancela', 'lis', 'canto', 'Ribera', 'Romana', 'herreros', 'hoyo', 'matias', 'Manzanos', 'Pimentel', 'Cecilia', 'morales', 'pero', 'Marina', 'Daniel', 'olmos', 'Quinto', 'Caballero', 'lebrija', 'pecador', 'bacas', 'casta', 'cantillo', 'pan', 'caula', 'ceron', 'francisca', 'agustin', 'Gallego', 'villacastin', 'herrera', 'Nueva', 'caÃ±o', 'Corpus', 'casos', 'rico', 'palma', 'moreno', 'baro', 'Trinidad', 'abello', 'vasco', 'bruno', 'panes', 'moya', 'polonia', 'texeda', 'cosa', 'Antequera', 'sales', 'Romero', 'Lista', 'sacristan', 'giron', 'aroche', 'loyola', 'linaje', 'estrada', 'costales', 'Soto', 'balanza', 'lopez', 'leon', 'lindo', 'pere', 'hospital', 'carbon', 'labrada', 'ovejas', 'Villa', 'Geronima', 'vermondo', 'bueno', 'conde', 'foi', 'baga', 'baltasar', 'corte', 'rodrigo', 'monge', 'alfonso', 'escuderos', 'van', 'coÃ§ar', 'Real', 'maldonado', 'oro', 'llano', 'mathe', 'ambrosio', 'GUERRA', 'monto', 'ayllon', 'Robles', 'palos', 'juste', 'enjuta', 'guzman', 'Lorenzo', 'corrientes', 'farfan', 'alexo', 'chica', 'Cantero', 'coco', 'cesare', 'caxon', 'santillan', 'gala', 'crisostomo', 'Linaje', 'isabel', 'Josef', 'estupiÃ±an', 'gil', 'brea', 'Bernardino', 'tirado', 'hombre', 'Concepcion', 'lana', 'asuncion', 'petronila', 'mejorada', 'giraldo', 'diaz', 'canal', 'bello', 'escudero', 'varillas', 'meneses', 'vallados', 'escriva', 'monserrate', 'capuz', 'albear', 'beato', 'bustos', 'franscisco', 'marcos', 'Alfonso', 'gonÃ§alo', 'hera', 'porras', 'llanos', 'arenas', 'Catalina', 'lossa', 'castilla', 'frances', 'armas', 'mercado', 'Cuerda', 'bandera', 'bailon', 'guerrero', 'flor', 'escalera', 'von', 'hortigas', 'segura', 'Marques', 'Capilla', 'joan', 'acuÃ±a', 'Valle', 'montano', 'catalan', 'cortes', 'Gallo', 'Henrique', 'lerma', 'caso', 'Sacramento', 'cean', 'Vermondo', 'balbuena'}

In [33]:
len(set(untagged))

1464

It would be wise to review this list of 1,478 tokens manually to determine which are names for sure and which are dubious. But first, let's see how many of these matches (DBE and acceptednames) happen adjacent to a PER entity (before or after) to see which spans we have to edit.

# Strategy 1: Exact Matching in Lists

In [34]:
docs[0][0][1]

martin

I want a rule that looks in front or behind of a PER entity. If that token is in the name list and is not tagged as an entity, I want it to be appended to our list. If the token is de, el or la (single or plural), I want it to move to the nex token.

In [35]:
nexttopers = []
for doc,context in docs:
    for ent in doc.ents:
        if ent.label_=='PER':
            try:
                i = 1
                a = doc[ent.start-i]
                while a.text.lower() == 'de' or a.text.lower() =='del' or a.text.lower() == 'la'or a.text == 'el' or a.text == 'los' or a.text == 'las' or a.text == 'y':
                    i = i+1
                    a = doc[ent.start-i]
                if (a.ent_iob==2) and ((a.text.lower() in acceptednames) or (a.text.lower() in DBEnames)):
                    nexttopers.append(a.text)
            except: 
                pass
            try:
                i = 0
                b = doc[ent.end+i]
                while b.text.lower() == 'de' or b.text.lower() == 'del' or b.text.lower() == 'la'or b.text == 'el' or b.text == 'los' or b.text == 'las' or b.text == 'y':
                    i = i+1
                    b = doc[ent.end+i]
                if (b.ent_iob==2) and ((b.text.lower() in acceptednames)or (b.text.lower() in DBEnames)):
                    nexttopers.append(b.text)
            except:
                pass

In [36]:
len(nexttopers)

971

In [37]:
len(set(nexttopers))

298

In [38]:
print(set(nexttopers))

{'capilla', 'costa', 'sa', 'cordero', 'Esquivel', 'delgado', 'matos', 'calero', 'cantero', 'maldonado', 'carrasco', 'abad', 'oro', 'ayala', 'labrador', 'Conde', 'puga', 'hijas', 'campo', 'bravo', 'villafuerte', 'hoz', 'Nisa', 'Abad', 'jesus', 'cavallero', 'texada', 'calafate', 'justa', 'toma', 'camacho', 'Vega', 'corral', 'hermoso', 'vida', 'camara', 'Chaves', 'serrano', 'guzman', 'portugues', 'comino', 'centeno', 'rua', 'vuelta', 'tapia', 'monesterio', 'farfan', 'ana', 'vico', 'Cantero', 'marques', 'Sala', 'doblas', 'chantre', 'francisco', 'cabeza', 'clavijo', 'beata', 'martin', 'maeso', 'cotan', 'moro', 'obligado', 'reyna', 'pero', 'fernandes', 'gragera', 'justicia', 'tome', 'andino', 'Clemencia', 'casado', 'teresa', 'Albo', 'balle', 'toledano', 'Jeronimo', 'espadero', 'crisostomo', 'moran', 'Linaje', 'tablada', 'pastor', 'herrero', 'Bueno', 'urban', 'falconete', 'melgarejo', 'linage', 'tamariz', 'palacios', 'coronel', 'encima', 'ceron', 'contador', 'vea', 'quero', 'aguirre', 'Marcos', 'domingo', 'agustin', 'negro', 'Medina', 'placido', 'fernandez', 'LEAL', 'cuellar', 'barrio', 'berastegui', 'Bandera', 'Azcona', 'tercero', 'chamorro', 'segundo', 'tirado', 'herrera', 'hombre', 'Rico', 'pinto', 'mayor', 'machuca', 'quadrado', 'ortega', 'hernan', 'mas', 'caÃ±ero', 'sea', 'garcia', 'maria', 'Velasco', 'cid', 'solar', 'Lugo', 'dorado', 'sobrino', 'Fernando', 'rico', 'cuentas', 'sastre', 'ahumada', 'alcantara', 'fraile', 'clemente', 'alcayde', 'hurtado', 'Mejorada', 'thomas', 'geronima', 'duque', 'menor', 'Dios', 'Gonzalez', 'casas', 'diez', 'juan', 'vides', 'madera', 'geronimo', 'camino', 'alderete', 'ropero', 'portero', 'trigo', 'sillero', 'haya', 'bargas', 'aleman', 'pareja', 'abarca', 'fuentes', 'magaÃ±a', 'dias', 'albear', 'Tome', 'Ledesma', 'lucas', 'banda', 'peinado', 'artes', 'segunda', 'guarda', 'carta', 'nieta', 'cosa', 'Aguirre', 'Nieto', 'peon', 'suero', 'bocanegra', 'catalina', 'montaÃ±es', 'sacristan', 'hera', 'Pero', 'tello', 'giron', 'alamin', 'duran', 'porras', 'mozo', 'orta', 'manco', 'contreras', 'arostegui', 'blanca', 'cogolludo', 'barba', 'ballestero', 'ginoves', 'Aldana', 'castilla', 'milanes', 'leal', 'gracia', 'dos', 'frances', 'espinosa', 'viejo', 'verdad', 'costas', 'armas', 'carnicero', 'caballero', 'mercado', 'niÃ±o', 'vargas', 'nieto', 'sotomayor', 'Evangelista', 'Justa', 'Sevilla', 'criado', 'martel', 'estrada', 'arias', 'corro', 'iglesia', 'andres', 'coronado', 'guerrero', 'caja', 'hidalgo', 'von', 'jerez', 'aso', 'texedor', 'tristan', 'torquemada', 'pere', 'plata', 'Puerta', 'Duque', 'garnica', 'campana', 'della', 'magdalena', 'gallego', 'acuÃ±a', 'Hernan', 'real', 'blanco', 'patron', 'lopes', 'ruis', 'carpintero', 'villa', 'bueno', 'cortes', 'hornero', 'conde', 'foi', 'cerero', 'valle', 'torre', 'restan', 'deu', 'corte', 'acosta', 'caro', 'barbero', 'correa', 'Monsalve', 'Sa', 'coto', 'NiÃ±o', 'tornero', 'salgado', 'joven', 'valor', 'flandes', 'Busto', 'ferrero', 'viÃ±as', 'pedro', 'tienda', 'alexos', 'Rodriguez', 'castroverde'}

According to this rule, 971 modifications could be made, from 298 distinct tokens.

In [39]:
peopleshort = []

for doc,context in docs:
    for ent in doc.ents:
        if ent.label_=='PER':
            try:
                i = 1
                a = doc[ent.start-i]
                while a.text.lower() == 'de' or a.text.lower() =='del' or a.text.lower() == 'la'or a.text.lower() == 'el' or a.text.lower() == 'los' or a.text.lower() == 'las' or a.text.lower()=='y':
                    i = i+1
                    a = doc[ent.start-i]
                if (a.ent_iob==2) and ((a.text.lower() in acceptednames) or (a.text.lower() in DBEnames)):
                    h = context['id']
                    b = ent.text
                    c = ent.start
                    d = ent.end
                    e = a.i
                    f = a.text
                    g = ent.label_
                    entry = [h, b, c, d, e, f,g]
                    peopleshort.append(entry)
            except: 
                pass
            try:
                i = 0
                b = doc[ent.end+i]
                while b.text.lower() == 'de' or b.text.lower() == 'del' or b.text.lower() == 'la'or b.text.lower() == 'el' or b.text.lower() == 'los' or b.text.lower() == 'las' or b.text.lower()=='y':
                    i = i+1
                    b = doc[ent.end+i]
                if (b.ent_iob==2) and ((b.text.lower() in acceptednames)or (b.text.lower() in DBEnames)):
                    a = context['id']
                    h = ent.text
                    c = ent.start
                    d = ent.end
                    e = b.i
                    f = b.text
                    g=ent.label_
                    entry = [a, h, c, d, e, f,g]
                    peopleshort.append(entry)
            except:
                pass

In [40]:
len(peopleshort)

971

In [41]:
peopleshort = pd.DataFrame(peopleshort, columns = ['docid','string','start','end','tokenloc','tokentext','entlabel'])

In [42]:
peopleshort.head()

   docid            string  start   end  tokenloc tokentext entlabel
0     50  Cristobal garcia      6     8         8   cantero      PER
1     56  garcia fustanero     23    25        22      pero      PER
2     59    Pedro Blascoen   2476  2478      2478   Sevilla      PER
3    101    nicolas jurate    163   165       165       dos      PER
4    106   niculao de leon      0     3         3   frances      PER

In [43]:
peopleshort['edit_short']=''

This should be enough to loop through our labels and edit them, as we did previously in Data Cleaning 2. And the number of tags is small enough that we do not need to filter things out.

In [56]:
 count = 0
for (index, row) in peopleshort.iterrows():
    if row['edit_short']=='':
        count=count+1
        print(count)
        print(row['string'],row['start'],row['end'])
        print(row['tokentext'], row['tokenloc'])
        docid = row['docid']
        strstart = min([int(row['start']), int(row['tokenloc'])])
        strend = max([int(row['end']), int(row['tokenloc'])]) + 10
        
        for doc in docs:
            if doc[1]['id'] == docid:      
                displacy.render(doc[0][strstart:strend],style='ent',jupyter=True)
                peopleshort.loc[index, 'edit_short']=input('Edit?')
                
                if peopleshort.loc[index, 'edit_short']=='X':
                        for doc in docs:
                            if doc[1]['id'] == docid:
                                displacy.render(doc[0],style='ent',jupyter=True)
                                peopleshort.loc[index,'edit_short']=input('Edit?')
                clear_output(wait=True)

2
DIEGO AMBROSIO 14 16
menor 16

Edit? 0

In [ ]:
peopleshort

In [57]:
peopleshort.groupby('edit_short').count()

            docid  string  start  end  tokenloc  tokentext  entlabel
edit_short
0             686     686    686  686       686        686       686
1             262     262    262  262       262        262       262
L               1       1      1    1         1          1         1
R               7       7      7    7         7          7         7
o              15      15     15   15        15         15        15

Above: of the tags identified for checking, 686 are correct, 262 must be edited for length, one must be reclassified as a location, 7 must be removed and 15 have another problem (multiple tags or mis-tokenization).

In [58]:
peopleshort.to_csv('Files_Cleaning3/PERS_tag_clean3_strat1.csv')

# Strategy 2: Fuzzy Matching to Lists

Let's do the same thing, but with tokens that approximately match names in our lists.

In [59]:
from fuzzywuzzy import fuzz
from fuzzywuzzy import process

In [60]:
tokens = pd.DataFrame()
tokens['token']=''
tokens['score']=''
tokens['match']=''

In [61]:
untagged = []
for doc,context in docs:
    for token in doc:
        if (token.ent_iob==2):
            untagged.append(token.text)

In [62]:
untagged = set(untagged)

In [63]:
len(untagged)

31748

In [64]:
for token in untagged:
    tokens= tokens.append({'token':token}, ignore_index=True)

In [65]:
len(tokens)

31748

In [66]:
tokens = tokens.replace(to_replace='None', value='')

In [69]:
tokens.head()

       token score match
0   sucedido   NaN   NaN
1     yeruas   NaN   NaN
2    enojosa   NaN   NaN
3    brazado   NaN   NaN
4  italianas   NaN   NaN

The function below, taken from Data Cleaning 1, chooses the maximum fuzzy match for each token.

In [67]:
def fuzzmax(string,names):
        string = str(string).lower()
        result = list(map(lambda a: fuzz.token_sort_ratio(string,a),names))
        return [max(result),names[result.index(max(result))]]

In [71]:
names = list(set(acceptednames +list(DBEnames)))

In [72]:
len(names)

10192

In [74]:
tokens['score'] = tokens.apply(lambda x: fuzzmax(x['token'], names), axis = 1)

In [75]:
tokens.head()

       token           score match
0   sucedido   [80, saucedo]   NaN
1     yeruas   [77, payeras]   NaN
2    enojosa  [80, hinojosa]   NaN
3    brazado  [80, bazcardo]   NaN
4  italianas  [75, albiÃ±ana]   NaN

In [76]:
tokens['match']=tokens.apply(lambda x: x['score'][1],axis=1)

In [77]:
tokens['score']=tokens.apply(lambda x: x['score'][0], axis=1)

In [78]:
tokens.head()

       token  score     match
0   sucedido     80   saucedo
1     yeruas     77   payeras
2    enojosa     80  hinojosa
3    brazado     80  bazcardo
4  italianas     75  albiÃ±ana

In [79]:
len(tokens)

31748

In [80]:
tokens.to_csv('Files_Cleaning3/untagged_token_match_scores.csv')

In [81]:
tokens.set_index('token', inplace=True)

In [82]:
tokens.loc[(tokens['score']>90)&(tokens['score']<100)]

             score        match
token
despejo         92       espejo
vigas           91       viegas
calabaza        94    calabazas
pasadas         93     passadas
colla           91       coalla
...            ...          ...
villacreses     91  villacreces
barias          91       briÃ±as
honda           91       hondal
abraÃ§a          91       abraha
perita          91        peria

[1615 rows x 2 columns]