# Data Cleaning 3: Correcting Entity Spans (short)

Search for tokens to the left and right of a tagged person that appear in the entity list and the name lists and have not been tagged as entities. We can import the spacy docs, each token should have an entity tag = 0.

In [2]:
from IPython.display import clear_output
import spacy
from spacy import displacy

import pickle

In [3]:
import pandas as pd

In [4]:
file = open("Files_Cleaning2/NER_data_Cleaned22.p", 'rb')
docs = pickle.load(file)

Let's import the file with the list of tokens appearing in our 3 lists, manually checked for dubious options, and filter those out.

In [4]:
names = pd.read_excel("Files_Cleaning2/EntityTokensinKFLNamelists_manual_check.xlsx")

In [8]:
names.fillna('0').groupby('check').count()

       token
check
1.0      311
0       1617

In [6]:
acceptednames = names.loc[names['check']!=1,'token'].tolist()

In [9]:
acceptednames = list(set(acceptednames))

In [10]:
len(acceptednames)

1617

We can also add tokens from our name lists that did not appear in our tagged tokens, but might be elsewhere in the documents.

In [11]:
fnames = open("DBE_Names/firstnames.txt", 'r')
lnames = open("DBE_Names/lastnames.txt",'r')

In [12]:
DBEnames = []

for line in fnames:
    DBEnames.append(line.rstrip('\n'))
    
for line in lnames:
    DBEnames.append(line.rstrip('\n'))

In [13]:
DBEnames = set(DBEnames)

In [14]:
len(DBEnames)

10005

Iterating through the rows, we found some tokens that are not necessary in these lists. We'll remove them:
maestro
licenciado
bachiller
maestre
fray
nombre
jurado
notario
vicario
mercader
escribano

In [15]:
'maestro' in DBEnames

True

In [16]:
'licenciado' in DBEnames

True

In [17]:
'bachiller' in DBEnames

True

In [18]:
'maestre' in DBEnames

True

In [19]:
'fray' in DBEnames

True

In [20]:
'nombre' in DBEnames

True

In [21]:
'jurado' in DBEnames

True

In [22]:
'notario' in DBEnames

True

In [23]:
'vicario' in DBEnames

True

In [24]:
'mercader' in DBEnames

True

In [25]:
'escribano' in DBEnames

True

In [26]:
DBEnames.remove('maestro')

In [27]:
DBEnames.remove('licenciado')
DBEnames.remove('bachiller')

In [28]:
DBEnames.remove('maestre')
DBEnames.remove('fray')
DBEnames.remove('nombre')
DBEnames.remove('jurado')
DBEnames.remove('notario')
DBEnames.remove('vicario')
DBEnames.remove('mercader')

In [29]:
DBEnames.remove('escribano')

Let's look at the tokens that appear in the DBE list but do not form part of any entity (token.ent_iob is 2).

In [30]:
untagged = []
for doc,context in docs:
    for token in doc:
        if (token.ent_iob==2) and ((token.text.lower() in DBEnames)):
            untagged.append(token.text)

In [31]:
len(untagged)

79780

In [32]:
print(set(untagged))

{'vera', 'bejar', 'labrador', 'hijas', 'campo', 'estada', 'salvador', 'Chaves', 'osuna', 'Hospital', 'peru', 'Ignacio', 'vuelta', 'bassa', 'oleo', 'Hombre', 'Jesus', 'romero', 'crespo', 'balduque', 'iglesias', 'obligado', 'horno', 'andino', 'provecho', 'balle', 'macia', 'batista', 'sota', 'coronel', 'linage', 'regla', 'Morales', 'angeles', 'negro', 'phelipe', 'balmazeda', 'Segunda', 'treviño', 'Rico', 'Corte', 'dominico', 'escriba', 'garcia', 'Monteros', 'sobrino', 'Yermo', 'Batista', 'celada', 'castellanos', 'tornos', 'llanas', 'juan', 'maeda', 'sillero', 'raso', 'Tome', 'Restan', 'Jacob', 'coll', 'plaza', 'peon', 'linaza', 'Villanueva', 'salcedo', 'remesal', 'pared', 'ursula', 'Aldana', 'laurencio', 'Amparo', 'eliseo', 'tizon', 'Justa', 'criado', 'Ramo', 'castillejo', 'mina', 'limpias', 'plata', 'CARTA', 'gallego', 'Perez', 'lara', 'Carta', 'gato', 'purificacion', 'Junta', 'cuentas', 'palomares', 'benegas', 'monasterio', 'rueda', 'rincon', 'camacho', 'Perea', 'rosa', 'anunciacion', 'barrera', 'matis', 'Esperanza', 'ventura', 'blancas', 'Oviedo', 'rato', 'gozar', 'flores', 'conrado', 'gragera', 'bassas', 'falconete', 'herrero', 'baranda', 'pardo', 'Justicia', 'Rodrigues', 'tomasa', 'tomas', 'Pablo', 'mira', 'fierro', 'arroyo', 'aguilar', 'bermejo', 'hernan', 'anna', 'PLATA', 'alas', 'marzo', 'PERO', 'Austria', 'rosas', 'Alvaro', 'antequera', 'hurtado', 'parada', 'alli', 'moldes', 'piedad', 'castellar', 'alameda', 'frutos', 'chico', 'marta', 'simon', 'Bruno', 'gavilan', 'jardin', 'bartolomeo', 'Puente', 'Ribas', 'Flecha', 'ladron', 'Reyes', 'baca', 'ponce', 'guevara', 'gallegos', 'toro', 'lucia', 'anejo', 'bolos', 'molina', 'navajas', 'sese', 'della', 'Piscina', 'Gutierrez', 'Hernan', 'Angel', 'blanco', 'diego', 'buenaventura', 'pes', 'sierpe', 'terreros', 'barbero', 'dehesa', 'pedroso', 'valor', 'quiñones', 'gusta', 'bodega', 'gines', 'llamas', 'acha', 'cavallero', 'concepcion', 'Cuesta', 'toma', 'pino', 'mancebo', 'corral', 'verdes', 'rua', 'saco', 'carlos', 'polo', 'fuente', 'cabeza', 'Diego', 'fuertes', 'beata', 'vaca', 'page', 'paula', 'Clemencia', 'Mesa', 'David', 'hernando', 'bailo', 'sas', 'encarnacion', 'quadra', 'contador', 'Alonso', 'quero', 'Olivares', 'franco', 'pablo', 'Rafael', 'mayor', 'Concha', 'Pino', 'Ramon', 'guerra', 'Pinos', 'tadeo', 'cansino', 'fajardo', 'Solano', 'elias', 'Leyes', 'Coronado', 'melchior', 'Monte', 'beatriz', 'toscano', 'lucas', 'riba', 'olivar', 'trinidad', 'falcon', 'alamin', 'moneda', 'honorio', 'barreda', 'cerro', 'verdad', 'niño', 'nieto', 'Margarita', 'Ronda', 'aguila', 'martel', 'corro', 'pimentel', 'coronado', 'cadena', 'mor', 'Carvajal', 'montagudo', 'cajes', 'garnica', 'Cristobal', 'Armas', 'Baptista', 'lopes', 'Alvarez', 'carpintero', 'deu', 'lista', 'coto', 'rea', 'portal', 'tienda', 'malo', 'barco', 'Paez', 'abad', 'caldero', 'pares', 'villafuerte', 'jesus', 'Vega', 'piedra', 'Espinosa', 'portales', 'Barbero', 'millan', 'orozco', 'Delgado', 'cortada', 'posada', 'montesdoca', 'pilares', 'bela', 'Fuentes', 'Toma', 'fuerte', 'huerta', 'Bandera', 'pinos', 'cameros', 'Velasco', 'terrero', 'peñafiel', 'Costa', 'duque', 'Guillermo', 'geronimo', 'quintero', 'alba', 'solera', 'Clemente', 'jacome', 'yañez', 'bocanegra', 'montañes', 'martines', 'Cid', 'cogolludo', 'margarita', 'espinosa', 'gracia', 'becerra', 'atanasio', 'Rosas', 'Carranza', 'cesar', 'casco', 'villa', 'caldera', 'laguna', 'perea', 'restan', 'correa', 'Sa', 'cuevas', 'mariana', 'Teresa', 'arco', 'Piedra', 'Leal', 'pedro', 'archidona', 'benitez', 'capilla', 'Lucas', 'Eliseo', 'delgado', 'tallada', 'Oliva', 'padilla', 'Rio', 'postigo', 'muro', 'eminente', 'Pan', 'vida', 'espejo', 'girona', 'Esteban', 'casto', 'cueva', 'francisco', 'antonio', 'visitacion', 'castañeda', 'cotan', 'Campo', 'liñan', 'fusta', 'Roque', 'matas', 'laso', 'urban', 'bellon', 'Regla', 'celda', 'cantera', 'Reyna', 'Contador', 'huici', 'junta', 'sea', 'Holgado', 'solar', 'gomez', 'gorriti', 'barbara', 'llorente', 'FERNANDO', 'Andres', 'Sea', 'moguer', 'fraile', 'castillo', 'vela', 'portillo', 'geronima', 'casas', 'escala', 'Viejo', 'alderete', 'corrales', 'Cortes', 'cardenas', 'casillas', 'pio', 'blas', 'clara', 'Sas', 'vieja', 'catalina', 'Martin', 'Cabañas', 'Joseph', 'poyo', 'peco', 'manco', 'hermenegildo', 'Enriquez', 'leonor', 'mercedes', 'LUCAS', 'josef', 'dallo', 'Sevilla', 'Padua', 'seso', 'espino', 'ley', 'Puerta', 'ubeda', 'nicolas', 'Fuente', 'monte', 'portes', 'tornero', 'armengol', 'armero', 'salgado', 'amador', 'Benedicto', 'vivo', 'alexos', 'quinto', 'albornoz', 'calero', 'cabrera', 'quirino', 'Guarda', 'texada', 'comino', 'peñas', 'monesterio', 'Mayo', 'Sala', 'MORILLO', 'pilar', 'laurel', 'Maeda', 'Polonia', 'moro', 'fregenal', 'gabriel', 'canales', 'Joachim', 'santana', 'Bueno', 'Mar', 'encima', 'pasqual', 'jordan', 'Rivera', 'Salvador', 'Medina', 'placido', 'josep', 'Atocha', 'Azcona', 'napoles', 'segundo', 'pinto', 'faria', 'cañero', 'moli', 'Lugo', 'argote', 'santisteban', 'cabra', 'holanda', 'prudencio', 'ahumada', 'recalde', 'tosca', 'Rosa', 'farina', 'salado', 'Javier', 'marino', 'cano', 'amarilla', 'magaña', 'Benito', 'carta', 'sacramento', 'tello', 'sotomayor', 'Hamete', 'granado', 'Aguilar', 'Oro', 'magdalena', 'cuadrado', 'vacas', 'marina', 'amparo', 'Iglesia', 'Paulo', 'Feria', 'Redondo', 'felipe', 'ferrero', 'evangelista', 'costa', 'anton', 'seneca', 'des', 'cantero', 'ribadeneira', 'ayala', 'fuero', 'Sacre', 'Cepeda', 'isla', 'prieto', 'angelo', 'morillo', 'candelaria', 'ferran', 'mesas', 'naves', 'pulido', 'fernandes', 'justicia', 'tome', 'sobrado', 'toledano', 'guadalupe', 'alta', 'grado', 'rubio', 'melgarejo', 'hierro', 'mañara', 'cuerda', 'Isidro', 'damian', 'luz', 'armando', 'riesco', 'Vicenta', 'ramo', 'arze', 'Caballos', 'Diaz', 'menor', 'porteria', 'vides', 'red', 'Enrique', 'redonda', 'oliba', 'leyes', 'Jacome', 'paulo', 'guarda', 'marchena', 'novia', 'redondo', 'ginoves', 'alcoba', 'Piedad', 'izquierdo', 'vargas', 'fanegas', 'Granda', 'jerez', 'torres', 'salinas', 'Segundo', 'Artes', 'cañas', 'encinas', 'teodomiro', 'juanes', 'olalla', 'Campofrio', 'Cuevas', 'castroverde', 'sa', 'Mayor', 'puerta', 'Salazar', 'calafate', 'jacinto', 'martir', 'Vitoria', 'calabazas', 'per', 'camara', 'sesma', 'subira', 'centeno', 'granada', 'paz', 'Monserrat', 'doblas', 'Francisco', 'Cuentas', 'soto', 'buelta', 'casado', 'pacheco', 'guardia', 'Santiago', 'angela', 'pastor', 'factor', 'palacios', 'Maria', 'almendras', 'capaz', 'oreja', 'Figueroa', 'feria', 'aguirre', 'Vicente', 'pontones', 'cristo', 'LEAL', 'paredes', 'barrio', 'Moises', 'picado', 'berastegui', 'dueñas', 'baez', 'Anunciacion', 'joseph', 'CAMPO', 'corona', 'marfil', 'mas', 'maria', 'cordon', 'maximiliano', 'mateo', 'Arenales', 'Luis', 'enzinas', 'cedo', 'rozas', 'bes', 'cumplido', 'thomas', 'Cabezas', 'Dios', 'Gonzalez', 'espina', 'madera', 'solares', 'corpus', 'Felipa', 'verde', 'talon', 'artes', 'santiago', 'Ramos', 'utrera', 'ramos', 'Preciado', 'baustista', 'minjares', 'pereira', 'carnero', 'Encarnacion', 'Pero', 'arostegui', 'ballestero', 'bartolome', 'milanes', 'viejo', 'palacio', 'bacio', 'mate', 'mendes', 'Roldan', 'Duque', 'JUAN', 'igual', 'Niño', 'Flandes', 'Dulce', 'maeso', 'estrella', 'dato', 'ARTEAGA', 'leyba', 'jara', 'arteaga', 'marroquin', 'ribera', 'Damian', 'hermoso', 'FRANCISCO', 'sola', 'portugues', 'verdugo', 'alberto', 'Casilda', 'resta', 'serapio', 'chantre', 'pascual', 'junco', 'risco', 'teresa', 'busto', 'bernarda', 'Castillejo', 'justo', 'Panes', 'claros', 'diz', 'arcangel', 'suarez', 'alonso', 'Ruiz', 'Granada', 'luis', 'quadrado', 'ortega', 'hamete', 'Carpio', 'hoyos', 'corta', 'cid', 'varas', 'chacon', 'reina', 'victoria', 'Apostol', 'jusepe', 'Mejorada', 'pazo', 'cabezas', 'Torres', 'paño', 'ropero', 'portero', 'Reina', 'Justiniano', 'onofre', 'losa', 'Ledesma', 'Leandro', 'Solis', 'muros', 'dolores', 'sala', 'remedios', 'serafin', 'esperanza', 'orta', 'lazaro', 'blanca', 'Peña', 'plana', 'francia', 'caballos', 'Jordan', 'nieves', 'aso', 'torquemada', 'espada', 'campana', 'olivares', 'Vuelta', 'Miguel', 'ros', 'angel', 'real', 'romanos', 'cubillana', 'patron', 'aquino', 'torre', 'gregorio', 'poma', 'mayoral', 'Monsalve', 'alcazar', 'pato', 'rio', 'Busto', 'figueroa', 'carrero', 'Rodriguez', 'carton', 'segui', 'carpio', 'du', 'carrasco', 'poza', 'Santana', 'puga', 'Abad', 'Niebla', 'cristiano', 'perfecto', 'marco', 'elena', 'rallo', 'girolamo', 'Bautista', 'Nazareno', 'martin', 'felice', 'nueva', 'perlas', 'caballeria', 'Jose', 'castro', 'espiritu', 'bote', 'Plata', 'Dos', 'cayo', 'dios', 'bona', 'Mariana', 'damas', 'Sebastian', 'Vieja', 'salvo', 'alamo', 'valenzuela', 'machuca', 'seva', 'Francia', 'Armada', 'Amor', 'olanda', 'Musa', 'rosado', 'Elias', 'vega', 'ARELLANO', 'camino', 'haya', 'santisima', 'pareja', 'Gales', 'vivas', 'Paula', 'nuñez', 'concha', 'Aguirre', 'parado', 'baeza', 'isidro', 'ybarra', 'Jacinto', 'barba', 'Flores', 'amor', 'medina', 'Vargas', 'Lara', 'peres', 'grande', 'arias', 'padua', 'coma', 'custodio', 'cabo', 'molinas', 'prado', 'Carmen', 'baptista', 'jesu', 'higuera', 'puebla', 'matheo', 'cerero', 'miguel', 'carrera', 'aguiar', 'mantilla', 'luisa', 'viñas', 'diamante', 'caxa', 'gradilla', 'Esquivel', 'verano', 'Vico', 'clemencia', 'hoz', 'salas', 'justa', 'halcon', 'buey', 'baltazar', 'serrano', 'Custodio', 'molinos', 'cabello', 'ana', 'romano', 'arcos', 'marques', 'clavijo', 'serena', 'cobertores', 'tejada', 'asta', 'Castillo', 'ribas', 'nebreda', 'vandera', 'pradilla', 'La', 'moran', 'tablada', 'lissa', 'socorro', 'austria', 'angulo', 'oliva', 'canela', 'vea', 'domingo', 'peral', 'tercero', 'sayas', 'cuyas', 'sanabria', 'Clara', 'castaño', 'dorado', 'coria', 'francos', 'sastre', 'clemente', 'Jacobo', 'Salamanca', 'montesa', 'mesa', 'Carcel', 'cala', 'sisa', 'ramales', 'Abraham', 'Julio', 'bernardo', 'segunda', 'lanas', 'carmen', 'carro', 'Cabeza', 'capa', 'pinelo', 'Pozo', 'Anna', 'arnao', 'rasa', 'aceites', 'adan', 'rebolledo', 'Magdalena', 'Loyola', 'pazos', 'pecado', 'tristan', 'virrey', 'dionisio', 'aspas', 'lima', 'Felipe', 'puerto', 'tejero', 'Onofre', 'alva', 'dulce', 'Ovejas', 'Banda', 'vizcaino', 'andrea', 'Alberto', 'Visitacion', 'justiniano', 'robledo', 'baños', 'heredia', 'lorenzo', 'pico', 'Chacon', 'rosario', 'bravo', 'bernabe', 'Gregorio', 'asturias', 'Guardia', 'montes', 'yuso', 'sebil', 'Moro', 'escalada', 'Remedios', 'reyna', 'llave', 'Monasterio', 'mora', 'espadero', 'la', 'Encima', 'linden', 'chamorro', 'apostoles', 'peña', 'Letamendi', 'triana', 'vara', 'puertas', 'cantos', 'techo', 'sierra', 'Rosario', 'barra', 'bernardino', 'trigo', 'Rivas', 'daban', 'pozo', 'Pastor', 'Phelipe', 'duro', 'cortina', 'marca', 'vicente', 'hipolito', 'suero', 'Angeles', 'luna', 'quadros', 'abreu', 'Coca', 'Castañeda', 'buy', 'Sevillano', 'mozo', 'capillas', 'leal', 'Juanes', 'Gabriel', 'peñaranda', 'armada', 'MURILLO', 'Mas', 'barca', 'topa', 'milan', 'Gracia', 'texedor', 'piedras', 'romana', 'Juan', 'fuensalida', 'faber', 'caro', 'amigo', 'do', 'Gato', 'allende', 'cordero', 'Simon', 'naval', 'campos', 'navas', 'roque', 'Cosme', 'amado', 'moron', 'Mora', 'jaspe', 'Antonio', 'tapia', 'vico', 'demaria', 'Ana', 'Puga', 'Vida', 'ormigon', 'ortiz', 'aldonza', 'manera', 'Pacheco', 'Jeronimo', 'Resta', 'parra', 'encalada', 'estefania', 'tamariz', 'reta', 'villarrubia', 'granados', 'Marcos', 'reyes', 'fernandez', 'cuellar', 'leandro', 'pulgar', 'Primo', 'nolasco', 'pison', 'santaren', 'alos', 'Romanos', 'Guevara', 'alcayde', 'pita', 'jorge', 'salido', 'Agreda', 'carcel', 'estopiñan', 'diez', 'mayo', 'marmol', 'cuesta', 'Baños', 'Monesterio', 'bargas', 'abarca', 'Bernardo', 'barrionuevo', 'Avila', 'piñon', 'vicuña', 'Cristo', 'benito', 'espiga', 'leonis', 'fernando', 'xavier', 'chinchon', 'Cano', 'cerda', 'Domingo', 'caballero', 'obrador', 'moros', 'andres', 'iglesia', 'caja', 'hidalgo', 'cazalla', 'nazareno', 'anda', 'Rita', 'primo', 'pagan', 'Rojo', 'Hermosa', 'sidonia', 'valle', 'cabañas', 'acosta', 'flecha', 'viga', 'Liñan', 'joven', 'carranza', 'monteagudo', 'Crispin', 'Lechuga', 'Conde', 'jamete', 'Aguas', 'Ruis', 'consolacion', 'escoto', 'mar', 'Casas', 'Espada', 'suelto', 'muñecas', 'bautista', 'parrales', 'Espina', 'vergara', 'Isabel', 'trigueros', 'ferrer', 'Albo', 'arellano', 'testera', 'troyano', 'cordova', 'aras', 'Francisca', 'Susana', 'Redonda', 'aguas', 'patricio', 'calis', 'boquete', 'baso', 'julio', 'hazen', 'alamos', 'Obligado', 'Fernando', 'alcantara', 'escaño', 'pavon', 'cuero', 'Palma', 'azuaga', 'plano', 'aleman', 'malagon', 'basta', 'fuentes', 'Portugal', 'banda', 'Saeta', 'peinado', 'Luisa', 'Nieto', 'michel', 'calvo', 'jose', 'duran', 'contreras', 'fita', 'leonardo', 'porto', 'dos', 'brabante', 'costas', 'puente', 'freses', 'Malagon', 'arguello', 'carnicero', 'MORENO', 'Evangelista', 'Laureano', 'toral', 'Alameda', 'Carlos', 'Dorado', 'ines', 'Catarina', 'talavera', 'Caso', 'ruis', 'hornero', 'Paz', 'apostol', 'paterna', 'Santisima', 'hermosa', 'Santisteban', 'montaña', 'Vela', 'flandes', 'mal', 'Borja', 'millares', 'matos', 'Pedro', 'cancela', 'lis', 'canto', 'Ribera', 'Romana', 'herreros', 'hoyo', 'matias', 'Manzanos', 'Pimentel', 'Cecilia', 'morales', 'pero', 'Marina', 'Daniel', 'olmos', 'Quinto', 'Caballero', 'lebrija', 'pecador', 'bacas', 'casta', 'cantillo', 'pan', 'caula', 'ceron', 'francisca', 'agustin', 'Gallego', 'villacastin', 'herrera', 'Nueva', 'caño', 'Corpus', 'casos', 'rico', 'palma', 'moreno', 'baro', 'Trinidad', 'abello', 'vasco', 'bruno', 'panes', 'moya', 'polonia', 'texeda', 'cosa', 'Antequera', 'sales', 'Romero', 'Lista', 'sacristan', 'giron', 'aroche', 'loyola', 'linaje', 'estrada', 'costales', 'Soto', 'balanza', 'lopez', 'leon', 'lindo', 'pere', 'hospital', 'carbon', 'labrada', 'ovejas', 'Villa', 'Geronima', 'vermondo', 'bueno', 'conde', 'foi', 'baga', 'baltasar', 'corte', 'rodrigo', 'monge', 'alfonso', 'escuderos', 'van', 'coçar', 'Real', 'maldonado', 'oro', 'llano', 'mathe', 'ambrosio', 'GUERRA', 'monto', 'ayllon', 'Robles', 'palos', 'juste', 'enjuta', 'guzman', 'Lorenzo', 'corrientes', 'farfan', 'alexo', 'chica', 'Cantero', 'coco', 'cesare', 'caxon', 'santillan', 'gala', 'crisostomo', 'Linaje', 'isabel', 'Josef', 'estupiñan', 'gil', 'brea', 'Bernardino', 'tirado', 'hombre', 'Concepcion', 'lana', 'asuncion', 'petronila', 'mejorada', 'giraldo', 'diaz', 'canal', 'bello', 'escudero', 'varillas', 'meneses', 'vallados', 'escriva', 'monserrate', 'capuz', 'albear', 'beato', 'bustos', 'franscisco', 'marcos', 'Alfonso', 'gonçalo', 'hera', 'porras', 'llanos', 'arenas', 'Catalina', 'lossa', 'castilla', 'frances', 'armas', 'mercado', 'Cuerda', 'bandera', 'bailon', 'guerrero', 'flor', 'escalera', 'von', 'hortigas', 'segura', 'Marques', 'Capilla', 'joan', 'acuña', 'Valle', 'montano', 'catalan', 'cortes', 'Gallo', 'Henrique', 'lerma', 'caso', 'Sacramento', 'cean', 'Vermondo', 'balbuena'}

In [33]:
len(set(untagged))

1464

It would be wise to review this list of 1,478 tokens manually to determine which are names for sure and which are dubious. But first, let's see how many of these matches (DBE and acceptednames) happen adjacent to a PER entity (before or after) to see which spans we have to edit.

# Strategy 1: Exact Matching in Lists

In [34]:
docs[0][0][1]

martin

I want a rule that looks in front or behind of a PER entity. If that token is in the name list and is not tagged as an entity, I want it to be appended to our list. If the token is de, el or la (single or plural), I want it to move to the nex token.

In [35]:
nexttopers = []
for doc,context in docs:
    for ent in doc.ents:
        if ent.label_=='PER':
            try:
                i = 1
                a = doc[ent.start-i]
                while a.text.lower() == 'de' or a.text.lower() =='del' or a.text.lower() == 'la'or a.text == 'el' or a.text == 'los' or a.text == 'las' or a.text == 'y':
                    i = i+1
                    a = doc[ent.start-i]
                if (a.ent_iob==2) and ((a.text.lower() in acceptednames) or (a.text.lower() in DBEnames)):
                    nexttopers.append(a.text)
            except: 
                pass
            try:
                i = 0
                b = doc[ent.end+i]
                while b.text.lower() == 'de' or b.text.lower() == 'del' or b.text.lower() == 'la'or b.text == 'el' or b.text == 'los' or b.text == 'las' or b.text == 'y':
                    i = i+1
                    b = doc[ent.end+i]
                if (b.ent_iob==2) and ((b.text.lower() in acceptednames)or (b.text.lower() in DBEnames)):
                    nexttopers.append(b.text)
            except:
                pass

In [36]:
len(nexttopers)

971

In [37]:
len(set(nexttopers))

298

In [38]:
print(set(nexttopers))

{'capilla', 'costa', 'sa', 'cordero', 'Esquivel', 'delgado', 'matos', 'calero', 'cantero', 'maldonado', 'carrasco', 'abad', 'oro', 'ayala', 'labrador', 'Conde', 'puga', 'hijas', 'campo', 'bravo', 'villafuerte', 'hoz', 'Nisa', 'Abad', 'jesus', 'cavallero', 'texada', 'calafate', 'justa', 'toma', 'camacho', 'Vega', 'corral', 'hermoso', 'vida', 'camara', 'Chaves', 'serrano', 'guzman', 'portugues', 'comino', 'centeno', 'rua', 'vuelta', 'tapia', 'monesterio', 'farfan', 'ana', 'vico', 'Cantero', 'marques', 'Sala', 'doblas', 'chantre', 'francisco', 'cabeza', 'clavijo', 'beata', 'martin', 'maeso', 'cotan', 'moro', 'obligado', 'reyna', 'pero', 'fernandes', 'gragera', 'justicia', 'tome', 'andino', 'Clemencia', 'casado', 'teresa', 'Albo', 'balle', 'toledano', 'Jeronimo', 'espadero', 'crisostomo', 'moran', 'Linaje', 'tablada', 'pastor', 'herrero', 'Bueno', 'urban', 'falconete', 'melgarejo', 'linage', 'tamariz', 'palacios', 'coronel', 'encima', 'ceron', 'contador', 'vea', 'quero', 'aguirre', 'Marcos', 'domingo', 'agustin', 'negro', 'Medina', 'placido', 'fernandez', 'LEAL', 'cuellar', 'barrio', 'berastegui', 'Bandera', 'Azcona', 'tercero', 'chamorro', 'segundo', 'tirado', 'herrera', 'hombre', 'Rico', 'pinto', 'mayor', 'machuca', 'quadrado', 'ortega', 'hernan', 'mas', 'cañero', 'sea', 'garcia', 'maria', 'Velasco', 'cid', 'solar', 'Lugo', 'dorado', 'sobrino', 'Fernando', 'rico', 'cuentas', 'sastre', 'ahumada', 'alcantara', 'fraile', 'clemente', 'alcayde', 'hurtado', 'Mejorada', 'thomas', 'geronima', 'duque', 'menor', 'Dios', 'Gonzalez', 'casas', 'diez', 'juan', 'vides', 'madera', 'geronimo', 'camino', 'alderete', 'ropero', 'portero', 'trigo', 'sillero', 'haya', 'bargas', 'aleman', 'pareja', 'abarca', 'fuentes', 'magaña', 'dias', 'albear', 'Tome', 'Ledesma', 'lucas', 'banda', 'peinado', 'artes', 'segunda', 'guarda', 'carta', 'nieta', 'cosa', 'Aguirre', 'Nieto', 'peon', 'suero', 'bocanegra', 'catalina', 'montañes', 'sacristan', 'hera', 'Pero', 'tello', 'giron', 'alamin', 'duran', 'porras', 'mozo', 'orta', 'manco', 'contreras', 'arostegui', 'blanca', 'cogolludo', 'barba', 'ballestero', 'ginoves', 'Aldana', 'castilla', 'milanes', 'leal', 'gracia', 'dos', 'frances', 'espinosa', 'viejo', 'verdad', 'costas', 'armas', 'carnicero', 'caballero', 'mercado', 'niño', 'vargas', 'nieto', 'sotomayor', 'Evangelista', 'Justa', 'Sevilla', 'criado', 'martel', 'estrada', 'arias', 'corro', 'iglesia', 'andres', 'coronado', 'guerrero', 'caja', 'hidalgo', 'von', 'jerez', 'aso', 'texedor', 'tristan', 'torquemada', 'pere', 'plata', 'Puerta', 'Duque', 'garnica', 'campana', 'della', 'magdalena', 'gallego', 'acuña', 'Hernan', 'real', 'blanco', 'patron', 'lopes', 'ruis', 'carpintero', 'villa', 'bueno', 'cortes', 'hornero', 'conde', 'foi', 'cerero', 'valle', 'torre', 'restan', 'deu', 'corte', 'acosta', 'caro', 'barbero', 'correa', 'Monsalve', 'Sa', 'coto', 'Niño', 'tornero', 'salgado', 'joven', 'valor', 'flandes', 'Busto', 'ferrero', 'viñas', 'pedro', 'tienda', 'alexos', 'Rodriguez', 'castroverde'}

According to this rule, 971 modifications could be made, from 298 distinct tokens.

In [39]:
peopleshort = []

for doc,context in docs:
    for ent in doc.ents:
        if ent.label_=='PER':
            try:
                i = 1
                a = doc[ent.start-i]
                while a.text.lower() == 'de' or a.text.lower() =='del' or a.text.lower() == 'la'or a.text.lower() == 'el' or a.text.lower() == 'los' or a.text.lower() == 'las' or a.text.lower()=='y':
                    i = i+1
                    a = doc[ent.start-i]
                if (a.ent_iob==2) and ((a.text.lower() in acceptednames) or (a.text.lower() in DBEnames)):
                    h = context['id']
                    b = ent.text
                    c = ent.start
                    d = ent.end
                    e = a.i
                    f = a.text
                    g = ent.label_
                    entry = [h, b, c, d, e, f,g]
                    peopleshort.append(entry)
            except: 
                pass
            try:
                i = 0
                b = doc[ent.end+i]
                while b.text.lower() == 'de' or b.text.lower() == 'del' or b.text.lower() == 'la'or b.text.lower() == 'el' or b.text.lower() == 'los' or b.text.lower() == 'las' or b.text.lower()=='y':
                    i = i+1
                    b = doc[ent.end+i]
                if (b.ent_iob==2) and ((b.text.lower() in acceptednames)or (b.text.lower() in DBEnames)):
                    a = context['id']
                    h = ent.text
                    c = ent.start
                    d = ent.end
                    e = b.i
                    f = b.text
                    g=ent.label_
                    entry = [a, h, c, d, e, f,g]
                    peopleshort.append(entry)
            except:
                pass

In [40]:
len(peopleshort)

971

In [41]:
peopleshort = pd.DataFrame(peopleshort, columns = ['docid','string','start','end','tokenloc','tokentext','entlabel'])

In [42]:
peopleshort.head()

   docid            string  start   end  tokenloc tokentext entlabel
0     50  Cristobal garcia      6     8         8   cantero      PER
1     56  garcia fustanero     23    25        22      pero      PER
2     59    Pedro Blascoen   2476  2478      2478   Sevilla      PER
3    101    nicolas jurate    163   165       165       dos      PER
4    106   niculao de leon      0     3         3   frances      PER

In [43]:
peopleshort['edit_short']=''

This should be enough to loop through our labels and edit them, as we did previously in Data Cleaning 2. And the number of tags is small enough that we do not need to filter things out.

In [56]:
count = 0
for (index, row) in peopleshort.iterrows():
    if row['edit_short']=='':
        count=count+1
        print(count)
        print(row['string'],row['start'],row['end'])
        print(row['tokentext'], row['tokenloc'])
        docid = row['docid']
        strstart = min([int(row['start']), int(row['tokenloc'])])
        strend = max([int(row['end']), int(row['tokenloc'])]) + 10
        
        for doc in docs:
            if doc[1]['id'] == docid:      
                displacy.render(doc[0][strstart:strend],style='ent',jupyter=True)
                peopleshort.loc[index, 'edit_short']=input('Edit?')
                
                if peopleshort.loc[index, 'edit_short']=='X':
                        for doc in docs:
                            if doc[1]['id'] == docid:
                                displacy.render(doc[0],style='ent',jupyter=True)
                                peopleshort.loc[index,'edit_short']=input('Edit?')
                clear_output(wait=True)

2
DIEGO AMBROSIO 14 16
menor 16

Edit? 0

In [ ]:
peopleshort

In [363]:
peopleshort.fillna('').groupby('edit_short').count()

,Unnamed: 0,docid,string,start,end,tokenloc,tokentext,entlabel,newstart,newend
edit_short,,,,,,,,,,
0,686,686,686,686,686,686,686,686,686,686
1,262,262,262,262,262,262,262,262,262,262
L,1,1,1,1,1,1,1,1,1,1
R,7,7,7,7,7,7,7,7,7,7
o,15,15,15,15,15,15,15,15,15,15

Above: of the tags identified for checking, 686 are correct, 262 must be edited for length, one must be reclassified as a location, 7 must be removed and 15 have another problem (multiple tags or mis-tokenization).

In [58]:
peopleshort.to_csv('Files_Cleaning3/PERS_tag_clean3_strat1.csv')

# Strategy 2: Fuzzy Matching to Lists

Let's do the same thing, but with tokens that approximately match names in our lists.

In [59]:
from fuzzywuzzy import fuzz
from fuzzywuzzy import process

In [60]:
tokens = pd.DataFrame()
tokens['token']=''
tokens['score']=''
tokens['match']=''

In [61]:
untagged = []
for doc,context in docs:
    for token in doc:
        if (token.ent_iob==2):
            untagged.append(token.text)

In [62]:
untagged = set(untagged)

In [63]:
len(untagged)

31748

In [64]:
for token in untagged:
    tokens= tokens.append({'token':token}, ignore_index=True)

In [65]:
len(tokens)

31748

In [66]:
tokens = tokens.replace(to_replace='None', value='')

In [69]:
tokens.head()

       token score match
0   sucedido   NaN   NaN
1     yeruas   NaN   NaN
2    enojosa   NaN   NaN
3    brazado   NaN   NaN
4  italianas   NaN   NaN

The function below, taken from Data Cleaning 1, chooses the maximum fuzzy match for each token.

In [67]:
def fuzzmax(string,names):
        string = str(string).lower()
        result = list(map(lambda a: fuzz.token_sort_ratio(string,a),names))
        return [max(result),names[result.index(max(result))]]

In [71]:
names = list(set(acceptednames +list(DBEnames)))

In [72]:
len(names)

10192

In [74]:
tokens['score'] = tokens.apply(lambda x: fuzzmax(x['token'], names), axis = 1)

In [75]:
tokens.head()

       token           score match
0   sucedido   [80, saucedo]   NaN
1     yeruas   [77, payeras]   NaN
2    enojosa  [80, hinojosa]   NaN
3    brazado  [80, bazcardo]   NaN
4  italianas  [75, albiñana]   NaN

In [76]:
tokens['match']=tokens.apply(lambda x: x['score'][1],axis=1)

In [77]:
tokens['score']=tokens.apply(lambda x: x['score'][0], axis=1)

In [78]:
tokens.head()

       token  score     match
0   sucedido     80   saucedo
1     yeruas     77   payeras
2    enojosa     80  hinojosa
3    brazado     80  bazcardo
4  italianas     75  albiñana

In [79]:
len(tokens)

31748

In [80]:
tokens.to_csv('Files_Cleaning3/untagged_token_match_scores.csv')

In [81]:
tokens.set_index('token', inplace=True)

In [84]:
tokens90 = tokens.loc[(tokens['score']>90)&(tokens['score']<100)]

In [85]:
tokens90

             score        match
token
despejo         92       espejo
vigas           91       viegas
calabaza        94    calabazas
pasadas         93     passadas
colla           91       coalla
...            ...          ...
villacreses     91  villacreces
barias          91       briñas
honda           91       hondal
abraça          91       abraha
perita          91        peria

[1615 rows x 2 columns]

In [94]:
tokens90 = tokens90.drop(index='pintor')

In [98]:
tokens90 = tokens90.drop(index='dorador')
tokens90 = tokens90.drop(index='pintar')
tokens90 = tokens90.drop(index='frayle')

In [102]:
tokens90 = tokens90.drop(index='marido')
tokens90 = tokens90.drop(index='esclava')
tokens90 = tokens90.drop(index='vecino')

In [109]:
tokens90 = tokens90.drop(index='vecina')

In [114]:
tokens90 = tokens90.drop(index='hijos')

KeyError: "['hija'] not found in axis"

In [115]:
peopleshortfuzz = []

for doc,context in docs:
    for ent in doc.ents:
        if ent.label_=='PER':
            try:
                i = 1
                a = doc[ent.start-i]
                while a.text.lower() == 'de' or a.text.lower() =='del' or a.text.lower() == 'la'or a.text.lower() == 'el' or a.text.lower() == 'los' or a.text.lower() == 'las' or a.text.lower()=='y':
                    i = i+1
                    a = doc[ent.start-i]
                if (a.ent_iob==2) and (a.text.lower() in tokens90.index):
                    h = context['id']
                    b = ent.text
                    c = ent.start
                    d = ent.end
                    e = a.i
                    f = a.text
                    g = ent.label_
                    entry = [h, b, c, d, e, f,g]
                    peopleshortfuzz.append(entry)
            except: 
                pass
            try:
                i = 0
                b = doc[ent.end+i]
                while b.text.lower() == 'de' or b.text.lower() == 'del' or b.text.lower() == 'la'or b.text.lower() == 'el' or b.text.lower() == 'los' or b.text.lower() == 'las' or b.text.lower()=='y':
                    i = i+1
                    b = doc[ent.end+i]
                if (b.ent_iob==2) and (b.text.lower() in tokens90.index):
                    a = context['id']
                    h = ent.text
                    c = ent.start
                    d = ent.end
                    e = b.i
                    f = b.text
                    g=ent.label_
                    entry = [a, h, c, d, e, f,g]
                    peopleshortfuzz.append(entry)
            except:
                pass

In [116]:
len(peopleshortfuzz)

583

In [117]:
peopleshortfuzz

[[22, 'Miguel de Gainza', 29, 32, 28, 'fueron', 'PER'],
 [49, 'Cristobal', 2, 3, 1, 'maestre', 'PER'],
 [49, 'luis sanches', 969, 971, 968, 'canteria', 'PER'],
 [49, 'juan fernandes', 981, 983, 984, 'maestre', 'PER'],
 [49, 'Cristobal', 985, 986, 984, 'maestre', 'PER'],
 [49, 'Cristobal', 1007, 1008, 1006, 'maestre', 'PER'],
 [110, 'Andres', 6, 7, 5, 'maestre', 'PER'],
 [112, 'Cristobal', 15, 16, 16, 'darcos', 'PER'],
 [132, 'Pedro de Campaña', 3, 6, 2, 'maestre', 'PER'],
 [139, 'nufrio de ortega', 281, 284, 285, 'cuarta', 'PER'],
 [139, 'bartolome de ortega', 359, 362, 363, 'cuarta', 'PER'],
 [172, 'diego de la barrera', 36, 40, 35, 'cuanto', 'PER'],
 [201, 'Juan barva', 33, 35, 35, 'cabeça', 'PER'],
 [221, 'francisco pavon', 67, 69, 69, 'maestre', 'PER'],
 [227, 'juan gonzales', 53, 55, 52, 'padrino', 'PER'],
 [229, 'Manuel de Artiaga y Salcedo', 84, 89, 83, 'padrino', 'PER'],
 [232, 'Manuel de Artiaga y Alua', 76, 81, 75, 'padrino', 'PER'],
 [256, 'Andres de Ibarburu y Galdona', 39, 44, 44, 'maestre', 'PER'],
 [276, 'martin del rio', 80, 83, 83, 'capellan', 'PER'],
 [292, 'luis de vilches', 49, 52, 52, 'ajuste', 'PER'],
 [313, 'Diego de Alcala', 139, 142, 142, 'estas', 'PER'],
 [367, 'Rodriguez', 339, 340, 337, 'cuenta', 'PER'],
 [383, 'Melchor Moreno', 361, 363, 359, 'almas', 'PER'],
 [463, 'Pedro Sanchez de Alcala', 45, 49, 44, 'padres', 'PER'],
 [552, 'alonso de leon', 738, 741, 737, 'braza', 'PER'],
 [552, 'pedro de vargas', 756, 759, 755, 'braza', 'PER'],
 [639, 'Pedro', 21, 22, 20, 'maestre', 'PER'],
 [675, 'Bernabe belazquez', 721, 723, 723, 'despinosa', 'PER'],
 [675, 'Andres de ocampo', 724, 727, 723, 'despinosa', 'PER'],
 [715, 'Juan de useda', 7, 10, 10, 'castroberde', 'PER'],
 [734, 'nufra de Jesus y alfaro', 54, 59, 59, 'freyla', 'PER'],
 [847, 'Maria Ruiz', 9, 11, 8, 'pariente', 'PER'],
 [875, 'alonso fernandes', 1, 3, 3, 'viñero', 'PER'],
 [897, 'niculas', 27, 28, 26, 'maestre', 'PER'],
 [903, 'anton sanches', 79, 81, 81, 'suegro', 'PER'],
 [918, 'rodrigo alvarez', 107, 109, 109, 'manda', 'PER'],
 [951, 'pedro delgado', 291, 293, 293, 'estaua', 'PER'],
 [962, 'Miguel de Gainza', 1773, 1776, 1771, 'espadas', 'PER'],
 [966, 'cosme de sorribas', 1, 4, 4, 'regero', 'PER'],
 [976, 'graviel', 2, 3, 1, 'maestre', 'PER'],
 [997, 'lorenzo de castellanos', 267, 270, 271, 'cuerpo', 'PER'],
 [1003, 'medel ?', 6, 8, 8, 'despinosa', 'PER'],
 [1011, 'juan de salmeron', 86, 89, 89, 'preso', 'PER'],
 [1014, 'pedro del castillo', 3505, 3508, 3508, 'criados', 'PER'],
 [1023, 'grabiel del balle', 322, 325, 327, 'media', 'PER'],
 [1027, 'andres de obiedo', 322, 325, 325, 'antes', 'PER'],
 [1029, 'baltasar de rribera', 136, 139, 139, 'segun', 'PER'],
 [1049, 'diego de herrera', 633, 636, 632, 'feliphe', 'PER'],
 [1066, 'juan rrodrigues', 366, 368, 368, 'segun', 'PER'],
 [1066, 'juan rrodrigues', 427, 429, 429, 'segun', 'PER'],
 [1069, 'alonso martinez', 1928, 1930, 1930, 'corre', 'PER'],
 [1074, 'Pedro Natera', 39, 41, 37, 'cobrar', 'PER'],
 [1074, 'Pedro Natera', 39, 41, 41, 'varias', 'PER'],
 [1082, 'pedro de aranguibel', 86, 89, 85, 'maestre', 'PER'],
 [1084, 'antonio de jesus', 68, 71, 71, 'guardian', 'PER'],
 [1100, 'geronimo martin', 29, 31, 28, 'preso', 'PER'],
 [1124, 'Rodrigo Alonso', 316, 318, 314, 'suelo', 'PER'],
 [1124, 'Francisco', 376, 377, 378, 'aguador', 'PER'],
 [1138, 'Francisco de Carmona', 1099, 1102, 1098, 'benga', 'PER'],
 [1149, 'Juan Bautista Judice', 43, 46, 42, 'sigue', 'PER'],
 [1192, 'andres de Ocampo', 7262, 7265, 7266, 'obreros', 'PER'],
 [1199, 'balbuena', 152, 153, 151, 'ffernando', 'PER'],
 [1199, 'Villacreces', 427, 428, 426, 'ffernando', 'PER'],
 [1205, 'Alonso de escovedo colombres', 17, 21, 21, 'fueron', 'PER'],
 [1208, 'diego gomez de ortega', 27, 31, 25, 'recibo', 'PER'],
 [1211, 'juan lopez de bozmediado', 700, 704, 705, 'traer', 'PER'],
 [1216, 'manuel lorenzo', 2053, 2055, 2052, 'contado', 'PER'],
 [1239, 'antonio perez', 1198, 1200, 1197, 'razon', 'PER'],
 [1239, 'agustin Zojo', 1630, 1632, 1633, 'quiero', 'PER'],
 [1305, 'niculoso pisano', 7, 9, 9, 'ollero', 'PER'],
 [1316, 'francisco lopez', 22, 24, 24, 'maestre', 'PER'],
 [1328, 'beatriz de çuñiga y belasco', 27, 32, 32, 'marquesa', 'PER'],
 [1328, 'beatriz de çuñiga', 1576, 1579, 1580, 'belasco', 'PER'],
 [1355, 'beatriz de zuñiga', 26, 29, 30, 'belasco', 'PER'],
 [1355, 'juan de ouiedo', 1227, 1230, 1225, 'marquesa', 'PER'],
 [1380, 'pablo legote', 287, 289, 290, 'segun', 'PER'],
 [1391, 'felipe de riuas', 312, 315, 315, 'luego', 'PER'],
 [1407, 'francisco antonio xixon', 45, 48, 44, 'llama', 'PER'],
 [1413, 'juan de la pasion', 18, 22, 22, 'sacritan', 'PER'],
 [1425, 'francisco galiano', 1106, 1108, 1108, 'montan', 'PER'],
 [1429, 'juan martinez montañes', 81, 84, 79, 'reciuo', 'PER'],
 [1431, 'Bernardino Rodriguez', 1077, 1079, 1079, 'manda', 'PER'],
 [1438, 'francisco pacheco', 1703, 1705, 1701, 'fueron', 'PER'],
 [1466, 'francisco de herrera', 358, 361, 361, 'fueron', 'PER'],
 [1466, 'blas martin siluestre luis del balle', 811, 817, 817, 'segun', 'PER'],
 [1466, 'francisco de herrera', 904, 907, 907, 'porque', 'PER'],
 [1483, 'luis fernandes de cordoba', 84, 88, 89, 'consejo', 'PER'],
 [1520, 'aparysio martyn', 79, 81, 77, 'cobrar', 'PER'],
 [1521, 'xpoual de trugillo', 101, 104, 104, 'fueron', 'PER'],
 [1521, 'juan bautista', 177, 179, 181, 'madalena', 'PER'],
 [1523, 'alonso de ortega', 61, 64, 60, 'cuanto', 'PER'],
 [1523, 'fernando de aldana', 731, 734, 734, 'estan', 'PER'],
 [1531, 'xpoval muñoz', 7, 9, 9, 'maestre', 'PER'],
 [1591, 'miguel', 40, 41, 39, 'maestre', 'PER'],
 [1591, 'miguel', 75, 76, 74, 'maestre', 'PER'],
 [1591, 'miguel', 139, 140, 138, 'maestre', 'PER'],
 [1591, 'miguel', 177, 178, 176, 'maestre', 'PER'],
 [1610, 'Juan Valtanel', 1, 3, 0, 'Maestre', 'PER'],
 [1620, 'Francisco de Ortega', 69, 72, 68, 'padres', 'PER'],
 [1666, 'miguel de loxa', 58, 61, 61, 'arquero', 'PER'],
 [1666, 'francisco de ocanpo', 423, 426, 426, 'porque', 'PER'],
 [1671, 'martin maldonado', 122, 124, 124, 'fecha', 'PER'],
 [1680, 'juan martines montañes', 167, 170, 171, 'estas', 'PER'],
 [1696, 'Andres Cansino', 1044, 1046, 1043, 'figura', 'PER'],
 [1708, 'Francisco Dionisio de Ribas', 55, 59, 54, 'firma', 'PER'],
 [1722, 'juana de florez', 32, 35, 35, 'ambos', 'PER'],
 [1723, 'catalina muñoz', 70, 72, 68, 'latonero', 'PER'],
 [1724, 'alonso ramirez', 203, 205, 208, 'personas', 'PER'],
 [1738, 'luis venegas de figueroa', 160, 164, 164, 'capellan', 'PER'],
 [1755, 'jorge fernandes', 682, 684, 684, 'luego', 'PER'],
 [1755, 'de la madera', 708, 711, 707, 'criste', 'PER'],
 [1758, 'juan guiralte', 1090, 1092, 1092, 'porque', 'PER'],
 [1777, 'Pedro Perez', 5, 7, 4, 'suegro', 'PER'],
 [1808, 'Catalina de Flores', 8, 11, 7, 'cuñada', 'PER'],
 [1816, 'vicente de perea', 1534, 1537, 1532, 'suegro', 'PER'],
 [1826, 'Maria de San Joseph', 30, 34, 29, 'Madres', 'PER'],
 [1830, 'Juan de uceda', 7, 10, 10, 'castroberde', 'PER'],
 [1854, 'marco', 8, 9, 7, 'maestre', 'PER'],
 [1903, 'diego rrodriguez', 37, 39, 39, 'guardian', 'PER'],
 [1955, 'Leon de Ayala', 98, 101, 101, 'manda', 'PER'],
 [1967, 'dancart', 5, 6, 4, 'maestre', 'PER'],
 [2057, 'juan tomas', 2, 4, 4, 'despindola', 'PER'],
 [2060, 'francisco florentin', 3, 5, 2, 'maestre', 'PER'],
 [2061, 'francisco florentin', 3, 5, 2, 'maestre', 'PER'],
 [2062, 'francisco florentin', 28, 30, 27, 'maestre', 'PER'],
 [2064, 'francisco florentin', 3, 5, 2, 'maestre', 'PER'],
 [2070, 'jacome losero', 20, 22, 19, 'maestre', 'PER'],
 [2071, 'andres carpintero', 3, 5, 2, 'maestre', 'PER'],
 [2074, 'garcia fernandes', 7, 9, 9, 'porque', 'PER'],
 [2128, 'catalina de aviles', 311, 314, 314, 'antes', 'PER'],
 [2141, 'Juan de Soto y Rueda', 16, 21, 21, 'capellan', 'PER'],
 [2145, 'ana lopez', 33, 35, 35, 'fueron', 'PER'],
 [2147, 'ysabel ruys', 35, 37, 37, 'fueron', 'PER'],
 [2152, 'leonor rodriguez', 30, 32, 32, 'fueron', 'PER'],
 [2157, 'Jorge fernandes', 7, 9, 9, 'fueron', 'PER'],
 [2169, 'ysabel fernandes', 12, 14, 14, 'fueron', 'PER'],
 [2170, 'juan sanchez', 26, 28, 29, 'lloreynte', 'PER'],
 [2175, 'maria bernandes', 12, 14, 14, 'fueron', 'PER'],
 [2177, 'Gonzalo', 8, 9, 6, 'padrino', 'PER'],
 [2178, 'Francisco', 3, 4, 1, 'padrino', 'PER'],
 [2180, 'Leonor', 9, 10, 7, 'padrino', 'PER'],
 [2181, 'miguell', 8, 9, 7, 'maestre', 'PER'],
 [2181, 'juana fernandes', 12, 14, 14, 'fueron', 'PER'],
 [2181, 'esteuan', 17, 18, 16, 'maestre', 'PER'],
 [2181, 'catalina gomez', 23, 25, 26, 'maestre', 'PER'],
 [2181, 'niculas', 27, 28, 26, 'maestre', 'PER'],
 [2182, 'Ana', 9, 10, 7, 'padrino', 'PER'],
 [2187, 'Pablos Legot', 1235, 1237, 1237, 'segun', 'PER'],
 [2191, 'Señor Prouisor', 46, 48, 44, 'Señoria', 'PER'],
 [2193, 'Juo de roela', 28, 31, 31, 'capellan', 'PER'],
 [2198, 'Joan de roelas', 6, 9, 5, 'Licendo', 'PER'],
 [2203,
  'Nicolas de Vergara Baptista Vazquez',
  1341,
  1346,
  1340,
  'covarruvias',
  'PER'],
 [2204, 'Bautista Vazquez', 8, 10, 7, 'viejoy', 'PER'],
 [2204, 'Alejo Lopez', 171, 173, 173, 'mercador', 'PER'],
 [2239, 'Benuenuto', 2122, 2123, 2123, 'trata', 'PER'],
 [2307, 'franco pacheco', 1272, 1274, 1274, 'quiero', 'PER'],
 [2322, 'Juan Martinez Montañes', 127, 130, 130, 'abian', 'PER'],
 [2344, 'catalina de billegas', 333, 336, 336, 'luego', 'PER'],
 [2349, 'Catalina de fandoual', 109, 112, 113, 'luego', 'PER'],
 [2351, 'Martinez Montañes', 6, 8, 5, 'padrino', 'PER'],
 [2352, 'ynes de alava', 76, 79, 80, 'luego', 'PER'],
 [2356, 'Martinez Montañes', 5, 7, 4, 'figura', 'PER'],
 [2356, 'Martinez Montañes', 5, 7, 8, 'padrino', 'PER'],
 [2357, 'Martinez Montañes', 6, 8, 5, 'padrino', 'PER'],
 [2358, 'diego de salcedo', 29, 32, 27, 'cabeça', 'PER'],
 [2359, 'Martinez Montañes', 8, 10, 11, 'padrino', 'PER'],
 [2361, 'Alonso fernandez de Mora', 24, 28, 22, 'fueron', 'PER'],
 [2365, 'manuel francisco muñoz', 7, 10, 10, 'maestre', 'PER'],
 [2377, 'antonio de la fuente', 40, 44, 38, 'cobrar', 'PER'],
 [2387, 'urfula de rribera', 0, 3, 77, 'hijos-', 'PER'],
 [2391, 'andres rrodrigues', 16, 18, 18, 'tirador', 'PER'],
 [2399, 'alonso cano', 0, 2, 38, 'bornes', 'PER'],
 [2400, 'alonso cano', 0, 2, 44, 'maderas', 'PER'],
 [2401, 'juan bautista de uzeda', 13, 17, 17, 'castroberde', 'PER'],
 [2403, 'Mendoza Rios', 118, 120, 117, 'llama', 'PER'],
 [2470, 'juan nieto', 21, 23, 19, 'obligados', 'PER'],
 [2478, 'domingo gonçales', 0, 2, 120, 'meses', 'PER'],
 [2489, 'Miguel Guelles', 8, 10, 7, 'figura', 'PER'],
 [2496, 'Vicente hernandes', 717, 719, 720, 'figuras', 'PER'],
 [2496, 'Vicente hernandes', 784, 786, 786, 'porque', 'PER'],
 [2502, 'francisco de herrera', 0, 3, 423, 'menos', 'PER'],
 [2507, 'nicolao griego', 22, 24, 24, 'patrono', 'PER'],
 [2529, 'martin moreno', 531, 533, 530, 'plazos', 'PER'],
 [2532, 'juan de peña', 119, 122, 122, 'porque', 'PER'],
 [2555, 'martin lopez', 44, 46, 42, 'cobrar', 'PER'],
 [2556, 'antonio lopez giron', 300, 303, 299, 'llama', 'PER'],
 [2556, 'alonso salguero', 593, 595, 592, 'llama', 'PER'],
 [2558, 'bernardo de rriuera', 74, 77, 77, 'alguazil', 'PER'],
 [2565, 'Ynes Alvarez de Saavedra', 17, 21, 21, 'fueron', 'PER'],
 [2566, 'nicolao griego', 68, 70, 66, 'figura', 'PER'],
 [2590, 'juan martines montañes', 21, 24, 25, 'porque', 'PER'],
 [2602, 'luis ortiz de bargas', 118, 122, 122, 'recibo', 'PER'],
 [2612, 'juan de rremesal', 343, 346, 342, 'porque', 'PER'],
 [2612, 'pablo legot', 347, 349, 349, 'estan', 'PER'],
 [2633, 'francisco de ocanpo', 0, 3, 3, 'felgera', 'PER'],
 [2680, 'blanca henrriquez', 27, 29, 29, 'marquesa', 'PER'],
 [2697, 'Cristobal perez', 40, 42, 38, 'cobrar', 'PER'],
 [2698, 'Sebastian martines botello', 41, 44, 39, 'cobrar', 'PER'],
 [2699, 'francisco pacheco', 0, 2, 2, 'patrono', 'PER'],
 [2708, 'mahomad paliar', 21, 23, 20, 'maestre', 'PER'],
 [2716, 'miguel adan', 461, 463, 460, 'porque', 'PER'],
 [2720, 'Maria', 389, 390, 388, 'nietos', 'PER'],
 [2733, 'juan de uzeda', 70, 73, 73, 'castroberde', 'PER'],
 [2751, 'juan de uzeda', 49, 52, 52, 'castroberde', 'PER'],
 [2765, 'alonso rramires', 97, 99, 100, 'luego', 'PER'],
 [2765, 'baltasar quintero', 101, 103, 100, 'luego', 'PER'],
 [2768, 'pedro de torres', 58, 61, 61, 'arrutia', 'PER'],
 [2778, 'Felipe de Rivas', 3, 6, 6, 'figura', 'PER'],
 [2791, 'rrodrigo ortiz de la barrera', 38, 43, 36, 'cobrar', 'PER'],
 [2815, 'Juan Lorenzo', 223, 225, 222, 'canteria', 'PER'],
 [2854, 'juan de ufeda', 63, 66, 66, 'castroberde', 'PER'],
 [2854, 'miguel gomes', 68, 70, 66, 'castroberde', 'PER'],
 [2862, 'juan de uzeda', 0, 3, 3, 'castroberde', 'PER'],
 [2863, 'juan de uzeda', 0, 3, 3, 'castroberde', 'PER'],
 [2864, 'juan de uzeda', 0, 3, 3, 'castroberde', 'PER'],
 [2865, 'juan de uzeda', 0, 3, 3, 'castroberde', 'PER'],
 [2866, 'juan de uzeda', 0, 3, 3, 'castroberde', 'PER'],
 [2868, 'juan de uzeda', 0, 3, 3, 'castrouerde', 'PER'],
 [2870, 'Joan de uceda', 0, 3, 3, 'castrouerde', 'PER'],
 [2871, 'juan de uzeda', 0, 3, 3, 'castroberde', 'PER'],
 [2871, 'alonfo cano', 136, 138, 138, 'porque', 'PER'],
 [2872, 'juan de uzeda', 0, 3, 3, 'castroberde', 'PER'],
 [2873, 'juan de uzeda', 0, 3, 3, 'castroberde', 'PER'],
 [2873, 'alonso cano', 146, 148, 144, 'suegro', 'PER'],
 [2874, 'juan bautista de uzeda', 0, 4, 4, 'castroberde', 'PER'],
 [2874, 'juan de uzeda', 19, 22, 22, 'castroberde', 'PER'],
 [2882, 'pedro calderon', 15, 17, 13, 'reciuo', 'PER'],
 [2883, 'francisco barela', 54, 56, 56, 'sigue', 'PER'],
 [2893, 'jusephe antonio', 0, 2, 3, 'trece', 'PER'],
 [2909, 'francisco pacheco', 38, 40, 37, 'patrono', 'PER'],
 [2910, 'geronimo velazquez', 95, 97, 98, 'buena', 'PER'],
 [2930, 'alonso briseño de herrera', 23, 27, 21, 'cobrar', 'PER'],
 [2952, 'francisco ruys', 23, 25, 25, 'regero', 'PER'],
 [2990, 'pedro moreno', 34, 36, 32, 'obligados', 'PER'],
 [2990, 'elbira maldonado', 360, 362, 362, 'porque', 'PER'],
 [3019, 'Alº fanchez Gordillo', 3, 6, 2, 'licendo', 'PER'],
 [3019, 'Catalina de fandoual', 92, 95, 96, 'luego', 'PER'],
 [3038, 'martin ssanchez', 166, 168, 168, 'capellan', 'PER'],
 [3046, 'S. M.', 15, 17, 18, 'personas', 'PER'],
 [3049, 'Gabriel Gomez', 74, 76, 77, 'luego', 'PER'],
 [3081, 'francisco de molina', 245, 248, 248, 'manda', 'PER'],
 [3082, 'juan rrodriguez de castro', 100, 104, 104, 'manda', 'PER'],
 [3100, 'diego de falzedo', 21, 24, 19, 'fuegro', 'PER'],
 [3101, 'diego de sauzedo', 22, 25, 20, 'suegro', 'PER'],
 [3109, 'juan del busto', 22, 25, 26, 'mendosa', 'PER'],
 [3117, 'luis de porras', 408, 411, 411, 'noriegas', 'PER'],
 [3117, 'lauriano pacheco', 1399, 1401, 1401, 'porque', 'PER'],
 [3122, 'fernando martin', 51, 53, 53, 'mascareña', 'PER'],
 [3131, 'francisco de ocampo', 87, 90, 86, 'porque', 'PER'],
 [3167, 'Amaro Vazquez', 1, 3, 0, 'Figura', 'PER'],
 [3219, 'martines montañes de Ufanqui', 3, 7, 2, 'ffernando', 'PER'],
 [3226, 'miguel adan', 22, 24, 20, 'fuegro', 'PER'],
 [3239, 'gaspar del aguila', 333, 336, 332, 'porque', 'PER'],
 [3266, 'rrodrigo nabarro', 45, 47, 47, 'correo', 'PER'],
 [3274, 'rroque de balduque', 151, 154, 150, 'porque', 'PER'],
 [3279, 'anton caluo', 61, 63, 60, 'porque', 'PER'],
 [3280, 'juan bautista', 89, 91, 91, 'porque', 'PER'],
 [3288, 'gaspar delgado', 153, 155, 152, 'barro', 'PER'],
 [3289, 'juan bernal de heredia', 13, 17, 17, 'escrib', 'PER'],
 [3326, 'juan bautista basquez', 202, 205, 206, 'cuerpo', 'PER'],
 [3326, 'gaspar nunez', 348, 350, 350, 'recibo', 'PER'],
 [3346, 'francisco armijo', 38, 40, 36, 'cobrar', 'PER'],
 [3358, 'mariana de uera', 268, 271, 271, 'porque', 'PER'],
 [3383, 'rrodrigo de santillan', 19, 22, 22, 'alguazil', 'PER'],
 [3404, 'juana de cuñiga', 119, 122, 122, 'marquesa', 'PER'],
 [3410, 'antonio del corro', 57, 60, 56, 'licendo', 'PER'],
 [3410, 'antonio del corro', 185, 188, 189, 'figura', 'PER'],
 [3416, 'Gaspar del Aguila', 4, 7, 3, 'fecha', 'PER'],
 [3418, 'bautista', 842, 843, 841, 'maestre', 'PER'],
 [3418, 'bautista', 1857, 1858, 1856, 'maestre', 'PER'],
 [3418, 'bautista', 2087, 2088, 2086, 'maestre', 'PER'],
 [3418, 'bautista', 2447, 2448, 2446, 'maestre', 'PER'],
 [3418, 'sancho martinez de leyba', 2763, 2767, 2768, 'contia', 'PER'],
 [3419, 'sancho martinez de leyba', 46, 50, 51, 'consejo', 'PER'],
 [3423, 'pedro de morga', 141, 144, 139, 'banco', 'PER'],
 [3427, 'pedro', 265, 266, 266, 'despinosa', 'PER'],
 [3444, 'juan de uillafranca', 30, 33, 28, 'cobrar', 'PER'],
 [3450, 'diego arias', 30, 32, 32, 'atalaya', 'PER'],
 [3451, 'miguel geronimo', 123, 125, 121, 'cobrar', 'PER'],
 [3463, 'juan bautista', 42, 44, 44, 'caseis', 'PER'],
 [3483, 'gaspar del aguila', 27, 30, 25, 'cobrar', 'PER'],
 [3484, 'Rodrigo albarez lobo', 47, 50, 45, 'cobrar', 'PER'],
 [3501, 'maria enrriques', 50, 52, 52, 'marquesa', 'PER'],
 [3501, 'pedro despinosa', 1164, 1166, 1166, 'banco', 'PER'],
 [3517, 'gome sapata', 85, 87, 88, 'consejo', 'PER'],
 [3519, 'beatriz de serbantes', 508, 511, 511, 'porque', 'PER'],
 [3519, 'beatriz de serbantes', 643, 646, 642, 'porque', 'PER'],
 [3521, 'catalina sanches', 14, 16, 17, 'alcaçar', 'PER'],
 [3524, 'juan sanches', 137, 139, 136, 'porque', 'PER'],
 [3530, 'pedro basquez', 32, 34, 30, 'cobrar', 'PER'],
 [3541, 'gines martin', 99, 101, 97, 'cobrar', 'PER'],
 [3569, 'pedro de canpaña', 1, 4, 0, 'maestre', 'PER'],
 [3570, 'pedro de canpaña', 1, 4, 0, 'maestre', 'PER'],
 [3571, 'pedro de canpania', 1, 4, 0, 'maestre', 'PER'],
 [3573, 'pedro de canpania', 1, 4, 0, 'maestre', 'PER'],
 [3580, 'pedro campaña', 15, 17, 14, 'maestre', 'PER'],
 [3580, 'pedro', 42, 43, 41, 'maestre', 'PER'],
 [3580, 'pedro', 42, 43, 44, 'porque', 'PER'],
 [3592, 'antonio belez de alcoger', 18, 22, 22, 'maioral', 'PER'],
 [3599, 'francisco hernandes', 31, 33, 33, 'casero', 'PER'],
 [3611, 'gaspar gutierres del Paramo', 38, 42, 42, 'porque', 'PER'],
 [3616, 'francisco rruyz', 116, 118, 115, 'españa', 'PER'],
 [3618, 'xpoval Ramires', 80, 82, 82, 'quiero', 'PER'],
 [3621, 'diego perez', 44, 46, 42, 'cobrar', 'PER'],
 [3631, 'Melchor Perez', 299, 301, 302, 'figura', 'PER'],
 [3639, 'mateo peres', 287, 289, 286, 'porque', 'PER'],
 [3640, 'diego de montoya', 370, 373, 368, 'cobrar', 'PER'],
 [3642, 'fernandez de mendosa', 392, 395, 390, 'heran', 'PER'],
 [3657, 'gaspar del aguila', 43, 46, 47, 'cuerpo', 'PER'],
 [3660, 'juan garcia', 10, 12, 8, 'recibo', 'PER'],
 [3677, 'gregorio bermudo', 24, 26, 22, 'cobrar', 'PER'],
 [3682, 'martin de avila', 31, 34, 29, 'cobrar', 'PER'],
 [3682, 'juan de saucedo', 69, 72, 72, 'estan', 'PER'],
 [3711, 'catalina', 9, 10, 10, 'destrada', 'PER'],
 [3723, 'pedro de morga', 140, 143, 138, 'banco', 'PER'],
 [3723, 'juan de arregui', 144, 147, 147, 'banco', 'PER'],
 [3731, 'juan merino', 4, 6, 6, 'despinosa', 'PER'],
 [3753, 'juan fernandes', 71, 73, 69, 'fueron', 'PER'],
 [3753, 'catalina', 75, 76, 76, 'destrada', 'PER'],
 [3753, 'juan merino', 276, 278, 278, 'despinosa', 'PER'],
 [3754, 'juan merino', 31, 33, 33, 'despinosa', 'PER'],
 [3767, 'luisa ordoñes', 193, 195, 192, 'porque', 'PER'],
 [3786, 'Arzobispo Mena', 34, 36, 32, 'mortales', 'PER'],
 [3789, 'ana de çuñiga', 1, 4, 4, 'marquesa', 'PER'],
 [3793, 'Jeronimo Hernandez', 456, 458, 454, 'llama', 'PER'],
 [3794, 'hernando hordoñez', 37, 39, 35, 'destrada', 'PER'],
 [3795, 'luisa ordoñez', 121, 123, 120, 'fecha', 'PER'],
 [3795, 'juan de aguilar', 457, 460, 461, 'luego', 'PER'],
 [3797, 'luisa ordoñez', 88, 90, 87, 'porque', 'PER'],
 [3799, 'juan', 30, 31, 28, 'cobrar', 'PER'],
 [3802, 'luisa ordoñez', 440, 442, 442, 'luego', 'PER'],
 [3814, 'geronima', 1, 2, 2, 'destrada', 'PER'],
 [3822, 'francisco rruis', 26, 28, 24, 'obligados', 'PER'],
 [3833, 'basco de perea', 11, 14, 9, 'obligados', 'PER'],
 [3835, 'antonia de sandobal', 114, 117, 117, 'porque', 'PER'],
 [3836, 'duque de medina', 13, 16, 11, 'cobrar', 'PER'],
 [3884, 'juan bautista', 32, 34, 34, 'despindola', 'PER'],
 [3889, 'diego lopez bueno', 53, 56, 52, 'firma', 'PER'],
 [3900, 'miguel cano', 55, 57, 54, 'luego', 'PER'],
 [3940, 'francisco morales', 26, 28, 28, 'capellan', 'PER'],
 [3949, 'juan batanes', 99, 101, 98, 'maestre', 'PER'],

In [118]:
peopleshortfuzz = pd.DataFrame(peopleshortfuzz, columns = ['docid','string','start','end','tokenloc','tokentext','entlabel'])

In [120]:
peopleshortfuzz['edit_short']=''

In [121]:
peopleshortfuzz.head()

   docid            string  start  end  tokenloc tokentext entlabel edit_short
0     22  Miguel de Gainza     29   32        28    fueron      PER
1     49         Cristobal      2    3         1   maestre      PER
2     49      luis sanches    969  971       968  canteria      PER
3     49    juan fernandes    981  983       984   maestre      PER
4     49         Cristobal    985  986       984   maestre      PER

In [122]:
count = 0
for (index, row) in peopleshortfuzz.iterrows():
    if row['edit_short']=='':
        count=count+1
        print(count)
        print(row['string'],row['start'],row['end'])
        print(row['tokentext'], row['tokenloc'])
        docid = row['docid']
        strstart = min([int(row['start']), int(row['tokenloc'])])
        strend = max([int(row['end']), int(row['tokenloc'])]) + 10
        
        for doc in docs:
            if doc[1]['id'] == docid:      
                displacy.render(doc[0][strstart:strend],style='ent',jupyter=True)
                peopleshortfuzz.loc[index, 'edit_short']=input('Edit?')
                
                if peopleshortfuzz.loc[index, 'edit_short']=='X':
                        for doc in docs:
                            if doc[1]['id'] == docid:
                                displacy.render(doc[0],style='ent',jupyter=True)
                                peopleshortfuzz.loc[index,'edit_short']=input('Edit?')
                clear_output(wait=True)

583
Pedro de Plata 369 372
rosarios 367

Edit? 0

In [362]:
peopleshortfuzz.fillna('').groupby('edit_short').count()

,Unnamed: 0,docid,string,start,end,tokenloc,tokentext,entlabel
edit_short,,,,,,,,
0,519,519,519,519,519,519,519,519
1,59,59,59,59,59,59,59,59
R,3,3,3,3,3,3,3,3
o,2,2,2,2,2,2,2,2

In [125]:
peopleshortfuzz.to_csv('Files_Cleaning3/PERS_tag_clean3_strat2.csv')

# Editing the spans

By finding exact and fuzzy matches near PER entities, we found spans that need to be edited in our NER tags. Let's combine the information from both searches and mark the new start/end of the span to edit.

In [357]:
peopleshort = pd.read_csv('Files_Cleaning3/PERS_tag_clean3_strat1.csv')
peopleshortfuzz = pd.read_csv('Files_Cleaning3/PERS_tag_clean3_strat2.csv')

In [364]:
peopleshort = peopleshort.append(peopleshortfuzz)

In [365]:
peopleshort['newstart']=''
peopleshort['newend']=''

In [366]:
peopleshort.groupby('edit_short').count()

,Unnamed: 0,docid,string,start,end,tokenloc,tokentext,entlabel,newstart,newend
edit_short,,,,,,,,,,
0,1205,1205,1205,1205,1205,1205,1205,1205,1205,1205
1,321,321,321,321,321,321,321,321,321,321
L,1,1,1,1,1,1,1,1,1,1
R,10,10,10,10,10,10,10,10,10,10
o,17,17,17,17,17,17,17,17,17,17

In [367]:
count = 0
for (index, row) in peopleshortfuzz.iterrows():

    if row['edit_short']=='1':
        count=count+1
        print(count)
        print(row['string'],row['start'],row['end'])
        
        docid = row['docid']
        strstart = min([int(row['start']), int(row['tokenloc'])])
        strend = max([int(row['end']), int(row['tokenloc'])]) + 10
        
        for doc in docs:
            if doc[1]['id'] == docid:      
                displacy.render(doc[0][strstart:strend],style='ent',jupyter=True)
                
                a=input('New start?')
                b=input('New end?')
                d= input('Edit_short?')           
                if d =='e':
                    peopleshortfuzz.loc[index,'edit_short']='e'
                    if a !='':
                        peopleshortfuzz.loc[index, 'newstart']=a
                    if b !='':
                        peopleshortfuzz.loc[index,'newend']=b
                else:
                    peopleshortfuzz.loc[index,'edit_short']=d
                    
                clear_output(wait=True)

59
Bartolomé 9 10

New start?
New end? 11
Edit_short? e

In [154]:
# To double check some items
for doc,context in docs:
    if "pablo pere" in doc.text:
        print(doc.text)

en presencia de mi pedro de almonacid escriuano publico de seuilla parescio luisa ordoñez biuda muger que fue de geronimo hernandez escultor difunto que sea en gloria vezina de seuilla en la collacion de san juan y dijo porque del dho su marido quedaron ciertos bienes y porque sean sauidos e conoscidos a las personas que a ellos touieren derecho que hazia e hizo inventario de los tales bienes que son los siguientes deudas que se quedaron debiendo y se deuen primeramente 1 600 ducados que deve la fabrica de la villa de lucena de rresto de los marauedis en que fue tasada la hechura de un rretablo que geronimo hernandez hizo para la yglesia de la dicha villa 150 ducados que deue la fabrica de la yglesia de sant nicolas de seuilla de rresto de los maravedis en que fue tassado el rretablo que geronimo hernandez hizo para la dha yglesia 100 ducados que deve el monasterio de sant leandro de rresto de los marauedis en que fue concertado el rretablo que geronimo hernandez hizo para la yglesia del dicho monesterio yten setenta y dos ducados que yo zedi a un platero que los cobrase del monasterio de sant leandro que los devia de mas de los cient ducados de la partida antes desta los quales le cedi para pagar 150 que mi marido deuia a pablo pere 70 ducados que cobre de antonio gallardo de la hechura de una ymagen con los quales acabe de pagar al dicho pablo perez yten la fabrica de sant andres de esta ziudad deue 180 ducados de rresto de los marauedis porque se conzerto el rretablo que geronimo hernandez hizo para la dicha yglesia 466 ducados que deue el monasterio de nuestra señora santa maria de las dueñas desta zibdad de rresto de los marauedis porque se concerto el rretablo que mi marido estaba obligado a hazer para la yglesia del dicho monasterio y estos ducados son del postrero terzio y destos marauedis yo luisa ordopez tengo de costear e pagar la hechura de la ymagineria del rretablo que falta por hazer y lo que costare asentallo yten 60 ducados que deue el monasterio de sant francisco de el monte de rresto de los marauedis porque se taso el rretablo que mi marido hizo en la yglesia de el dicho monesterio de la villa de marchena 150 ducados que deue la fabrica de la yglesia de la zibdad de arcos en que se tasso la obra que dexo hecha mi marido del rretablo que se hace para la yglesia de la dicha villa yten las casas de nuestra morada que son en la collacion de sant juan en la calleja de los moros (hoy se llama de Jeronimo Hernandez) sobre las quales se pagan veinte ducados de tributo perpetuo cada un año Sigue el inventario de ropas y muebles; copiaremos algunas partidas: una esclaua negra nonbrada francisca y dos hijos de la susodha nonbrados francisco y pedro una cama de madera de talla una caja de cedro y un cofre de flandes y dos arcas pequeñas una copa y una caldera grande de cobre y un acetril y un almirez y quatro esteras de esparto yten sesenta libros grandes e pequeños de toscano y latin trescientos y cinquenta papeles de estanpas dos docenas de modelos de yesso y otras dos docenas de cera-quatro bancos en que trabajan los oficiales del arte de escultor tres sierras y quatro garlopas y una docena de cepillos y tres barletes dos docenas de hierros de talla y un herramental todo esto es herramienta del dicho arte de escultor quatro candiles dos asadores dos candeleros de azofar y una bela del patio de la cassa Deudas que quedo debiendo mi marido 150 ducados al dicho pablo perez los quales yo tengo pagados los marauedis que se deuen a quatro officiales que trabajaron con mi marido en el arte de escultor e por no estar pagados ni hecha la quenta no se saue lo que es- cien rreales que se deven al administrador de los niños de la doctrina desta ziudad que tiene una taza de plata en prendas dellos 26 rreales que se deben a un bordador 24 rreales a un pintor y 16 rreales a un clerigo y algunas de estas deudas estan declaradas en el testamento del dicho mi marido.

In [374]:
peopleshort.groupby('edit_short').count()

,Unnamed: 0,Unnamed: 0.1,docid,string,start,end,tokenloc,tokentext,entlabel,newstart,newend
edit_short,,,,,,,,,,,
0,1208,686,1208,1208,1208,1208,1208,1208,1208,0,0
L,1,1,1,1,1,1,1,1,1,0,0
R,10,7,10,10,10,10,10,10,10,0,0
e,317,261,317,317,317,317,317,317,317,29,288
o,16,14,16,16,16,16,16,16,16,0,0

In [195]:
peopleshort.loc[1,'newstart']='22'

In [373]:
peopleshort.to_csv('Files_Cleaning3/PERS_tag_clean3_manual')

# Applying the changes to Spacy Docs

The first thing to do is  those marked as 0, as we do not need to change them.

In [5]:
peopleshort = pd.read_csv('Files_Cleaning3/PERS_tag_clean3_manual')

In [6]:
edits = peopleshort[peopleshort['edit_short']!='0']

In [7]:
edits.loc[(edits['edit_short']=='L'),'entlabel']='LOC'

/Users/Felipe/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:965: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [8]:
edits.groupby('entlabel').count()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,docid,string,start,end,tokenloc,tokentext,edit_short,newstart,newend
entlabel,,,,,,,,,,,,
LOC,1,1,1,1,1,1,1,1,1,1,0,0
PER,343,343,282,343,343,343,343,343,343,343,29,288

In [9]:
edits = edits.fillna('')

In the work below, we noticed that there were two duplicates. Let's edit this before it becomes a problem in subsequent work:

In [10]:
edits[edits.duplicated(subset=['docid','start','end'], keep = False)]

Empty DataFrame
Columns: [Unnamed: 0, Unnamed: 0.1, Unnamed: 0.1.1, docid, string, start, end, tokenloc, tokentext, entlabel, edit_short, newstart, newend]
Index: []

We can drop the duplicates because the edits are the same.

In [243]:
peopleshort = peopleshort.drop(index=[283,389])

In [16]:
peopleshort[peopleshort.index == 389]

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,docid,string,start,end,tokenloc,tokentext,entlabel,edit_short,newstart,newend
389,389,391,391.0,2617,bartolome muñoz,0,2,568,capilla,PER,0,NaN,NaN

In [12]:
edits.loc[edits['newstart']=='','newstart'] = edits['start']

In [13]:
edits.loc[edits['newend']=='','newend'] = edits['end']

In [17]:
edits

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,docid,string,start,end,tokenloc,tokentext,entlabel,edit_short,newstart,newend
1,1,1,1,56,garcia fustanero,23,25,22,pero,PER,e,22,25
2,2,2,2,59,Pedro Blascoen,2476,2478,2478,Sevilla,PER,o,2476,2478
6,6,6,6,195,Fernandez de Guadalupe,1,4,0,Pero,PER,e,0,4
7,7,7,7,197,Fernandez de Guadalupe,1,4,0,Pero,PER,e,0,4
9,9,9,9,227,firmefecho ut supraxpobal,70,73,73,alcantara,PER,o,70,73
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1346,377,377,,4319,juan bautista,73,75,75,billalpando,PER,e,73,76
1354,385,385,,4393,juan de uzeda,3,6,6,castroberde,PER,e,3,7
1375,406,406,,4625,Lusia,81,82,82,damiano,PER,e,81,85
1376,407,407,,4673,Andrés de Lazo,31,34,34,Destrada,PER,e,31,35
1436,467,467,,5989,Bartolomé,9,10,10,-faranco,PER,e,9,11

In [18]:
edits.dtypes

Unnamed: 0         int64
Unnamed: 0.1       int64
Unnamed: 0.1.1    object
docid              int64
string            object
start              int64
end                int64
tokenloc           int64
tokentext         object
entlabel          object
edit_short        object
newstart          object
newend            object
dtype: object

In [19]:
edits.groupby('edit_short').count()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,docid,string,start,end,tokenloc,tokentext,entlabel,newstart,newend
edit_short,,,,,,,,,,,,
L,1,1,1,1,1,1,1,1,1,1,1,1
R,10,10,10,10,10,10,10,10,10,10,10,10
e,317,317,317,317,317,317,317,317,317,317,317,317
o,16,16,16,16,16,16,16,16,16,16,16,16

In [20]:
remove = edits[['docid','start','end']].values.tolist()

In [21]:
len(remove)

344

In [398]:
remove

[[56, 23, 25],
 [59, 2476, 2478],
 [195, 1, 4],
 [197, 1, 4],
 [227, 70, 73],
 [229, 6, 8],
 [238, 34, 38],
 [267, 154, 157],
 [275, 170, 173],
 [276, 55, 59],
 [320, 7, 10],
 [329, 48, 51],
 [333, 52, 54],
 [337, 68, 71],
 [338, 45, 48],
 [339, 34, 37],
 [362, 7, 9],
 [602, 225, 228],
 [754, 189, 190],
 [772, 1840, 1843],
 [772, 2479, 2482],
 [772, 2753, 2756],
 [787, 169, 171],
 [1007, 337, 340],
 [1009, 21, 24],
 [1017, 72, 76],
 [1017, 100, 102],
 [1022, 30, 34],
 [1022, 146, 150],
 [1022, 179, 182],
 [1022, 418, 421],
 [1023, 173, 176],
 [1023, 383, 387],
 [1023, 403, 406],
 [1023, 452, 456],
 [1027, 110, 113],
 [1028, 3, 5],
 [1028, 193, 196],
 [1029, 83, 86],
 [1044, 1340, 1342],
 [1049, 167, 170],
 [1049, 349, 352],
 [1059, 32, 34],
 [1066, 131, 133],
 [1066, 1142, 1144],
 [1086, 90, 92],
 [1107, 13, 15],
 [1107, 321, 323],
 [1107, 586, 588],
 [1170, 326, 328],
 [1197, 7, 9],
 [1199, 602, 604],
 [1201, 925, 926],
 [1201, 928, 929],
 [1201, 958, 959],
 [1211, 970, 972],
 [1227, 700, 703],
 [1239, 567, 570],
 [1273, 15, 17],
 [1294, 70, 72],
 [1324, 21, 23],
 [1331, 23, 25],
 [1332, 1439, 1442],
 [1362, 86, 88],
 [1377, 30, 32],
 [1380, 26, 29],
 [1396, 23, 26],
 [1425, 569, 572],
 [1442, 32, 35],
 [1445, 42, 44],
 [1466, 410, 412],
 [1466, 506, 508],
 [1466, 643, 646],
 [1466, 798, 800],
 [1466, 803, 806],
 [1486, 151, 154],
 [1486, 647, 651],
 [1516, 261, 264],
 [1589, 248, 251],
 [1645, 31, 34],
 [1647, 43, 46],
 [1647, 113, 116],
 [1647, 238, 241],
 [1660, 169, 171],
 [1673, 39, 41],
 [1695, 720, 722],
 [1703, 225, 228],
 [1713, 92, 95],
 [1726, 69, 71],
 [1743, 62, 65],
 [1751, 31, 33],
 [1816, 290, 292],
 [1816, 1080, 1082],
 [1820, 31, 33],
 [1820, 198, 200],
 [1844, 220, 221],
 [1853, 69, 72],
 [1882, 30, 32],
 [1882, 114, 116],
 [1883, 238, 241],
 [1886, 52, 54],
 [1916, 31, 33],
 [1916, 86, 88],
 [1949, 31, 35],
 [2000, 14, 17],
 [2033, 2, 4],
 [2042, 12, 13],
 [2122, 4, 5],
 [2126, 962, 965],
 [2137, 179, 180],
 [2146, 30, 32],
 [2149, 444, 451],
 [2150, 59, 61],
 [2185, 73, 77],
 [2186, 896, 898],
 [2186, 1503, 1507],
 [2189, 475, 477],
 [2196, 0, 3],
 [2201, 60, 61],
 [2308, 486, 491],
 [2332, 58, 60],
 [2335, 106, 108],
 [2335, 274, 276],
 [2353, 15, 17],
 [2382, 0, 3],
 [2395, 0, 3],
 [2396, 0, 3],
 [2401, 89, 92],
 [2411, 18, 20],
 [2437, 11, 13],
 [2441, 19, 22],
 [2441, 65, 67],
 [2448, 33, 36],
 [2449, 14, 17],
 [2450, 21, 24],
 [2462, 3, 6],
 [2462, 44, 48],
 [2466, 0, 3],
 [2476, 59, 63],
 [2476, 72, 75],
 [2499, 12, 15],
 [2515, 0, 2],
 [2556, 725, 727],
 [2587, 98, 100],
 [2596, 19, 21],
 [2596, 40, 42],
 [2597, 92, 95],
 [2604, 56, 58],
 [2606, 1, 4],
 [2622, 582, 584],
 [2655, 23, 26],
 [2702, 56, 58],
 [2714, 108, 110],
 [2733, 70, 73],
 [2734, 411, 413],
 [2743, 93, 95],
 [2768, 705, 707],
 [2816, 0, 2],
 [2820, 27, 29],
 [2822, 0, 2],
 [2827, 19, 20],
 [2827, 31, 33],
 [2844, 17, 19],
 [2846, 19, 21],
 [2859, 185, 188],
 [2862, 17, 18],
 [2873, 266, 268],
 [2874, 321, 323],
 [2889, 36, 38],
 [2935, 216, 219],
 [2935, 629, 632],
 [2936, 63, 66],
 [2958, 78, 80],
 [2975, 42, 43],
 [2975, 357, 358],
 [2975, 445, 446],
 [2978, 421, 422],
 [2990, 14, 17],
 [2990, 317, 320],
 [3033, 1253, 1255],
 [3033, 2589, 2593],
 [3040, 467, 470],
 [3049, 13, 15],
 [3067, 0, 2],
 [3073, 13, 16],
 [3117, 586, 589],
 [3142, 213, 215],
 [3152, 10, 13],
 [3185, 0, 3],
 [3200, 19, 21],
 [3209, 31, 33],
 [3211, 43, 46],
 [3211, 104, 107],
 [3235, 15, 19],
 [3238, 18, 22],
 [3252, 52, 54],
 [3365, 51, 53],
 [3383, 34, 37],
 [3398, 12, 15],
 [3427, 15, 17],
 [3427, 184, 185],
 [3449, 44, 46],
 [3464, 25, 27],
 [3482, 142, 145],
 [3517, 22, 24],
 [3617, 145, 146],
 [3651, 17, 18],
 [3660, 10, 12],
 [3680, 10, 13],
 [3683, 54, 56],
 [3689, 59, 61],
 [3738, 234, 238],
 [3770, 493, 496],
 [3790, 25, 27],
 [3793, 227, 228],
 [3806, 98, 100],
 [3831, 20, 24],
 [3868, 72, 75],
 [3886, 42, 44],
 [3893, 7, 9],
 [3902, 8, 10],
 [3905, 15, 18],
 [3907, 125, 128],
 [3910, 69, 73],
 [3920, 107, 109],
 [3965, 14, 16],
 [4010, 53, 54],
 [4016, 164, 166],
 [4022, 28, 31],
 [4077, 55, 57],
 [4080, 47, 49],
 [4130, 7, 9],
 [4138, 8, 11],
 [4176, 9, 11],
 [4204, 7, 9],
 [4229, 10, 13],
 [4236, 24, 28],
 [4239, 125, 129],
 [4257, 12, 15],
 [4300, 171, 174],
 [4331, 46, 48],
 [4363, 97, 99],
 [4380, 8, 11],
 [4401, 9, 12],
 [4428, 5, 7],
 [4439, 12, 14],
 [4446, 6, 9],
 [4447, 17, 19],
 [4469, 1648, 1650],
 [4502, 56, 58],
 [4546, 296, 298],
 [4565, 10, 13],
 [4574, 11, 14],
 [4612, 15, 19],
 [4726, 128, 131],
 [4818, 1, 4],
 [5148, 6, 9],
 [5930, 20, 22],
 [6195, 8, 12],
 [6196, 8, 12],
 [6386, 49, 52],
 [6435, 17, 20],
 [6443, 41, 44],
 [6444, 73, 76],
 [6933, 157, 160],
 [7013, 1, 4],
 [7035, 51, 54],
 [7036, 52, 55],
 [7080, 18, 20],
 [7279, 14, 16],
 [7279, 110, 112],
 [7375, 10, 12],
 [7627, 42, 45],
 [7715, 26, 30],
 [7770, 37, 39],
 [7773, 15, 17],
 [8083, 57, 60],
 [8172, 28, 31],
 [8218, 61, 64],
 [8220, 1959, 1963],
 [8376, 45, 48],
 [8483, 20, 23],
 [8547, 68, 71],
 [112, 15, 16],
 [201, 33, 35],
 [313, 139, 142],
 [675, 721, 723],
 [715, 7, 10],
 [875, 1, 3],
 [1003, 6, 8],
 [1049, 633, 636],
 [1199, 152, 153],
 [1199, 427, 428],
 [1328, 1576, 1579],
 [1355, 26, 29],
 [1466, 811, 817],
 [1521, 177, 179],
 [1755, 708, 711],
 [1830, 7, 10],
 [2057, 2, 4],
 [2071, 3, 5],
 [2203, 1341, 1346],
 [2401, 13, 17],
 [2633, 0, 3],
 [2751, 49, 52],
 [2768, 58, 61],
 [2854, 63, 66],
 [2862, 0, 3],
 [2863, 0, 3],
 [2864, 0, 3],
 [2865, 0, 3],
 [2866, 0, 3],
 [2868, 0, 3],
 [2870, 0, 3],
 [2871, 0, 3],
 [2872, 0, 3],
 [2873, 0, 3],
 [2874, 0, 4],
 [2874, 19, 22],
 [3109, 22, 25],
 [3117, 408, 411],
 [3122, 51, 53],
 [3427, 265, 266],
 [3450, 30, 32],
 [3521, 14, 16],
 [3599, 31, 33],
 [3711, 9, 10],
 [3731, 4, 6],
 [3753, 75, 76],
 [3753, 276, 278],
 [3754, 31, 33],
 [3799, 30, 31],
 [3814, 1, 2],
 [3836, 13, 16],
 [3884, 32, 34],
 [4018, 109, 111],
 [4296, 148, 149],
 [4296, 240, 241],
 [4296, 260, 261],
 [4319, 73, 75],
 [4393, 3, 6],
 [4625, 81, 82],
 [4673, 31, 34],
 [5989, 9, 10]]

In [22]:
edits = edits[edits['edit_short']!='R']

In [23]:
add = edits[['docid','newstart','newend','entlabel']].values.tolist()

In [24]:
len(add)

334

In [ ]:
# First step: drop all tags included in our edits dataset.

In [25]:
tempents =[]

for doc, context in docs:
    ents = list(doc.ents)
    ents2 =[]
    for ent in ents:
        rep = [ context['id'] , ent.start , ent.end]
        if rep not in remove: 
            a = spacy.tokens.Span(doc, ent.start,ent.end,label = ent.label)
            ents2.append(a)
    ents_id = [context['id'], ents2]
    tempents.append(ents_id)

In [26]:
count=0
for line in tempents:
    for ent in line[1]:
        count = count+1

In [27]:
count

70859

Just to double check that this removed the right number of entities, there should be a difference of 344 with the original.

In [28]:
count =0
for doc,context in docs:
    ents = list(doc.ents)
    for ent in ents:
        count = count+1

In [29]:
count

71203

In [30]:
71203-344

70859

In [31]:
for doc, context in docs:
    for item in tempents:
        if item[0]==context['id']:
            doc.ents= item[1]

That should have updated the ents, including all but those in our 'remove' list.

In [184]:
# Second step: add tags with modified spans and labels, not those marked R.

In [32]:
for doc, context in docs:
    for line in add:
        if line[0] == context['id']:
            a = spacy.tokens.Span(doc, int(line[1]),int(line[2]),label = line[3])
            doc.ents = list(doc.ents) + [a]

To double check, we should have 70920 + 334 entities.

In [33]:
len(add)

334

In [34]:
count =0
for doc,context in docs:
    ents = list(doc.ents)
    for ent in ents:
        count = count+1

In [35]:
count

71193

In [36]:
71193-70859

334

Finally, let's pickle the results.

In [37]:
pickle.dump(docs, open( "Files_Cleaning3/NER_data_Cleaned3.p", "wb" ))