#Â Data Cleaning 3: Correcting Entity Spans (short)

Search for tokens to the left and right of a tagged person that appear in the entity list and the name lists and have not been tagged as entities. We can import the spacy docs, each token should have an entity tag = 0.

In [1]:
import pandas as pd
people = pd.read_csv('Files_Cleaning2/PER_tags_clean2.csv')

In [2]:
people.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,Unnamed: 0.1.1.1.1,Unnamed: 0.1.1.1.1.1,docid,string,label,start,end,Remove,matched_str,edit_long
0,0,0,0,0,57935,57935,6792,NaN,NaN,135,138,1,0,NaN
1,1,1,1,1,45285,45285,4978,- Rodriguez,PER,6,8,0,0,0.0
2,2,2,2,2,45173,45173,4961,-- Gomez Brito,PER,34,38,0,0,0.0
3,3,3,3,3,45108,45108,4952,-- Manrique,PER,11,13,0,0,0.0
4,4,4,4,4,61780,61780,7342,-- Ramirez,PER,29,31,0,0,0.0

In [3]:
grouped = people.groupby('Remove')
grouped.count()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,Unnamed: 0.1.1.1.1,Unnamed: 0.1.1.1.1.1,docid,string,label,start,end,matched_str,edit_long
Remove,,,,,,,,,,,,,
0,32400,32400,32400,32400,32400,32400,32400,32400,32400,32400,32400,32400,32400
1,600,600,600,600,600,600,600,597,39,600,600,600,0
D,6,6,6,6,6,6,6,6,6,6,6,6,0
L,41,41,41,41,41,41,41,41,41,41,41,41,0
M,6,6,6,6,6,6,6,6,6,6,6,6,0
O,67,67,67,67,67,67,67,67,67,67,67,67,0