# Data Cleaning 4: Untagged PER Entities

Strategy 1: Exact Matches

[ Strategy 2: Fuzzy Matches -finally not applied]

In [3]:
from IPython.display import clear_output
import spacy
from spacy import displacy

import pickle

In [2]:
import pandas as pd

In [4]:
file = open("Files_Cleaning3/NER_data_Cleaned3.p", 'rb')
docs = pickle.load(file)

# Exact Matching to Confirmed Names

Let's generate a list of PER entity strings:

In [143]:
peoplestrings =[]
for doc, context in docs:
    for ent in doc.ents:
        if ent.label_=='PER':
            peoplestrings.append(ent.text)

In [144]:
len(peoplestrings)

32339

In [145]:
peoplestrings = [string.lower() for string in peoplestrings]

In [146]:
len(set(peoplestrings))

12805

In [147]:
peoplestrings = list(set(peoplestrings))

In [11]:
untaggedtext

' Pago de'

In [12]:
strlist

['fernando', 'de', 'ledesma']

In [13]:
untaggedtokens

['Pago', 'de']

In [14]:
untaggedtokens[start+b]

'de'

In [15]:
b

0

In [16]:
span

''

In [ ]:
entry

In [ ]:
untaggedPERS = []

for doc, context in docs:
    ents = list(doc.ents)
    enttexts = []
    for ent in ents:
        enttexts.append(ent.text)
        untaggedtext = doc.text.replace(ent.text," ",1) #replace the entity span once with a blank
    for string in peoplestrings:
        strlist = string.split()
        try:
            untaggedtokens= untaggedtext.split()
            for i in range(len(untaggedtokens)):
                start = i
                b=0
                while (b<len(strlist)) and (untaggedtokens[start+b].lower() == strlist[b].lower()):
                    b= b+1
        except:
            pass
        end = start + b
        span = ' '.join(untaggedtokens[start:end])
        if (b !=0) and (span.lower() == string.lower()):
            docid = context['id']
            entry = [docid, string, span]
            untaggedPERS.append(entry)
            b=0
    print(context['id'])
    clear_output(wait=True)
        
#        if (string.lower() in doc.text.lower()) and (string.lower() not in enttexts):
 #           string = str(string)
  #          docid = context['id']
   #         entry = [docid, string]
    #        untaggedPERS.append(entry)

In [148]:
untaggedPERS = []

for doc, context in docs:
    untaggedtext = ''
    for token in doc:
        if token.ent_iob==2:
            untaggedtext = untaggedtext + " " + token.text
    for string in peoplestrings:
        b=0
        strlist = string.split()
        try:
            untaggedtokens= untaggedtext.split()
            for i in range(len(untaggedtokens)):
                start = i
                b=0
                while (b<=len(strlist)) and (untaggedtokens[start+b].lower() == strlist[b].lower()):
                    b= b+1
        except:
            pass
        end = start + b
        span = ' '.join(untaggedtokens[start:end])
        if (b !=0) and (len(range(start,end)) == len(strlist)):
            docid = context['id']
            entry = [docid, string, span, start, end]
            untaggedPERS.append(entry)
    print(context['id'])
    clear_output(wait=True)

8607

In [40]:
untaggedtokens[start:end]

[]

In [29]:
range(len(untaggedtokens))

range(0, 2)

In [27]:
span

''

In [17]:
strlist

['fernando', 'de', 'ledesma']

In [18]:
len(strlist)

3

In [ ]:
len(docs)

In [38]:
docs[99][1]

{'id': 100}

In [39]:
displacy.render(docs[99][0], style ='ent')

In [ ]:
#Need to remove duplicates with capitalization variations. Need to make sure spans are not double counted.

In [149]:
len(untaggedPERS)

2476

In [150]:
untaggedPERS_df = pd.DataFrame(untaggedPERS, columns = ['docid','match','string','start','end'])

In [151]:
untaggedPERS_df

      docid             match            string  start   end
0         2             costa             costa     62    63
1        52             costa             costa   1030  1031
2        55             costa             costa   1004  1005
3        82             costa             costa    269   270
4        85              juan              juan     11    12
...     ...               ...               ...    ...   ...
2471   8513        juan de la        Juan de la      3     6
2472   8513  juan de la palma  Juan de la Palma      3     7
2473   8536            corral            corral     36    37
2474   8552            miguel            Miguel    687   688
2475   8562             rubio             rubio     33    34

[2476 rows x 5 columns]

In [152]:
untaggedPERS_df.to_csv('Files_Cleaning4/untaggedPERstrings_strat1.csv')

In [153]:
untaggedPERS_df[untaggedPERS_df['string']!='de']

      docid             match            string  start   end
0         2             costa             costa     62    63
1        52             costa             costa   1030  1031
2        55             costa             costa   1004  1005
3        82             costa             costa    269   270
4        85              juan              juan     11    12
...     ...               ...               ...    ...   ...
2471   8513        juan de la        Juan de la      3     6
2472   8513  juan de la palma  Juan de la Palma      3     7
2473   8536            corral            corral     36    37
2474   8552            miguel            Miguel    687   688
2475   8562             rubio             rubio     33    34

[2476 rows x 5 columns]

In [154]:
untaggedPERstrings = pd.DataFrame(untaggedPERS_df['string'].value_counts())

In [155]:
untaggedPERstrings.to_csv('Files_Cleaning4/untaggedPERstrings_strat1_unique.csv')

In [156]:
untaggedPERstrings[untaggedPERstrings.index.str.contains(' ')]

                     string
juan bautista            35
señor prouisor           24
juan baptista            17
Juan Bautista            15
francisco de             13
...                     ...
geronimo belasques        1
justa rufina              1
Geronima de çamudio       1
Diego de Alcala           1
hernan Ruys               1

[147 rows x 1 columns]

Looking at the contents of this DataFrame in the .csv file, we have our work cut out for us. But we can remove matches with the strings "de", "costa", and "de la".

In [157]:
untaggedPERS_df = untaggedPERS_df[(untaggedPERS_df['string']!='de') & (untaggedPERS_df['string']!='de la') & (untaggedPERS_df['string']!='costa')]

In [158]:
len(untaggedPERS_df)

2042

In [160]:
untaggedPERS_df['addentity']=''
untaggedPERS_df['entstart']=''
untaggedPERS_df['entend']=''
untaggedPERS_df['label']=''

/Users/Felipe/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/Users/Felipe/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/Felipe/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/Felipe/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [161]:
untaggedPERS_df.head()

,docid,match,string,start,end,addentity,label,entstart,entend
4,85,juan,juan,11,12,,,,
5,85,juan\n,juan,11,12,,,,
6,85,juan de,juan de,11,13,,,,
7,85,señor prouisor,señor prouisor,23,25,,,,
8,85,juan de la,juan de la,11,14,,,,

Some potential entities have matched multiple entity strings. We need to take the longest spans and keep those. To do this, we sort on docid, start, and end, in descending order, so the longest spans are first (ascending = False). Then, we use  df.drop_duplicates with keep =  first.

In [176]:
untaggedPERS_df = untaggedPERS_df.sort_values(['docid','start','end'], ascending = False).drop_duplicates(['docid','start'], keep = 'first')

In [177]:
untaggedPERS_df

,docid,match,string,start,end,addentity,label,entstart,entend
2475,8562,rubio,rubio,33,34,,,,
2474,8552,miguel,Miguel,687,688,,,,
2473,8536,corral,corral,36,37,,,,
2472,8513,juan de la palma,Juan de la Palma,3,7,,,,
2466,8507,bautista,Bautista,73,74,,,,
...,...,...,...,...,...,...,...,...,...
15,100,maria,maria,82,83,,,,
12,95,ana,ana,55,56,,,,
11,93,roque,roque,48,49,,,,
7,85,señor prouisor,señor prouisor,23,25,,,,
9,85,juan de la palma,juan de la palma,11,15,,,,

That leaves 1,624 potentially untagged PER entities to look at.

In [178]:
untaggedPERS_df.to_csv('Files_Cleaning4/untaggedPERstrings_strat1_clean.csv')

In [1]:
import pandas as pd
untaggedPERS_df = pd.read_csv('Files_Cleaning4/untaggedPERstrings_strat1_manual.csv', index_col=0)

In [2]:
untaggedPERS_df = untaggedPERS_df.fillna('')

In [12]:
count = 0
for (index, row) in untaggedPERS_df.iterrows():
    if  (row['addentity']==''):
        count=count+1
        print(count)
        print(row['string'], row['match'])
        docid = row['docid']
        if ' ' in row['string']:
            strlist = row['string'].split()
        else: 
            strlist = [row['string']]
        for doc, context in docs:
            if context['id'] == docid: 
                for token in doc:
                    b=0
                    if token.ent_iob == 2 and token.text.lower()==strlist[0].lower():
                        start = token.i
                        while (b<len(strlist)) and (str(doc[start+b].text).lower() == strlist[b].lower()):
                            b= b+1
                        end = start + b
                        span = doc[start:end]
                        print(span)
                        if (b !=0) and (len(range(start,end)) == len(strlist)):
                            try:
                                displacy.render(doc[start-5:end+5],style='ent',jupyter=True)
                            except:
                                displacy.render(doc[start:end+5],style='ent',jupyter=True)
                            untaggedPERS_df.loc[index, 'addentity']=input('Add?')
                        clear_output(wait=True)

1
francisco de francisco de
francisco

Note: in this notebook I am only marking PER entities as 1. Some of these entities are clearly LOC and ORG entities, but these will be better found with LOC and ORG strings.

In [3]:
untaggedPERS_df.groupby('addentity').count()

,Unnamed: 0.1,docid,match,string,start,end,label,entstart,entend
addentity,,,,,,,,,
0,1263,1263,1263,1263,1263,1263,0,0,0
1,342,342,342,342,342,342,0,0,0
len,18,18,18,18,18,18,0,0,0

In [10]:
untaggedPERS_df.to_csv('Files_Cleaning4/untaggedPERstrings_strat1_manual.csv')

In [ ]:
# Now make the edits (go through all value 1, add spans to newstart newend because some need edits)

In [6]:
untaggedPERS_df['newstart']=''
untaggedPERS_df['newend']=''

In [22]:
# untaggedPERS_df[untaggedPERS_df['addentity']=='e']='1'

In [21]:
count = 0
for (index, row) in untaggedPERS_df.iterrows():
    if (row['addentity']==''):
        docid = row['docid']
        if ' ' in row['string']:
            strlist = row['string'].split()
        else: 
            strlist = [row['string']]
        for doc, context in docs:
            if context['id'] == docid: 
                for token in doc:
                    b=0
                    if token.ent_iob == 2 and token.text.lower()==strlist[0].lower():
                        count=count+1
                        print(count)
                        start = token.i
                        while (b<len(strlist)) and (str(doc[start+b].text).lower() == strlist[b].lower()):
                            b= b+1
                        end = start + b
                        span = doc[start:end]
                        print(start, end, span)
                        if len(strlist)==len(range(start,end)):
                            try:
                                displacy.render(doc[start-5:end+5],style='ent',jupyter=True)
                            except:
                                displacy.render(doc[start:end+5],style='ent',jupyter=True)
                            c = input('See more?')
                            if c == 'y':
                                displacy.render(doc, style='ent', jupyter=True)
                            a=input('New start?')
                            b=input('New end?')
                            d= input('Add?')           
                            if d =='e':
                                untaggedPERS_df.loc[index,'addentity']='e'
                                if a !='':
                                    untaggedPERS_df.loc[index, 'newstart']=a
                                if b !='':
                                    untaggedPERS_df.loc[index,'newend']=b
                            else:
                                untaggedPERS_df.loc[index,'addentity']=d
                    
                            clear_output(wait=True)

1
135 136 francisco

In [22]:
untaggedPERS_df.groupby('addentity').count()

,Unnamed: 0.1,docid,match,string,start,end,label,entstart,entend,newstart,newend
addentity,,,,,,,,,,,
,1,1,1,1,1,1,1,1,1,1,1
0,1296,1296,1296,1296,1296,1296,1296,1296,1296,1296,1296
e,309,309,309,309,309,309,309,309,309,309,309
len,18,18,18,18,18,18,18,18,18,18,18

In [18]:
untaggedPERS_df.to_csv('Files_Cleaning4/untaggedPERstrings_strat1_manual.csv')

In [23]:
untagged_PERSedits = untaggedPERS_df[untaggedPERS_df['addentity']=='e']

In [24]:
untagged_PERSedits

,Unnamed: 0.1,docid,match,string,start,end,addentity,label,entstart,entend,newstart,newend
40,2421,8451,alonso,Alonso,82,83,e,,,,101,102
73,2363,7838,conde de arenales,conde de Arenales,33,36,e,,,,37,40
97,2336,7341,domingo,Domingo,11,12,e,,,,20,21
99,2332,7232,morillo,MORILLO,12,13,e,,,,16,17
106,2324,7190,murillo,MURILLO,22,23,e,,,,30,31
...,...,...,...,...,...,...,...,...,...,...,...,...
1585,76,294,señor prouisor,señor prouisor,142,144,e,,,,360,362
1602,43,234,josepha,josepha,21,22,e,,,,52,57
1616,18,101,roque,roque,261,262,e,,,,297,298
1617,17,101,ortega,ortega,150,151,e,,,,186,187
1622,7,85,señor prouisor,señor prouisor,23,25,e,,,,25,27

First, I will remove any tags that are completely duplicated (based on document, newstart and newend)

In [40]:
untagged_PERSedits = untagged_PERSedits.drop_duplicates(['docid','newstart','newend'])

There are also a few other repeated ones, we should take the longest ones.

In [51]:
untagged_PERSedits[untagged_PERSedits.duplicated(subset=['docid','newend'], keep=False)].sort_values(['docid','start','end'], ascending = True)

Empty DataFrame
Columns: [Unnamed: 0.1, docid, match, string, start, end, addentity, label, entstart, entend, newstart, newend]
Index: []

In [64]:
untagged_PERSedits_list = untagged_PERSedits[['docid','newstart','newend']].to_numpy().tolist()

Before adding them, I checked the spans visually to ensure none overlap.

In [67]:
untagged_PERSedits_list

[[85, '25', '27'],
 [101, '186', '187'],
 [101, '297', '298'],
 [234, '52', '57'],
 [294, '360', '362'],
 [300, '111', '113'],
 [335, '159', '162'],
 [423, '7', '8'],
 [590, '21', '22'],
 [678, '483', '484'],
 [798, '28', '32'],
 [870, '94', '96'],
 [893, '40', '43'],
 [900, '190', '191'],
 [900, '194', '196'],
 [903, '294', '296'],
 [916, '6', '9'],
 [923, '30', '32'],
 [932, '537', '540'],
 [949, '660', '662'],
 [953, '269', '270'],
 [969, '116', '118'],
 [975, '192', '194'],
 [1012, '45', '48'],
 [1014, '3276', '3279'],
 [1014, '3411', '3414'],
 [1022, '435', '438'],
 [1027, '2', '5'],
 [1066, '1366', '1368'],
 [1072, '39', '41'],
 [1100, '0', '2'],
 [1105, '28', '29'],
 [1121, '52', '53'],
 [1199, '2262', '2264'],
 [1200, '3179', '3182'],
 [1201, '948', '951'],
 [1212, '1676', '1677'],
 [1212, '2105', '2107'],
 [1218, '497', '499'],
 [1225, '259', '262'],
 [1227, '692', '695'],
 [1229, '947', '950'],
 [1294, '165', '168'],
 [1340, '7', '9'],
 [1355, '2304', '2305'],
 [1356, '159', '161'],
 [1366, '470', '472'],
 [1367, '677', '679'],
 [1373, '792', '794'],
 [1400, '7', '10'],
 [1444, '79', '81'],
 [1466, '875', '877'],
 [1466, '1075', '1078'],
 [1486, '227', '231'],
 [1492, '1069', '1071'],
 [1506, '28', '30'],
 [1547, '62', '64'],
 [1601, '88', '91'],
 [1619, '24', '25'],
 [1684, '197', '199'],
 [1695, '1594', '1596'],
 [1698, '32', '35'],
 [1755, '706', '708'],
 [1797, '44', '46'],
 [1805, '66', '68'],
 [1836, '32', '35'],
 [1841, '269', '271'],
 [1845, '1014', '1018'],
 [1866, '338', '339'],
 [1888, '47', '49'],
 [1934, '180', '182'],
 [1941, '1248', '1250'],
 [1943, '614', '618'],
 [1958, '140', '142'],
 [1967, '36', '38'],
 [1968, '32', '33'],
 [1970, '2', '3'],
 [1971, '2', '3'],
 [1973, '2', '3'],
 [2032, '2', '4'],
 [2056, '2', '4'],
 [2058, '2', '4'],
 [2080, '35', '38'],
 [2111, '101', '102'],
 [2128, '665', '667'],
 [2129, '828', '830'],
 [2131, '21', '23'],
 [2133, '28', '30'],
 [2134, '108', '110'],
 [2134, '133', '134'],
 [2138, '541', '542'],
 [2147, '27', '28'],
 [2149, '440', '443'],
 [2161, '8', '9'],
 [2184, '158', '163'],
 [2203, '934', '937'],
 [2211, '34', '37'],
 [2213, '35', '36'],
 [2216, '21', '24'],
 [2218, '342', '345'],
 [2229, '10', '12'],
 [2234, '151', '153'],
 [2237, '22', '24'],
 [2239, '111', '112'],
 [2307, '949', '951'],
 [2308, '491', '494'],
 [2312, '1093', '1095'],
 [2314, '37', '38'],
 [2326, '32', '35'],
 [2329, '276', '278'],
 [2333, '66', '69'],
 [2334, '56', '59'],
 [2334, '238', '240'],
 [2345, '27', '31'],
 [2346, '547', '548'],
 [2346, '549', '550'],
 [2354, '366', '369'],
 [2356, '9', '11'],
 [2361, '103', '106'],
 [2363, '880', '881'],
 [2410, '18', '19'],
 [2411, '86', '90'],
 [2427, '28', '30'],
 [2429, '61', '65'],
 [2437, '91', '93'],
 [2444, '0', '3'],
 [2471, '20', '22'],
 [2527, '0', '2'],
 [2536, '134', '135'],
 [2547, '20', '22'],
 [2556, '674', '676'],
 [2600, '46', '49'],
 [2612, '205', '208'],
 [2668, '101', '103'],
 [2696, '0', '3'],
 [2702, '17', '20'],
 [2739, '77', '80'],
 [2751, '554', '556'],
 [2793, '677', '678'],
 [2799, '31', '32'],
 [2861, '39', '42'],
 [2874, '308', '310'],
 [2874, '394', '398'],
 [2877, '278', '280'],
 [2912, '50', '52'],
 [2923, '203', '204'],
 [2935, '633', '634'],
 [2978, '1973', '1976'],
 [2982, '322', '324'],
 [3000, '22', '25'],
 [3006, '362', '364'],
 [3009, '187', '191'],
 [3012, '1196', '1200'],
 [3020, '137', '141'],
 [3022, '176', '177'],
 [3033, '2601', '2604'],
 [3103, '0', '4'],
 [3105, '0', '4'],
 [3125, '1632', '1635'],
 [3143, '265', '268'],
 [3146, '236', '240'],
 [3151, '620', '623'],
 [3165, '40', '42'],
 [3169, '105', '109'],
 [3177, '31', '34'],
 [3181, '23', '25'],
 [3188, '189', '191'],
 [3198, '26', '28'],
 [3212, '1093', '1096'],
 [3220, '46', '49'],
 [3226, '866', '869'],
 [3234, '328', '330'],
 [3259, '0', '3'],
 [3275, '347', '350'],
 [3284, '0', '2'],
 [3292, '13', '16'],
 [3295, '14', '18'],
 [3305, '179', '182'],
 [3325, '20', '21'],
 [3360, '95', '97'],
 [3370, '56', '58'],
 [3370, '526', '528'],
 [3370, '668', '670'],
 [3413, '0', '2'],
 [3418, '2195', '2197'],
 [3418, '3202', '3206'],
 [3431, '269', '270'],
 [3431, '273', '274'],
 [3431, '620', '622'],
 [3438, '85', '87'],
 [3456, '276', '277'],
 [3460, '0', '2'],
 [3496, '20', '22'],
 [3497, '9', '12'],
 [3501, '1162', '1163'],
 [3505, '0', '2'],
 [3506, '73', '75'],
 [3508, '60', '62'],
 [3510, '607', '609'],
 [3510, '667', '669'],
 [3520, '8', '10'],
 [3522, '69', '70'],
 [3526, '84', '85'],
 [3537, '38', '40'],
 [3549, '43', '46'],
 [3568, '253', '255'],
 [3579, '328', '329'],
 [3591, '597', '598'],
 [3615, '104', '107'],
 [3616, '44', '47'],
 [3632, '39', '41'],
 [3634, '67', '69'],
 [3642, '9', '13'],
 [3679, '25', '27'],
 [3716, '60', '62'],
 [3719, '261', '265'],
 [3722, '25', '27'],
 [3738, '159', '161'],
 [3740, '46', '48'],
 [3770, '818', '820'],
 [3778, '15', '17'],
 [3790, '150', '153'],
 [3792, '2193', '2196'],
 [3793, '488', '489'],
 [3793, '498', '499'],
 [3794, '34', '36'],
 [3796, '20', '23'],
 [3796, '41', '43'],
 [3811, '23', '25'],
 [3862, '0', '3'],
 [3879, '17', '19'],
 [3879, '269', '271'],
 [3907, '84', '86'],
 [3927, '13', '17'],
 [3934, '53', '56'],
 [3949, '0', '3'],
 [4029, '51', '52'],
 [4050, '133', '137'],
 [4051, '44', '48'],
 [4067, '66', '68'],
 [4080, '187', '189'],
 [4106, '78', '82'],
 [4106, '140', '142'],
 [4110, '0', '2'],
 [4117, '94', '96'],
 [4118, '72', '74'],
 [4128, '61', '62'],
 [4136, '33', '35'],
 [4167, '0', '3'],
 [4168, '36', '38'],
 [4169, 74.0, 76.0],
 [4173, 0.0, 3.0],
 [4175, 0.0, 3.0],
 [4177, '0', '3'],
 [4178, 0.0, 3.0],
 [4182, 63.0, 66.0],
 [4182, 148.0, 149.0],
 [4194, 0.0, 3.0],
 [4216, 33.0, 34.0],
 [4232, 239.0, 242.0],
 [4236, 14.0, 17.0],
 [4269, 97.0, 99.0],
 [4270, 77.0, 78.0],
 [4270, 79.0, 80.0],
 [4276, 192.0, 195.0],
 [4281, 82.0, 84.0],
 [4296, 459.0, 461.0],
 [4306, 16.0, 18.0],
 [4306, 39.0, 41.0],
 [4311, 56.0, 60.0],
 [4319, 0.0, 3.0],
 [4385, 28.0, 31.0],
 [4428, 18.0, 20.0],
 [4450, 47.0, 50.0],
 [4479, 0.0, 2.0],
 [4523, 25.0, 27.0],
 [4533, 24.0, 28.0],
 [4541, 339.0, 340.0],
 [4605, 21.0, 23.0],
 [4625, 31.0, 34.0],
 [4627, 233.0, 234.0],
 [4785, 12.0, 15.0],
 [5339, 124.0, 125.0],
 [5341, 132.0, 133.0],
 [5341, 138.0, 139.0],
 [5341, 143.0, 144.0],
 [5812, 15.0, 18.0],
 [6186, 10.0, 14.0],
 [7039, 34.0, 36.0],
 [7069, 192.0, 193.0],
 [7069, 320.0, 323.0],
 [7190, 30.0, 31.0],
 [7232, 16.0, 17.0],
 [7341, 20.0, 21.0],
 [7838, 37.0, 40.0],
 [8451, 101.0, 102.0]]

In [84]:
for line in range(len(untagged_PERSedits_list)):
    untagged_PERSedits_list[line] = [int(i) for i in untagged_PERSedits_list[line]]

In [86]:
untagged_PERSedits_list

[[85, 25, 27],
 [101, 186, 187],
 [101, 297, 298],
 [234, 52, 57],
 [294, 360, 362],
 [300, 111, 113],
 [335, 159, 162],
 [423, 7, 8],
 [590, 21, 22],
 [678, 483, 484],
 [798, 28, 32],
 [870, 94, 96],
 [893, 40, 43],
 [900, 190, 191],
 [900, 194, 196],
 [903, 294, 296],
 [916, 6, 9],
 [923, 30, 32],
 [932, 537, 540],
 [949, 660, 662],
 [953, 269, 270],
 [969, 116, 118],
 [975, 192, 194],
 [1012, 45, 48],
 [1014, 3276, 3279],
 [1014, 3411, 3414],
 [1022, 435, 438],
 [1027, 2, 5],
 [1066, 1366, 1368],
 [1072, 39, 41],
 [1100, 0, 2],
 [1105, 28, 29],
 [1121, 52, 53],
 [1199, 2262, 2264],
 [1200, 3179, 3182],
 [1201, 948, 951],
 [1212, 1676, 1677],
 [1212, 2105, 2107],
 [1218, 497, 499],
 [1225, 259, 262],
 [1227, 692, 695],
 [1229, 947, 950],
 [1294, 165, 168],
 [1340, 7, 9],
 [1355, 2304, 2305],
 [1356, 159, 161],
 [1366, 470, 472],
 [1367, 677, 679],
 [1373, 792, 794],
 [1400, 7, 10],
 [1444, 79, 81],
 [1466, 875, 877],
 [1466, 1075, 1078],
 [1486, 227, 231],
 [1492, 1069, 1071],
 [1506, 28, 30],
 [1547, 62, 64],
 [1601, 88, 91],
 [1619, 24, 25],
 [1684, 197, 199],
 [1695, 1594, 1596],
 [1698, 32, 35],
 [1755, 706, 708],
 [1797, 44, 46],
 [1805, 66, 68],
 [1836, 32, 35],
 [1841, 269, 271],
 [1845, 1014, 1018],
 [1866, 338, 339],
 [1888, 47, 49],
 [1934, 180, 182],
 [1941, 1248, 1250],
 [1943, 614, 618],
 [1958, 140, 142],
 [1967, 36, 38],
 [1968, 32, 33],
 [1970, 2, 3],
 [1971, 2, 3],
 [1973, 2, 3],
 [2032, 2, 4],
 [2056, 2, 4],
 [2058, 2, 4],
 [2080, 35, 38],
 [2111, 101, 102],
 [2128, 665, 667],
 [2129, 828, 830],
 [2131, 21, 23],
 [2133, 28, 30],
 [2134, 108, 110],
 [2134, 133, 134],
 [2138, 541, 542],
 [2147, 27, 28],
 [2149, 440, 443],
 [2161, 8, 9],
 [2184, 158, 163],
 [2203, 934, 937],
 [2211, 34, 37],
 [2213, 35, 36],
 [2216, 21, 24],
 [2218, 342, 345],
 [2229, 10, 12],
 [2234, 151, 153],
 [2237, 22, 24],
 [2239, 111, 112],
 [2307, 949, 951],
 [2308, 491, 494],
 [2312, 1093, 1095],
 [2314, 37, 38],
 [2326, 32, 35],
 [2329, 276, 278],
 [2333, 66, 69],
 [2334, 56, 59],
 [2334, 238, 240],
 [2345, 27, 31],
 [2346, 547, 548],
 [2346, 549, 550],
 [2354, 366, 369],
 [2356, 9, 11],
 [2361, 103, 106],
 [2363, 880, 881],
 [2410, 18, 19],
 [2411, 86, 90],
 [2427, 28, 30],
 [2429, 61, 65],
 [2437, 91, 93],
 [2444, 0, 3],
 [2471, 20, 22],
 [2527, 0, 2],
 [2536, 134, 135],
 [2547, 20, 22],
 [2556, 674, 676],
 [2600, 46, 49],
 [2612, 205, 208],
 [2668, 101, 103],
 [2696, 0, 3],
 [2702, 17, 20],
 [2739, 77, 80],
 [2751, 554, 556],
 [2793, 677, 678],
 [2799, 31, 32],
 [2861, 39, 42],
 [2874, 308, 310],
 [2874, 394, 398],
 [2877, 278, 280],
 [2912, 50, 52],
 [2923, 203, 204],
 [2935, 633, 634],
 [2978, 1973, 1976],
 [2982, 322, 324],
 [3000, 22, 25],
 [3006, 362, 364],
 [3009, 187, 191],
 [3012, 1196, 1200],
 [3020, 137, 141],
 [3022, 176, 177],
 [3033, 2601, 2604],
 [3103, 0, 4],
 [3105, 0, 4],
 [3125, 1632, 1635],
 [3143, 265, 268],
 [3146, 236, 240],
 [3151, 620, 623],
 [3165, 40, 42],
 [3169, 105, 109],
 [3177, 31, 34],
 [3181, 23, 25],
 [3188, 189, 191],
 [3198, 26, 28],
 [3212, 1093, 1096],
 [3220, 46, 49],
 [3226, 866, 869],
 [3234, 328, 330],
 [3259, 0, 3],
 [3275, 347, 350],
 [3284, 0, 2],
 [3292, 13, 16],
 [3295, 14, 18],
 [3305, 179, 182],
 [3325, 20, 21],
 [3360, 95, 97],
 [3370, 56, 58],
 [3370, 526, 528],
 [3370, 668, 670],
 [3413, 0, 2],
 [3418, 2195, 2197],
 [3418, 3202, 3206],
 [3431, 269, 270],
 [3431, 273, 274],
 [3431, 620, 622],
 [3438, 85, 87],
 [3456, 276, 277],
 [3460, 0, 2],
 [3496, 20, 22],
 [3497, 9, 12],
 [3501, 1162, 1163],
 [3505, 0, 2],
 [3506, 73, 75],
 [3508, 60, 62],
 [3510, 607, 609],
 [3510, 667, 669],
 [3520, 8, 10],
 [3522, 69, 70],
 [3526, 84, 85],
 [3537, 38, 40],
 [3549, 43, 46],
 [3568, 253, 255],
 [3579, 328, 329],
 [3591, 597, 598],
 [3615, 104, 107],
 [3616, 44, 47],
 [3632, 39, 41],
 [3634, 67, 69],
 [3642, 9, 13],
 [3679, 25, 27],
 [3716, 60, 62],
 [3719, 261, 265],
 [3722, 25, 27],
 [3738, 159, 161],
 [3740, 46, 48],
 [3770, 818, 820],
 [3778, 15, 17],
 [3790, 150, 153],
 [3792, 2193, 2196],
 [3793, 488, 489],
 [3793, 498, 499],
 [3794, 34, 36],
 [3796, 20, 23],
 [3796, 41, 43],
 [3811, 23, 25],
 [3862, 0, 3],
 [3879, 17, 19],
 [3879, 269, 271],
 [3907, 84, 86],
 [3927, 13, 17],
 [3934, 53, 56],
 [3949, 0, 3],
 [4029, 51, 52],
 [4050, 133, 137],
 [4051, 44, 48],
 [4067, 66, 68],
 [4080, 187, 189],
 [4106, 78, 82],
 [4106, 140, 142],
 [4110, 0, 2],
 [4117, 94, 96],
 [4118, 72, 74],
 [4128, 61, 62],
 [4136, 33, 35],
 [4167, 0, 3],
 [4168, 36, 38],
 [4169, 74, 76],
 [4173, 0, 3],
 [4175, 0, 3],
 [4177, 0, 3],
 [4178, 0, 3],
 [4182, 63, 66],
 [4182, 148, 149],
 [4194, 0, 3],
 [4216, 33, 34],
 [4232, 239, 242],
 [4236, 14, 17],
 [4269, 97, 99],
 [4270, 77, 78],
 [4270, 79, 80],
 [4276, 192, 195],
 [4281, 82, 84],
 [4296, 459, 461],
 [4306, 16, 18],
 [4306, 39, 41],
 [4311, 56, 60],
 [4319, 0, 3],
 [4385, 28, 31],
 [4428, 18, 20],
 [4450, 47, 50],
 [4479, 0, 2],
 [4523, 25, 27],
 [4533, 24, 28],
 [4541, 339, 340],
 [4605, 21, 23],
 [4625, 31, 34],
 [4627, 233, 234],
 [4785, 12, 15],
 [5339, 124, 125],
 [5341, 132, 133],
 [5341, 138, 139],
 [5341, 143, 144],
 [5812, 15, 18],
 [6186, 10, 14],
 [7039, 34, 36],
 [7069, 192, 193],
 [7069, 320, 323],
 [7190, 30, 31],
 [7232, 16, 17],
 [7341, 20, 21],
 [7838, 37, 40],
 [8451, 101, 102]]

This is the list of untagged entities to be incorporated to our spacy file.

# Incorporating

In [87]:
for doc, context in docs:
    for line in untagged_PERSedits_list:
        if line[0] == context['id']:
            a = spacy.tokens.Span(doc, int(line[1]),int(line[2]),label = 'PER')
            doc.ents = list(doc.ents) + [a]
            print(a)

señor prouisor
ortega
roque
theresa josepha calista de jesus
señor prouisor
señor Prouisor
phelipe del castillo
Rodriguez
Juan
isabel
favian de umanes canzino
marco caña
marques de tarifa
Alfian
A. Rodriguez
señor prouisor
marques de tarifa
señor prouisor
 vasco perea
hernan ruyz
francisco
hernan ruys
hernan ruyz
grauiel del valle
Fernando Martin Robles
grabiel del valle
grabiel del balle
baltasar de riuera
placido pacheco
señor prouisor
.«juan franco
ysabel
Legott
rubricado)-Pedro diaz
rubricado)-francisco del carpio
rubricado)-Francisco de Vargas
geronima
rubricado)-matheo diaz
bias martin
rubricado)-pedro diaz despina
felis de obiedo
luys de peña
frutos de villacastin
miguel a
montañes
señor prouisor
señor prouisor
señor prouisor
señor prouisor
phelipe de ribas
señor prouisor
miguell guelles
bernabe de baeza
hartolome de la puerta
rubricado)=alonso cano
señor prouisor
pero fernandez
luysa de beatriz
Francisca
señor prouisor
señor prouisor
josephe de arze
pedro criste
Alonso esijano
mariana fagardo
bartolome nieto quixada
bartolome pinto
clemente de la calcada
domingo
marcos venites
carlos atabante
baltazar quintero
veatriz de san diego
san martin
maestro dancart
dancart
dancart
dancart
marco
maestro marco
niculas aleman
maestro miguell
obispo de escalas
Vargas
alexos fernandes
alexos fernandes
señor prouisor
alexos fernandes
señor prouisor
fernandez
maria
maria
francisco vega garcia
nufrio
fco de la cueua maldonado
yñigo de ayala
Juo martines montes
cano
Pedro lopz mnes
Juo de mercado
pero herrandes
Juo dias
juo cauello
franco
partesFranco Pacheco
Jeronimo de Lara
esculturaMiguel cano
montañes
Geronima de çamudio
Tome Diaz
Alonsso de Coca
de quadros Cano
rubricado)=Pedro Diaz
maria de fan aguftin
angela
andrea
añosJuo martines montañes
dejuo bautista
Firma)Juo martines montañes
theresa
luisa
domingo de san pedro
marcos caro
tomasa dias de uillanueva
Cristobal ortiz
.andres de figueroa
josephe suero
.pablos legot
catalina
justa rufina
ana giron
° de ortega
xacinto de pimentel
giraldo polman
.-martin de obiedo
rrafael de contreras
domingo de urbin
xacinto pimentel
ysabel
pedro
duque de medinacidonia
domingo calvo
hernando de los rrios
domingo urbin
saluador martin
lorenzo
ana
afenfio de maeda
agustin franco
Simon baez enrriquez
lorenzo estupiñan
ju° de ouiedo
ju° martines montañes
ju° martines montañes
figueroa
catalina de mercado
ju° de ouiedo
ju° de obiedo
juan de Fefura
ygnacio de leon
ygnacio prieto de roxas
° martines montañes
alonsso garcia
sr teniente de Asistente
duque de medinacidonia
artos yordan
alonfo cano
felis romero
geronima de çamudio
° de ortega
ju° de
dotor herrera
.-gaspar del aguila
rroque de valduque
.-juan bautista
luis del alcaçar
matia de la Cruz
leonis de ayllon
pedro
bermondo rresta
hernan Ruiz
señor prouisor
baptista vazques
amador lopez
maestre bautista
xpobal de las casas
çamora
arfian
bautista vasques
xpoual vecino
herrera
.-baptista basquez
alonso despinosa
duque de medinacidonia
antonio
fernand rruiz
hernan Ruys
hernan rruyz
niculas piñon
hernan rruyz
hernan rruyz
juan
maria
hernan rruyz
° de herrera
maria niño
leonor
leonor
joan de morillos
hernando de porras
francisco cid
bermondo rresta
gonçalo çatico de molina
juan coto
hernan rruyz
maria de santa ana
luisa dias
lorenzo desquivel
lorenço desquivel
juan digan
juan digan
ju° de
geronima de estrada
francisca
pedro
geronima destrada
geronima de estrada
juan digan
geronima destrada
.-gaspar del aguila
lorenzo estopiñan
jaques bauzel
marcos maestre
matia de la cruz
asencio de maeda
.--juan de figueroa
beatris
domingo de los santos
domingo de los santos
bermondo Resta
bermondo Resta
gonçalo argote de molina
bermundo Resta
bermondo Resta
bermundo Resta
bermundo Resta
ana
marcos benitez
.--juan de obiedo
señor prouisor
bermondo Resta
.--juan de obiedo
.--juan de obiedo
.--juan de obiedo
.--juan de obiedo
feliz de obiedo
martin
.-juan de obiedo
Pimentel
phelipe de Ribas
phelipe de Ribas
xpobal caperucci
josefe
gabriel
ysidro de aguilar
miguel adan
baltasar baron
bermundo Resta
bermondo Resta
llorente de sancto anton
.--lorenzo de obiedo
andres del peso
andres chamorro
agustin del castillo
.--alonso basquez
geronima delgado
geronima de sant martin
geronima
geronimo belasques
domingo de oxirondo
theresa
ducadosMATÍAS DE ARTEAGA
María
Juan
Rufina
María
JUAN FRANCISCO GARZÓN
María Teresa de Jesús
BARTOLOMÉ MURILLO
Simón
Marques de Paradas
MURILLO
MORILLO
Domingo
conde de Arenales
Alonso

To double check, the number of entities should now be 296 + 71193:

In [88]:
count =0
for doc,context in docs:
    ents = list(doc.ents)
    for ent in ents:
        count = count+1

In [89]:
count

71489

In [90]:
count - 71193

296

In [91]:
pickle.dump(docs, open( "Files_Cleaning4/NER_data_Cleaned4.p", "wb" ))